{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Administration{% endblock title %}
{% block Style %}
  <style>

  </style>
{% endblock Style %}
{% block content %}
  <div class="card card-shadow">
    <div class="card-body">
      <div class="btn-toolbar float-right">
        <div class="btn-group mr-2">
          <a href="{% url 'Corporate:StaffSearch' corp.slug %}" class="">
            <i class="fa fa-search" aria-hidden="true" style="font-size:34px; color:black" data-toggle="tooltip" title="Staff Search"></i>
          </a>
        </div>
        <div class="btn-group mr-2">
          <form  action="{% url 'BookList:BLB' %}" method="post">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Back</button>
          </form>
        </div>
      </div>
      <h3>{{ corp.company }} Administration</h3>
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <h5>There are currently {{ staff_c|intcomma }} members of staff</h5>
      <p>A maximum of <strong>{{ no_admin|intcomma }}</strong> module Administrators are permitted. You currently have <strong>{{ admin_c|intcomma }}</strong> </p>
      <p>A maximum of <strong>{{ no_cont|intcomma }}</strong> module Controllers are permitted. You currently have <strong>{{ cont_c|intcomma }}</strong> </p>
      <table class="table table-sm">
        <thead>
          <col width = "35%">
          <col width = "25%">
          <col width = "25%">
          <col width = "15%">
          <tr>
            <th class="align-middle text-center">Last name, First name</th>
            <th class="align-middle text-center">Department</th>
            <th class="align-middle text-center">Admin Rights</th>
            <th class="align-middle">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in admin_qs %}

            <tr id="{{ item.id }}">
              <td class="align-middle text-center">{{ item.talent.last_name }}, {{ item.talent.first_name }}</td>
              <td class="align-middle text-center">{{ item.department }}</td>
              <td class="align-middle text-center">
                {{ item.get_corp_access_display }}
              </td>
              <td>
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <a href="{% url 'Talent:APV_C' item.talent.alias %}" target="_blank">
                      <i class="fa fa-id-badge " aria-hidden="true" style="font-size:30px; color:black" data-toggle="tooltip" data-placement="top" title="View Profile"></i>
                    </a>
                  </div>
                  <div class="btn-group mr-2">
                  {% if usr_permission >= 2 %}
                    {% if item.corp_access >= 1 %}
                      <div class="update-status" data-slug="{{ item.slug }}" data-action="down">
                        <i class="fa fa-minus-square-o" aria-hidden="true" style="font-size:30px; color:red" data-toggle="tooltip" data-placement="top" title="Decrease permission level"></i>
                      </div>
                    {% endif %}
                    {% if item.corp_access == 1 and admin_c < no_admin %}
                      <div class="update-status" data-slug="{{ item.slug }}" data-action="up">
                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size:30px; color:green" data-toggle="tooltip" data-placement="top" title="Increase permission level"></i>
                      </div>
                    {% elif  item.corp_access < 1 and cont_c < no_cont %}
                      <div class="update-status" data-slug="{{ item.slug }}" data-action="up">
                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size:30px; color:green" data-toggle="tooltip" data-placement="top" title="Increase permission level"></i>
                      </div>
                    {% endif %}
                    </div>
                    <div class="btn-group mr-2">
                      <div class="update-status " data-slug="{{ item.slug }}" data-action="remove">
                        <i class="fa fa-external-link" aria-hidden="true" style="font-size:30px; color:red" data-toggle="tooltip" data-placement="top" title="Remove Administrator access"></i>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No Staff added at this time</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% endblock content %}
{% block Script %}

{% endblock Script %}
