{% extends 'base_home.html' %}

  {% block title %}{{ block.super }}{% endblock title %}
  {% block Style %}

  {% block subStyle %}{% endblock subStyle %}

  {% endblock Style %}
  {% block content %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-shadow">
          <div class="card-body">
            {% block TopCenter %}
            {% endblock TopCenter %}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            {% block MidTopLeft %}
            {% endblock MidTopLeft %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            {% block MidTopRight %}
            {% endblock MidTopRight %}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            {% block MidBotLeft %}
            {% endblock MidBotLeft %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            {% block MidBotRight %}
            {% endblock MidBotRight %}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-shadow">
          <div class="card-body">
            {% block BotCenter %}
            {% endblock BotCenter %}
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
  {% block Script %}
  {% block subScript %}{% endblock subScript %}
  {% endblock Script %}
