{% extends 'mod_corporate/base_corporate.html' %}
{% load humanize %}

{% block title %}{{block.super}} Corporate{% endblock title %}

{% block subStyle %}{% endblock subStyle %}

{% block TopCenter %}
<h4>Select Your Department</h4>
<div class="btn-group mx-auto">
  {% for key in departments_link.items %}
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:OrgDepartment' key.1.cor key.1.dept  %}?next={{ request.path|urlencode }}" class="btn btn-primary align-middle">
      {{ key.1.dept }}
    </a>
  </div>
  {% endfor %}
</div>
{% endblock TopCenter %}

{% block MidTopLeft %}
  <div class="btn-group float-right">
    <a href="{% url 'Corporate:OrgAdd' corp.corporate.slug %}?next={{ request.path|urlencode }}">
      Add
    </a>

  </div>
  <h4>Organisation Structure</h4>
  <p>Department - Parent - #Staff - #Skills - Experience</p>

{% endblock MidTopLeft %}

{% block MidTopRight %}
<div class="btn-group float-right">
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffManage' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary">
      Potential ( {{ potential|intcomma }} )
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffCurrent' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Current ( {{ current_count|intcomma }} )
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffAdmn' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Manage
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:CorpAdmin' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Admin
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:Hidden' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary align-middle">
      Hidden
    </a>
  </div>
</div>
  <h4>Staff</h4>
  <p>Total Staff - Average Age - graph (age histogram)</p>
  <canvas id="members-chart" height="100px"></canvas>
  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          label: 'Average Staff Age',
          data: {{ ave_age|safe }},
          type: 'line',
          order: 1,
          fill: false,
          borderDash: [5, 5],
          borderColor: '#808000',
          borderWidth: 5,
          pointBorderWidth: 5,
          pointStyle: 'circle',
          pointHitRadius: 20,
        },   {
          label: 'Average Staff Age by Department',
          data: {{ dpt_staff_data|safe }},
          type: 'bar',
          order: 2,
          fill: true,
          borderColor: ['#F7F6CF', '#B6D8F2', '#F4CFDF', '#5784BA'],
          backgroundColor: ['#F7F6CF', '#B6D8F2', '#F4CFDF', '#5784BA', '#C54B6C', '#F5BFD2', '#E5DB9C', '#D0BCAC', '#BEB4C5', '#E6A57E', '#218B82', '#9AD9DB', '#E5DBD9', '#98D4BB', '#EB96AA', '#C6C9D0', '#C54B6C', '#E5B3BB', '#C47482', '#D5E4C3', '#F9968B', '#F27348', '#26474E', '#76CDCD', '#2CCED2', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#DDF2F4', '#84A6D6', '#4382BB', '#E4CEE0', '#A15D98', '#DC828F', '#F7CE76', '#E8D6CF', '#8C7386', '#9C9359', '#E9BBB5', '#E7CBA9', '#AAD9CD', '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4', '#DB93A5', '#C7CDC5'],
          borderWidth: 1,
          pointBorderWidth: 5,
          pointStyle: 'circle',
          pointHitRadius: 20,
          barPercentage: 0.8,
          options: {scales:{
            yAxes: [{tricks: {beginAtZero: true}}]
          }}
        },],
        labels: {{ department_labels|safe }}
      },
      options: {
        responsive: true,
        tooltips:{
          bodyFontSize: 14,
          titleFontSize: 0,
          displayColors: false,
        },
        legend: {
            display: false,
            position: 'left',
            labels: {
                fontColor: '#0000ff',
        },

        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('members-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
{% endblock MidTopRight %}

{% block MidBotLeft %}
  <h4>Experience</h4>
  <p>Total Skills</p>
  <p>Total Hours</p>
  <p>skills histogram by 10 year buckets</p>
{% endblock MidBotLeft %}

{% block MidBotRight %}
<h4>Past Staff</h4>
<p>where information relating to past staff can be viewed. (when the worked here, when they left etc.)</p>
{% endblock MidBotRight %}

{% block BotCenter %}
{% endblock BotCenter %}

{% block subScript %}{% endblock subScript %}
