{% extends 'mod_corporate/base_corporate.html' %}
{% load humanize %}

{% block title %}{{block.super}} Corporate{% endblock title %}

{% block subStyle %}{% endblock subStyle %}

{% block TopCenter %}

{% endblock TopCenter %}

{% block MidTopLeft %}
  <div class="btn-group float-right">
    <a href="{% url 'Corporate:OrgAdd' corp.corporate.slug %}?next={{ request.path|urlencode }}">
      Add
    </a>

  </div>
  <h4>Organisation Structure</h4>
  <p>Department - Parent - #Staff - #Skills - Experience</p>

{% endblock MidTopLeft %}

{% block MidTopRight %}
<div class="btn-group float-right">
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffManage' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary">
      Potential ( {{ potential|intcomma }} )
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffCurrent' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Current ( {{ current_count|intcomma }} )
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:StaffAdmn' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Manage
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:CorpAdmin' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
      Admin
    </a>
  </div>
  <div class="btn-group mr-2">
    <a href="{% url 'Corporate:Hidden' corp.corporate.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary align-middle">
      Hidden
    </a>
  </div>
</div>
  <h4>Staff</h4>
  <p>Total Staff - Average Age - graph (age histogram)</p>
{% endblock MidTopRight %}

{% block MidBotLeft %}
  <h4>Experience</h4>
  <p>Total Skills</p>
  <p>Total Hours</p>
  <p>skills histogram by 10 year buckets</p>
{% endblock MidBotLeft %}

{% block MidBotRight %}
<h4>Past Staff</h4>
<p>where information relating to past staff can be viewed. (when the worked here, when they left etc.)</p>
{% endblock MidBotRight %}

{% block BotCenter %}
{% endblock BotCenter %}

{% block subScript %}{% endblock subScript %}
