{% extends 'mod_corporate/base_corporate.html' %}
{% load humanize %}

{% block title %}{{block.super}} Department Skills Not Utilised{% endblock title %}

{% block subStyle %}{% endblock subStyle %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <h3>{{ dept }} Skills Available But Not Utilised</h3>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <div class="btn-group float-right">
      <div class="btn-group mr-2">
        <a href="{% url 'Corporate:DeptSkillsCurrent' cor dept %}?next={{ request.path|urlencode }}" class="badge badge-primary">
          Current ( {{ sum_skills|intcomma }} )
        </a>
      </div>
      <div class="btn-group mr-2">
        <a href="{% url 'Corporate:DeptSkillsResigned' cor dept %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
          Resigned ( {{ current_count|intcomma }} )
        </a>
      </div>
      <div class="btn-group mr-2">
        <a href="{% url 'Corporate:DeptSkillsFreelance' cor dept %}?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
          Freelance ( {{ current_count|intcomma }} )
        </a>
      </div>
      <div class="btn-group mr-2">
        <a href="#?next={{ request.path|urlencode }}" class="badge badge-primary align-middle">
          Admin
        </a>
      </div>
      <div class="btn-group mr-2">
        <a href="#?next={{ request.path|urlencode }}" class="badge badge-secondary align-middle">
          Hidden
        </a>
      </div>
    </div>
    <h4>Skills</h4>
    <p> Hours of Experience by Skill Currently Possessed by {{ dept }} Department but Not Utilised</p>
    <div style="overflow-x: scroll">
    <div id="chart-container" style="position: relative;  width:auto;">
    <canvas id="hours-experience-by-skill-chart" height="100px"></canvas>
    <script>
      window.onload = function() {
        var hours_experience_by_skill_ctx = document.getElementById('hours-experience-by-skill-chart').getContext('2d');
        window.myChart = new Chart(hours_experience_by_skill_ctx, hours_experience_by_skill_config);
      };

    var hours_experience_by_skill_config = {
      type: 'bar',
      data: {
          labels: {{ skills_list_labels|safe }},
          datasets: [{
            label: 'Hours Experience by Skill',
            data: {{ skills_hours_skill_data|safe }},
            order: 2,
              backgroundColor: ['#B6D8F2', '#F4CFDF', '#5784BA', '#C54B6C', '#F5BFD2', '#E5DB9C', '#D0BCAC', '#BEB4C5', '#E6A57E', '#218B82', '#9AD9DB', '#E5DBD9', '#98D4BB', '#EB96AA', '#C6C9D0', '#C54B6C', '#E5B3BB', '#C47482', '#D5E4C3', '#F9968B', '#F27348', '#26474E', '#76CDCD', '#2CCED2', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#DDF2F4', '#84A6D6', '#4382BB', '#E4CEE0', '#A15D98', '#DC828F', '#F7CE76', '#E8D6CF', '#8C7386', '#9C9359', '#E9BBB5', '#E7CBA9', '#AAD9CD', '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4', '#DB93A5', '#C7CDC5',
              ],
              borderColor: [

              ],
              borderWidth: 1
          },  {
            label: 'Hours Freelance Experience by Skill',
            data: {{ freelance_skills_hours_skill_data|safe }},
            type: 'line',
            order: 1,
            fill: false,
            borderColor: '#0000FF',
            borderWidth: 2,
            pointBorderWidth: 2,
            pointStyle: 'circle',
            pointHitRadius: 20,
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
            },
          legend: {
              display: false,
              position: 'left',
              labels: {
                  fontColor: '#0000ff',
          },

          }
        }
    };
    var dataList = {{ skills_hours_skill_data|safe }};
    var count = 0;
    for(var i = 0; i < dataList.length; ++i){
        if(dataList[i] >= 0)
            count++;
    }
    var widthValue = 34 * count;
    console.log(widthValue)
    var divWidth = document.getElementById("chart-container");

    if (count > 25){
      divWidth.style.width = widthValue+"px";
      }
    else{
      divWidth.style.width = "auto";
      }

    </script>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
        {% for skl in dept_skills_link %}<a href="{% url 'Corporate:DeptSkillDashboard' cor dept skl.id %}?next={{ request.path|urlencode }}" class="btn btn-outline-success auto mb-1 mr-1 pointer">{{ skl.skill }}</a> {% endfor %}
    </div>
    </div>
  </div>
</div>

{% endblock content %}
