{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}} Staff{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Back</button>
      </form>
    </div>
    <h3>Add {{staff.talent.first_name}} {{staff.talent.last_name}} to your staff</h3>
    <form method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.department|as_crispy_field }}
          <br>
          {{ form.status|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
        </div>
        <div class="">
          <p>
            <a href="{% url 'Corporate:DashCorp' corp.slug %}" class="btn btn-danger">
              Cancel
            </a>
            <button type="submit" name="Done" class="btn btn-primary">
              Save
            </button>
          </p>
        </div>
    </form>
  </div>
</div>

{% endblock content %}
