{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}

{% block title %}{{block.super}} Region{% endblock title %}

{% block Style %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
{% endblock Style %}
{% block content %}
<div class="container">
<h3>Add a Region</h3>

<form method="post">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  <div style="background-color:red; color:white;">
    <p>
      ERROR!
      {{ form.non_field_errors }}
    </p>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.country|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.region|as_crispy_field }}
    </div>
  </div>
  <div class="">
    <p><button type="submit" name="Done" class="btn btn-primary">Save</button>
  </div>
</form>
</div>
{% endblock content %}
<script type="text/javascript">
  document.getElementById("id_region").disabled = true;

  var dis1 = document.getElementById("id_country");
  dis1.onchange = function () {
     if (this.value != "" || this.value.length > 0) {
        document.getElementById("id_region").disabled = false;
     }
  };
</script>
{% block Script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock Script %}
