{% extends "base_home.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="card card-shadow col-sm-5 mx-auto">

  <div class="card-body">
    <center><img align="center" class="icon" height="162" src="{% static 'images/email/mywexlog-logo.png' %}" style="border:0;" width="null"/></center><br>
    <h1 class="card-title text-center">{% trans "Sign Out" %}</h1>

<p>&nbsp</p>
<p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
<p>&nbsp</p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="text-center">
    <button class="primaryAction btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
  </div>

</form>

  </div>
</div>

{% endblock %}
