{% extends "base_home.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="card card-shadow col-sm-5 mx-auto">

  <div class="card-body">
    <center><img align="center" class="icon" height="162" src="{% static 'images/email/mywexlog-logo.png' %}" style="border:0;" width="null"/></center><br>
    <h1 class="card-title text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
      <div class="text-center">
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
