{% extends "base_home.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<div class="card card-shadow col-sm-5 mx-auto">

  <div class="card-body">
    <h1 class="card-title text-center">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
      <div class="text-center">
        <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
