{% extends "base_home.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="card card-shadow col-sm-5 mx-auto">

  <div class="card-body">
    <center><img align="center" class="icon" height="162" src="{% static 'images/email/mywexlog-logo.png' %}" style="border:0;" width="null"/></center><br>
    <h1 class="card-title text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
              <div class="text-center">
                <input type="submit" class="btn btn-primary" name="action" value="{% trans 'change password' %}"/>
              </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

    </div>
  </div>
{% endblock %}
