{% extends "wexlog_home_3/base_wexlog_home_3.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<section id="header-block" class="">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
  </div>
</section>

<section id="find-the-right-person" class="">
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="card-clear">
                <div class="card-body">
                  <div class="title3">
                    <h5>THANK YOU FOR SUBSCRIBING TO MYWEXLOG!</h5>
                  </div>
                <p class="card-text">Thank you for subscribing to MyWeXlog.com.  It may take a few moments for your profile to become active. Please check your email for your link to your profile log-in</p>
                <p><a href="{% url 'account_login' %}" class="btn btn-primary p-3" style="width:12rem">Log-In</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
              <div class="card border-0 bg-transparent">
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card border-0 bg-transparent">
                    <a href="https://mywexlog.dev/public/index/" class="btn btn-outline-primary btn-block">Back to Home Page ..</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <p>&nbsp</p>
    </div>
  </div>
</section>

<section id="questions">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <p>&nbsp</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
