aioredis==1.3.1
amqp==2.6.1
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.2.1
Automat==20.2.0
billiard==3.6.4.0
boto3==1.17.89
botocore==1.20.89
cached-property==1.5.2
cairocffi==1.2.0
CairoSVG==2.5.2
celery==4.4.7
certifi==2021.5.30
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==3.4.7
cssselect2==0.4.1
daphne==3.0.2
defusedxml==0.7.1
Django==2.2
django-allauth==0.44.0
django-appconf==1.0.4
django-celery-beat==2.2.0
django-celery-tasks==0.0.1
django-channels==0.7.0
django-countries==7.2.1
django-crispy-forms==1.11.2
django-csp==3.7
django-extensions==3.1.3
django-leaflet==0.28.1
django-phonenumber-field==5.2.0
django-phonenumbers==1.0.1
django-redis==5.0.0
django-select2==7.7.1
django-smartfields==1.1.3
django-sri==0.3.0
django-storages==1.11.1
django-timezone-field==4.1.2
django-treebeard==4.5.1
django-utils==0.0.2
django-weasyprint==1.1.0
future==0.16.0
hiredis==2.0.0
html5lib==1.1
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.5.0
incremental==21.3.0
jmespath==0.10.0
kombu==4.6.11
msgpack==1.0.2
oauthlib==3.1.1
parameterized==0.8.1
pdf2image==1.15.1
phonenumbers==8.12.24
Pillow==8.2.0
pinax-notifications==6.0.0
pinax-referrals==4.0.1
pkg-resources==0.0.0
pluggy==0.13.1
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
py-mini-racer==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.1.0
pyOpenSSL==20.0.1
PyPDF2==1.26.0
Pyphen==0.10.0
pystache==0.5.4
python-crontab==2.5.1
python-dateutil==2.8.1
python-http-client==3.3.2
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
reportlab==3.5.67
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.4.2
sendgrid==6.7.0
service-identity==21.1.0
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
starkbank-ecdsa==1.1.1
tinycss2==1.1.0
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.10.0.0
urllib3==1.26.5
vine==1.3.0
virtualenv==16.7.2
wcwidth==0.2.5
WeasyPrint==52.5
webencodings==0.5.1
xhtml2pdf==0.2.4
xlrd==1.2.0
zipp==0.5.2
zope.interface==4.7.1
