aioredis==1.3.1
amqp==2.5.1
argon2-cffi==19.1.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.11.1
Automat==0.8.0
Babel==2.7.0
billiard==3.6.1.0
boto3==1.14.52
botocore==1.17.52
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.3.0
certifi==2019.3.9
cffi==1.12.3
channels==2.4.0
channels-redis==2.4.1
chardet==3.0.4
click==5.1
compass-stylesheets==0.12.6
constantly==15.1.0
countries==0.2.0
cryptography==2.8
cssselect2==0.3.0
daphne==2.4.1
defusedxml==0.6.0
Django==2.2.1
django-allauth==0.39.1
django-appconf==1.0.3
django-celery-beat==2.0.0
django-cities==0.5.0.6
django-countries==5.3.3
django-crispy-forms==1.7.2
django-csp==3.5
django-easy-pdf==0.1.1
django-extensions==2.1.6
django-leaflet==0.24.0
django-messages==0.5.3
django-model-utils==3.1.2
django-mustache==1.1.1
django-notifications==0.1.dev0
django-notifications-hq==1.5.0
django-paypal==1.0.0
django-phonenumber-field==2.4.0
django-popup-field==0.1.6
django-postman==3.6.2
django-redis==4.12.1
django-referrer-policy==1.0
django-select2==7.0.3
django-sri-0.3.0
django-storages==1.10
django-timezone-field==4.0
django-treebeard==4.3
django-xhtml2pdf==0.0.4
djangorestframework==3.9.4
docutils==0.15.2
filelock==3.0.12
FormEncode==1.3.1
fpdf==1.7.2
hiredis==1.0.1
html-json-forms==1.1.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.19
incremental==17.5.0
jmespath==0.10.0
jsonfield==2.0.2
kombu==4.6.4
linecache2==1.0.0
Markdown==3.1.1
msgpack==0.6.2
natural-keys==1.5.0.post2
oauthlib==3.0.1
packaging==19.1
phonenumbers==8.10.12
Pillow==6.0.0
pinax-notifications==5.0.3
pinax-referrals==3.0.3
pluggy==0.12.0
postgis==1.0.4
psycopg2-binary==2.8.2
py==1.10.0
py-mini-racer==0.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyBabeljs==0.0.8
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.2
PyPDF2==1.26.0
Pyphen==0.9.5
pyScss==1.3.5
pystache==0.5.4
python-crontab==2.5.1
python-dateutil==2.8.1
python-http-client==3.2.7
python3-openid==3.1.0
pytz==2019.1
pyxform==0.13.1
PyYAML==5.1
redis==3.3.8
reportlab==3.5.42
requests==2.21.0
requests-oauthlib==1.2.0
requirejs==0.2.1
s3transfer==0.3.3
sendgrid==6.3.0
service-identity==18.1.0
six==1.12.0
SQLAlchemy==1.3.7
sqlparse==0.3.0
swapper==1.1.0
tinycss2==1.0.2
toml==0.10.0
tox==3.13.2
tqdm==4.32.1
traceback2==1.4.0
Twisted==19.10.0
txaio==18.8.1
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.24.3
uWSGI==2.0.18
vine==1.3.0
virtualenv==16.7.2
WeasyPrint==51
webencodings==0.5.1
wq==1.1.0
wq.app==1.1.2
wq.core==1.1.0
wq.db==1.1.3
wq.io==1.1.0
wq.start==1.1.1
xhtml2pdf==0.2.4
xlrd==1.2.0
xlsconv==1.1.0
zipp==0.5.2
zope.interface==4.7.1
