aioredis==1.3.1
amqp==2.6.1
argon2-cffi==19.1.0
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.2.1
Automat==20.2.0
billiard==3.6.4.0
blis==0.7.5
boto3==1.17.90
botocore==1.20.90
cached-property==1.5.2
cairocffi==1.2.0
CairoSVG==2.5.2
catalogue==2.0.6
celery==4.4.2
certifi==2021.5.30
cffi==1.14.5
channels==2.4.0
channels-redis==2.4.2
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
contextvars==2.4
cryptography==3.4.7
cssselect2==0.4.1
cymem==2.0.6
daphne==2.5.0
dataclasses==0.8
defusedxml==0.7.1
Django==2.2
django-appconf==1.0.4
django-bower==5.2.0
django-celery-beat==2.2.0
django-colorfield==0.4.1
django-countries==7.2.1
django-crispy-forms==1.11.2
django-csp==3.7
django-extensions==3.1.3
django-filebrowser==3.14.1
django-grappelli==2.15.1
django-leaflet==0.28.1
django-phonenumber-field==5.2.0
django-plausible==0.1.0
django-redis==5.0.0
django-referrer-policy==1.0
django-select2==7.7.1
django-smartfields==1.1.3
django-sri==0.3.0
django-storages==1.11.1
django-timezone-field==4.1.2
django-tinymce==3.3.0
django-treebeard==4.5.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
hiredis==2.0.0
html5lib==1.1
hyperlink==21.0.0
icalendar==4.0.7
idna==2.10
immutables==0.16
importlib-metadata==4.5.0
incremental==21.3.0
isort==5.9.3
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.1.0
kombu==4.6.11
M2Crypto==0.37.1
MarkupSafe==2.0.1
msgpack==0.6.2
murmurhash==1.0.6
nltk==3.6.5
numpy==1.19.5
packaging==21.0
parameterized==0.8.1
pathy==0.6.0
pdf2image==1.15.1
phonenumbers==8.12.24
Pillow==8.2.0
pinax-notifications==5.0.3
pinax-referrals==4.0.1
pkg_resources==0.0.0
preshed==3.0.6
prompt-toolkit==3.0.18
psycopg2-binary==2.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyOpenSSL==20.0.1
pyparsing==3.0.0
Pyphen==0.10.0
python-crontab==2.5.1
python-dateutil==2.8.1
python-http-client==3.3.2
pytz==2021.1
redis==3.5.3
regex==2021.10.23
requests==2.25.1
s3transfer==0.4.2
semantic-version==2.8.5
sendgrid==6.7.0
service-identity==21.1.0
setuptools-rust==0.12.1
six==1.16.0
smart-open==5.2.1
sorl-thumbnail==12.7.0
spacy==3.1.3
spacy-legacy==3.0.8
sqlparse==0.4.1
srsly==2.4.2
starkbank-ecdsa==1.1.1
thinc==8.0.11
tinycss2==1.1.0
toml==0.10.2
tqdm==4.62.3
truecase==0.0.14
Twisted==21.2.0
txaio==21.2.1
typer==0.4.0
typing-extensions==3.10.0.0
urllib3==1.26.5
vine==1.3.0
wasabi==0.8.2
wcwidth==0.2.5
WeasyPrint==52.5
webencodings==0.5.1
zipp==3.4.1
zope.interface==5.4.0
