{% extends 'base_home.html' %}

  {% block title %}{{ block.super }}{% endblock title %}
  {% block Style %}

  {% block subStyle %}{% endblock subStyle %}

  {% endblock Style %}
  {% block content %}
  {% if request.user.subscription == 0 %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-shadow">
          <div class="card-body">
            <h3 class="card-title">Complete Your Registration</h3>
            <p class="card-text">Thank you for registering your account with MyWeXlog.</p>
            <p class="card-text">You are currently registered with a Free Account. This will allow you to capture experience and have it verified as well as to verify others experience validation requests, publish a public profile as well as view a list of vacancies available that suit your experience.</p>
            <p><a href="https://mywexlog.com/#pricing"> Pricing and Subscription details ..</a></p>
            <p class="card-text">To continue with the registration process and upgrade your account to your preferred account type please click the 'Upgrade' button.</p>
            <p class="float-right"><a href="{% url 'Public:WexlogHomePricing' %}" class="btn btn-primary" style="width: 7rem">Upgrade</a></p>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endif %}

  {% if request.user.subscription == 1 %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-shadow">
          <div class="card-body">
            <h3 class="card-title">Registration Upgrade</h3>
            <p class="card-text">You are currently registered with a Passive Account.</p>
            <p>To upgrade your account to an Active account giving you access to the vacancies
              and the ability to view and apply for them as well as many other bennefits
              please click the 'Upgrade' button.</p>
            <p class="float-right"><a href="{% url 'Payments:PassiveUpgradeSubscription' %}" class="btn btn-primary" style="width: 7rem">Upgrade</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endif %}

  {% block intro %}
  {% endblock intro %}

    <div class="row">

      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            <h4 class="card-title">My Network<span><p class="float-right">
            <a href="{% url 'Profile:HelpDesktopNetwork' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
            <i class="icon icon-question-circle"></i></a>
          </p></span></h4>

            <p class="card-text">
              {% block network %}
              {% endblock network %}
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 ">
        <div class="card card-shadow h-100">
          <div class="card-body">
            <h4 class="card-title">Quick Access<span><p class="float-right">

            <a href="{% url 'Profile:HelpDesktopInformation' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
            <i class="icon icon-question-circle"></i></a>

            <a href="{% url 'Profile:HelpDesktopInformation' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px" data-toggle="tooltip title="Click here for help on this page!">
            <i class="fa fa-question-circle"></i></a>

          </p></span></h4>
            <p class="card-text">
              {% block TBA %}
              {% endblock TBA %}
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 pt-3">
        <div class="card card-shadow h-100">
          <div class="card-body">
            <h4 class="card-title">The Workshop<span><p class="float-right">

            <a href="{% url 'Profile:HelpDesktopWorkshop' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
            <i class="icon icon-question-circle"></i></a>

            <a href="{% url 'Profile:HelpDesktopWorkshop' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px" data-toggle="tooltip title="Click here for help on this page!">
            <i class="fa fa-question-circle"></i></a>

          </p></span></h4>
            <p class="card-text">
              {% block score%}
              {% endblock score %}
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 pt-3">
        <div class="card card-shadow h-100">
          <div class="card-body">
            <h4 class="card-title">Interviews<span><p class="float-right">

            <a href="{% url 'Profile:HelpDesktopWorkflow' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
            <i class="icon icon-question-circle"></i></a>

            <a href="{% url 'Profile:HelpDesktopWorkflow' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
            <i class="fa fa-question-circle"></i></a>

          </p></span></h4>
            <p class="card-text">
              {% block workflow %}
              {% endblock workflow %}
            </p>
          </div>
        </div>
      </div>

    </div>

    <p>&nbsp</p>
    <div class="mb-3" >
        {% block Center_Content %}
        {% endblock Center_Content %}
    </div>
  {% endblock content %}
  {% block Script %}
  {% block subScript %}{% endblock subScript %}
  {% endblock Script %}
