{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My {{block.super}} History{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 200px;
  }
</style>

<div class="card card-shadow">
  <div class="card-body">
    <h3>Add to Your Career History</h3>
      <small>
        Please note that you are required to capture at least one current employer to allow the branch posting the vacancy to be populated. (Only current employers (date remains blank) will populate the list.)
      </small>
    <form method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <div style="background-color:red; color:white;">
        <p>
          {{ form.non_field_errors }}
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.work_configeration|as_crispy_field }}
          <p class="text-center">
            <a href="{% url 'MarketPlace:HelpExperienceLevel' %}" target="_blank" >
            <i class="fa fa-flag" aria-hidden="true" style="font-size:20px;color:black" data-toggle="tooltip" title="Breakdown of work configeration"></i>
            </a>
          </p>
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.designation|as_crispy_field }}
          <p>
            <a href="{% url 'Talent:DesignationAddPop' %}" id='add_designation' onclick='return showAddPopup(this);'>
              <img src = "{% static 'images/icon-addlink.svg' %}">
              Add Designation
            </a>
          </p>
          </div>
        </div>
        <div class="">
          <small>
            Should the "Home Base" not appear in the below field - please add it in the<br><a href="{% url 'Enterprise:EnterpriseHome' %}" target="_blank">Enterprise</a> page first, and refresh this page once the company and branch<br>have been added. The new branch will then appear in the field.
          </small>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.companybranch|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.date_from|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0" data-toggle="tooltip" title="Leave this field blank if you currently work at this company">
            {{ form.date_to|as_crispy_field }}
            <small>
              Leave this blank if you currently work here
            </small>
          </div>
        </div>
      <div class="form-row">
        <div class="form-group col-md-10 mb-0">
          {{ form.skills|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          <p>&nbsp</p><p>
            <a href="{% url 'Flatten:SkillAddPop' %}" id='add_skill' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">
              Add Skill
            </a>
          </p>
        </div>
      </div>
      <h5>
        Skills you captured previously<br>
      </h5>
      <p>
        {% for skill in skills_list.all %}
          {{ skill.skill }} ||
        {% endfor %}
      </p>
      <div class="form-row">
        <div class="col-md-12">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      <div class="">
        <p>
          <a href="{% url 'Profile:ProfileView' %}" class="btn btn-danger">
            Cancel
          </a>
          <button type="submit" name="another" class="btn btn-secondary">
            Save & Add Another
          </button>
          <button type="submit" name="done" class="btn btn-primary">
            Save & Done
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h3>Your Career History</h3>
    <div class="card-body" id="History">
      <p class="card-text">
        {% if history %}
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-1 h-100 text-center my-auto">
              <strong>From</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>To</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Employer</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Designation</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>Work Configuration</strong>
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              <strong></strong>
            </div>
          </div>
        </div>
        {% for h in history %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-1 h-100 text-center my-auto">
                  {{ h.date_from }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {% if h.date_to %}
                    {{ h.date_to }}
                  {% else %}
                    Currently Works Here
                  {% endif %}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ h.companybranch }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ h.designation }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {{ h.work_configeration }}
                </div>
                <div class="col-md-1 h-100 text-left my-auto">
                  <a href="{% url 'Profile:HistoryEdit' bch=h.slug %}" class="badge badge-secondary" style="width:4.5rem;">
                    Edit
                  </a>
                  <form  action="{% url 'Profile:HistoryAddDelete' bch=h.slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger" style="width:4.5rem;" onclick="return confirm('Delete {{ h.companybranch }} - Are you sure?');">Delete</button>
                  </form>
                  {% if h.date_to %}

                  {% else %}
                    <br>
                    <a href="{% url 'Profile:Resigned' bch=h.slug tlt=h.talent.alias %}" class="badge badge-primary" style="width:4.5rem;">
                      I Resigned
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <p>No career history currently loaded.</p>
        {% endfor %}

      {% endif %}
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{{ form.media }}
{% endblock content %}

{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
