{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}} Contact{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Back</button>
      </form>
    </div>
    <h3>Contact Details for {{ vac_qs.title }} ({{ vac_qs.ref_no }})</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>eMail</th>
          <th class="align-middle text-center">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ pfl_qs.talent.first_name }} {{ pfl_qs.talent.last_name }}</td>
          <td><a href="emailto:{{ pfl_qs.talent.email }}">{{ pfl_qs.talent.email }}</a></td>
          <td class="align-middle text-center">
                <a href="{% url 'Talent:APV_L' tlt=pfl_qs.talent.alias %}?next={{ request.path|urlencode }}" target="_blank"><i class="fa fa-id-badge" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Profile"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
