{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block title %}

    {{ form.instance.invited_by.first_name }} {{ form.instance.invited_by.last_name }} invites you to WeXlog

{% endblock title %}

{% block content %}


      <p>Hi {{ instance.work.requested_by.first_name }},</p>
      <p>{{ instance.talent.alias }} has asked for additional clarification on vacancy "{{ instance.work.title }}" which you pasted.</p>
      <hr>
      <p>Clarification:</p>
      <p>{{ form.instance.clarification_required }}</p>
      <hr>
      <p>Please could you respond directly to {{ instance.talent.alias }} at <a href="emailto: {{ instance.talent.email }}">{{ instance.talent.email }}</a>.</p>


      <p>Kind Regards</p>
      <p>The WexLog Team</p>

      <p>&nbsp</p>

  {% enblock content %}
