{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My {{block.super}} Profile{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
</style>
<div class="card card-shadow">
  <div class="card-body">
    <h3>Your Emails</h3>
      <p>
        Throughout your working career, you would have had a number of email aliases while working at different companies. By capturing them, people you worked with will be able to find you for references through your old email address.
      </p>
    <form method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <div style="background-color:red; color:white;">
        <p>

          {{ form.non_field_errors }}
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.email|as_crispy_field }}
          {{ form.active|as_crispy_field }}
          <p>Is the above email address currently active?</p>

        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.company|as_crispy_field }}
          <p>
            <a href="{% url 'Enterprise:EnterpriseAddPop' %}" id='add_company' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add a Company</a>
          </p>
          <p>
            Enter company you were working at while using this alias, or leave <strong>blank</strong> for a <strong>personal </strong>email alias
          </p>
        </div>
      </div>
      <div class="">
        <p><a href="{% url 'Profile:ProfileView' %}" class="btn btn-danger">Cancel</a> <button type="submit" name="Done" class="btn btn-primary">Save</button> <button type="submit" name="Another" class="btn btn-secondary">Add Another</button></p>
      </div>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
