{% extends 'base_home.html' %}
{% load crispy_forms_tags %}

{% block title %}{{block.super}} File Upload{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h3>Upload a file</h3>
  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.file|as_crispy_field }}
        {{ form.title|as_crispy_field }}
      </div>
    </div>
    <div class="">
      <p><button type="submit" name="Done" class="btn btn-primary">Upload</button> </p>
    </div>
  </form>
</div>
</div>
{% endblock content %}
