{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Desktop Pending Interviews - Help</h3>
    <p>&nbsp</p>
    <p>This is broken down into two sections, Interviews Pending as a Candidate and
      Interviews Pending as an Employer.</p>
    <br>
    <p><strong>Pending Interviews as a Candidate</strong></p>
    <p>This will list all the interviews that have been requested and accepted listing
      the vacancy, configuration, the reference number and invitation date.</p>
    <p>The options you will be provided with when confirming and interview will be:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <tbody>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-primary badge-pill" style="width: 10rem">Confirm</button>
      </td>
          <td>Allows you to comfirm the experience without providing a comment.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-danger badge-pill" style="width: 10rem">Reject</button></td>
          <td>Allows you to reject the validation request, reasons are personal.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="badge badge-pill badge-success" style="width: 10rem">Review with Comment</a></td>
          <td>Preferred option which allows you to confirm the experience and provide a
            comment as to the performance of the validation requestee. This option is usually
            utilised by managers or clients.<td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 10rem">Wrong Person</button></td>
          <td>In the event that the requestee has got the wrong email address resulting in
            a validation request from the wrong person.<td>
        </tr>
      </tbody>
  </table>
  <br>
    <br>
    <p><strong>Pending Interviews as an Employer</strong></p>
    <p>This details the number of interviews that have been requested in the form of
      an interview request from a potential employer as well as on the side of the
      talent who submitted the proposal bid for any vacancies advertised.</p>
      <p>The options you will be provided with when validating experience will be:</p>
      <table class="table table-sm">
      <col width="10%">
      <col width="70%">
      <tbody>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-primary badge-pill" style="width: 10rem">Confirm</button>
        </td>
            <td>Allows you to comfirm the experience without providing a comment.</td>
          </tr>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-danger badge-pill" style="width: 10rem">Reject</button></td>
            <td>Allows you to reject the validation request, reasons are personal.</td>
          </tr>
          <tr>
            <td class="text-center"><a href="#" class="badge badge-pill badge-success" style="width: 10rem">Review with Comment</a></td>
            <td>Preferred option which allows you to confirm the experience and provide a
              comment as to the performance of the validation requestee. This option is usually
              utilised by managers or clients.<td>
          </tr>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 10rem">Wrong Person</button></td>
            <td>In the event that the requestee has got the wrong email address resulting in
              a validation request from the wrong person.<td>
          </tr>
        </tbody>
    </table>
    <br>

</div>
{% endblock content %}
