{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Desktop Assignment Tracking - Help</h3>
    <p>&nbsp</p>
    <p>This is a summary of the assignments that you have as an Employer or as a Talent.</p>
    <p>The summary displayes the active open assignments.</p>
    <br>
    <p><strong>As Employer</strong></p>
    <p>Assignments are created in interview process in which once the interview has been
      completed you may assign the vacancy to a talent by utilising the 'Assign' button.</p>
    <p>Once the vacancy has been assigned it will be listed as an open assignment under
      the 'As Employer' heading.</p>
    <br>
    <p><strong>As Talent</strong></p>
    <p>.</p>
    <br>

</div>
{% endblock content %}
