{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Desktop Assignments - Help</h3>
    <p>&nbsp</p>
    <p>This details the assignments that have been authorised. The talent will have the
      authorised assignments listed and the employers will also have their authorised
      assignments listed.</p>
    <p>The information listed will be the Vacancy Name, Company Branch and city as well
      as the Reference Number. The date assigned, Offered Rate, Assignment Start date
      and Assignment Completed date are also detailed.</p>
    <br>
    <p><strong>Assignments as Talent</strong></p>
    <p>This will list your assignments that are current.</p>
    <p>The options you will be provided with when validating experience will be:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <tbody>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem;">See Detail</button>
      </td>
          <td>Allows you to open and review the vacancy detail.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-success badge-pill" style="width: 7rem">Accept<br>Assignment</button></td>
          <td>Allows you to accept the assignment, functional button only so does not
            open any informational pages.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-warning badge-pill" style="width: 7rem">Await<br>Information</button></td>
          <td>Informational button only detailing that you have requested further information
            and as yet have not received it.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="badge badge-info badge-pill" style="width: 7rem">Request<br>Information</a></td>
          <td>Once the vacancy has been assigned you are able to request more detailed
            information. This will open a dialog box in which you will be able to detail
            the information required.<td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-danger badge-pill" style="width: 7rem">Decline<br>Assignment</button></td>
          <td>In the event that the assignment has been issued to you and you are unable
            to perform you will be able to decline the assignment. You will be required to
            select a reason from the drop down list and provide a detailed reason as to
            why the assignment is being decline.<td>
        </tr>
      </tbody>
  </table>
  <br>
    <br>
    <p><strong>Assignment as an Employer</strong></p>
    <p>This will list all the current vacancies that have been assigned and are in progress.</p>
    <p>The options you will be provided with when validating experience will be:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <tbody>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-warning badge-pill" style="width: 7rem">Clarification<br>Requested</button>
      </td>
          <td>Will be visible when the talent has requested more information.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem">Response<br>Pending</button></td>
          <td>Will be visible while awaiting the acceptance of the assignment by the talent.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit"class="badge badge-danger badge-pill" style="width: 7rem">Vacancy<br>Declined</button></td>
          <td>Will be visible should the talent that the vacancy has been assigned to
            declines the assignment.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="badge badge-warning badge-pill" style="width: 7rem; height: 3rem">ReAssign<br>Vacancy</td>
          <td>Should the vacancy assignment be declined this button will be visible
            allowing you to reassign the position to another talent.<td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-success badge-pill" style="width: 7rem">Vacancy<br>Accpeted</button></td>
          <td>Will be visible and will indicate that the assignment has been
            accepted by the talent.<td>
        </tr>
      </tbody>
  </table>
    <br>

</div>
{% endblock content %}
