{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Desktop Pending Interviews - Help</h3>
    <p>&nbsp</p>
    <p>This is broken down into two sections, Interviews Pending as a Candidate and
      Interviews Pending as an Employer.</p>
    <br>
    <p><strong>Pending Interviews as a Candidate</strong></p>
    <p>This will list all the interviews that have been requested and accepted listing
      the vacancy, configuration, the reference number and invitation date.</p>
    <p>The options you will be provided with when confirming an interview will be:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <tbody>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem">See Detail</button>
      </td>
          <td>Shows the detail of the vacancy.</td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-success badge-pill" style="width: 7rem">Accept<br>Invitation</button></td>
          <td>Allows you to accept the interview request. This will update the employers
            interview records to reflect that the interview has been accepted.<br>
            Once the button has been clicked the button will disappear.<td>
        </tr>
        <tr>
          <td class="text-center"><button type="submit" class="badge badge-danger badge-pill" style="width: 7rem">Decline<br>Invitation</button></td>
          <td>Allows you to decline the the interview request, reasons are personal.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="badge badge-pill badge-success badge-pill" style="width: 7rem">Interview<br>Completed</a></td>
          <td>Please select this option to update the system as to your having completed
            the interview and awaiting notification of assignment.<br>
            Once the button has been clicked the button will disappear.<td>
        </tr>
    </tbody>
  </table>
  <br>
    <br>
    <p><strong>Pending Interviews as an Employer</strong></p>
    <p>This lists the interviews that have been requested in the form of
      an interview request from a potential employer as well as on the side of the
      talent who submitted the proposal bid for any vacancies advertised.</p>
      <p>The options you will be provided with when validating experience will be:</p>
      <table class="table table-sm">
      <col width="10%">
      <col width="70%">
      <tbody>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem">Response<br>Pending</button></td>
            <td>Visible when the talent has not yet accepted the request for an interview.</td>
          </tr>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem">Interview<br>Accepted</button></td>
            <td>Visible when the talent has accepted the requested interview.</td>
          </tr>
          <tr>
            <td class="text-center"><a href="#" class="badge badge-success badge-pill" style="width: 7rem">Interview Page</a></td>
            <td>Displays the interview page allowing you to capture notes from the interview.<td>
          </tr>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-danger badge-pill" style="width: 7rem">Interview<br>Declined</button></td>
            <td>Visible when the interviewee declined the request for an interview.<td>
          </tr>
          <tr>
            <td class="text-center"><button type="submit" class="badge badge-info badge-pill" style="width: 7rem">Remove</button></td>
            <td>Removes a talent from the interview list and updates the candidates interview list.<td>
          </tr>
        </tbody>
    </table>
    <br>

</div>
{% endblock content %}
