{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="btn-toolbar float-right">
      <a href="{% url 'Profile:ProfileHome' %}?next={{ request.path|urlencode }}"  class="btn btn-primary">Back</a>
    </div>
    <h3 class="card-title">Validating Experience</h3>
    <br>
    <div class="col-sm-7 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item align-middle center" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    <br>
    <div>
      <a href="{% url 'Profile:IntroIntroduction' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-left" style="width:7rem">Previous</a>
      <a href="{% url 'Profile:IntroProfile' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-right" style="width:7rem">Next</a>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div>
      <center>
      <a href="{% url 'Profile:IntroIntroduction' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Introduction</a>
      <a href="{% url 'Profile:IntroValidating' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Validate Experience</a>
      <a href="{% url 'Profile:IntroProfile' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Creating Your Profile</a>
      <a href="{% url 'Profile:IntroCaptureExperience' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Capture Experience</a>
      <br>
      <br>
      <a href="{% url 'Profile:IntroCaptureSkills' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Capturing Skills</a>
      <a href="{% url 'Profile:IntroVacancy' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Creating a Vacancy</a>
      <a href="{% url 'Profile:IntroShortlisting' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Shortlisting & Interviewing</a>
      <a href="{% url 'Profile:IntroAssign' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:14rem">Assigning</a>
      </center>
    </div>
    <hr>
    <br>
    <br>
    <h3 class="card-title">Validating Experience</h3>
    <h4 class="card-title">First Time Validations</h4>
    <p>In order to validate or verify someone's experience in MyWeXlog you will need to click on the link in the email invite that was sent to you by the MyWeXlog member. This will direct you to the registration page where you will be required to register with the site.</p>
    <p>The reason we require you to register with the site is for security and verification purposes. We use a two factor verification which ensures you are who you say you are.</p>
    <p>You will then be required to navigate to the Experience page. Here you merely need to navigate to the card labeled 'Confirmations' and select the paintbrush under the 'Actions' heading. This will open the page requiring you to select the 'Confirm' or "Confirm with Comment" buttons and leave a comment if desired to confirm and validate the experience of your associates.</p>
    <h4 class="card-title">Repeat Validations</h4>
    <p>Once logging-on you will be required to navigate to the Experience page. Here you merely need to navigate to the card labeled 'Confirmations' and select the paintbrush under the 'Actions' heading. This will open the page requiring you to select the 'Confirm' or "Confirm with Comment" buttons and leave a comment if desired to confirm and validate the experience of your associates.</p>
    <p>In the event that you wish to change or amend your validation comments you have a period of 40 days from the time you first capture your validation comments to change your mind or update your comments. This may be done by clicking on the binoculars icon for the relevant validation type as a lecturer, supervisor, colleague, etc.</p>



</div>
</div>
{% endblock content %}
