<hr>
<div>
  <center>
  <a href="{% url 'Profile:IntroIntroduction' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Introduction</a>
  <a href="{% url 'Profile:IntroProfile' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Creating Your Profile</a>
  <a href="{% url 'Profile:IntroCaptureExperience' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Capture Experience</a>
  <a href="{% url 'Profile:IntroCaptureSkills' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Capturing Skills</a>
  <br><br>
  <a href="{% url 'Profile:IntroBEP' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Books, Enterprises & Projects</a>
  <a href="{% url 'Profile:IntroVacancy' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Creating a Vacancy</a>
  <a href="{% url 'Profile:IntroShortlisting' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Shortlisting & Interviewing</a>
  <a href="{% url 'Profile:IntroAssign' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Assigning</a>
  <br><br>
  <a href="{% url 'Profile:IntroPublicProfile' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Public Profle</a>
  <a href="{% url 'Profile:IntroManagingAccount' %}?next={{ request.path|urlencode }}"  class="btn btn-outline-success" style="width:16rem">Managing Your Subscription</a>
  <br>


  </center>
</div>
<hr>
