{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="btn-toolbar float-right">
      <a href="{% url 'Profile:ProfileHome' %}?next={{ request.path|urlencode }}"  class="btn btn-primary">Back</a>
    </div>
    <h3 class="card-title">Assigning a Vacancy</h3>
    <br>
    <div class="col-sm-7 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item align-middle center" src="https://www.youtube.com/embed/rtX8NSHnxw0?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    <br>
    <div>
      <a href="{% url 'Profile:IntroShortlisting' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-left" style="width:7rem">Previous</a>
      <a href="{% url 'Profile:IntroPublicProfile' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-right" style="width:7rem">Next</a>
    </div>
    <br>
    <br>
    <br>
    {% include 'Profile/intro_menu.html' %}
    <br>
    <br>
    <h3 class="card-title">Assigning a Vacancy</h3>
    <p>As the Employer, once the interview process has been completed you need to navigate to the ‘Vacancy Dashboard’ page and select from the ‘Suitable Applicants’ which one you wish to assign the vacancy to by clicking on ‘Assign’.</p>
    <p>This will open a page that allows you to capture the currency Rate offered as well as the anticipated start and end dates required.</p>


</div>
</div>
{% endblock content %}
