{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="btn-toolbar float-right">
    <a href="{% url 'Profile:ProfileViewed' %}?next={{ request.path|urlencode }}"  class="btn btn-primary">Back</a>
    </div>
    <h3 class="card-title">How to Capture Skills</h3>
    <br>
    <div class="col-sm-7 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item align-middle center" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
    <br>
    <div>
      <a href="{% url 'Profile:IntroCaptureExperience' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-left" style="width:7rem">Previous</a>
      <a href="{% url 'Profile:IntroBEP' %}?next={{ request.path|urlencode }}"  class="btn btn-primary float-right" style="width:7rem">Next</a>
    </div>
    <br>
    <br>
    <br>
    {% include 'Profile/intro_menu.html' %}
    <br>
    <br>
    <h3 class="card-title">The Art of Capturing Skills Correctly</h3>
    <h3 class="card-title">Introduction</h3>
      <p>Skills are important to the MyWeXlog system in that they define the abilities you have developed in your experience over the years. Skills need to be broken down, and captured, into the basic building blocks of the categories that we are all used to. This means that by writing a document you would utilise basic pc, microsoft word, writing, english, as well as the topics that you are writing about. The more in detail you define the skills you utilise the better your portfolio will be.</p>

    <h3 class="card-title">Capturing Skills</h3>
    <p>When capturing skills you need to capture all the categories of skills
      that are appropriate.</p>
    <p>Tags must be broken into their base forms. What is meant by this?
      Lets use cars as an example. If you are a mechanic working on a car
      and want to tag the experience, how would you do it?</p>
    <p>Say you are working on a Toyota Corolla 1.6i GLE.  To tag it as
      "Toyota-Corolla-1.6i-GLE" is not ideal as it would sterilise the
      experience from people looking for talent with experience in Toyota's.
      A better way would be to split the tag up: 'Toyota', 'Corolla', '1.6i',
      'GLE'.</p>
    <p>For example when you are capturing skills for creating the front end
      of a website you need to include the overriding skill catagories such
      as ‘Vendor’, 'Project Manager', ‘Project Management', ‘Web Developer’,
      'Web Development', 'Front End Development', ‘User Team’, 'Programming',
      ‘Python’, ‘Java Script’, ‘Django’, ‘CSS’, ‘HTML’, ‘Web Sockets’ and
      ‘MyWeXlog’, so that when your skills are searched they include the
      umbrella catagories.</p>
    <p>Pilots would be able to capture airstrips / airports / runways they
      flew into, local rules they dealt with, planes they have flown,
      airline companies, positions they have flown as such as pilot, co pilot
      or flight engineer.</p>
</div>
</div>
{% endblock content %}
