{% extends 'profile/base_profile.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}My {{block.super}} Profile{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<div class="card">
  <div class="card-body">
<h3>Your Physical Address</h3>
<form method="post" id="AddressForm">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.line1|as_crispy_field }}
      {{ form.line2|as_crispy_field }}
      {{ form.line3|as_crispy_field }}
      {{ form.country|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.region|as_crispy_field }}
      <p><a href="{% url 'Location:RegionAddPop' %}" id='add_region' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Region</a></p>
      {{ form.city|as_crispy_field }}
      <p><a href="{% url 'Location:CityAddPop' %}" id='add_city' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a City / Town / Village</a></p>
      {{ form.suburb|as_crispy_field }}
      <p><a href="{% url 'Location:SuburbAddPop' %}" id='add_suburb' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Suburb</a></p>
      {{ form.code|as_crispy_field }}
    </div>
  </div>
  <div class="">
    <p><a href="{% url 'Profile:ProfileView' %}" class="btn btn-danger">Cancel</a> <button type="submit" name="Done" class="btn btn-primary">Save</button> </p>
  </div>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{{ form.media.js }}
{% endblock content %}
{% block Script %}
<script type="text/javascript">
<!-- code for popups -->
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
