{% extends 'base_home.html' %}

{% block title %}My {{block.super}} Profile View{% endblock title %}


{% block content %}
<div class="card">
  <div class="card-body">
  <h5>Profile</h5>
  <a href="{% url 'Talent:APV' tlt=tlt.alias vac='1ad9t2' %}" target="_blank" class="btn btn-success float-right">View Your Public Profile</a>
  </div>
</div>
  <br>
  <div class="">
    <div class="card">
      <div class="card-body">

          <h5 class="card-title">Profile Viewed Report</h5>
          {% if request.user.subscription >= 2 %}
          <p>Your profile has been viewed by the following <strong>{{ pvr_count }}</strong> people on the dates indicated.</p>
          <br>
          <table class="table table-sm" id="pvr">
            <col width="35%">
            <col width="30%">
            <col width="30%">
            <thead>
              <tr>
                <th class="align-middle text-center">User Alias</th>
                <th class="align-middle text-center">Date</th>
                <th class="align-middle text-center">View Profile</th>
              </tr>
            </thead>
            {% for p in pageitems %}
            <tbody>
              <tr>
                <td class="align-middle text-center">{{ p.user.alias }}</td>
                <td class="align-middle text-center">{{ p.timestamp }}</td>
                <td class="text-center">{% if request.user.subscription >= 2 %}<a href="{% url 'Talent:APV' tlt=p.user.alias vac='1ad9t2' %}" class="badge badge-success badge-pill align-middle text-center" target="new">View Profile</a>{% else %}<button class="badge badge-success badge-pill align-middle">Active Subscription Required</button>{% endif %}</td>


              </tr>
              {% empty %}
                <p>No-one has viewed you profile yet.</p>
              {% endfor %}
            </tbody>
          </table>
          <p>&nbsp</p>

          <nav aria-label="Page navigation">
              {% if pageitems.has_other_pages %}
                <ul class="pagination">
                  {% if pageitems.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                        <span class="sr-only disabled">Previous</span>
                      </a></li>
                  {% else %}
                    <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
                  {% endif %}

                  {% if pageitems.number|add:'-4' > 1 %}
                    <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %}

                  {% for i in pageitems.paginator.page_range %}
                    {% if pageitems.number == i %}
                      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                      <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}

                  {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                    <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
                  {% endif %}

                  {% if pageitems.has_next %}
                    <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
                  {% else %}
                    <li class="page-link disabled"><span>Next</span></li>
                  {% endif %}
                </ul>
              {% endif %}
          </nav>

          {% else %}
          <p>Your profile has been viewed <strong>{{ pvr_count }}</strong> times, you are currently registered with a {% if request.user.subscription == 0 %}'Free'{% else %}'Passive'{% endif %} account so will only able to see a list of the 5 most recent people that have viewed your profile.  To view the full list and have access to view the the public profiles please click the 'Upgrade' button below.</p>
          <p class="float-right">
            <a href="{% url 'Payments:PassiveUpgradeSubscription' %}" class="btn btn-primary" style="width: 7rem">Upgrade</a>
          </p>
          <br>
          <table class="table table-sm" id="pvr_s">
            <col width="35%">
            <col width="30%">
            <col width="30%">
            <thead>
              <tr>
                <th class="align-middle text-center">User Alias</th>
                <th class="align-middle text-center">Date</th>
                <th class="align-middle text-center">View Profile</th>
              </tr>
            </thead>
            {% for p in pvr_s %}
            <tbody>
              <tr>
                <td class="align-middle text-center">{{ p.user.alias }}</td>
                <td class="align-middle text-center">{{ p.timestamp }}</td>
                <td class="text-center">{% if request.user.subscription >= 2 %}<a href="{% url 'Talent:APV' tlt=p.user.alias vac='1ad9t2' %}" class="badge badge-success badge-pill align-middle text-center" target="new">View Profile</a>{% else %}<button class="badge badge-success badge-pill align-middle">Active Subscription Required</button>{% endif %}</td>


              </tr>
              {% empty %}
                <p>No-one has viewed you profile yet.</p>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock content %}
