{% extends 'Profile/base_profile.html' %}
{% load humanize %}

{% block title %}My {{block.super}}{% endblock title %}

{% block intro %}

  {% if not list_view %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-shadow">
          <div class="card-body">
            <h3 class="card-title">
              Introduction guide & video walkthrough
            </h3>
            <p>
              We have created a series of walkthrough videos to assist you in using MyWeXlog and to provide you with an overview of how MyWeXlog works and the best way to use it.
            </p>
            <div>
              <form action="{% url 'Profile:CloseIntro' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                  Don't View This Again!
                </button>
                <a href="{% url 'Profile:IntroIntroduction' %}" class="btn btn-primary float-right">
                  Introduction Wizard
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
  {% endif %}

  {% if fm %}
    {% if not fse %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-shadow">
            <div class="card-body">
              <h3 class="card-title text-center">
                Your 30 Day Trial Active Subscription Has Been Initiated!
              </h3>
              <p>
                Your one month free Active Subscription has been initiated. You can enjoy the full benefits of MyWeXlog for the next 30 days. In order to make your account permissions permanent please select one of the subscriptions to upgrade.<br>For more informaiton see the <a href="https://www.mywexlog.com/pricing/" target="_blank">Subscriptions & Pricing</a> page.
              </p>
              <div class="row">
                <div class="col-sm-12">
                  <a href="{% url 'Payments:PassiveSubscription' %}" class="btn btn-primary float-left" data-toggle=tooltip title="There are 3 subscriptions available: Free, Passive and Active">
                    Passive Subscription
                  </a>
                  <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-primary float-right" data-toggle=tooltip title="There are 3 subscriptions available: Free, Passive and Active">
                    Active Subscription
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    {% endif %}
  {% endif %}

  {% if not fm %}
    {% if not fse %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-shadow">
            <div class="card-body">
              <h3 class="card-title text-center">Your Trial Active Subscription Has Expired!</h3>
              <p>
                Your one month free Active Subscription has expired. To contine enjoying the full benefits of MyWeXlog please select one of the subscriptions to upgrade.<br>For more informaiton see the <a href="https://www.mywexlog.com/pricing/" target="_blank">Subscriptions & Pricing</a> page.
              </p>
              <div class="row">
                <div class="col-sm-6">
                <form  action="{% url 'Profile:CloseEndFreeSubscription' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary">
                    Don't Show This Again!
                  </button>
                </form>
                </div>
                <div class="col-sm-6">
                  <a href="{% url 'Payments:PassiveSubscription' %}" class="btn btn-primary float-left" data-toggle=tooltip title="There are 3 subscriptions available: Free, Passive and Active">
                    Passive Subscription
                  </a>
                  <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-primary float-right" data-toggle=tooltip title="There are 3 subscriptions available: Free, Passive and Active">
                    Active Subscription
                  </a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      {% endif %}
    {% endif %}
{% endblock intro %}

{% block network %}
  <p>Summary of people within 5 levels of your network</p>
  <h6>There are {{ tot }} people in your network tree</h6>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="align-middle text-center">Level 1</th>
        <th class="align-middle text-center">Level 2</th>
        <th class="align-middle text-center">Level 3</th>
        <th class="align-middle text-center">Level 4</th>
        <th class="align-middle text-center">Level 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle text-center">{{ lvl_1 }}</td>
        <td class="align-middle text-center">{{ lvl_2 }}</td>
        <td class="align-middle text-center">{{ lvl_3 }}</td>
        <td class="align-middle text-center">{{ lvl_4 }}</td>
        <td class="align-middle text-center">{{ lvl_5 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="">
    <p>
      <hr>
      Referral link:
      <div class="input-group mb-3">
        <input type="text" class="form-control" value="{{ referral_code.url }}" id="myInput" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="myButton">Copy Link</button>
        </div>
      </div>
      <small>
        Copy and paste the above url address into an email or a Social Network Post for your friends to join MyWeXlog in your network.
      </small>
      <br>
  </div>

  <div class="">
    <p>
      <hr>
      Public Profile link:
      <div class="input-group mb-3">
        {% url 'Talent:PublicProfile' request.user.public_profile_name as profile_url %}
        <input type="text" class="form-control" value="https://app.mywexlog.com{{ profile_url }}" id="myProfileInput" aria-describedby="basic-addon3">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="myProfileButton">Copy Link</button>
        </div>
      </div>
      <small>
        Copy and paste the above url address into your CV or marketing material to publish your public profile.
      </small>
      <hr>
      <div class="float-right">
        <a href="{% url 'Invitation:InvitationsSent' %}" class="btn btn-primary" data-toggle=tooltip title="View a list of associates that have not yet accepted you invitation to MyWeXlog">
          Invitations
        </a>
      </div>
  </div>

{% endblock network %}

{% block workflow %}
<div class="float-right">
  <a href="{% url 'MarketPlace:EmployerInterviewHistory' request.user.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width: 10rem" data-toggle=tooltip title="View a history of all interviews you have requested">
    Employer History
  </a>
  &nbsp
  <a href="{% url 'MarketPlace:TalentInterviewHistory' request.user.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width: 10rem" data-toggle=tooltip title="View a history of all interviews you have accepted">
    Candidate History
  </a>
</div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="align-middle text-center" rowspan="2">As</th>
        <th class="align-middle text-center" colspan="4">Interviews</th>
      </tr>
      <tr>
        <th class="align-middle text-center" data-toggle="tooltip" title="Invitation sent, awaiting Candidate response">
          Pending
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Candidate accpeted, awaiting interview">
          Open
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Invitation sent, Candidate declined">
          Decline
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Interview completed">
          Closed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="align-middle text-center">Employer</th>
        <td class="align-middle text-center">{{ emp_bil_qs_p }}</td>
        <td class="align-middle text-center">{{ emp_bil_qs_a }}</td>
        <td class="align-middle text-center">{{ emp_bil_qs_d }}</td>
        <td class="align-middle text-center">{{ emp_bil_qs_i }}</td>
      </tr>
      <tr>
        <th class="align-middle text-center">Candidate</th>
        <td class="align-middle text-center">{{ tlt_bil_qs_p }}</td>
        <td class="align-middle text-center">{{ tlt_bil_qs_a }}</td>
        <td class="align-middle text-center">{{ tlt_bil_qs_d }}</td>
        <td class="align-middle text-center">{{ tlt_bil_qs_i }}</td>
      </tr>
    </tbody>
  </table>
{% endblock workflow %}

{% block score %}
  <div class="float-right">
    <a href="{% url 'Profile:WorkshopEmp' %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width: 12rem" data-toggle=tooltip title="View or manage all work you have assigned">
      Employer Office
    </a> &nbsp
    <a href="{% url 'Profile:WorkshopTlt' %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width: 12rem" data-toggle=tooltip title="View or manage all vacancies you have accepted">
      Candidate Workshop
    </a>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="align-middle text-center" rowspan="2">As</th>
        <th class="align-middle text-center" colspan="5">Assignments</th>
      </tr>
      <tr>
        <th class="align-middle text-center" data-toggle="tooltip" title="Issued, not accepted">
          Pending
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Accepted, assignment not complete">
          Accepted
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Issued, Candidate waiting for requested information">
          Info
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Issued, Candidate rejected">
          Rejected
        </th>
        <th class="align-middle text-center" data-toggle="tooltip" title="Work completed">
          Closed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="align-middle text-center">Employer</th>
        <td class="align-middle text-center">{{ emp_wit_p }}</td>
        <td class="align-middle text-center">{{ emp_wit_a }}</td>
        <td class="align-middle text-center">{{ emp_wit_c }}</td>
        <td class="align-middle text-center">{{ emp_wit_d }}</td>
        <td class="align-middle text-center">{{ emp_wit_s }}</td>
      </tr>
      <tr>
        <th class="align-middle text-center">Candidate</th>
        <td class="align-middle text-center">{{ tlt_wit_p }}</td>
        <td class="align-middle text-center">{{ tlt_wit_a }}</td>
        <td class="align-middle text-center">{{ tlt_wit_c }}</td>
        <td class="align-middle text-center">{{ tlt_wit_d }}</td>
        <td class="align-middle text-center">{{ tlt_wit_s }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p>
    {% if request.user.subscription >= 1 %}
      <a href="{% url 'Profile:ProfileViewed' %}" class="btn btn-info float-right">
      Profile Viewed Report: {{ pvr_count }} times
      </a>
    {% else %}
      <span class="float-right">
        <strong>{{ pvr_count }}</strong> times.
      </span>
    {% endif %}
  </p>
{% endblock score %}

{% block TBA %}
  <div class="text-center">
    <a href="{% url 'Talent:PublicProfile' request.user.public_profile_name %}?next={{ request.path|urlencode }}" target="_blank">
      <i class="fa fa-map-marker" style="font-size:30px;color:black" data-toggle="tooltip" title="Public Profile"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Talent:APV' tlt=request.user.alias vac='1ad9t2' %}?next={{ request.path|urlencode }}" target="_blank">
      <i class="fa fa-id-badge" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Application Profile"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Talent:DPCSum' tlt %}?next={{ request.path|urlencode }}">
      <i class="fa fa-industry" style="font-size:30px;color:black" data-toggle="tooltip" title="View Summary for Industry, Project and Designation."></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'BookList:VPBL' tlt=request.user.alias %}?next={{ request.path|urlencode }}" class="">
      <i class="fa fa-book" aria-hidden="true" style="font-size:30px;color:black" data-toggle="tooltip" title="Book Summary"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Talent:SPDView' tlt=request.user.alias %}?next={{ request.path|urlencode }}">
      <i class="fa fa-database" aria-hidden="true" style="font-size:30px;color:black" data-toggle="tooltip" title="Skills Summary"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Talent:Capture' %}">
      <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:30px;color:black" data-toggle="tooltip" title="Capture Training"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Talent:ExperienceCapture' %}" class="">
      <i class="fa fa-laptop" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Capture Experience"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Project:ProjectAdd' %}" class="">
      <i class="fa fa-envelope-open" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Capture Project"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'Project:ProjectPersonalAdd' %}" class="">
      <i class="fa fa-envelope-open-o" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Capture Personal Project"></i>
    </a>
    &nbsp &nbsp
    <a href="{% url 'BookList:books-read-new' %}" class="">
      <i class="fa fa-bookmark-o" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Capture Book"></i>
    </a>
    &nbsp &nbsp
    {% if user.subscription < 1 %}
        <a href="#" class="">
          <i class="fa fa-map-signs" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Vacancy Search (Not available to free users)"></i>
        </a>
    {% else %}
      <a href="{% url 'MarketPlace:VacSearch' %}" class="">
        <i class="fa fa-map-signs" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Vacancy Search"></i>
      </a>
    {% endif %}
    &nbsp &nbsp
    <a href="{% url 'Talent:PflSearch' %}" class="">
      <i class="fa fa-users" aria-hidden="true" style="font-size:34px;color:black" data-toggle="tooltip" title="Profile Search"></i>
    </a>
  </div>
  <hr>
  <br>
  <div class="text-center">
    {% if pfl.rate_count >= 5 %}
      <p style="font-size:20px;">
        Your Rating:
        {% if pfl.avg_rate >= 0 and pfl.avg_rate < 0.5 %}
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 0.5 and pfl.avg_rate < 1 %}
          <span><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 1 and pfl.avg_rate < 1.5 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 1.5 and pfl.avg_rate < 2 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 2 and pfl.avg_rate < 2.5 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 2.5 and pfl.avg_rate < 3 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 3 and pfl.avg_rate < 3.5 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 3.5 and pfl.avg_rate < 4 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 4 and pfl.avg_rate < 4.5 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 4.5 and pfl.avg_rate < 4.95 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:25px;"></i></span>
        {% elif pfl.avg_rate >= 4.95 %}
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
          <span><i class="fa fa-star" aria-hidden="true" style="font-size:25px;"></i></span>
        {% endif %}
        {{ pfl.avg_rate|floatformat:2 }} from {{ pfl.rate_count|intcomma }} votes
        <a href="{% url 'Talent:TltRatingDetail' pfl.alias %}" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Ratings Breakdown">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </a>
    {% else %}
      Ratings calculated over 5 or more votes, you currently have {{ pfl.rate_count|intcomma }}.
    {% endif %}
  </p>
  </div>
  <hr>
  <br>
  <h4 class="text-left">Reviews Summary</h4>
  <table class="table table-sm">
    <col width="25%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <thead>
      <tr>
        <th class="align-middle text-center">As</th>
        <th class="align-middle text-center">Confirm</th>
        <th class="align-middle text-center">Reject</th>
        <th class="align-middle text-center">Wrong<br>Person</th>
        <th class="align-middle text-center">Waiting</th>
        <th class="align-middle text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="align-middle text-center" data-toggle="tooltip" title="You have been asked to confirm">Confirmer</th>
        <td class="align-middle text-center">{{ conf_tot_c|intcomma }}</td>
        <td class="align-middle text-center">{{ conf_tot_r|intcomma }}</td>
        <td class="align-middle text-center">{{ conf_tot_y|intcomma }}</td>
        <td class="align-middle text-center">{{ conf_tot_s|intcomma }}</td>
        <td class="align-middle text-center">
          {% if conf_tot_s > 0 %}
            <a href="{% url 'Profile:Confirm' %}" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests">
              <i class="fa fa-paint-brush" aria-hidden="true"></i>
            </a>
          {% endif %}
          <a href="{% url 'Talent:Home' %}?next={{ request.path|urlencode }} #confirm">
            <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See more detail"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th class="align-middle text-center" data-toggle="tooltip" title="You have requested a confirmation">Requestioner</th>
        <td class="align-middle text-center">{{ req_tot_c|intcomma }}</td>
        <td class="align-middle text-center">{{ req_tot_r|intcomma }}</td>
        <td class="align-middle text-center">{{ req_tot_y|intcomma }}</td>
        <td class="align-middle text-center">{{ req_tot_s|intcomma }}</td>
        <td class="align-middle text-center">
          <a href="{% url 'Talent:Home' %}?next={{ request.path|urlencode }} #request">
            <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See more detail"></i>
        </td>
      </tr>
    </tbody>
  </table>

 {% endblock TBA %}

{% block Center_Content %}
{% if interviews_tlt or interviews_emp %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Profile:HelpDesktopPendingInterviews' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
    <h4 class="card-title" id="Interview">
      Pending Interviews
    </h4>
    <small>
      Once an interview has been accpeted, you will need to make contact to determine the interview date and time.
    </small>
    <div class="container">
      {% if interviews_tlt %}
          <h5 id="TalentInterview">
            <strong>As a Candidate</strong>
          </h5>
        <div class="row my-auto">
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>Vacancy</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Configuration</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Reference</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Invitation Date</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Options</strong>
          </div>
        </div>
        {% for tlt_i in interviews_tlt %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
            <div class="col-md-4 h-100 text-center my-auto">
              {{ tlt_i.scope }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ tlt_i.scope.worklocation }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
                {{ tlt_i.scope.ref_no }}
              </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ tlt_i.date_listed|date:"j M Y" }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {% if request.user.subscription >= 1 %}
                <td>
                  <a href="{% url 'MarketPlace:VacancyDetail_Profile' tlt_i.scope.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info badge-pill" style="width: 7rem">
                    See Detail
                  </a>
                {% if tlt_i.tlt_response == 'P' %}
                  <a href="{% url 'Profile:IntAccept' tlt_i.id %}?next={{ request.path|urlencode }}" class="badge badge-success badge-pill" style="width: 7rem">
                    Accept<br>Invitation
                  </a>
                  <a href="{% url 'Profile:IntDecline' tlt_i.id %}?next={{ request.path|urlencode }}" class="badge badge-danger badge-pill" style="width: 7rem">Decline<br>Invitation</a></td>
                {% endif %}
                {% if tlt_i.tlt_response == 'A' %}
                  <a href="{% url 'Profile:IntComplete' tlt_i.id %}?next={{ request.path|urlencode }}" class="badge badge-success badge-pill" style="width: 7rem">Mark as<br>Completed</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>You currently don't have any interviews.</p>
      {% endfor %}
    {% endif %}

    {% if interviews_emp %}
      <p><h5 id="EmployerInterview"><strong>As an Employer</strong></h5></p>
      <div class="row my-auto">
        <div class="col-md-4 h-100 text-center my-auto">
          <strong>Vacancy</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Configuration</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Reference</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Invitation Date</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Options</strong>
        </div>
      </div>
    {% for tlt_e in interviews_emp %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
            <div class="col-md-4 h-100 text-center my-auto">
              {{ tlt_e.scope }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ tlt_e.scope.worklocation }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
                {{ tlt_e.scope.ref_no }}
              </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ tlt_e.date_listed|date:"j M Y" }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {% if tlt_e.tlt_response == 'P' %}
                <p class="badge badge-info badge-pill" style="width: 7rem">Response<br>Pending</p>
              {% elif tlt_e.tlt_response == 'A' %}
                <p class="badge badge-info badge-pill" style="width: 7rem">Interview<br>Accepted</p>
                <a href="{% url 'MarketPlace:InterviewList' tlt_e.scope.ref_no   %}" class="badge badge-success badge-pill" style="width: 7rem">Interview Page</a>
              {% elif tlt_e.tlt_response == 'D' %}
                <p class="badge badge-danger badge-pill" style="width: 7rem">Interview<br>Declined</p>
                <a href="{% url 'Profile:IntRemove' tlt_e.talent.alias %}?next={{ request.path|urlencode }}" class="badge badge-info badge-pill" style="width: 7rem" data-toggle="tooltip" title="Remove this interview from your workflow">Remove</a>
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>None at the moment.</p>
      {% endfor %}
    {% endif %}
    </div>
    <br>
    {% endif %}
  </div>
</div>
<br>
</div>
{% if assigned_tlt or assigned_emp %}
<div class="container">
<div class="card card-shadow">
  <div class="card-body">
    <h4 class="card-title" id="Assignment">Assignments<span><p class="float-right">
    <a href="{% url 'Profile:HelpDesktopAssignments' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h4>

    <div class="container">

      {% if assigned_tlt %}
        <p><h5 id="TalentAssignment"><strong>As Candidate ({{ assigned_tltc }} in Workflow)</strong></h5></p>
        <div class="row my-auto">
          <div class="col-5 col-no-pad h-100 text-center my-auto">
            <strong>Vacancy<br>(Reference)</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Date Assigned</strong>
          </div>
          <div class="col-2 col-no-pad h-100 text-center my-auto">
            <strong>Offered Rate</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Start<br>Date</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Complete<br>Date</strong>
          </div>
          <div class="col-2 col-no-pad h-100 text-center my-auto">
            <strong>Options</strong>
          </div>
        </div>
        {% for psn in assigned_tlt %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
            <div class="col-5 h-100 text-center my-auto">
              {{ psn.work }}<br><span class="font-grey">({{ psn.work.ref_no }})</span>
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_create|date:"j M Y" }}
            </div>
            <div class="col-2 h-100 text-center my-auto">
                {{ psn.currency.currency_abv }} {{ psn.rate_offered }}<br>{{psn.get_rate_unit_display}}
              </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_begin|date:"j M Y" }}
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_deliverable|date:"j M Y" }}
            </div>
            <div class="col-2 h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyDetail_Profile' psn.work.ref_no %}?next={{ request.path|urlencode }}" target="_blank" class="badge badge-info badge-pill" style="width: 7rem;">See Detail</a>
              <a href="{% url 'Profile:AssignmentAccept' psn.slug %}?next={{ request.path|urlencode }}" class="badge badge-success badge-pill" style="width: 7rem">Accept<br>Assignment</a>
              {% if psn.tlt_response == 'C' %}
                <a href="#" class="badge badge-warning badge-pill" style="width: 7rem">Await<br>Information</a>
              {% else %}
                <a href="{% url 'Profile:AssignmentClarify' psn.slug %}?next={{ request.path|urlencode }}" class="badge badge-info badge-pill" style="width: 7rem">Request<br>Information</a>
              {% endif %}
              <a href="{% url 'Profile:AssignmentDecline' psn.slug %}?next={{ request.path|urlencode }}" class="badge badge-danger badge-pill" style="width: 7rem">Decline<br>Assignment</a>
            </div>
          </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    {% if assigned_emp %}
      <p><h5 id="EmployerAssignment"><strong>As an Employer ({{ assigned_empc }} in Workflow)</strong></h5></p>
      <div class="row my-auto">
        <div class="col-5 col-no-pad h-100 text-center my-auto">
          <strong>Vacancy<br>(Reference)</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date Assigned</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Offered Rate</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Start<br>Date</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Complete<br>Date</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Options</strong>
        </div>
      </div>
    {% for psn in assigned_emp %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
            <div class="col-5 h-100 text-center my-auto">
              {{ psn.work|truncatechars:110 }}<br><span class="font-grey">({{ psn.work.ref_no }})</span>
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_create|date:"j M Y" }}
            </div>
            <div class="col-2 h-100 text-center my-auto">
                {{ psn.currency.currency_abv }} {{ psn.rate_offered }}<br>{{psn.get_rate_unit_display}}
              </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_begin|date:"j M Y" }}
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ psn.date_deliverable|date:"j M Y" }}
            </div>
            <div class="col-2 h-100 text-center my-auto">
              {% if psn.tlt_response == 'C' %}
                <a href="{% url 'MarketPlace:RFIView' psn.slug %}?next={{ request.path|urlencode }}" class="badge badge-warning badge-pill" style="width: 7rem">Clarification<br>Requested</a>

              {% elif psn.tlt_response == 'P' %}
                <a href="#" class="badge badge-info badge-pill" style="width: 7rem">Response<br>Pending</a>

              {% elif psn.tlt_response == 'D' %}
                <a href="#" class="badge badge-danger badge-pill" style="width: 7rem">Vacancy<br>Declined</a>
                <a href="{% url 'Profile:AssignmentReassign' psn.slug %}?next={{ request.path|urlencode }}" class="badge badge-warning badge-pill" style="width: 7rem; height: 3rem">ReAssign<br>Vacancy</a>

              {% elif psn.tlt_response == 'A' %}
                <a href="{% url 'MarketPlace:InterviewList' psn.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-success badge-pill" style="width: 7rem">Vacancy<br>Accepted</a>

              {% endif %}
            </div>
            </div>
            <div class="row">
              {% if psn.tlt_response == 'D' %}
              <div class="card-body small-pad">
                <p>{{ psn.comments }}</p>
                <p class="short-paragraph"><strong>Reason:</strong></p>
                <p>{{ psn.tlt_decline_reason }}</p>
              </div>
              {% elif psn.tlt_response == 'A' %}
              <div class="card-body small-pad" style="padding-bottom:0rem;">
                <p>Please contact the Talent directly at <a href="mailto:{{ psn.talent.email }}">{{ psn.talent.email }}</a></p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    </div>
    <br>

  </div>
</div>
{% endif %}
<script type="text/javascript">

document.getElementById("myButton").addEventListener("click", myFunction);

function myFunction(e) {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}

document.getElementById("myProfileButton").addEventListener("click", myProfileFunction);

function myProfileFunction(e) {
  var copyProfileText = document.getElementById("myProfileInput");
  copyProfileText.select();
  copyProfileText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyProfileText.value);
}
</script>
{% endblock Center_Content %}
