{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My {{block.super}} Profile Edit{% endblock title %}


{% block content %}
<div class="card card-shadow">
  <div class="card-body">
<h3>Edit Your Profile</h3>

<form method="post">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  <div style="background-color:red; color:white;">
    <p>

      {{ form.non_field_errors }}
    </p>
  </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.f_name|as_crispy_field }}
          <p>
            <br>
          </p>
          {{ form.l_name|as_crispy_field }}
          {{ form.birth_date|as_crispy_field }}
          <br><br>
        </div>
        <div class="form-group col-md-6 mb-0">
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.currency|as_crispy_field }}
              <p>
                <a href="{% url 'Location:CurrencyAddPop' %}" id='add_currency' onclick='return showAddPopup(this);'>
                  <img src = "{% static 'images/icon-addlink.svg' %}">
                  Add a Currency
                </a>
              </p>
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.std_rate|as_crispy_field }}
              <p>
                <strong>
                  Enter a rate per hour
                </strong>
              </p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 mb-0" data-toggle="tooltip" title="Your chosen alias must not indicate race, gender, religion or any other thing that could potentially cause bias">
              {{ form.alias|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.mentor|as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <p>
          <a href="{% url 'Profile:ProfileView' %}" class="btn btn-danger">
            Cancel
          </a>
          <button type="submit" name="Done" class="btn btn-primary">
            Save
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block Script %}

<!-- code for popups -->
<script type="text/javascript">
var aliasfield = document.querySelector('[name="alias"]');

aliasfield.addEventListener('keypress', function ( event ) {
   var key = event.keyCode;
    if (key === 32) {
      event.preventDefault();
    }
});

function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
