{% extends 'base_home.html' %}

{% block title %}My {{block.super}} Profile View{% endblock title %}


{% block content %}
<div class="card-header">
  <div class="float-right">
  <a href="{% url 'Talent:APV' tlt=user_info.alias vac='1ad9t2' %}" target="_blank" class="btn btn-success">View Your Public Profile</a> <a href="{% url 'Profile:ProfileView' %}" class="btn btn-secondary">Back</a>
  </div>
  <h5>Review Your Profile</h5>
</div>
  <div class="card-group">
    <div class="card card-shadow">
      <div class="card-body">
        {% for d in info %}
          <h5 class="card-title">Basic Information <a href="{% url 'Profile:ProfileEdit' d.alias %}" class="badge badge-secondary float-right">Edit</a></h5>
          <p class="card-text">Name: {{ user_info.first_name }} {{ user_info.last_name }}</p>
          <p class="card-text">
            Display name: {{ user_info.alias }}
          </p>
          <p class="card-text">
            Date of Birth: {{ d.birth_date|date:"j M Y" }}
          </p>
          <p class="card-text">
            Profile email: {{ request.user.email }}
          </p>
          <p class="card-text">
            Standard Rate (per hour): {{ d.currency }} {{ d.std_rate }}
          </p>
          <p class="card-text">
            Do you wish to be a mentor to others? {{ d.get_mentor_display }}
          </p>
        <div class="card-footer bg-transparent border-success"></div>
          <h5 class="card-title">Online Profiles <a href="{% url 'Profile:OnlineProfileAdd' request.user.alias %}" class="badge badge-primary float-right">Add</a></h5>
          <div class="container">
            <div class="row my-auto">
              <div class="col-md-4 h-100 text-center my-auto">
                <strong>Site</strong>
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                <strong>Address</strong>
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                <strong></strong>
              </div>
            </div>
          </div>
          {% for s in online %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ s.sitename }}
                  </div>
                  <div class="col-md-6 h-100 text-center my-auto">
                    <a href="{{ s.profileurl }}">{{ s.profileurl }}</a>
                  </div>
                  <div class="col-md-2 h-100 text-center my-auto">
                    <form  action="{% url 'Profile:OnlineDelete' pk=s.id tlt=s.talent.alias %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-danger badge-pill" onclick="return confirm('Remove {{ s.profileurl }} - Are you sure?');">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No Profiles listed.</p>
          {% endfor %}

          <div class="card-footer bg-transparent border-success"></div>
          <h5 class="card-title">Languages <a href="{% url 'Profile:LanguageAdd' request.user.alias %}" class="badge badge-primary float-right">Add</a></h5>
          <div class="container">
            <div class="row my-auto">
              <div class="col-md-4 h-100 text-center my-auto">
                <strong>Language</strong>
              </div>
              <div class="col-md-5 h-100 text-center my-auto">
                <strong>Level</strong>
              </div>
              <div class="col-md-3 h-100 text-center my-auto">
                <strong></strong>
              </div>
            </div>
          </div>
          {% for l in speak %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ l.language }}
                  </div>
                  <div class="col-md-5 h-100 text-center my-auto">
                    {{ l.get_level_display }}
                  </div>
                  <div class="col-md-3 h-100 text-left my-auto">
                    <a href="{% url 'Profile:LanguageEdit' tlt=request.user.alias lang=l.slug %}" class="badge badge-secondary badge-pill" style="width: 5rem;">Edit</a>
                    <form  action="{% url 'Profile:LanguageDelete' lang_id=l.id tlt=l.talent.alias %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;" onclick="return confirm('Remove {{ l.language }} - Are you sure?');">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No Languages listed.</p>
          {% endfor %}

      </div>
    </div>

  <div class="card card-shadow">
    <div class="card-body">
      <h5 class="card-title" id="email">Email addresses <a href="{% url 'Profile:EmailEdit' d.alias %}?next={{ request.path|urlencode }}" class="badge badge-primary float-right">Add</a></h5>
      <h6>Past (No longer active)</h6>
      {% for e in email %}
      {% if e.active is False %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ e.email }}
          <span>
            <a href="{% url 'Profile:EmailStatus' tlt=e.talent.alias eml=e.slug %}" class="badge badge-primary badge-pill">Change Status</a>
            <form  action="{% url 'Profile:EmailDelete' pk=e.id tlt=e.talent.alias %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill" onclick="return confirm('Remove {{ e.email }} - Are you sure?');">Remove</button>
            </form>
          </span>
        </li>
      </ul>
      {% endif %}
      {% endfor %}
      <h6>Current (Monitored)</h6>
      {% for e in email %}
      {% if e.active is True %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ e.email }}
          <span>
            <a href="{% url 'Profile:EmailStatus' tlt=e.talent.alias eml=e.slug %}" class="badge badge-primary badge-pill">Change Status</a>
            <form  action="{% url 'Profile:EmailDelete' pk=e.id tlt=e.talent.alias %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill" onclick="return confirm('Remove {{ e.email }} - Are you sure?');">Remove</button>
            </form>
          </span>
        </li>
      </ul>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
        <a href="{% url 'Profile:BackgroundEdit' tlt %}" class="btn btn-secondary">Edit</a>
      </div>
      <h5 class="card-title" id="background">Background</h5>
      <p class="card-text text-justify">
        {{ d.background|linebreaks }}</p>
      </div>
    </div>
  </div>
  <br>
  <div class="card-group">
    <div class="card card-shadow">
      <div class="card-body">
      <div class="float-right">
        <a href="{% url 'Profile:MotivationEdit' tlt %}" class="btn btn-secondary">Edit</a>
      </div>
      <h5 class="card-title" id="motivation">Motivation:</h5>
      <p class="card-text text-justify">
        {{ d.motivation|linebreaks }}</p>
    </div>
  </div>
</div>
{% endfor %}
<br>
<div class="card-group" id="memberships">
  <div class="card card-shadow">
    <div class="card-body">
      <h5 class="card-title" >Licenses, Certifications and Memberships <a href="{% url 'Talent:LCMCap'  %}?next={{ request.path|urlencode }}" class="badge badge-primary float-right">Add</a></h5>

      <div class="container">
        <div class="row my-auto">
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Type</strong>
          </div>
          <div class="col-2 col-no-pad h-100 text-center my-auto">
            <strong>Registered Number</strong>
          </div>
          <div class="col-2 col-no-pad h-100 text-center my-auto">
            <strong>Managing Organisation</strong>
          </div>
          <div class="col-2 col-no-pad h-100 text-center my-auto">
            <strong>Country</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Region / State</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Date First Issued</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Expiry Date</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Status</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong></strong>
          </div>
        </div>
      </div>
      {% for lcm in lcm_qs %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {{ lcm.certification }}
              </div>
              <div class="col-2 col-no-pad h-100 text-center my-auto">
                {{ lcm.cm_no }}
              </div>
              <div class="col-2 col-no-pad h-100 text-center my-auto">
                {{ lcm.companybranch }}
              </div>
              <div class="col-2 col-no-pad h-100 text-center my-auto">
                {{ lcm.country.name }}
              </div>
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {{ lcm.region }}
              </div>
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {{ lcm.issue_date|date:"j M Y" }}
              </div>
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {% if lcm.expiry_date %}
                  {{ lcm.expiry_date|date:"j M Y" }}
                {% else %}
                  None
                {% endif %}
              </div>
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {% if lcm.current == True %}
                  Valid
                {% else %}
                  Expired
                {% endif %}
              </div>
              <div class="col-1 col-no-pad h-100 text-center my-auto">
                {% if lcm.upload %}
                  <a href="{{ lcm.upload.url }}" target="_blank" class="badge badge-success" style="width: 4rem;">
                    View File
                  </a>
                {% else %}
                  <a href="#" target="_blank" class="badge badge-primary" style="width: 4rem;">
                    No File
                  </a>
                {% endif %}
                <a href="{% url 'Talent:LCMEdit' lcm.slug %}" class="badge badge-secondary" style="width: 4rem;">Update</a>
                <form  action="{% url 'Talent:LCMDelete' pk=lcm.id tlt=lcm.talent.alias %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger" style="width: 4rem;" onclick="return confirm('Remove {{ lcm.certification }} - Are you sure?');">Remove</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>You have not captured any licenses, certifications or memberships.</p>
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body" >
      <h5 class="card-title" id="achievements">Achievements<a href="{% url 'Talent:AchieveCap' %}" class="badge badge-primary float-right">Add</a></h5>

      <div class="container">
        <div class="row my-auto">
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>Date Achieved</strong>
          </div>
          <div class="col-md-7 h-100 text-center my-auto">
            <strong>Achievement</strong>
          </div>
        </div>
      </div>
      {% for a in achievement %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-11 h-100 text-center my-auto">
                <div class="row my-auto">
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ a.date_achieved|date:"j M Y" }}
                  </div>
                  <div class="col-md-8 h-100 text-center my-auto">
                    {{ a.achievement }}
                  </div>
                </div>
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {% if a.upload %}
                  <a href="{{ a.upload.url }}" target="_blank" class="badge badge-success" style="width: 4rem;">
                    View File
                  </a>
                {% else %}
                  <a href="#" target="_blank" class="badge badge-primary" style="width: 4rem;">
                    No File
                  </a>
                {% endif %}
                <a href="{% url 'Talent:AchieveEdit' a.slug %}" class="badge badge-secondary" style="width: 4rem;">Edit</a>
                <form  action="{% url 'Talent:AchieveDelete' ach_i=a.id tlt=a.talent.alias %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger" style="width: 4rem;" onclick="return confirm('Remove {{ a.achievement }} - Are you sure?');">Remove</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>No achievements captured.</p>
      {% endfor %}

    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body" >
      <h5 class="card-title" id="awards">Awards<a href="{% url 'Talent:AwardCap' %}" class="badge badge-primary float-right">Add</a></h5>

      <div class="container">
        <div class="row my-auto">
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>Date Awarded</strong>
          </div>
          <div class="col-md-7 h-100 text-center my-auto">
            <strong>Award</strong>
          </div>
        </div>
      </div>
      {% for a in award %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-11 h-100 text-center my-auto">
                <div class="row my-auto">
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ a.date_achieved|date:"j M Y" }}
                  </div>
                  <div class="col-md-8 h-100 text-center my-auto">
                    {{ a.award }}
                  </div>
                </div>
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {% if a.upload %}
                  <a href="{{ a.upload.url }}" target="_blank" class="badge badge-success" style="width: 4rem;">
                    View File
                  </a>
                {% else %}
                  <a href="#" target="_blank" class="badge badge-primary" style="width: 4rem;">
                    No File
                  </a>
                {% endif %}
                <a href="{% url 'Talent:AwardEdit' a.slug %}" class="badge badge-secondary" style="width: 4rem;">Edit</a>
                <form  action="{% url 'Talent:AwardDelete' awd_i=a.id tlt=a.talent.alias %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger" style="width: 4rem;" onclick="return confirm('Remove {{ a.award }} - Are you sure?');">Remove</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>No awards captured.</p>
      {% endfor %}

    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body" >
      <h5 class="card-title" id="publications">Publications
        <a href="{% url 'Talent:PublicationCap' %}" class="badge badge-primary float-right">
          Add
        </a>
      </h5>

      <div class="container">
        <div class="row my-auto">
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Date Published</strong>
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            <strong>Publication</strong>
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            <strong>Genre</strong>
          </div>
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>Link</strong>
          </div>
        </div>
      </div>
      {% for a in publication %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-11 h-100 text-center my-auto">
                <div class="row my-auto">
                  <div class="col-md-2 h-100 text-center my-auto">
                    {{ a.date_published|date:"j M Y" }}
                  </div>
                  <div class="col-md-3 h-100 text-center my-auto">
                    {{ a.title }}
                  </div>
                  <div class="col-md-3 h-100 text-center my-auto">
                    {{ a.genre }}
                  </div>
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ a.link }}
                  </div>
                </div>
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {% if a.upload %}
                  <a href="{{ a.upload.url }}" target="_blank" class="badge badge-success" style="width: 4rem;">
                    View File
                  </a>
                {% else %}
                  <a href="#" target="_blank" class="badge badge-primary" style="width: 4rem;">
                    No File
                  </a>
                {% endif %}
                <a href="{% url 'Talent:PublicationEdit' a.slug %}" class="badge badge-secondary" style="width: 4rem;">Edit</a>
                <form  action="{% url 'Talent:PublicationDelete' pub_i=a.id tlt=a.talent.alias %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger" style="width: 4rem;" onclick="return confirm('Remove {{ a.title }} - Are you sure?');">Remove</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>No publications captured.</p>
      {% endfor %}

    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body" id="History">
      <h5 class="card-title">Career History <a href="{% url 'Profile:History' %}" class="badge badge-primary float-right">Add</a></h5>
      <p class="card-text">
        {% if history %}
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-1 h-100 text-center my-auto">
              <strong>From</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>To</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Employer</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Designation</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>Work Configuration</strong>
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              <strong></strong>
            </div>
          </div>
        </div>
        {% for h in history %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-1 h-100 text-center my-auto">
                  {{ h.date_from }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {% if h.date_to %}
                    {{ h.date_to }}
                  {% else %}
                    Currently Works Here
                  {% endif %}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ h.companybranch }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ h.designation }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {{ h.work_configeration }}
                </div>
                <div class="col-md-1 h-100 text-left my-auto">
                  <a href="{% url 'Profile:HistoryEdit' bch=h.slug %}" class="badge badge-secondary" style="width:4.5rem;">
                    Edit
                  </a>
                  <form  action="{% url 'Profile:HistoryDelete' bch=h.slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger" style="width:4.5rem;" onclick="return confirm('Delete {{ h.companybranch }} - Are you sure?');">Delete</button>
                  </form>
                  {% if h.date_to %}

                  {% else %}
                    <br>
                    <a href="{% url 'Profile:Resigned' bch=h.slug tlt=h.talent.alias %}" class="badge badge-primary" style="width:4.5rem;">
                      I Resigned
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <p>No career history currently loaded.</p>
        {% endfor %}

      {% endif %}
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body">
      <h5 class="card-title" id="Upload">Upload Files <a href="{% url 'Profile:FileUploadView' %}" class="badge badge-primary float-right">Add File</a></h5>
      <p>
        Upload files such as your static cv, academic records, copies of passports, id documents or any other document you may want to keep here.
      </p>
      <p>
        (Only <strong>PDF</strong> files are allowed to be uploaded)
      </p>
      {% for f in upload %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-10 h-100 text-left my-auto">
                <a href="{{ f.file.url }}" target="_blank">{{ f.title }}</a>
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                <form  action="{% url 'Profile:FileDelete' f.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill float-right" onclick="return confirm('Delete {{ f.title }} - Are you sure?');">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>You do not have any files loaded yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="card-header">Identification</div>
<div class="card-group">
  <div class="card card-shadow">
    <div class="card-body">
      <h5 class="card-title">Identification Document <a href="{% url 'Profile:IdView' %}" class="badge badge-secondary float-right">Edit</a></h5>
      <p>Identification information is not required by the site at the moment. You do not need to capture this information if you don't want to.</p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>ID Number</strong>
          </div>
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>ID Type</strong>
          </div>
        </div>
      </div>
      {% for i in id %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ i.identification }}
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                {{ i.id_type }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>You do not have an identification document loaded yet.</p>
      {% endfor %}
    </div>
  </div>

    <div class="card card-shadow">
      <div class="card-body">
        <h5 class="card-title">Passport Information <a href="{% url 'Profile:PassportAddView' %}" class="badge badge-primary float-right">Add</a></h5>
        <p>Passport information is not required by the site at the moment. You do not need to capture this information if you don't want to.</p>
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Passport Number</strong>
            </div>
            <div class="col-md-4 h-100 text-center my-auto">
              <strong>Issuing Country</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Expiry Date</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong></strong>
            </div>
          </div>
        </div>
        {% for p in passport  %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ p.passport_number }}
                </div>
                <div class="col-md-4 h-100 text-center my-auto">
                  {{ p.get_issue_display }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ p.expiry_date|date:"j M Y" }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  <a href="{% url 'Profile:PassportEditView' psp=p.slug tlt=p.talent.alias %}" class="badge badge-secondary badge-pill" style="width: 4rem;">Edit</a>
                  <form  action="{% url 'Profile:PassportDelete' pk=p.id tlt=p.talent.alias %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill" style="width: 4rem;" onclick="return confirm('Remove passport {{ p.passport_number }} - Are you sure?');">Remove</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <p>You do not have any passports loaded.</p>
        {% endfor %}

      </div>
    </div>
  </div>
<br>
<div class="card-header">Contact Information</div>

  <div class="card-group">
    <div class="card card-shadow">
      <div class="container">
      <div class="row">
        <div class="col-4 col-no-pad">
          <div class="card">
            <div class="card-body">
              <div class="btn-group float-right">
                <div class="btn-group mr-2">
                  <a href="{% url 'Profile:PhysicalAddress' %}" class="badge badge-secondary">
                    Edit
                  </a>
                </div>
                <div class="btn-group mr-2">
                  <a href="{% url 'Profile:CopyPhyAdd' %}" class="badge badge-dark" data-toggle="tooltip" title="Copy Physical Address to Postal Address" onclick="return confirm('This will over write all information currently in your postal address - Are you sure?');">
                    Copy
                  </a>
                </div>
              </div>
              <h5 class="card-title">
                Physical Address
              </h5>

              <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <th>Line 1</th>
                    <td>{{ physical.line1 }}</td>
                  </tr>
                  <tr>
                    <th>Line 2</th>
                    <td>{{ physical.line2 }}</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td>{{ physical.get_country_display }}</td>
                  </tr>
                  <tr>
                    <th>Region</th>
                    <td>{{ physical.region.region }}</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td>{{ physical.city.city }}</td>
                  </tr>
                  <tr>
                    <th>Postal Code</th>
                    <td>{{ physical.code }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-4 col-no-pad">
    <div class="card">
      <div class="card-body">
        <div class="btn-group float-right">
          <div class="btn-group mr-2">
            <a href="{% url 'Profile:PostalAddress' %}" class="badge badge-secondary float-right">
              Edit
            </a>
          </div>
          <div class="btn-group mr-2">
            <a href="{% url 'Profile:CopyPhyAdd' %}" class="badge badge-dark" data-toggle="tooltip" title="Copy Physical Address" onclick="return confirm('This will over write all information currently in your postal address - Are you sure?');">
              Copy
            </a>
          </div>
        </div>
        <h5 class="card-title">
          Postal Address
        </h5>
        <table class="table table-sm">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th>Line 1</th>
              <td>{{ postal.line1 }}</td>
            </tr>
            <tr>
              <th>Line 2</th>
              <td>{{ postal.line2 }}</td>
            </tr>
            <tr>
              <th>Country</th>
              <td>{{ postal.get_country_display }}</td>
            </tr>
            <tr>
              <th>Region</th>
              <td>{{ postal.region.region }}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{ postal.city.city }}</td>
            </tr>
            <tr>
              <th>Postal Code</th>
              <td>{{ postal.code }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <div class="col-4 col-no-pad">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Phone Numbers <a href="{% url 'Profile:PhoneNumberAdd' %}" class="badge badge-primary float-right">Add</a></h5>
        <div id="phone">
          <table class="table table-sm">
            <col width="20%">
            <col width="40%">
            <col width="20%">
            <thead>
              <tr>
                <th>Type</th>
                <th>Number</th>
              </tr>
            </thead>
            {% for phone in pnumbers %}
            <tbody>
              <tr>
                <td>{{ phone.type }}</td>
                <td>{{ phone.number }}</td>
                <td>
                  <form  action="{% url 'Profile:PhoneDelete' phone.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill" onclick="return confirm('Remove {{ phone.number }} - Are you sure?');">Remove</button>
                  </form>
                </td>
              </tr>
              {% empty %}
                <p>No Phone numbers entered.</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <br>
    <div class="card-group">
      <div class="card card-shadow">
        <div class="card-body">
          <div class="btn-group float-right">
            <div class="btn-group mr-2">
              <a href="{% url 'Profile:WTR' %}" class="badge badge-secondary">
                Add Country
              </a>
            </div>
            <div class="btn-group mr-2">

            </div>
          </div>
          <h5 class="card-title" id="WTR">
            Willingness to Relocate
          </h5>
          <small>
            Note:<br>
            Relocation applies to positions that require you to physically be at a location other than your current location, and is too far away to commute. Relocation does not apply to vacancies that can be completed remotely, or where a short business trip can be made.
          </small>
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="text-center">to Country</th>
                <th class="text-center">Documents to Legally Work in Country</th>
                <th class="text-left">Actions</th>
              </tr>
            </thead>
            {% for wtr in relocate %}
            <tbody>
              <tr>
                <td class="align-middle text-center">{{ wtr.country.name }}</td>
                <td class="align-middle text-center">
                  {% if wtr.documents == True %}
                    I have all required documents and permits to legally work in {{ wtr.country.name }}.
                  {% else %}
                    I do not have all required documents or permits to work in {{ wtr.country.name }}.
                  {% endif %}
                </td>
                <td class="align-middle text-center">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <form  action="{% url 'Profile:NotWTR' wtr.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-danger badge-pill" onclick="return confirm('I am NO LONGER willing to relocate to {{  wtr.country.name}}');" data-toggle="tooltip" title="I am NO LONGER willing to relocate to {{  wtr.country.name }}">
                          <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size:20px;"></i>
                        </button>
                      </form>
                    </div>
                  {% if wtr.documents == False %}
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <form  action="{% url 'Profile:WTRDoc' wtr.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-success badge-pill" name="yes" onclick="return confirm('I confirm no longer have the required permits, visas and all other documents required to be employed in {{ wtr.country.name }}');" data-toggle="tooltip" title="Change document status to 'I do have the required documents'">
                          <i class="fa fa-toggle-on" aria-hidden="true" style="font-size:20px;"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  {% elif wtr.documents == True %}
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <form  action="{% url 'Profile:WTRDoc' wtr.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-danger badge-pill" name="no" onclick="return confirm('I confirm that I have all required permits, visas and all other documents required to be employed in {{ wtr.country.name }}');" data-toggle="tooltip" title="Change document status to 'I no longer have the required documents'">
                          <i class="fa fa-toggle-off" aria-hidden="true" style="font-size:20px;"></i>
                        </button>
                      </form>
                    </div>
                  {% endif %}
                </div>
                </td>
              </tr>
            {% empty %}
              <tr class="align-middle text-center">
                <td colspan="2">
                  No locations other than your local area selected for seeking vacancies.
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card card-shadow">
      <div class="card-body">
        <h3>End of Profile</h3>
        <div class="card-body">
          <a href="{% url 'Talent:Home' %}" class="btn btn-primary float-right">
            Next: Experience
          </a>
          <p>
            Now that you have completed your profile - begin capturing your experience!
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
