{% extends 'base_home.html' %}

{% block title %}My {{block.super}} Profile{% endblock title %}


{% block network %}
Summary information relating to the user's network. Number of people on each level and commission due at the next pay run.
{% endblock network %}

{% block workflow %}
Activities in the user's workflow.
{% endblock workflow %}

{% block score %}
The user's score and how many people have scored them.
{% endblock score %}

{% block TBA %}
Block TBA
{% endblock TBA %}

{% block Center_Content %}
<p>This is the WeXlog Profile Page!!! Are we Sure?</p>
{% endblock Center_Content %}
