{% extends 'base_home.html' %}

{% block title %}My {{block.super}} Profile View{% endblock title %}


{% block content %}
<div class="card-header">
  <a href="{% url 'Talent:APV' tlt=user_info.alias vac='1ad9t2' %}" target="_blank" class="btn btn-success float-right">View Your Public Profile</a>
  <h5>Review Your Profile</h5>
</div>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        {% for d in info %}
          <h5 class="card-title">Basic Information <a href="{% url 'Profile:ProfileEdit' d.alias %}?next={{ request.path|urlencode }}" class="badge badge-secondary float-right">Edit</a></h5>
          <p class="card-text">Name: {{ user_info.first_name }} {{ user_info.last_name }}</p>
          <p class="card-text">Display name: {{ user_info.alias }}</p>
          <p class="card-text">Date of Birth: {{ d.birth_date }}</p>
          <p class="card-text">Profile email: {{ request.user.email }}</p>
          <p class="card-text">Standard Rate (per hour): {{ d.currency }} {{ d.std_rate }}</p>
          <p class="card-text">Do you wish to be a mentor to others? {{ d.get_mentor_display }}</p>
        <div class="card-footer bg-transparent border-success"></div>
          <h5 class="card-title">Online Profiles <a href="{% url 'Profile:OnlineProfileAdd' request.user.alias %}" class="badge badge-primary float-right">Add</a></h5>
          <table class="table table-sm" id="online">
            <thead>
              <tr>
                <th width="30%">Site</th>
                <th>Address</th>
              </tr>
            </thead>
            {% for s in online %}
            <tbody>
              <tr>
                <td>{{ s.sitename }}</td>
                <td><a href="{{ s.profileurl }}">{{ s.profileurl }}</a></td>
                <td>
                  <form  action="{% url 'Profile:OnlineDelete' pk=s.id tlt=s.talent.alias %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill">Remove</button>
                  </form>
                </td>
              </tr>
              {% empty %}
                <p>No Profiles listed.</p>
              {% endfor %}
            </tbody>
          </table>

          <div class="card-footer bg-transparent border-success"></div>
          <h5 class="card-title">Languages <a href="{% url 'Profile:LanguageAdd' request.user.alias %}" class="badge badge-primary float-right">Add</a></h5>
          <table class="table table-sm" id="language">
            <col width="35%">
            <col width="30%">
            <col width="35%">
            <thead>
              <tr>
                <th class="align-middle text-center">Language</th>
                <th class="align-middle text-center">Level</th>
                <th></th>
              </tr>
            </thead>
            {% for l in speak %}
            <tbody>
              <tr>
                <td class="align-middle text-center">{{ l.language }}</td>
                <td class="align-middle text-center">{{ l.get_level_display }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Profile:LanguageEdit' tlt=request.user.alias lang=l.slug %}" class="badge badge-secondary badge-pill" style="width: 5rem;">Edit</a>
                  <form  action="{% url 'Profile:LanguageDelete' lang_id=l.id tlt=l.talent.alias %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
                  </form>
                </td>
              </tr>
              {% empty %}
                <p>No Languages listed.</p>
              {% endfor %}
            </tbody>
          </table>

      </div>
    </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" id="email">Email addresses <a href="{% url 'Profile:EmailEdit' d.alias %}?next={{ request.path|urlencode }}" class="badge badge-primary float-right">Add</a></h5>
      <h6>Past (No longer active)</h6>
      {% for e in email %}
      {% if e.active is False %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ e.email }}
          <span>
            <a href="{% url 'Profile:EmailStatus' tlt=e.talent.alias eml=e.slug %}" class="badge badge-primary badge-pill">Change Status</a>
            <form  action="{% url 'Profile:EmailDelete' pk=e.id tlt=e.talent.alias %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill">Remove</button>
            </form>
          </span>
        </li>
      </ul>
      {% endif %}
      {% endfor %}
      <h6>Current (Monitored)</h6>
      {% for e in email %}
      {% if e.active is True %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ e.email }}
          <span>
            <a href="{% url 'Profile:EmailStatus' tlt=e.talent.alias eml=e.slug %}" class="badge badge-primary badge-pill">Change Status</a>
            <form  action="{% url 'Profile:EmailDelete' pk=e.id tlt=e.talent.alias %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill">Remove</button>
            </form>
          </span>
        </li>
      </ul>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Background</h5>
      <p class="card-text text-justify">
        {{ d.background|linebreaks }}</p>
      <br>
      <h5 class="card-title">Motivation:</h5>
      <p class="card-text text-justify">
        {{ d.motivation|linebreaks }}</p>
    </div>
  </div>
</div>
{% endfor %}
<br>
<div class="card-group" id="memberships">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" >Licenses, Certifications and Memberships <a href="{% url 'Talent:LCMCap'  %}?next={{ request.path|urlencode }}" class="badge badge-primary float-right">Add</a></h5>
      <table class="table table-sm">
        <col width="8%">
        <col width="8%">
        <col width="30%">
        <col width="20%">
        <col width="14%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <thead>
          <tr>
            <th class="align-middle text-center">Type</th>
            <th class="align-middle text-center">Registered Number</th>
            <th class="align-middle text-center">Managing Organisation</th>
            <th class="align-middle text-center">Country</th>
            <th class="align-middle text-center">Region / State</th>
            <th class="align-middle text-center">Date First Issued</th>
            <th class="align-middle text-center">Exipry Date</th>
            <th class="align-middle text-center">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for lcm in lcm_qs %}
          <tr>
            <td class="align-middle text-center">{{ lcm.certification }}</td>
            <td class="align-middle text-center">{{ lcm.cm_no }}</td>
            <td class="align-middle text-center">{{ lcm.companybranch }}</td>
            <td class="align-middle text-center">{{ lcm.country.name }}</td>
            <td class="align-middle text-center">{{ lcm.region }}</td>
            <td class="align-middle text-center">{{ lcm.issue_date|date:"j M Y" }}</td>
            {% if lcm.expiry_date %}
              <td class="align-middle text-center">{{ lcm.expiry_date|date:"j M Y" }}</td>
            {% else %}
              <td class="align-middle text-center">None</td>
            {% endif %}
            {% if lcm.current == True %}
              <td class="align-middle text-center">Valid</td>
            {% else %}
              <td class="align-middle text-center">Expired</td>
            {% endif %}
            <td class="card-text text-justify">
              <a href="{% url 'Talent:LCMEdit' lcm.slug %}" class="badge badge-secondary" style="width: 4rem;">Edit</a>
              <form  action="{% url 'Talent:LCMDelete' pk=lcm.id tlt=lcm.talent.alias %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-danger" style="width: 4rem;">Remove</button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">None captured.</td>
            <td><a href="{% url 'Talent:LCMCap'  %}?next={{ request.path|urlencode }}" class="badge badge-primary float-right">Add License, Certification or Membership</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <div class="card-body" >
      <h5 class="card-title" id="achievements">Achievements<a href="{% url 'Talent:AchieveCap' %}" class="badge badge-primary float-right">Add</a></h5>
      <table class="table table-sm">
        <col width="30%">
        <col width="10%">
        <col width="55%">
        <col width="5%">
        <thead>
          <tr>
            <th class="align-middle text-center">Achievement</th>
            <th class="align-middle text-center">Date Achieved</th>
            <th class="align-middle text-left">Details</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for a in achievement %}
          <tr>
            <td class="align-middle text-left">{{ a.achievement }}</td>
            <td class="align-middle text-center">{{ a.date_achieved|date:"j M Y" }}</td>
            <td class="align-middle text-left">{{ a.description|linebreaks|truncatechars:190 }}</td>
            <td class="align-middle text-justify">
              <a href="{% url 'Talent:AchieveEdit' a.slug %}" class="badge badge-secondary" style="width: 4rem;">Edit</a>
              <form  action="{% url 'Talent:AchieveDelete' ach_i=a.id tlt=a.talent.alias %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-danger" style="width: 4rem;">Remove</button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">No achievements captured.</td>
            <td><a href="{% url 'Talent:AchieveCap' %}" class="badge badge-primary float-right">Add an Achievement</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <div class="card-body" id="History">
      <h5 class="card-title">Career History <a href="{% url 'Profile:History' %}" class="badge badge-primary float-right">Add</a></h5>
      <p class="card-text">
        {% if history %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Employer</th>
              <th>Designation</th>
              <th>Work Configeration</th>
            </tr>
          </thead>
          <tbody>
            {% for h in history %}
            <tr>
              <td>{{ h.date_from }}</td>
              {% if h.date_to %}
                <td>{{ h.date_to }}</td>
              {% else %}
                <td>Currently Works Here</td>
              {% endif %}
              <td>{{ h.companybranch }}</td>
              <td>{{ h.designation }}</td>
              <td>{{ h.work_configeration }}</td>
              {% if h.date_to %}

              {% else %}
                <td><a href="{% url 'Profile:Resigned' bch=h.slug tlt=h.talent.alias %}" class="badge badge-primary">I Resigned</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Uploaded Files <a href="{% url 'Profile:FileUploadView' %}" class="badge badge-primary float-right">Add File</a></h5>
      <table class="table table-sm">
        <thead>
        </thead>
        {% for f in upload %}
        <tbody>
          <tr>
            <td><a href="{{ f.file.url }}" target="_blank">{{ f.title }}</a></td>
            <td>
              <form  action="{% url 'Profile:FileDelete' f.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-danger badge-pill">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="card-header">Identification</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Identification Document <a href="{% url 'Profile:IdView' %}" class="badge badge-secondary float-right">Edit</a></h5>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>ID Number</th>
            <th>ID Type</th>
          </tr>
        </thead>
        <tbody>
          {% for i in id %}
          <tr>
            <td>{{ i.identification }}</td>
            <td>{{ i.id_type }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Passport Information <a href="{% url 'Profile:PassportAddView' %}" class="badge badge-primary float-right">Add</a></h5>
        <table class="table table-sm" id="passport">
        <thead>
          <tr>
            <th class="align-middle text-center">Passport Number</th>
            <th class="align-middle text-center">Issuing Country</th>
            <th class="align-middle text-center">Expiry Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in passport  %}
          <tr>
            <td class="align-middle text-center">{{ p.passport_number }}</td>
            <td class="align-middle text-center">{{ p.get_issue_display }}</td>
            <td class="align-middle text-center">{{ p.expiry_date }}</td>
            <td class="align-middle text-center">
                <a href="{% url 'Profile:PassportEditView' psp=p.slug tlt=p.talent.alias %}" class="badge badge-secondary badge-pill" style="width: 4rem;">Edit</a>
                <form  action="{% url 'Profile:PassportDelete' pk=p.id tlt=p.talent.alias %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill" style="width: 4rem;">Remove</button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
<br>
<div class="card-header">Contact Information</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">

      <h5 class="card-title">Physical Address <a href="{% url 'Profile:PhysicalAddress' %}" class="badge badge-secondary float-right">Edit</a></h5>
      <table class="table table-sm">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>Line 1</th>
            <td>{{ physical.line1 }}</td>
          </tr>
          <tr>
            <th>Line 2</th>
            <td>{{ physical.line2 }}</td>
          </tr>
          <tr>
            <th>Line 3</th>
            <td>{{ physical.line3 }}</td>
          </tr>
          <tr>
            <th>Country</th>
            <td>{{ physical.get_country_display }}</td>
          </tr>
          <tr>
            <th>Region</th>
            <td>{{ physical.region.region }}</td>
          </tr>
          <tr>
            <th>City</th>
            <td>{{ physical.city.city }}</td>
          </tr>
          <tr>
            <th>Suburb</th>
            <td>{{ physical.suburb.suburb }}</td>
          </tr>
          <tr>
            <th>Postal Code</th>
            <td>{{ physical.code }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Postal Address <a href="{% url 'Profile:PostalAddress' %}" class="badge badge-secondary float-right">Edit</a></h5>
      <table class="table table-sm">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>Line 1</th>
            <td>{{ postal.line1 }}</td>
          </tr>
          <tr>
            <th>Line 2</th>
            <td>{{ postal.line2 }}</td>
          </tr>
          <tr>
            <th>Line 3</th>
            <td>{{ postal.line3 }}</td>
          </tr>
          <tr>
            <th>Country</th>
            <td>{{ postal.get_country_display }}</td>
          </tr>
          <tr>
            <th>Region</th>
            <td>{{ postal.region.region }}</td>
          </tr>
          <tr>
            <th>City</th>
            <td>{{ postal.city.city }}</td>
          </tr>
          <tr>
            <th>Suburb</th>
            <td>{{ postal.suburb.suburb }}</td>
          </tr>
          <tr>
            <th>Postal Code</th>
            <td>{{ postal.code }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Phone Numbers <a href="{% url 'Profile:PhoneNumberAdd' %}" class="badge badge-primary float-right">Add</a></h5>
      <div id="phone">
        <table class="table table-sm">
          <col width="20%">
          <col width="40%">
          <col width="20%">
          <thead>
            <tr>
              <th>Type</th>
              <th>Number</th>
            </tr>
          </thead>
          {% for phone in pnumbers %}
          <tbody>
            <tr>
              <td>{{ phone.type }}</td>
              <td>{{ phone.number }}</td>
              <td>
                <form  action="{% url 'Profile:PhoneDelete' phone.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill">Remove</button>
                </form>
              </td>
            </tr>
            {% empty %}
            <p>No Phone numbers entered.</p>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
