{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Office{% endblock title %}

{% block content %}

<div class="card card-shadow" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Back</button>
    </form>
    </div>
    <h4 class="card-title">My Office</h4>
    <br>
    <div class="container">
      <div class="row my-auto">
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Vacancy<br>Ref No.</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Assigned to</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Task Complete (Talent)</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Task Complete<br>(Me)</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Pay Rate</strong>
        </div>
        <div class="col-1 h-100 text-center my-auto">
          <strong>Due Date</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    <br>
    <div class="row my-auto">
      <p><strong>Open Assignments</strong></p>
    </div>
    {% for o in wit_qsao %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ o.work.title|truncatechars:37 }}<br>{{ o.work.ref_no }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.talent.alias }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_tlt == False %}
                Incomplete
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_emp == False %}
                  Incomplete<br>
                  <a href="{% url 'Profile:EmpMarkComp' o.slug %}" data-toggle="tooltip" title="Mark Complete"><i class="fa fa-check-square-o" aria-hidden="true" style="font-size:24px;color:green !important"></i></a>
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.currency }}<br>{{ o.rate_offered|intcomma }}<br> {{ o.get_rate_unit_display }}
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ o.date_deliverable|date:"j M Y" }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'Profile:ContactDetail' vac=o.work.ref_no tlt=o.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Contact Detail"><i class="fa fa-tty" aria-hidden="true" style="font-size:24px;color:black"></i></a>&nbsp
              <a href="{% url 'MarketPlace:VacancyDetail' o.work.ref_no %}?next={{ request.path|urlencode }}" class="" data-toggle="tooltip" title="See Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:black"></i></a>&nbsp
              {% if o.emp_rated == False %}
                <a href="{% url 'Profile:EmpRatePerformance' o.slug %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Rating View"><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:24px;color:black"></i></a>
              {% else %}
                <a href="{% url 'Profile:EmpRateView' o.slug %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Rating View"><i class="fa fa-star" aria-hidden="true" style="font-size:24px;color:black"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No open assignments.</p>
    {% endfor %}
    <br>
    <div class="row my-auto">
      <p><strong>Pending Assignments</strong></p>
    </div>
    {% for o in wit_qsp %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ o.work.title|truncatechars:37 }}<br>{{ o.work.ref_no }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.talent.alias }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_tlt == False %}
                  {% if o.tlt_response == 'C' %}
                    Query
                    <br>
                    <a href="{% url 'MarketPlace:RFIView' o.slug %}?next={{ request.path|urlencode }}" class=""><i class="fa fa-puzzle-piece" aria-hidden="true" style="font-size:24px;color:black" data-toggle="tooltip" title="Additional information requested"></i></a>
                  {% elif o.tlt_response == 'P' %}
                    Pending
                    <br>
                    <a href="#" class=""><i class="fa fa-spinner" aria-hidden="true" style="font-size:24px;color:green !important" data-toggle="tooltip" title="Response Pending"></i></a>
                  {% endif %}
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_emp == False %}
                Incomplete
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.currency }}<br>{{ o.rate_offered|intcomma }}<br> {{ o.get_rate_unit_display }}
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ o.date_deliverable|date:"j M Y" }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'Profile:ContactDetail' vac=o.work.ref_no tlt=o.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Contact Detail"><i class="fa fa-tty" aria-hidden="true" style="font-size:24px;color:black"></i></a>&nbsp
              <a href="{% url 'MarketPlace:VacancyDetail' o.work.ref_no %}?next={{ request.path|urlencode }}" class="" data-toggle="tooltip" title="See Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:black"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No pending assignments.</p>
    {% endfor %}
    <br>
    <div class="row my-auto">
      <p><strong>Completed Assignments</strong></p>
    </div>
    {% for o in wit_qsac %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ o.work.title|truncatechars:37 }}<br>{{ o.work.ref_no }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.talent.alias }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_tlt == False %}
                Incomplete
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if o.assignment_complete_emp == False %}
                Incomplete
              {% else %}
                Complete
              {% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ o.currency }}<br>{{ o.rate_offered|intcomma }}<br> {{ o.get_rate_unit_display }}
            </div>
            <div class="col-1 h-100 text-center my-auto">
              {{ o.date_deliverable|date:"j M Y" }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'Profile:ContactDetail' vac=o.work.ref_no tlt=o.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Contact Detail"><i class="fa fa-tty" aria-hidden="true" style="font-size:24px;color:black"></i></a>&nbsp
              <a href="{% url 'MarketPlace:VacancyDetail' o.work.ref_no %}?next={{ request.path|urlencode }}" class="" data-toggle="tooltip" title="See Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:black"></i></a>&nbsp
              {% if o.emp_rated == False %}
                <a href="{% url 'Profile:EmpRatePerformance' o.slug %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Rating View"><i class="fa fa-star-half-o" aria-hidden="true" style="font-size:24px;color:black"></i></a>
              {% else %}
                <a href="{% url 'Profile:EmpRateView' o.slug %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Rating View"><i class="fa fa-star" aria-hidden="true" style="font-size:24px;color:black"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No completed assignments.</p>
    {% endfor %}

  </div>
</div>
{% endblock content %}
