{% extends "base_home.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-New Book{% endblock title %}

{% block content %}

<div class="card border-0">
<div class="card-body">
  <h4 class="card-title">

Add a New Book<span><p class="float-right">
<a href="{% url 'BookList:HelpAddBook' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
<i class="fa fa-question-circle"></i></a>
</p></span></h4>

<script type="text/javascript">

function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=350,width=600,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

</script>

<div class="card-body">

<form class="" action="" method="POST" novalidate>

  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
  {{ form.title|as_crispy_field }}
  {{ form.type|as_crispy_field }}
  {{ form.publisher|as_crispy_field }}
    <a href="{% url 'BookList:PublisherCreatePopup' %}" id='add_publisher' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}"> Add a new Publisher</a>
  {{ form.author|as_crispy_field }}
    <a href="{% url 'BookList:AuthorCreatePopup' %}" id='add_author' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}"> Add a new Author</a><br>
  </div>
  <div class="form-group col-md-6 mb-0">
  {{ form.genre|as_crispy_field }}
  <a href="{% url 'BookList:GenreCreatePopup' %}" id='add_tag' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}"> Add a Genre</a>
  {{ form.link|as_crispy_field }}
  {{ form.tag|as_crispy_field }}
  <a href="{% url 'BookList:TagCreatePopup' %}" id='add_tag' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}"> Add a new Skill Tag</a>
</div>
<br><p>
  <a href="{% url 'BookList:BookListHome' %}" class="btn btn-danger">Cancel</a>
  <button type="submit" class="btn btn-primary" name="button">Save</button>

</form>
</div>
</div>
</div>
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
