{% extends "base_home.html" %}

{% block content %}
  <div class="content-section">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Books Read List</h5>
      </div>
      <div class="card-body">
      <ul>
        {% for item in list %}
            <li>{{ item.date }} - {{ item.book }} - {{ item.type }} - {{ item.link }}

            </li>
        {% empty %}
            <li>No books yet.</li>
        {% endfor %}
      </ul>
      </div>
        <p></p>
        <p> </p>
        <div class="card-header">
        <h5 class="card-title">Create New Items</h5>
        </div>
        <div class="card-body">
          <ol>
            <li>Add a new book to your books read listing: <a href="{% url 'BookList:books-read-new' %}">Add New Book</a></li>
            <li>Create a new book: <a href="{% url 'BookList:books-new' %}">Create New Book</a></li>
            <li>View all books by skill: <a href="{% url 'BookList:books-list' %}">Open Book List</a></li>
            <li>Search all books: <a href="{% url 'BookList:book-search' %}">Search</a></li>
          </ol>
        </div>
      </div>
    </div>
{% endblock content %}
