{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
<div class="container">
  {% if query %}
    <h4>Books for search "{{ query }}"<span><p class="float-right">
    <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>
</div>
</div>
<div class="container">
{% if request.user.is_authenticated %}
<p><a href="{% url 'BookList:books-new' %}" class="badge badge-pill badge-primary">Add Book</a>
  <a href="{% url 'BookList:books-list' %}" class="badge badge-pill badge-primary">View All Book</a>
  <a href="{% url 'BookList:book-search' %}" class="badge badge-pill badge-primary">Search All Books</a>
  <a href="{% url 'BookList:BookListHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
{% endif %}
</div>
<div class="card-body">
    <h5 class="card-title">
      {% with count as total_results %}
        Found {{ total_results|intcomma }} result{{ total_results|pluralize }}
      {% endwith %}
    </h5>
    {% for BookList in results %}

    <table class="table table-hover table-sm">
      <col width="30%">
      <col width="15%">
      <col width="20%">
      <thead>
        <tr height="1px">
          <th height="1px">Title</th>
          <th height="1px">Publisher</th>
          <th height="1px"></th>
        </tr>
      </thead>
      <tbody>
        <tr onclick="window.location='{% url 'BookList:BookDetail' BookList.slug %}?next={{ request.path|urlencode }}'">
          <td>{{ BookList.title }}</td>
          <td>{{ BookList.publisher }}</td>
          <td><a href="{% url 'BookList:BookDetail' BookList.id %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 5rem;">Book Detail</a> </td>
        </tr>
      </tbody>

<!--      <h5 class="card-title">><a href="{{ BookList.link }}">{{BookList.title }}</a></h5>
      <p class="card-text">
      {{ BookList.author }} - {{ BookList.publisher }} - {{ BookList.tag }} -->
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}

</table>
    <p> </p>
    <p><a href="{% url "BookList:book-search" %}" class="btn btn-primary">Search Again</a></p>
  {% else %}

    <h4>Search for Books<span><p class="float-right">
    <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">
    <form action="." method="get">
        {{ form.as_p }}
        <a href="{% url 'BookList:BookListHome' %}" class="btn btn-danger">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    {% endif %}
    </div>
    </div>
</div>
{% endblock content %}
