{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
<div class="">
  {% if query %}
    <h3>Books for search "{{ query }}"<span><p class="float-right">
    <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h3>
</div>
</div>
<div class="container">
{% if request.user.is_authenticated %}
<p><a href="{% url 'BookList:books-new' %}" class="badge badge-pill badge-primary">Add Book</a>
  <a href="{% url 'BookList:books-list' %}" class="badge badge-pill badge-primary">View all Book</a>
  <a href="{% url 'BookList:book-search' %}" class="badge badge-pill badge-primary">Search all Books</a>
  <a href="{% url 'BookList:BookListHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
{% endif %}
</div>
<div class="card-body">
    <h5 class="card-title">
      {% with count as total_results %}
        Found {{ total_results|intcomma }} result{{ total_results|pluralize }}
      {% endwith %}
    </h5>
    <div class="container">
      <div class="row my-auto">
        <div class="col-md-5 h-100 text-center my-auto">
          <strong>Book Title</strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Publisher</strong>
        </div>
        <div class="col-md-4 h-100 text-center my-auto">
          <strong></strong>
        </div>
      </div>
    </div>
    {% for BookList in results %}
    <div class="container">
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-5 h-100 text-center my-auto">
              {{ BookList.title }}
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ BookList.publisher }}
            </div>
            <div class="col-md-4 h-100 text-center my-auto">
              <a href="{% url 'BookList:BookDetail' BookList.id %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 7rem;">
                Book Detail
              </a><br>
              {% if BookList.id in b_read %}
                <button class="badge badge-success" style="width: 7rem;">
                  Read
                </button>
              {% else %}
                <a href="{% url 'BookList:BookAddList' BookList.slug %}?next={{ request.path|urlencode }}" class="badge badge-primary" style="width: 7rem;">
                  Mark as Read
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% empty %}
      <p>You do not have any bookes read listed.</p>
    {% endfor %}

    <p> </p>
    <p><a href="{% url "BookList:book-search" %}" class="btn btn-primary">Search Again</a></p>
  {% else %}

    <h4>Search for Books<span><p class="float-right">
    <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="popover" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">
    <form action="." method="get">
        {{ form.as_p }}
        <a href="{% url 'BookList:BookListHome' %}" class="btn btn-danger">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    {% endif %}
    </div>
    </div>
</div>
{% endblock content %}
