{% extends "base_home.html" %}
{% load humanize %}

{% block content %}
  <div class="content-section">
  <div class="card border-0">
    <div class="card-body">
  <h4 class="">Books List<span><p class="float-right">
  <a href="{% url 'BookList:HelpBooklist' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
  <i class="icon icon-question-circle"></i></a>
  </p></span></h4>

  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p>There are currently {{ bcount.sum_b|intcomma }} books listed in WexLog!</p>
    <p><a href="{% url 'BookList:AddBook' %}" class="badge badge-pill badge-primary">Add Book</a>
      <a href="{% url 'BookList:BookListHome' %}" class="badge badge-pill badge-primary">View Books Read</a>
      <a href="{% url 'BookList:book-search' %}" class="badge badge-pill badge-primary">Search All Books</a>
      <a href="{% url 'BookList:BookListHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
    {% endif %}
          <table class="table table-hover table-sm">
          <col width="30%">
          <col width="15%">
          <col width="20%">
          <col width="25%">
          <col width="10%">
          <thead>
            <tr height="1px">
              <th height="1px">Title</th>
              <th height="1px">Publisher</th>
              <th height="1px"></th>
              <th height="1px"></th>
              <th height="1px"></th>
            </tr>
          </thead>
            {% for item in pageitems %}
          <tbody>
            <tr onclick="window.location='{% url 'BookList:BookDetail' item.slug %}?next={{ request.path|urlencode }}'">
              <td>{{ item.title }}</td>
              <td>{{ item.publisher }}</td>
              <td></td>
              <td><a href="{% url 'BookList:BookDetail' item.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 5rem;">Book Detail</a> </td>
            </tr>
        {% empty %}
            <td>No books yet.</td>
        {% endfor %}
          </table>
          <p>&nbsp</p>

          <nav aria-label="Page navigation">
              {% if pageitems.has_other_pages %}
                <ul class="pagination">
                  {% if pageitems.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                        <span class="sr-only disabled">Previous</span>
                      </a></li>
                  {% else %}
                    <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
                  {% endif %}

                  {% if pageitems.number|add:'-4' > 1 %}
                    <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %}

                  {% for i in pageitems.paginator.page_range %}
                    {% if pageitems.number == i %}
                      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                      <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}

                  {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                    <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
                  {% endif %}

                  {% if pageitems.has_next %}
                    <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
                  {% else %}
                    <li class="page-link disabled"><span>Next</span></li>
                  {% endif %}
                </ul>
              {% endif %}
          </nav>
      </div>
    </div>
  </div>
{% endblock content %}
