{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Booklist Home Page - Help</h3>
    <p>&nbsp</p>
    <p>This page displays a list of the books that you have captured as having read.</p>
    <p>The books are listed in order of having been read and displayed with the
      book name (publisher), the book type and the date read. This information is
      displayed in your public profile under the heading of Books Read. The profile
      will also list the Total Books Read: displaying them by Title, Publisher,	Author(s)
      Format and Date Completed. If you have not captured any books it will state
      "No books listed".</p>
    <p>You have the option to:</p>
      <ul>
        <li><a href="#" class="badge badge-pill badge-primary">Add Book</a> - Button will allows
          you to capture a new book read requiring the Book to be selected from the drop down
          list, Book Format and Date that you finished reading the book.</li>
        <li><a href="#" class="badge badge-pill badge-primary">View All Books</a> - Button will display a paginated listing in alphabetical order of all the books that have been captured into the MyWeXlog system.</li>
          <li><a href="#" class="badge badge-pill badge-primary">Search All Books</a> - Button will allow you to search the books captured in the MyWeXlog system. The search function all you to search based on the title, skills, author and publisher.</li>
        <li><a href="#" class="badge badge-pill badge-primary">Book Detail</a> - will open the detail page for the book with Title, Type, Publisher, Author(s), Skills and url.</li>
      </ul>
</div>
{% endblock content %}
{% block Script %}

{% endblock Script %}
