{% extends "base_email.html" %}
{% load pinax_referrals_tags %}
{% load humanize %}
{% load i18n %}
{% load account %}
{% user_display user as user_display %}

{% load static %}

{% block heading %}Registration Confirmation{% endblock heading %}
{% block content %}

<p>{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }},</p>

<p>You're receiving this e-mail because your email address was used for registration on the MyWeXlog.com site, and we are confirming that the email exists and that you have authorised this to connect to your account.</p>

<p>To confirm this is correct, please click on the below link or copy and paste it into your browser address bar:</p>
<p>{{ activate_url }}</p>
<p>Please add this email address to your contacts list to ensure that you will receive the balance of emails from MyWeXlog.</p>
<p>In the event that you are receiving this email in error and you did not register with MyWeXlog please contact the web master team at info@mywexlog.com.</p>
{% endblocktrans %}{% endautoescape %}
<p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you and welcome from {{ site_name }}!
<br>{{ site_domain }}{% endblocktrans %}</p>


{% endblock content %}
