
{% extends "base_email.html" %}
{% load pinax_referrals_tags %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!</p>

<p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
<p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}</p>

<p>{{ password_reset_url }}</p>

<p>{% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}</p>
<br>
<p>{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!</p>
<p>{{ site_domain }}{% endblocktrans %}</p>

{% endblock content %}
