{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Reminder Subscription Downgraded to Free Version{% endblock heading %}
{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>A friendly reminder that your subscription to <a href="www.mywexlog.com">MyWeXlog</a> has expired and will need to be renewed for you to enjoy the full bennefits that MyWeXlog can offer.</p>
    <p>This means that you will still be able to access and login to your profile to capture experience and validate others experience but some of the features available to eithr 'Passive' or 'Active' members will no longer be available.</p>
    <p>Please click <a href="www.mywexlog.com">here</a> to log in and re-new your subscription.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <br>
    <p>- MyWeXlog Team</p>

{% endblock content %}
