{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Reminder Subscription Renewel{% endblock heading %}
{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>A friendly reminder that your subscription to <a href="www.mywexlog.com">MyWeXlog</a> has
      been cancelled and will need to be renewed for you to enjoy the full bennefits that MyWeXlog
      can offer.</p>
      <p>Please click <a href="www.mywexlog.com">here</a> to log in and resubscribe.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <br>
    <p>- MyWeXlog Team</p>

{% endblock content %}
