{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Subscription Amount Differs{% endblock heading %}
{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>The amount that you paid with PayPal differs to the subscription with <a href="www.mywexlog.com">MyWeXlog</a>
      .  Please re-check your PayPal payments details and redo the transaction.</p>
      <p>Please click <a href="www.mywexlog.com">here</a> to log in and resubscribe.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <p>&nbsp</p>
    <p>- MyWeXlog Team</p>
    <p>&nbsp</p>

{% enblock content %}
