{% extends "base_email.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>We would like to welcome to <a href="www.mywexlog.com">WeLog</a> and to thank you for subscribing.
      Please make use of and to enjoy the full bennefits that WexLog can offer.</p>
      <p>Please click <a href="www.mywexlog.com">here</a> to log to start enjoying the bennefits.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <p>&nbsp</p>
    <p>- MyWexLog Team</p>

{% endblock content %}
