{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Subscription Sign-up{% endblock heading %}
{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>We would like to welcome to <a href="www.mywexlog.com">MyWeXlog</a> and to thank you for subscribing.
      Please make use of and enjoy the full bennefits that MyWeXlog can offer.</p>
      <p>Please click <a href="www.mywexlog.com">here</a> to log-in to start enjoying the bennefits.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <br>
    <p>- MyWeXlog Team</p>

{% endblock content %}
