{% extends "base_email.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>The amount that you paid with PayPal differs to the subscription with <a href="www.wexlog.io">WeLog</a>
      .  Please recheck your PayPal payments details and redo the transaction.</p>
      <p>Please click <a href="www.wexlog.io">here</a> to log in and resubscribe.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <p>&nbsp</p>
    <p>- WexLog Team</p>
    <p>&nbsp</p>

{% enblock content %}
