{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Reminder to delete old subscription{% endblock heading %}
{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>We would like to thank you for upgrading your MyWeXlog account to an Active account.</p>
    <p>This will allow you to now:</p>
    <ul>
      <li>View full vacancy details</li>
      <li>Apply for vacancies</li>
      <li>Can post vacancies<li>
    </ul>
    <p>A friendly reminder that you have upgraded your subscription to an active
      subscription with <a href="www.mywexlog.com">MyWeXlog</a> and that you will still
      need to log-in to your PayPal account to delete the old passive subscription.</p>
    <p>The transaction delails to be deleted are as follows:</p>
      <ul>
        <li>Subscription name: "MyWexlog Monthly Passive Subscription"</li>
        <li>Transaction ID: "{{ payment_txn_id }}"</li>
      </ul>
    <p>You may navigate to PayPal yourself or click
      <a href="https://www.paypal.com/signin">here to Log-in to your PayPal
      account.</p>
    <p>We would like to thank you for being a valued MyWeXlog member.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <br>
    <p>- MyWexLog Team</p>

{% endblock content %}
