{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Subscribers ARequiring Refund{% endblock heading %}
{% block content %}

    <p>Hi,</p>
    <p>The following subscribers have upgraded their accounts and require refunds.</p>
    <p>Please effect transfer to their PayPal account.</p>

    <table class="table table-sm" id="pvr">
      <col width="35%">
      <col width="30%">
      <thead>
        <tr>
          <th class="align-middle text-center">User</th>
          <th class="align-middle text-center">PayPal Email Address</th>
          <th class="align-middle text-center">Date Subscribed</th>
          <th class="align-middle text-center">txn_id</th>
          <th class="align-middle text-center">Amount</th>
        </tr>
      </thead>
      {% for p in item %}
      <tbody>
        <tr>
          <td class="align-middle text-center">{{ p.custom }}</td>
          <td class="align-middle text-center">{{ p.payer_email }}</td>
          <td class="align-middle text-center">{{ p.subscr_date }}</td>
          <td class="align-middle text-center">{{ p.txn_id }}</td>
          <td class="align-middle text-center">{{ p.mc_amount3 }}</td>
        </tr>
        {% empty %}
          <p>There have not been any upgrades this month.</p>
        {% endfor %}
      </tbody>
    </table>

    <p>Thanks, we look forward to hearing from you soon.</p>
    <br>
    <p>- MyWeXlog Team</p>

{% endblock content %}
