{% extends "base_email.html" %}
{% load humanize %}
{% load static %}

{% block heading %}Free Trial Expired{% endblock heading %}

{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>A friendly reminder that your free one month 'Active' subscription to <a href="www.mywexlog.com">MyWeXlog</a> has expired. In the event that you wish to continue enjoying the full bennefits that MyWeXlog can offer with a paid subscription please click <a href="www.mywexlog.com/public/pricing/">here</a>.</p>

    <p>Thanks, we look forward to hearing from you soon.</p>
    <p>&nbsp</p>
    <p>- MyWeXlog Team</p>

{% endblock contnt %}
