{% extends "base_email.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

    <p>Hi {{ user }}!,</p>
    <p>A friendly reminder that your subscription to <a href="www.mywexlog.com">MyWeXlog</a> has
      been cancelled and will need to be renewed for you to enjoy the full bennefits that WexLog
      can offer.</p>
      <p>Please click <a href="www.mywexlog.com">here</a> to log in and resubscribe.</p>
    <p>Thanks, we look forward to hearing from you soon.</p>
    <p>&nbsp</p>
    <p>- MyWexLog Team</p>

{% endblock content %}
