{% extends "wexlog_home/base_wexlog_home.html" %}
{% load humanize %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'Public:WexlogHomeIndex' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>PayPal Active</span></p>
            <h1 class="mb-3 bread">PayPal Redirect</h1>
          </div>
        </div>
      </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Something Went Wrong!</h2>
          </div>
        </div>
    		<div class="row d-flex">
          <div class="col-md-12 ftco-animate p-md-5">
            <p>You were directed here due to your having not accessed PayPal for payment or
              alternativly you cancelled your subscription payment to MyWeXlog.com.</p>
            <p>You can retry by clicking <a href="{% url 'Payments:ActiveSubscription' %}">here</a>.</p>
            <p>Please note that if you elect to not subscribe you will still be able to enjoy
              the bennefits of a free subscription plan by logging on <a href="#">here</a>.</p>
            <p><a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-primary p-3">Try Again</a></p>
          </div>

	      </div>
    	</div>
    </section>

{% endblock content %}
