{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<div class="card">
  <h5 class="card-header" align="center">Australia Subscription Form</h5>
    <div class="container">
      <div class="card-body">

        <div class="row">

        <div class="col-sm-4">
        <div class="card">
          <div class="card-header" align="center">
            <b>Free Subscription</b>
          </div>
          <div class="card-body">
            <p align="center">&nbsp</p>
            <p align="center">&nbsp</p>
            <center>
            <a href="#" class="btn btn-primary" align="center">Subscribe Now</a>
            <p align="center">Free</p>
            </center>
            <p align="center">&nbsp</p>
            <p align="center">&nbsp</p>
            <p align="center">&nbsp</p>
            <h5 class="card-title">Get Started:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Capture Experience</li>
              <li class="list-group-item">Tag Experience for Verification</li>
              <li class="list-group-item">Verify Experience</li>
              <li class="list-group-item">360 Degree Evaluation</li>
              <li class="list-group-item">Find members based on current and past email addresses</li>
              <li class="list-group-item">Extract contact details of people that are looking for or supplying a skill (Heatmaps) - within 50km</li>

            </ul>
          </div>
        </div>
        </div>

        <div class="col-sm-4">
        <div class="card">
          <div class="card-header" align="center">
            <b>Passive Subscription</b>
          </div>
          <div class="card-body">
            <p align="center">
              <center>
                {{ passive_form.render }}
              <p align="center">USD 3.00 + 10% GST per Month</p>
                {{ six_passive_form.render }}
              <p align="center">USD 16.50 + 10% GST per 6-Months</p>
                {{ twelve_passive_form.render }}
              <p align="center">USD 32.60 + 10% GST Yearly</p>
              </center>
            </p>
            <p align="center">&nbsp</p>
            <h5 class="card-title">Captue and Investigate:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Capture Experience</li>
              <li class="list-group-item">Tag Experience for Verification</li>
              <li class="list-group-item">Verify Experience</li>
              <li class="list-group-item">360 Degree Evaluation</li>
              <li class="list-group-item">Find members based on current and past email addresses</li>
              <li class="list-group-item">See contact information of people requiring work to be done - within 100km</li>
              <li class="list-group-item">View Company Profiles</li>
              <li class="list-group-item">Extract contact details of people that are looking for or supplying a skill (Heatmaps) - within 100km</li>
              <li class="list-group-item">Experience available for enterprises to view and contact person</li>
              <li class="list-group-item">Apply for full time positions advertised</li>
              <li class="list-group-item">Find people / enterprises that require certain experience (Heatmaps) - within 100km</li>
              <li class="list-group-item">View Company Profiles</li>
              <li class="list-group-item">Advertise Positions Available</li>
              <li class="list-group-item">Advertise as available for employment</li>
            </ul>
          </div>
        </div>
        </div>

        <div class="col-sm-4">
        <div class="card">
          <div class="card-header" align="center">
            <b>Active Subscription</b>
          </div>
          <div class="card-body">
            <p align="center">
              <center>
                {{ active_form.render }}
              <p align="center">USD 4.00 + 10% GST per Month</p>
                {{ six_active_form.render }}
              <p align="center">USD 22.50 + 10% GST per 6-Months</p>
                {{ twelve_active_form.render }}
              <p align="center">USD 44.60 + 10% GST Yearly</p>
              </center>
            </p>
            <p align="center">&nbsp</p>
            <h5 class="card-title">Full Search Capability:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Capture Experience</li>
              <li class="list-group-item">Tag Experience for Verification</li>
              <li class="list-group-item">Verify Experience</li>
              <li class="list-group-item">360 Degree Evaluation</li>
              <li class="list-group-item">Find members based on current and past email addresses</li>
              <li class="list-group-item">See contact information of people requiring work to be done - Internationally</li>
              <li class="list-group-item">View Company Profiles</li>
              <li class="list-group-item">Extract contact details of people that are looking for or supplying a skill (Heatmaps) - Internationally</li>
              <li class="list-group-item">Experience available for enterprises to view and contact person</li>
              <li class="list-group-item">Apply for full time positions advertised</li>
              <li class="list-group-item">Find people / enterprises that require certain experience (Heatmaps) - Internationally</li>
              <li class="list-group-item">View Company Profiles</li>
              <li class="list-group-item">Advertise Positions Available</li>
              <li class="list-group-item">Advertise as available for employment</li>
              <li class="list-group-item">Bid on work required by enterprises</li>
            </ul>
          </div>
        </div>
        </div>

        </div>

          <h5 class="card-title"></h5>
      </div>

    </div>
  </div>

{% endblock content %}
