{% load humanize %}
{% load static %}

<div class="row d-flex text-center">
  <table class="table-sm ftco-animate">
     <col width="40%">
     <col width="8%">
     <col width="8%">
     <col width="8%">
     <thead>
       <tr>
         <th scope="col" align="center">#</th>
         <th scope="col" align="center">Free</th>
         <th scope="col" align="center">Passive</th>
         <th scope="col" align="center">Active</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td align="right">Can capture experience and have it verified</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Confirm other users captured experience</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">360 Degree evaluation</td>
         <td colspan="1" align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr
       <tr>
         <td align="right">Can public a public profile</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Find members based on current and past email addresses</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right"">Can receive commission from paying people in your downline (5 levels only)</td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can view vacancies (only title, hours, type (freelance, office, etc) and scope)</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can view full vacancy details</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Experience and skills available for people to search</td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can view vacancies on heatmap (No enterprise details)</td>
         <td align="center">50km</td>
         <td align="center">100km</td>
         <td align="center">Internationally</td>
       </tr>
       <tr>
         <td align="right">Other users can extract contact details of people that are
         looking for or supplying a skill (Heatmaps)</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Extract contact details of people that are looking for or
           supplying a skill (Heatmaps)</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center">Internationally</td>
       </tr>
       <tr>
         <td align="right">Can view vacancies on heatmap with full enterprise details</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can respond to vacancies</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Apply for full time positions advertised</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can post vacancies</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can view other talent with similar skills</td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Add Enterprise Details and new Enterprises</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">View Enterprise Profiles</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Advertise availability</td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Bid on work required by enterprises</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Can summarise skills held by the enterprise through people currently employed</td>
         <td align="center"></td>
         <td align="center"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
       <tr>
         <td align="right">Access to the internal messaging system</td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
         <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
       </tr>
     </tbody>
   </table>
</div>
