{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

    <div class="container">

        <center>
        <h3 class="display-4">Choose Passive Subscription</h3>
        <p class="lead">Get a discount by paying 6-monthly or yearly.</p>
        <p>&nbsp</p>

        <div class="row">
        <div class="col-sm-4">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <center>
              <p>&nbsp</p>
              <h1 class="display-4"><strong>$4,00</strong></h1>
              <h5 class="card-title">per month</h5>
              <p>&nbsp</p>
              <h5 class="card-title">MONTHLY MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              {{ passive_form.render }}
              </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$22,00</strong></h1>
              <h5 class="card-title">every 6-months</h5>
              <p>&nbsp</p>
              <h5 class="card-title">SIX MONTHLY MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              {{ six_passive_form.render }}
             </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$43,56</strong></h1>
              <h5 class="card-title">per year</h5>
              <p>&nbsp</p>
              <h5 class="card-title">YEARLY MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              {{ twelve_passive_form.render }}
            </div>
          </div>
          </div>

          </div>
          <p><small>We use PayPal as our billing partner<br>
            Prices displayed are in USD.</small></p>
        <p>&nbsp</p>
        </center>


          <h5 class="card-title"></h5>

    </div>

{% endblock content %}
