{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<div class="card">
  <h5 class="card-header">Subscription Cancellation</h5>
    <div class="container">
      <div class="card-body">
          <h5 class="card-title"></h5>
      </div>
      <div class="container">
          <p>You were directed here due to you having cancelled your subscription to WexLog.io.
             Please note that you will still be able to enjoy the bennefits of a free subscription plan
            by logging on here.</p>
      </div>
    </div>
  </div>

{% endblock content %}
