{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<div class="card">
  <h5 class="card-header">Subscription Cancellation</h5>
    <div class="container">
      <div class="card-body">
          <h5 class="card-title"></h5>
      </div>
      <div class="container">
          <p>You were directed here due to your having not accessed PayPal for payment or
            alternativly you cancelled your subscription payment to WexLog.io.</p>
          <p>You can retry by clicking <a href="#">here</a>.</p>
          <p>Please note that if you elect to not subscribe you will still be able to enjoy
            the bennefits of a free subscription plan by logging on <a href="#">here</a>.</p>
      </div>
    </div>
  </div>

{% endblock content %}
