
{% load humanize %}
{% load staticfiles %}

{% block content %}

<p>&nbsp</p>

    <div class="container">

      <div class="title">
        <center>
        <h3 class="display-4">Choose Your Subscription</h3>
        <p class="lead">We have a selection of subscriptions ranging from
          Free to Active level.</p>
        <p class="lead">The functionality of each is detailed below.</p>
        <p>&nbsp</p>

        <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <center>
              <p>&nbsp</p>
              <h1 class="display-4"><strong>FREE</strong></h1>
              <h5 class="card-title">&nbsp</h5>
              <p>&nbsp</p>
              <h5 class="card-title">FREE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:SubscriptionCountrySelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$4,00</strong></h1>
              <h5 class="card-title">per month</h5>
              <p>&nbsp</p>
              <h5 class="card-title">PASSIVE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:PassiveSubscription' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$5,20</strong></h1>
              <h5 class="card-title">per month</h5>
              <p>&nbsp</p>
              <h5 class="card-title">ACTIVE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>

          </div>
          </center>

          <div class="text-center ftco-animate">
          <p><small>We use PayPal as our billing partner<br>
            Prices displayed are in USD.</small></p>
           </div>
          <div class="row d-flex">
            <p>&nbsp</p>
          </div>

          {% include "subscription_payments/package_bennefits.html" %}

        </div>
        </div>
      </section>












{% endblock content %}
