
{% load humanize %}
{% load staticfiles %}

{% block content %}

<p>&nbsp</p>

    <div class="container">

      <div class="title">
        <center>
        <h3 class="display-4">Choose Your Subscription</h3>
        <p class="lead">We have a selection of subscriptions ranging from
          Free to Active level.</p>
        <p class="lead">The functionality of each is detailed below.</p>
        <p>&nbsp</p>

        <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <center>
              <p>&nbsp</p>
              <h1 class="display-4"><strong>FREE</strong></h1>
              <h5 class="card-title">&nbsp</h5>
              <p>&nbsp</p>
              <h5 class="card-title">FREE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:SubscriptionCountrySelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$4,00</strong></h1>
              <h5 class="card-title">per month</h5>
              <p>&nbsp</p>
              <h5 class="card-title">PASSIVE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:PassiveSubscription' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <p>&nbsp</p>
            <div class="card-body">
              <center>
              <h1 class="display-4"><strong>$5,20</strong></h1>
              <h5 class="card-title">per month</h5>
              <p>&nbsp</p>
              <h5 class="card-title">ACTIVE MEMBERSHIP</h5>
              </center>
              <p>&nbsp</p>
              <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
            </div>
          </div>
          </div>

          </div>
          <p><small>We use PayPal as our billing partner<br>
            Prices displayed are in USD.</small></p>
        <p>&nbsp</p>
        </center>

        <table class="table table-sm">
          <col width="40%">
          <col width="8%">
          <col width="8%">
          <col width="8%">
          <thead>
            <tr>
              <th scope="col" align="center">#</th>
              <th scope="col" align="center">Free</th>
              <th scope="col" align="center">Passive</th>
              <th scope="col" align="center">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="right">Can capture experience and have it verified</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Confirm other users captured experience</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">360 Degree evaluation</td>
              <td colspan="1" align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Find members based on current and past email addresses</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right"">Can receive commission from paying people in your downline (5 levels only)</td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can view vacancies (only title, hours, type (freelance, office, etc) and scope)</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can view full vacancy details</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Experience and skills available for people to search</td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can view vacancies on heatmap (No enterprise details)</td>
              <td align="center">50km</td>
              <td align="center">100km</td>
              <td align="center">Internationally</td>
            </tr>
            <tr>
              <td align="right">Other users can extract contact details of people that are
              looking for or supplying a skill (Heatmaps)</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Extract contact details of people that are looking for or
                supplying a skill (Heatmaps)</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center">Internationally</td>
            </tr>
            <tr>
              <td align="right">Can view vacancies on heatmap with full enterprise details</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can respond to vacancies</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Apply for full time positions advertised</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can post vacancies</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can view other talent with similar skills</td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Add Enterprise Details and new Enterprises</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">View Enterprise Profiles</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Advertise availability</td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Bid on work required by enterprises</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Can summarise skills held by the enterprise through people currently employed</td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
            <tr>
              <td align="right">Access to the internal messaging system</td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
              <td align="center"><img src="{% static 'images/landing_page/check.png' %}" height="20px" width="20px" alt="Yes"></td>
            </tr>
          </tbody>
        </table>

        <center>
          <p>&nbsp</p>
        </center>

      </div>


          <h5 class="card-title"></h5>

    </div>

{% endblock content %}
