{% extends "base_home.html" %}
{% load humanize %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>
<div class="card">
  <h5 class="card-header">Subscription Country Selection</h5>
    <div class="container">
      <div class="card-body">
          <h5 class="card-title"></h5>
      </div>
      <div class="container">

        <p>In order to subscribe to WexLog we require that you are registered
          and logged in before you can select your country of residence. The
        WexLog system is location oriented.</p>


        {% if request.user.is_authenticated %}


        <p>Please click on the button below and select the country of your residence</p>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Your Country of Residence
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Albania</a>
              <a class="dropdown-item" href="#">Angola</a>
              <a class="dropdown-item" href="{% url 'Payments:SubscriptionAustralia' %}">Australia</a>
              <a class="dropdown-item" href="{% url 'Payments:SubscriptionCanadaQuebec' %}">Canada - Quebec</a>
              <a class="dropdown-item" href="{% url 'Payments:SubscriptionNewZealand' %}">New Zealand</a>
              <a class="dropdown-item" href="{% url 'Payments:SubscriptionSouthAfrica' %}">South Africa</a>
            </div>

          </div>
          <p>&nbsp</p>
          {% else %}
          <p>To subscribe to WexLog you need to register and log-in with your account before you can subscribe.</p>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log-in to Select Your Country of Residence
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
              <a class="dropdown-item" href="{% url 'account_login' %}">Sign-in</a>
            </div>
            <p>&nbsp</p>
            </div>
          {% endif %}

      </div>
    </div>
  </div>
  <script>
    bootstrap.bundle.min.js
  </script>

{% endblock content %}
