{% extends "wexlog_home_3/base_wexlog_home_3.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section id="header-block" class="">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
  </div>
</section>

<section id="find-the-right-person" class="">
  <div class="jumbotron-fluid">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="card-clear">
                <div class="card-body">
                  <div class="title3">
                    <h5>YOUR ACCOUNT HAS BEEN REMOVED!</h5>
                    <p class="card-text">This confirms that your account has been removed from MyWeXlog. We would like to thank you for your time with us and for being a part of the MyWeXlog experience.</p>
                    <p>&nbsp</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
              <div class="card border-0 bg-transparent">
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card border-0 bg-transparent">
                    <a href="https://mywexlog.com/" class="btn btn-outline-primary btn-block">Back to Home Page ..</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <p>&nbsp</p>
    </div>
  </div>
</section>

<section id="questions">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <p>&nbsp</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
