
      <div class="row">
        <div class="col-sm-4">
          <div class="card expand">
            <div class="card-body">
              <center>
              <div class="title3 text-center">
                <h5>FREE MEMBERSHIP</h5>
              </div>
              <hr>
              <div class="card-body">
                <span class="price"><sup>$</sup> <span class="number">0<sup>,00</sup><small class="per">/mo</small></span></span>
                <span class="excerpt d-block">100% free. Forever</span>
                <p class="text-center">Features Included Listed Below</p>

                <a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-block">CHOOSE PLAN</a>

                <!-- Button trigger modal -->
                <!--
                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                CHOOSE PLAN
                </button>
                -->
              </div>
              </center>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card expand">
            <div class="card-body">
              <center>
              <div class="title3 text-center">
                <h5>PASSIVE MEMBERSHIP</h5>
              </div>
              <hr>
              <div class="card-body">
                <span class="price"><sup>$</sup> <span class="number">4<sup>,99</sup><small class="per">/mo</small></span></span>
                <span class="excerpt d-block">All features are listed below</span>
                <p class="text-center">Enjoy Selected Features</p>

                <a href="{% url 'Payments:PassiveSubscription' %}" class="btn btn-outline-primary btn-block">CHOOSE PLAN</a>

                <!-- Button trigger modal -->
                <!--
                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                CHOOSE PLAN
                </button>
                -->
              </div>
              </center>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card expand">
            <div class="card-body">
              <center>
              <div class="title3 text-center">
                <h5>ACTIVE MEMBERSHIP</h5>
              </div>
              <hr>
              <div class="card-body">
                <span class="price"><sup>$</sup> <span class="number">6<sup>,89</sup><small class="per">/mo</small></span></span>
                <span class="excerpt d-block">All features are listed below</span>
                <p class="text-center">Enjoy Selected Features</p>

                <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-primary btn-block">CHOOSE PLAN</a>

                <!-- Button trigger modal -->
                <!--
                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                CHOOSE PLAN
                </button>
                -->
              </div>
              </center>
            </div>
          </div>
        </div>
      </div>
