{% extends "base_home.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{block.super}}-Dashboard{{ scope.ref_no }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="float-right">
    <a href="{% url 'MarketPlace:InterviewList' vac %}?next={{ request.path|urlencode }}" class="btn btn-secondary" style="width:6rem;">Back</a>
    <a href="{% url 'MarketPlace:VacancyIntDetail' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Interview list</a>
    <a href="{% url 'MarketPlace:ShortListView' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Short-list</a>
  </div>
    <h3 class="card-title">Talent Dashboard for {{ scope.title }} ({{ scope.ref_no }})</h3>

  <div class="card card-shadow">
    <div class="card-body">
      <h4>Accepted Invitation for Interview</h4>
      <p>There are a total of {{ intv_accepted_count }} interview invitations accepted listed.</p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>Alias</strong>
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            <strong>Reasons</strong>
          </div>
        </div>
      </div>
      {% for intd in intv_accepted %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.talent.alias }}
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.tlt_decline_reason }}
              </div>
            </div>
            <div class="row my-auto">
              <p class="short-paragraph"><strong>Details:</strong></p>
              <p>{{ intd.comments_tlt|linebreaks }}</p>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>Nobody has Accepted the Interview Invitation.</p>
      {% endfor %}

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock content %}

{% block Script %}

{% endblock Script %}
