{% extends "base_home.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{block.super}}-Dashboard{{ scope.ref_no }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="float-right">
    <a href="{% url 'MarketPlace:InterviewList' vac %}?next={{ request.path|urlencode }}" class="btn btn-secondary" style="width:6rem;">Back</a>
    <a href="{% url 'MarketPlace:VacancyIntDetail' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Interview list</a>
    <a href="{% url 'MarketPlace:ShortListView' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Short-list</a>
  </div>
    <h3 class="card-title">Talent Dashboard for {{ scope.title }} ({{ scope.ref_no }})</h3>

  <div class="card card-body">
    <div class="card-body">
      <h4>Declined Invitation for Interview</h4>
      <p>There are a total of {{ intv_declined_count }} interview invitations declined listed.</p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Alias</strong>
          </div>
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Reason</strong>
          </div>
        </div>
      </div>
      {% for intd in pageitems %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.talent.alias }}
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.tlt_decline_reason }}
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-md-12 h-100 text-center my-auto">
                <br>
                <p class="short-paragraph"><strong>Details:</strong></p>
                <p>{{ intd.comments_tlt|linebreaks }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>Nobody has Declined the Interview Invitation.</p>
      {% endfor %}

      <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock content %}

{% block Script %}

{% endblock Script %}
