
{% extends "base_email.html" %}
{% load humanize %}
{% load staticfiles %}


{% block title %}

    {{ form.instance.invited_by.first_name }} {{ form.instance.invited_by.last_name }} Assigned

{% endblock title %}

{% block content %}

      <p>Hi {{ talent.first_name }},</p>
      <p>Congratulations, you have been selected as the successful candidate for the vacancy entitled: {{ job.title }} ({{ job.ref_no }}).</p>
      <p>Please <a href="https://mywexlog.com">Login</a> to your profile to proceed with this workflow and engage with the person that has requested the work. </p>
      <br>
      <p>Kind Regards</p>
      <p>The MyWeXlog Team</p>

      <br>

  {% endblock content %}
