
{% extends "base_email.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title %}

    {{ form.instance.invited_by.first_name }} {{ form.instance.invited_by.last_name }} interview

{% endblock title %}

{% block content %}

      <p>Hi {{ talent.first_name }},</p>
      <br>
      <p>{{ job.requested_by.alias }} has requested to interview you for a vacancy entitled: {{ job.title }} ({{ job.ref_no }}).</p>
      <br>
      <p>Please <a href="#">Login</a> to your profile to view details of the vacancy and to respond to the interview request. </p>
      <br>
      <p>We wish you a successful interview!</p>
      <br>
      <br>
      <p>Kind Regards</p>
      <p>The WexLog Team</p>

      <p>&nbsp</p>

  {% endblock content %}
