{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Vacancy Review - Applicants - Help</h3>
    <p>&nbsp</p>
    <p>This section of the page allows you to view a brief list of talent that has
      submitted a bid application for the vacancy. The will have had the position
      matched to their skillset and experience levels.</p>
    <p>It will display the alias, experience hours accumulated, the training hours
      of experience accumulated, the total number of skills captured, the number of
      books read, the talents expected rate of payment required and a brief detail
      of the motivation.</p>
    <br>
    <p><strong>Navigation Buttons</strong></p>
    <p></p>
    <p>This will open the page listing the paginated full list of vacancies that you
      have been accepted from after having been shortlisted for with the same
      information and functionality as described above.</p>
    <p>The button options available are:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <thead>
        <tr>
          <td><button type="submit" class="badge badge-info badge-pill float-right" style="width: 5rem;">Short-list</button></td>
          <td>This will allow you to add the talent to the shortlist.</td>
        </tr>
        <tr>
          <td><a href="#" class="badge badge-success badge-pill float-right" style="width: 5rem;" target="new">View Profile</a></p>
        </td>
          <td>This will open the talents public profile for inspection.</td>
        </tr>
      </table>
    <br>
    <br>
    <p><strong>View All Talent</strong></p>
    <p><a href="#" class="btn btn-primary"style="width: 10rem">View All Applicants</a></p>
    <p>This will open the full list of applicants for the vacancy.</p>
    <br>

</div>
{% endblock content %}
