{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Add or Edit a Vacancy - Help</h3>
    <p>&nbsp</p>
    <p>This page displays the fields that are required to capture a new or edit vacancy.</p>
    <p>The fields required are:</p>
    <table class="table table-sm">
    <col width="20%">
    <col width="80%">
    <thead>
        <tr>
          <td class="align-middle text-center">Vacancy Title</td>
          <td>
            <p>
              Enter the title for the vacancy making sure that it is reflective of the vacancy and position that it refers to.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Vacancy Reference Number</td>
          <td>
            <p>
              A unique reference number for the vacancy. This is the reference number
              that will be used in the event of performing a search.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Company Branch</td>
          <td>
            <p>
              Type the company name in the search field at the top of the dropdown list that appears when you click on the field, select from the dropdown list the Company name and branch that you are wanting, if you add a new Company Branch it will automatically populate the field.<br>
              The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Company Branch</a>
              link will open a popup window and request you to add the company, branch or division name,
              type, and physical address.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Hours</td>
          <td>
            Enter the number of hours the vacancy is expected to take for completion or alternatively the number of hours the company has budgeted for at the rate offered.
            <ul>
              <li>
                For a permanent position, enter the number of hours an employee is expected to work each month (typically this is 163 hours per month). The "unit" field should then be set to "per month".
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Unit</td>
          <td>
            The manner in which the estimated hours for the vacancy are intended to be spent. The selection possibilities are:
            <ul>
              <li>once off</li>
              <li>per day</li>
              <li>per week</li>
              <li>per month: used for full time employees or a long term contract position.</li>
              <li>short term contract</li>
              <li>as and when contract</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Experience Level</td>
          <td>
            Select from the drop down list the experience level required for prospective tenders on the vacancy. The categories are:<br>
            <ul>
              <li>
                Breakdown of catagories: <a href="{% url 'MarketPlace:HelpExperienceLevel' %}" target="_blank">
                <i class="fa fa-flag" aria-hidden="true" style="font-size:20px;color:black" data-toggle="tooltip" title="Breakdown of Experience levels"></i>
              </a>
            </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Currency</td>
          <td>
            <p>
              Select the currency that you will be remunerating with from the dropdown list and if you add a currency that is not available ion the list it will
              automatically populate the field.<br>
              The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Currency</a>
              link will open a popup window and request you to add the country, currency in full written format with country and currency name and the internationally recognised currency abbreviation like USD or AUD.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Rate Offered</td>
          <td>
            <p>
              This is the rate you are willing to offer for the work advertised. This rate must be entered in conjunction with the "Rate Unit" field.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Rate Unit</td>
          <td>
            This is how the rate is intended to be paid, not when payment will be made. The options are:<br>
            <ul>
              <li>per Hour</li>
              <li>per Day</li>
              <li>per Month</li>
              <li>Lump Sum</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Configuration</td>
          <td>How or where the candidate is expected to work. The options are:<br>
            <ul>
              <li>
                Breakdown of configerations:
                <a href="{% url 'MarketPlace:HelpWorkCOnfigeration' %}" target="_blank">
                  <i class="fa fa-flag" aria-hidden="true" style="font-size:20px;color:black" data-toggle="tooltip" title="Breakdown of work configurations"></i>
                </a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">City, Town or Place</td>
          <td>
            <p>
              Select from the dropdown list and the localised location the company branch operates.<br>
              The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a City, Town or place</a> link will request you to add the Region and City, Town or Place name if your desired option is not in the list.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">To be Completed By</td>
          <td>
            <p>
              Here please enter the date that you required the job to be completed. Open the date picker by clicking on the up or down arrows that appear on the right of the capture field when you hover over it.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Vacancy Status</td>
          <td>
            Select whether or not the vacancy is either:<br>
            <ul>
              <li>Open</li>
              <li>Closed</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Vacancy Closes</td>
          <td>
            <p>
              Here please enter the date that vacancy offering for the job to be completed. Open the date picker by clicking on the up or down arrows that appear on the right of the capture field when you hover over it.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Certifications Required</td>
          <td>
            <p>
              Please enter any certifications that will be required for the performance of the vacancy. You may start typing the name of the certificate and the search field of the drop down list will filter for what you are looking for and capture the required certificates in tags
              allowing more than one to be captured.<br>
              The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Certificate</a>
              link will request you to add a certificate type if your desired option is not in the list.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Scope</td>
          <td>
            <p>
              Here you are able to enter the scope for the vacancy offering to be completed. The field will allow you to enter paragraphs.
            </p>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-center">Expectations</td>
          <td>
            <p>
              Here you are able to enter the expectations for the vacancy offering to be completed.
              The field will allow you to enter paragraphs.
            </p>
          </td>
        </tr>
      </table>
    <br>
    <p>**In the event that one of the dropdown lists is not populated please refresh the page.</p>
    <p>A * next to the field name indicate that it is a required field.</p>
    <p>Click the <button type="submit" class="btn btn-primary" name="button">Add Deliverables</button>
      or <button type="submit" class="btn btn-primary" name="button">Save</button> button when complete.</p>

</div>
{% endblock content %}
