{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Vacancies Advertised (Open) - Help</h3>
    <p>&nbsp</p>
    <p>This provides a full list of all the vacancies that you have listed
      as currently open.</p>
    <br>
    <p><strong>Interview History</strong></p>
    <p><button type="submit" class="btn btn-primary" style="width: 10rem">Interview History</button></p>
    <p>Open the Interview History page that will allow you to view all interviews.</p>
    <br>
    <p><strong>Post Vacancy</strong></p>
    <p><button type="submit" class="btn btn-primary" style="width: 8rem">Post Vacancy</button></p>
    <p>Open the page that will allow you to capture a new vacancy.</p>
    <br>
    <br>
    <p>The table lists the date posted, vacancy title, the closing date, as well as the status.</p>
    <p>The options you will be provided with will be:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <tbody>
        <tr>
          <td class="text-center"><a href="#" class="" data-toggle="tooltip" title="Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:grey"></i></a>
          </td>
          <td>Shows the detail of the vacancy allowing you to edit the vacancy as well as a list of the
            talent suited to the vacancy and a list of applicants for the vacancy. You will have access
          to the vacancy interview and short lists.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="" data-toggle="tooltip" title="Interview List"><i class="fa fa-gg" style="font-size:30px;color:black"></i></a>
          </td>
          <td>Opens the interview details list specifically for the vacancy advertised. This will
            list all the interviews of talent for the position.</td>
        </tr>
    </tbody>
  </table>
  <p>By hovering over the icons a tooltip will appear indicating what the icon functionality is.</p>
  <br>

  <br>
  <br>
  <p><strong>Pagination</strong></p>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <p>The pagination may be navigated by clicking on the required page number or alternatively
  by clicking the 'Previous' or 'Next' selectors.</p>

</div>
{% endblock content %}
