{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Comment{% endblock title %}

{% block content %}
<div class="container">
  <h3>Comments for {{ instance.scope.title }} Interview with {{ instance.talent.alias }}</h3>
  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% csrf_token %}
    {{ form.comments_emp|as_crispy_field }}
    <div class="">
      <button type="submit" name="done" class="btn btn-primary">Save</button>
    </div>
  </form>
  </div>

{% endblock content %}
{% block Script %}

{% endblock Script %}
