{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
    <div class="btn-toolbar float-right">
      {% for d in bil_qs %}
        <div class="btn-group mr-2">
          <a href="{% url 'Talent:APV' tlt=d.talent.alias  vac=d.scope.ref_no %}" target="_blank" class="btn btn-secondary" style="width: 8rem">
            View Profile
          </a>
        </div>
        <div class="btn-group mr-2">
          {% if d.outcome == 'I' %}
          <a href="{% url 'MarketPlace:DashSuitable' tlt=d.talent.alias vac=d.scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-danger" style="width: 8rem" data-toggle="tooltip" title="Mark {{ d.talent.alias }} 'Not Suitable' ">
            Not Suitable
          </a>
          &nbsp
            <a href="{% url 'MarketPlace:DashNotSuitable' tlt=d.talent.alias vac=d.scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-danger" style="width: 8rem" data-toggle="tooltip" title="Mark {{ d.talent.alias }} 'Not Suitable' ">
              Not Suitable
            </a>
          {% elif d.outcome == 'S' %}
            <a href="{% url 'MarketPlace:DashNotSuitable' tlt=d.talent.alias vac=d.scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-danger" style="width: 8rem" data-toggle="tooltip" title="Change {{ d.talent.alias }} to 'Not Suitable' ">
              Not Suitable
            </a>
          {% elif d.outcome == 'N' %}
            <form  action="{% url 'MarketPlace:DashSuitable' tlt=d.talent.alias vac=d.scope.ref_no %}?next={{ request.path|urlencode }}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-success" style="width: 8rem" data-toggle="tooltip" title="Change {{ d.talent.alias }} to 'Suitable' ">
                Suitable
              </button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
      <div class="btn-group mr-2">
        <a href="{% url 'MarketPlace:EmployerInterviewHistory' request.user.alias %}" class="btn btn-secondary">
          Back
        </a>
      </div>
    </div>

    <h4 class="card-title">Interview Detail</h4>
    <div class="container">
      <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Talent</strong>
        </div>
        <div class="col-md-4 h-100 text-center my-auto">
          <strong>Vacancy<br>( Reference Number )</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Talent's Response</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>My Response</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Interview Status</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Detail</strong>
        </div>
      </div>
    </div>
    {% for d in bil_qs %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-2 h-100 text-center my-auto">
              {{ d.talent.alias }}
            </div>
            <div class="col-md-4 h-100 text-center my-auto">
              {{ d.scope.title }}<br>( {{ d.scope.ref_no }} )
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ d.get_tlt_response_display }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {{ d.get_outcome_display }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {% if d.emp_intcomplete == True %}
                Closed
              {% else %}
                Open <br><a href="{% url 'MarketPlace:EmployerIntClose' bil=d.slug tlt=d.talent.alias %}" data-toggle="tooltip" title="Close Interview"><i class="fa fa-close" style="font-size:24px;color:red !important"></i></a>
              {% endif %}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyPost' d.scope.ref_no %}?next={{ request.path|urlencode }}" class="" data-toggle="tooltip" title="See Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:black"></i></a>
            </div>
          </div>
          <div class="row my-auto">
            <div class="col-md-12 h-100 text-center my-auto">
              <br>
              <p class="short-paragraph"><strong>My Comments:</strong></p>
              {% if d.comments_emp %}
                <p>{{ d.comments_emp }}</p>
              {% else %}
                <a href="{% url 'MarketPlace:VacancyIntComment' bil=d.slug tlt=d.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Post Comment"><i class="fa fa-pencil-square-o" style="font-size:30px;color:black"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}
