{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
          Back
        </button>
        <a href="{% url 'MarketPlace:HelpInterviewHistoryEmployerAll' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
          <i class="icon icon-question-circle"></i>
        </a>
      </form>
    </div>
    <h4 class="card-title">Interview History (All Interviews)</h4>
    <table class="table table-hover table-sm">
      <col width = "15%">
      <col width = "43%">
      <col width = "12%">
      <col width = "10%">
      <col width = "10%">
      <col width = "10%">
      <thead>
        <tr>
          <th class="align-middle text-center">Talent</th>
          <th class="align-middle text-center">Vacancy<br>( Reference Number )</th>
          <th class="align-middle text-center">Talent's Response</th>
          <th class="align-middle text-center">My Response</th>
          <th class="align-middle text-center">Interview Status</th>
          <th class="align-middle text-center">Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for l in pageitems %}
          <tr>
            <td class="align-middle text-center">{{ l.talent.alias }}</td>
            <td class="align-middle text-center">
              {{ l.scope.title }}<br>( {{ l.scope.ref_no }} )
            </td>
            <td class="align-middle text-center">{{ l.get_tlt_response_display }}</td>
            <td class="align-middle text-center">{{ l.get_outcome_display }}</td>
            <td class="align-middle text-center">
              {% if l.emp_intcomplete == True %}
                Closed
              {% else %}
                Open<br>
                  <a href="{% url 'MarketPlace:EmployerIntClose' bil=l.slug tlt=l.talent.alias %}" data-toggle="tooltip" title="Close Interview">
                    <i class="fa fa-close" style="font-size:24px;color:red !important"></i>
                  </a>
              {% endif %}
            </td>
            {% if request.user.subscription > 1 %}
              <td class="align-middle text-center">
                <a href="{% url 'Profile:ContactDetail' vac=l.scope.ref_no tlt=l.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="Contact Detail">
                  <i class="fa fa-tty" aria-hidden="true" style="font-size:24px;color:black"></i>
                </a>&nbsp
                <a href="{% url 'MarketPlace:VacancyPost' l.scope.ref_no %}?next={{ request.path|urlencode }}" class="" data-toggle="tooltip" title="See Vacancy Detail">
                  <i class="fa fa-industry" style="font-size:24px;color:black"></i>
                </a>&nbsp
                <a href="{% url 'MarketPlace:EmployerIntDetail' bil=l.slug tlt=l.talent.alias %}?next={{ request.path|urlencode }}" data-toggle="tooltip" title="See Interview Comments">
                  <i class="fa fa-commenting-o" style="font-size:30px;color:black"></i>
                </a>
              </td>
            {% elif request.user.subscription < 2 %}
              <td>
                <a href="#" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a>
              </td>
            {% endif %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No interviews listed.</td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock content %}
