{% extends "base_home.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{block.super}}-Dashboard{{ scope.ref_no }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="float-right">
    <a href="{% url 'MarketPlace:VacancyPost' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">
      Back to {{scope.ref_no}}
    </a>
    <a href="{% url 'MarketPlace:ShortListView' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">
      Short-list
    </a>
  </div>

  <h3 class="card-title">
    Vacancy Dashboard for {{ scope.title }} ({{ scope.ref_no }})
  </h3>
  <br>
  <div class="card-transparent">
    <div class="card-body bg-transparent">
      <div class="row">
        <div class="col-md-3">
          <div class="number-souround" style="border-color:#f0ad4e">
          <h4 class="text-center" style="background-color:#f0ad4e;padding-bottom:14px;"><strong>Pending<br>Interviews</strong></h4>
          <div class="text-center" style="font-size:60px">
            {{ interview_p_count|floatformat:0|intcomma }}
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="number-souround" style="border-color:#e0e0e0">
          <h4 class="text-center" style="background-color:#e0e0e0;padding-bottom:14px;"><strong>Declined<br>Interviews</strong></h4>
          <div class="text-center" style="font-size:60px">
            {{ intv_declined_count|floatformat:0|intcomma }}
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="number-souround" style="border-color:#5cb85c">
          <h4 class="text-center" style="background-color:#5cb85c;padding-bottom:14px;"><strong>Suitable<br>Applicants</strong></h4>
          <div class="text-center" style="font-size:60px">
            {{ interview_s_count|floatformat:0|intcomma }}
          </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="number-souround" style="border-color:#d9534f">
          <h4 class="text-center" style="background-color:#d9534f;padding-bottom:14px;"><strong>Unsuitable<br>Applicants</strong></h4>
          <div class="text-center" style="font-size:60px">
            {{ interview_n_count|floatformat:0|intcomma }}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
    {% if wit_qs %}
    <div class="card card-shadow">
      <div class="card-body">
          <h4>Vacancy Accepted By</h4>
          <div class="container">
            <div class="row my-auto">
              <div class="col-md-5 h-100 text-center my-auto">
                <strong>Alias</strong>
              </div>
              <div class="col-md-4 h-100 text-center my-auto">
                <strong>Response</strong>
              </div>
              <div class="col-md-3 h-100 text-center my-auto">
                <strong>Action</strong>
              </div>
            </div>
          </div>
          {% for a in wit_qs %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  <div class="col-md-5 h-100 text-center my-auto">
                    {{ a.talent.alias }}
                  </div>
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ a.get_tlt_response_display }}
                  </div>
                  <div class="col-md-3 h-100 text-center my-auto">
                    <a href="{% url 'Talent:APV' tlt=a.talent.alias  vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill" style="width: 7rem">
                      View Profile
                    </a>
                    <a href="{% url 'Profile:WorkshopEmp' %}?next={{ request.path|urlencode }}" class="badge badge-primary badge-pill" style="width: 7rem">
                      Enter Office
                    </a>
                    {% if a.tlt_response == 'C' %}
                      <a href="{% url 'MarketPlace:RFIView' a.slug %}?next={{ request.path|urlencode }}" class="badge badge-warning badge-pill" style="width: 7rem">
                        Clarification<br>Requested
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <br>
    {% endif %}
    {% if wit_qs_p %}
    <div class="card card-shadow">
      <div class="card-body">
          <h4>Pending Vacancy Acceptance</h4>
          <div class="container">
            <div class="row my-auto">
              <div class="col-md-5 h-100 text-center my-auto">
                <strong>Alias</strong>
              </div>
              <div class="col-md-4 h-100 text-center my-auto">
                <strong>Response</strong>
              </div>
              <div class="col-md-3 h-100 text-center my-auto">
                <strong>Action</strong>
              </div>
            </div>
          </div>
          {% for a in wit_qs_p %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  <div class="col-md-5 h-100 text-center my-auto">
                    {{ a.talent.alias }}
                  </div>
                  <div class="col-md-4 h-100 text-center my-auto">
                    {{ a.get_tlt_response_display }}
                  </div>
                  <div class="col-md-3 h-100 text-center my-auto">
                    <a href="{% url 'Talent:APV' tlt=a.talent.alias  vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill" style="width: 7rem">
                      View Profile
                    </a>
                    {% if a.tlt_response == 'A' %}
                    <a href="{% url 'Profile:WorkshopEmp' %}?next={{ request.path|urlencode }}" class="badge badge-primary badge-pill" style="width: 7rem">
                      Enter Office
                    </a>
                    {% endif %}
                    {% if a.tlt_response == 'C' %}
                      <a href="{% url 'MarketPlace:RFIView' a.slug %}?next={{ request.path|urlencode }}" class="badge badge-warning badge-pill" style="width: 7rem">
                        Clarification<br>Requested
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <table class="table table-sm">
          <thead>
            <tr class="no-hover">
              <th class="align-middle text-center">Stage</th>
              <th class="align-middle text-center">Rate</th>
              <th class="align-middle text-center">Complete Date</th>
              <th class="align-middle text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle text-center">Original Offer</th>
              <td class="align-middle text-center">{{ scope.currency }} <strong>{{ scope.rate_offered|intcomma }}</strong> {{ scope.get_rate_unit_display }}</td>
              <td class="align-middle text-center">{{ scope.date_deadline|date:'j M Y' }}</td>
              <td></td>
            </tr>
            <tr>
              {% for i in wit_qs_p %}
              <th class="align-middle text-center">
                {% if i.tlt_response == 'A' %}
                  Accepted Offer
                {% else %}
                  Current Offer
                {% endif %}
              </th>
                <td class="align-middle text-center">{{ i.currency }} <strong>{{ i.rate_offered|intcomma  }}</strong> {{ i.get_rate_unit_display }}</td>
                <td class="align-middle text-center">{{ i.date_deliverable|date:'j M Y' }}</td>
                <td class="align-middle text-center">
                  {% if i.tlt_response != 'A' %}
                    <a href="{% url 'MarketPlace:VacAssignEdit' i.slug %}">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Edit Offer">
                      </i>
                    </a>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    {% endif %}
    <div class="card card-shadow">
      <div class="card-body">
        <div class="float-right">
          <a href="{% url 'MarketPlace:VacancyIntDetail' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">
            Interview list
          </a>
        </div>
        <h4 id='pending'>Pending Interviews</h4>
        <p>There are a total of {{ interview_p_count }} pending interviews{% if interview_p_count >= 5 %}, we only list the top 5 here.{% else %}.{% endif %}</p>

        <div class="row">
          <div class="col-12">
          {% if pending_interviews_list_view %}
            <form  action="{% url 'MarketPlace:PendingInterviewsExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
            </form>
          {% else %}
            <form  action="{% url 'MarketPlace:PendingInterviewsExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
            </form>
          {% endif %}
          </div>
        </div>

          {% if pending_interviews_list_view %}
          {% if interview_p_slice.items %}
            {% include 'marketplace/list_view_headings.html' %}
          {% endif %}
            {% for key in interview_p_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    {% include 'marketplace/list_view_fields.html' %}
                    <div class="col-1 col-no-pad h-100 text-center my-auto">
                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4  vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill float-right" style="min-width: 6rem">View Profile</a>
                      <form  action="{% url 'MarketPlace:Suitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-success badge-pill float-right" style="min-width: 6rem">Suitable</button>
                      </form>
                        <a href="{% url 'MarketPlace:NotSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" class="badge badge-danger badge-pill float-right" style="min-width: 6rem">Not Suitable</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>There are no people pending review.</p>
            {% endfor %}
            {% else %}
            {% for key in interview_p_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  {% include 'marketplace/expanded_view_fields.html' %}
                  <div class="row my-auto">
                    <div class="col-md-12 h-100">
                      <div class="row my-auto float-right">
                        <form  action="{% url 'MarketPlace:Suitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-outline-success" style="width: 10rem">Suitable</button>
                        </form>&nbsp
                        <a href="{% url 'MarketPlace:NotSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" class="btn btn-outline-danger" style="width: 10rem">Not Suitable</a>&nbsp
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4  vac=scope.ref_no %}" target="_blank" class="btn btn-outline-secondary" style="width: 10rem">View Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>There are no people pending review.</p>
            {% endfor %}
            {% endif %}

        {% if interview_p_count > 5 %}
          <div class="float-right">
            <a href="{% url 'MarketPlace:PendingInterviewList' vac %}" class="btn btn-primary">View All Pending Interviews</a>
          </div>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="card card-shadow">
      <div  id='suitable' class="card-body">
        {% if wit_qs %}
          {% for a in wit_qs %}
            {% if a.tlt_response == 'A' or a.tlt_response == 'P' or a.tlt_response == 'C' %}
              <h4>Unsuccessful Applicants</h4>
            {% elif a.tlt_response == 'D' %}
              <h4>Suitable Applicants</h4>
            {% endif %}
          {% endfor %}
        {% else %}
          <h4>Suitable Applicants</h4>
        {% endif %}
        <p>There are a total of {{ interview_s_count }} applicants{% if interview_s_count >= 5 %}, we only list the first 5 here.{% else %}.{% endif %}</p>

        <div class="row">
          <div class="col-12">
          {% if suitable_applicants_list_view %}
            <form  action="{% url 'MarketPlace:SuitableApplicanctExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
            </form>
          {% else %}
            <form  action="{% url 'MarketPlace:SuitableApplicanctExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
            </form>
          {% endif %}
          </div>
        </div>

          {% if suitable_applicants_list_view %}
          {% if interview_s_slice.items %}
            {% include 'marketplace/list_view_headings.html' %}
          {% endif %}
            {% for key in interview_s_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    {% include 'marketplace/list_view_fields.html' %}
                    <div class="col-1 col-no-pad h-100 text-center my-auto">

                      {% if active == 'False' %}
                        <form  action="{% url 'MarketPlace:VacAssign' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="badge badge-success badge-pill float-right" style="min-width: 6rem">Assign</button>
                          <a href="{% url 'MarketPlace:NotSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" class="badge badge-danger badge-pill float-right" style="min-width: 6rem">Not Suitable</a>
                        </form>
                      {% else %}
                        <button type="submit" class="badge badge-success badge-pill float-right" style="min-width: 6rem">Pending</button>
                      {% endif %}
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill float-right" style="min-width: 6rem">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>No talent identified or selected at the moment.</p>
            {% endfor %}
            {% else %}
            {% for key in interview_s_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  {% include 'marketplace/expanded_view_fields.html' %}
                  <div class="row my-auto">
                    <div class="col-md-12 h-100">
                      <div class="row my-auto float-right">
                        {% if active == 'False' %}
                          <form  action="{% url 'MarketPlace:VacAssign' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success" style="min-width: 6rem">Assign</button>&nbsp
                            <a href="{% url 'MarketPlace:NotSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" class="btn btn-outline-danger" style="min-width: 6rem">Not Suitable</a>
                          </form>&nbsp
                        {% else %}
                          <button type="submit" class="btn btn-outline-success" style="min-width: 6rem">Pending</button>&nbsp
                        {% endif %}
                          <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="btn btn-outline-secondary" style="min-width: 6rem">View Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>No talent identified or selected at the moment.</p>
            {% endfor %}
            {% endif %}

         {% if interview_s_count > 5 %}
           <div class="float-right">
             <a href="{% url 'MarketPlace:SuitableInterviewList' vac %}" class="btn btn-primary">View All Applicants</a>
           </div>
         {% endif %}
       </div>
     </div>
    <br>
    <div class="card card-shadow">
      <div class="card-body">
        <h4 id='unsuitable'>Unsuitable Applicants</h4>
        <p>There are a total of {{ interview_n_count }} unsuitable applicants{% if interview_n_count >= 5 %}, we only list the first 5 here.{% else %}.{% endif %}</p>

        <div class="row">
          <div class="col-12">
          {% if unsuitable_applicants_list_view %}
            <form  action="{% url 'MarketPlace:UnSuitableApplicanctExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
            </form>
          {% else %}
            <form  action="{% url 'MarketPlace:UnSuitableApplicanctExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
            </form>
          {% endif %}
          </div>
        </div>

          {% if unsuitable_applicants_list_view %}
          {% if interview_n_slice.items %}
            {% include 'marketplace/list_view_headings.html' %}
          {% endif %}
            {% for key in interview_n_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    {% include 'marketplace/list_view_fields.html' %}
                    <div class="col-1 col-no-pad h-100 text-center my-auto">
                      <form  action="{% url 'MarketPlace:Suitable' tlt=key.1.ro.0.4  vac=scope.ref_no %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-success badge-pill float-right" style="min-width: 6rem">Suitable</button>
                      </form>
                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill float-right" style="min-width: 6rem">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>No talent identified as unsuitbale for this scope.</p>
            {% endfor %}
            {% else %}
            {% for key in interview_n_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  {% include 'marketplace/expanded_view_fields.html' %}
                  <div class="row my-auto">
                    <div class="col-md-12 h-100">
                      <div class="row my-auto float-right">
                        <form  action="{% url 'MarketPlace:Suitable' tlt=key.1.ro.0.4  vac=scope.ref_no %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-outline-success" style="width: 10rem">Suitable</button>
                        </form>&nbsp
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="btn btn-outline-secondary" style="width: 10rem">View Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>No talent identified as unsuitbale for this scope.</p>
            {% endfor %}
            {% endif %}

      {% if interview_n_count > 5 %}
        <div class="float-right">
          <a href="{% url 'MarketPlace:UnsuitableInterviewList' vac %}" class="btn btn-primary">View All Unsuitable Applicants</a>
        </div>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <h4 id='rejected'>Rejected Applicants</h4>
      <p>There are a total of {{ rej_bid_n_count }} rejected applicants{% if rej_bid_n_count >= 5 %}, we only list the first 5 here.{% else %}.{% endif %}</p>

      <div class="row">
        <div class="col-12">
        {% if rejected_applicants_list_view %}
          <form  action="{% url 'MarketPlace:RejectedApplicanctExpand' vac=scope.ref_no %}" method="post">
            {% csrf_token %}
            <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
          </form>
        {% else %}
          <form  action="{% url 'MarketPlace:RejectedApplicanctExpand' vac=scope.ref_no %}" method="post">
            {% csrf_token %}
            <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
          </form>
        {% endif %}
        </div>
      </div>

        {% if rejected_applicants_list_view %}
        {% if rej_bid_n_slice.items %}
          {% include 'marketplace/list_view_headings.html' %}
        {% endif %}
          {% for key in rej_bid_n_slice.items %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  {% include 'marketplace/list_view_fields.html' %}
                  <div class="col-1 col-no-pad h-100 text-center my-auto">
                    <form  action="{% url 'MarketPlace:ApplicantsBidShortList' tlt=key.1.ro.0.4  vac=scope.ref_no %}" method="post" name="active">
                    {% csrf_token %}
                    <button type="submit"  class="badge badge-success badge-pill float-right" style="width: 6rem;">Short-list</button>
                    <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill float-right" style="min-width: 6rem">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No talent has been rejected for this scope.</p>
          {% endfor %}
          {% else %}
          {% for key in rej_bid_n_slice.items %}
          <div class="row">
            <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
              <div class="card-body small-pad">
                {% include 'marketplace/expanded_view_fields.html' %}
                <div class="row my-auto">
                  <div class="col-md-12 h-100">
                    <div class="row my-auto float-right">
                      <form  action="{% url 'MarketPlace:ApplicantsBidShortList' tlt=key.1.ro.0.4  vac=scope.ref_no %}" method="post" name="active">
                      {% csrf_token %}
                      <button type="submit"  class="btn btn-outline-success" style="width: 10rem;">Short-list</button>&nbsp
                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=scope.ref_no %}" target="_blank" class="btn btn-outline-secondary" style="width: 10rem">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No talent has been rejected for this scope.</p>
          {% endfor %}
          {% endif %}

    {% if rej_bid_n_count > 5 %}
      <div class="float-right">
        <a href="{% url 'MarketPlace:BidRejectedList' vac %}" class="btn btn-primary">View All Rejected Applicants</a>
      </div>
    {% endif %}
  </div>
</div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <h4>Declined Invitation for Interview</h4>
      <p>There are a total of {{ intv_declined_count }} interview invitations declined{% if intv_declined_count >= 5 %}, we only list the first 5 here.{% else %}.{% endif %}</p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Alias</strong>
          </div>
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Reason</strong>
          </div>
        </div>
      </div>
      {% for intd in intv_declined %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.talent.alias }}
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.tlt_decline_reason }}
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-md-12 h-100 text-left my-auto">
                <br>
                <p class="short-paragraph"><strong>Details:</strong></p>
                <p>{{ intd.comments_tlt|linebreaks }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>Nobody has Declined the Interview Invitation.</p>
      {% endfor %}
      {% if intv_declined_count > 5 %}
        <div class="float-right">
          <a href="{% url 'MarketPlace:DeclinedInvInterviewList' vac %}" class="btn btn-primary">View All Unsuitable Applicants</a>
        </div>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <h4>Declined Assignment</h4>
      <p>There are a total of {{ vacancy_declined_count }} assignments declined{% if vacancy_declined_count >= 5 %}, we only list the first 5 here.{% else %}.{% endif %}</p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Alias</strong>
          </div>
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Reason</strong>
          </div>
        </div>
      </div>
      {% for intd in vacancy_declined %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.talent.alias }}
              </div>
              <div class="col-md-6 h-100 text-center my-auto">
                {{ intd.tlt_decline_reason }}
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-md-12 h-100 text-left my-auto">
                <br>
                <p class="short-paragraph"><strong>Details:</strong></p>
                <p>{{ intd.comments_tlt|linebreaks }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>Nobody has declined an assignment.</p>
      {% endfor %}
      {% if intv_declined_count > 5 %}
        <div class="float-right">
          <a href="{% url 'MarketPlace:DeclinedAssignmentInterviewList' vac %}" class="btn btn-primary">View All Assignments Declined</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock content %}

{% block Script %}

{% endblock Script %}
