{% load humanize %}

<div class="col-2 col-no-pad h-100 text-center my-auto">
  {% if key.1.count > 1 %}
    {{ key.1.ro.0.4 }}<br><strong>{{ key.1.score }}</strong><br>(by {{ key.1.count }} people)
  {% else %}
    {{ key.1.ro.0.4 }}<br><strong>Not Rated</strong><br>(by < 5 people)
  {% endif %}
</div>
<div class="col-1 col-no-pad h-100 text-center my-auto">
  {{ key.1.we|intcomma }}<br>(<strong>{{ key.1.s_no }}</strong> skills)
</div>
<div class="col-1 col-no-pad h-100 text-center my-auto">
  {{ key.1.te }}
</div>
<div class="col-1 col-no-pad h-100 text-center my-auto">
  {{ key.1.rb }}
</div>
<div class="col-1 col-no-pad h-100 text-center my-auto">
  {{ key.1.ro.0.1 }}<br><strong>{{ key.1.ro.0.0 }}</strong><br>{{ key.1.ro.0.2 }}
</div>
<div class="col-5 h-100 text-left my-auto">
  {{ key.1.ro.0.3|truncatechars:190 }}
</div>
