<div class="">
  <div class="row my-auto">
    <div class="col-2 col-no-pad h-100 text-center my-auto">
      <strong>Alias</strong>
    </div>
    <div class="col-1-auto col-no-pad h-100 text-center my-auto flex">
      <strong>Experience<br>Hours</strong>
    </div>
    <div class="col-1 col-no-pad h-100 text-center my-auto">
      <strong>Training<br>Hours</strong>
    </div>
    <div class="col-1 col-no-pad h-100 text-center my-auto">
      <strong>Books Read</strong>
    </div>
    <div class="col-1 col-no-pad h-100 text-center my-auto">
      <strong>Rate</strong>
    </div>
    <div class="col-5 col-no-pad h-100 text-center my-auto">
      <strong>Motivation</strong>
    </div>
    <div class="col-1-auto col-no-pad h-100 text-center my-auto flex">
      <strong>Action</strong>
    </div>
  </div>
</div>
