{% extends "base_home.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{block.super}}-Dashboard{{ scope.ref_no }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="float-right">
  <a href="{% url 'MarketPlace:InterviewList' vac %}?next={{ request.path|urlencode }}" class="btn btn-secondary" style="width:6rem;">Back</a>
  <a href="{% url 'MarketPlace:VacancyIntDetail' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Interview list</a>
  <a href="{% url 'MarketPlace:ShortListView' scope.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-secondary">Short-list</a>
  </div>
    <h3 class="card-title">Talent Dashboard for {{ scope.title }} ({{ scope.ref_no }})</h3>
    <br>
</div>
    <div class="card card-shadow">
      <div class="card-body">
        <h4 id='pending'>Pending Interviews</h4>
        <p>There are a total of {{ interview_p_count }} pending interviews listed here.</p>
        <div class="row">
          <div class="col-12">
          {% if pending_interviews_list_view %}
            <form  action="{% url 'MarketPlace:PendingInterviewsFLExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary float-right" style="width:8rem;">Expanded</button>
            </form>
          {% else %}
            <form  action="{% url 'MarketPlace:PendingInterviewsFLExpand' vac=scope.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary float-right" style="width:8rem;">List</button>
            </form>
          {% endif %}
          </div>
        </div>

          {% if pending_interviews_list_view %}
            {% include 'marketplace/list_view_headings.html' %}
            {% for key in pageitems %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    {% include 'marketplace/list_view_fields.html' %}
                    <div class="col-1 col-no-pad h-100 text-center my-auto">
                      <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                      {% csrf_token %}
                      <button type="submit"  class="badge badge-success badge-pill float-right" style="width: 6rem;">Chat</button>
                      </form>
                      <form  action="{% url 'MarketPlace:PendingSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-success badge-pill float-right" style="width: 6rem">Suitable</button>
                      </form>
                      <a href="{% url 'MarketPlace:PendingNotSuitable' tltkey.1.ro.0.4 vac=scope.ref_no %}" class="badge badge-danger badge-pill float-right" style="width: 6rem">Not Suitable</a>
                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4  vac=scope.ref_no %}" target="_blank" class="badge badge-secondary badge-pill float-right" style="width: 6rem">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>There are no people pending review.</p>
            {% endfor %}
            {% else %}
            {% for key in pageitems %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  {% include 'marketplace/expanded_view_fields.html' %}
                  <div class="row my-auto">
                    <div class="col-md-12 h-100">
                      <div class="row my-auto float-right">
                        <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                        {% csrf_token %}
                        <button type="submit"  class="btn btn-outline-success" style="width: 10rem;">Chat</button>
                        </form>&nbsp
                        <form  action="{% url 'MarketPlace:PendingSuitable' tlt=key.1.ro.0.4 vac=scope.ref_no %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-outline-success" style="width: 10rem">Suitable</button>
                        </form>&nbsp
                        <a href="{% url 'MarketPlace:PendingNotSuitable' tltkey.1.ro.0.4 vac=scope.ref_no %}" class="btn btn-outline-danger" style="width: 10rem">Not Suitable</a>&nbsp
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4  vac=scope.ref_no %}" target="_blank" class="btn btn-outline-secondary" style="width: 10rem">View Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>There are no people pending review.</p>
            {% endfor %}
            {% endif %}

        <nav aria-label="Page navigation">
          {% if pageitems.has_other_pages %}
            <ul class="pagination">
              {% if pageitems.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    <span class="sr-only disabled">Previous</span>
                  </a></li>
              {% else %}
                <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
              {% endif %}

              {% if pageitems.number|add:'-4' > 1 %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in pageitems.paginator.page_range %}
                {% if pageitems.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                  <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if pageitems.has_next %}
                <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-link disabled"><span>Next</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </nav>

      </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}

{% endblock content %}

{% block Script %}

{% endblock Script %}
