{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-RFI{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="container">
      <div class="btn-toolbar float-right">
        <form  action="{% url 'BookList:BLB' %}" method="post">
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Back</button>
        </form>
      </div>
  <h3 class="card-title">Requested Clarifications for {{ instance.work.title }} ({{ instance.work.ref_no }})</h3>
  <hr>
  <h6>Information Requested:</h6>
  <p>{{ instance.clarification_required }}</p>
  <hr>
  <p>Please contact the Talent directly at <a href="mailto:{{ instance.talent.email }} ">{{ instance.talent.email }}</a> to further discuss this vacancy.</p>
    </div>
  </div>
</div>
{% endblock content %}
{% block Script %}

{% endblock Script %}
