{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-RFI{% endblock title %}

{% block content %}
<div class="container">
  <h3>Requested Clarifications for {{ instance.work.title }} ({{ instance.work.ref_no }})</h3>
  <hr>
  <h6>Information Requested:</h6>
  <p>{{ instance.clarification_required }}</p>
  <hr>
  <p>Please contact the Talent directly at <a href="mailto:{{ instance.talent.email }} ">{{ instance.talent.email }}</a> to further discuss this vacancy.</p>



  </div>

{% endblock content %}
{% block Script %}

{% endblock Script %}
