{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:History' %}" class="btn btn-secondary">Back</a>
      <a href="{% url 'MarketPlace:HelpRolesShortlistedForFull' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="fa fa-question-circle"></i></a>
    </div>
    <h4 class="card-title">Vacancy Application History</h4>
    <h5 class="card-title">Roles Applied for - Shortlisted Positions</h5>
    <p>{% if applied_sl_c == 0 %}You have not been shortlisted for any positions that you have applied for yet.{% elif applied_sl_c < 5 %}Showing <strong>{{ applied_sl_c }}</strong> out of <strong>{{ role_c }}</strong> applications that you have been shortlisted for.{% else %}You currently have a total of <strong>{{ applied_sl_c }}</strong> applications that you have been shortlisted for out of <strong>{{role_c}}</strong> applications{% endif %}</p>
    <div class="container">
      <div class="row my-auto">
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date Applied</strong>
        </div>
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Vacancy Title</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Hours Required</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Work<br>Configeration</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Country</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Status</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    {% for i in pageitems %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>None of your applications have been shortlisted - go and apply for more vacancies!</p>
    {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
