{% extends "base_home.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{block.super}}-Shortlist{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-shadow h-100">
        <div class="card-body">
          <div class="btn-toolbar float-right">
            <form  action="{% url 'BookList:BLB' %}" method="post">
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">
                Back to {{vacancy.ref_no}}
              </button>
            </form>
            &nbsp <a href="{% url 'MarketPlace:InterviewList' vacancy.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">
              Vacancy Dashboard
            </a>
          </div>
          <h4 class="card-title">
            Short list for {{ vacancy.title }} ({{ vacancy.ref_no }})
          </h4>
          {% if closed == True %}
            <p>This vacancy has been awarded and is closed.</p>
          {% else %}
          <br>
          <div class="row">
            <div class="col-12">
            {% if list_view %}
              <form  action="{% url 'MarketPlace:ShortlistExpand' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
              </form>
            {% else %}
              <form  action="{% url 'MarketPlace:ShortlistExpand' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
              </form>
            {% endif %}
            </div>
          </div>

            {% if list_view %}
              {% include 'marketplace/list_view_headings.html' %}
              {% for key in pageitems %}
              <div class="row">
                <div class="card mt-1 card-hover" style="width: 100%;">
                  <div class="card-body small-pad">
                    <div class="row my-auto">
                      {% include 'marketplace/list_view_fields.html' %}
                      <div class="col-1 col-no-pad h-100 text-center my-auto">
                        {% if key.0 in declined %}
                          <button type="submit" class="badge badge-danger badge-pill float-right" style="width: 6rem">Talent<br>Declined</button>
                        {% else %}

                          <form  action="{% url 'MarketPlace:VacInterview' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge badge-info badge-pill float-right" style="width: 6rem">Interview</button>
                          </form>
                          {% if active == False %}
                          <form  action="{% url 'MarketPlace:VacAssign' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}?next={{ request.path|urlencode }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge badge-success badge-pill float-right" style="width: 6rem">Assign</button>
                          </form>
                          {% else %}
                            <button type="submit" class="badge badge-success badge-pill float-right" style="width: 6rem">Pending</button>
                          {% endif %}
                          <form  action="{% url 'MarketPlace:VacDecline' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}?next={{ request.path|urlencode }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge badge-danger badge-pill float-right" style="width: 6rem">Not Suitable</button>
                          </form>
                        {% endif %}
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}" target="_blank" class="badge badge-success badge-pill float-right" style="width: 6rem">View Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
                <p>Nobody is currently shortlisted for this vacancy.</p>
              {% endfor %}
              {% else %}
              {% for key in pageitems %}
              <div class="row">
                <div class="card mt-1 card-hover" style="width: 100%;">
                  <div class="card-body small-pad">
                    {% include 'marketplace/expanded_view_fields.html' %}
                    <div class="row my-auto">
                      <div class="col-md-12 h-100">
                        <div class="row my-auto float-right">
                          {% if key.0 in declined %}
                            <button type="submit" class="btn btn-outline-danger" style="width: 10rem">Talent<br>Declined</button>&nbsp
                          {% else %}

                            <form  action="{% url 'MarketPlace:VacInterview' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-outline-info" style="width: 10rem">Interview</button>
                            </form>&nbsp
                            {% if active == False %}
                            <form  action="{% url 'MarketPlace:VacAssign' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}?next={{ request.path|urlencode }}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-outline-success" style="width: 10rem">Assign</button>
                            </form>&nbsp
                            {% else %}
                              <button type="submit" class="btn btn-outline-success" style="width: 10rem">Pending</button>
                            {% endif %}
                            <form  action="{% url 'MarketPlace:VacDecline' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}?next={{ request.path|urlencode }}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-outline-danger" style="width: 10rem">Not Suitable</button>
                            </form>&nbsp
                          {% endif %}
                          <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=vacancy.ref_no %}" target="_blank" class="btn btn-outline-success" style="width: 10rem">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
                <p>Nobody is currently shortlisted for this vacancy.</p>
              {% endfor %}
              {% endif %}

          {% endif %}

          <nav aria-label="Page navigation">
            {% if pageitems.has_other_pages %}
              <ul class="pagination">
                {% if pageitems.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                      <span class="sr-only disabled">Previous</span>
                    </a></li>
                {% else %}
                  <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
                {% endif %}

                {% if pageitems.number|add:'-4' > 1 %}
                  <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in pageitems.paginator.page_range %}
                  {% if pageitems.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                    <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                  <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if pageitems.has_next %}
                  <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="page-link disabled"><span>Next</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </nav>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
