{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Talent Suited to the Vacancy Full List{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">

      <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-primary">View Short-list</a>
      <a href="{% url 'MarketPlace:VacancyIntDetail' instance.ref_no %}" class="btn btn-primary">Interview List</a>
      <a href="{% url 'MarketPlace:InterviewList' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-primary">Vacancy Dashboard</a>
      <a href="{% url 'MarketPlace:VacancyPost' instance.ref_no %}?next={{ request.path|urlencode }}"  class="btn btn-secondary">Back</a>
      <a href="{% url 'MarketPlace:HelpTalentSuitedVacancyFull' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
      <h4 id='suited'>Talent suited to the Vacancy: <br>{{ instance.title }}</h4>
      <p>There is a total of {{ suitable_count }} talent suited to the vacancy listed here.</p>

      <div class="row">
        <div class="col-12">
        {% if list_view %}
          <form  action="{% url 'MarketPlace:SuitedFLExpand' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary float-right" style="width:8rem;">Expanded</button>
          </form>
        {% else %}
          <form  action="{% url 'MarketPlace:SuitedFLExpand' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary float-right" style="width:8rem;">List</button>
          </form>
        {% endif %}
        </div>
      </div>

        {% if list_view %}
          {% include 'marketplace/list_view_headings.html' %}
          {% for key in pageitems %}
          <div class="row">
            <div class="card mt-2 card-hover" style="width: 100%;">
              <div class="card-body">
                <div class="row my-auto">
                  {% include 'marketplace/list_view_fields.html' %}
                  <div class="col-1 col-no-pad h-100 text-center my-auto">
                    <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                    {% csrf_token %}
                    <button type="submit"  class="badge badge-danger badge-pill float-right" style="width: 6rem;">Rejected</button>
                    </form>
                    <form  action="{% url 'MarketPlace:FullListShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-info badge-pill float-right" style="width: 6rem;">Short-list</button>
                    </form><br>
                    <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}" class="badge badge-success badge-pill float-right" style="width: 5rem;" target="new">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            {% if s_list %}
              <p>All suitable talent has been short-listed.</p>
              <p><a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info">Goto Short-list</a></p>
            {% else %}
              <p>There is no talent currently in MyWexLog suited to this vacancy.</p>
            {% endif %}
          {% endfor %}
          {% else %}
          {% for key in pageitems %}
          <div class="row">
            <div class="card mt-2 card-hover" style="width: 100%;">
              <div class="card-body">
                {% include 'marketplace/expanded_view_fields.html' %}
                <div class="row my-auto">
                  <div class="col-md-12 h-100">
                    <div class="row my-auto float-right">
                      <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                      {% csrf_token %}
                      <button type="submit"  class="btn btn-outline-danger" style="width: 10rem;">Rejected</button>
                      </form>&nbsp
                      <form  action="{% url 'MarketPlace:FullListShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-info" style="width: 10rem;">Short-list</button>
                      </form>&nbsp
                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}" class="btn btn-outline-success" style="width: 10rem;" target="new">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            {% if s_list %}
              <p>All suitable talent has been short-listed.</p>
              <p><a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info">Goto Short-list</a></p>
            {% else %}
              <p>There is no talent currently in MyWexLog suited to this vacancy.</p>
            {% endif %}
          {% endfor %}
          {% endif %}


      <nav aria-label="Page navigation">
          {% if pageitems.has_other_pages %}
            <ul class="pagination">
              {% if pageitems.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    <span class="sr-only disabled">Previous</span>
                  </a></li>
              {% else %}
                <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
              {% endif %}

              {% if pageitems.number|add:'-4' > 1 %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in pageitems.paginator.page_range %}
                {% if pageitems.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                  <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if pageitems.has_next %}
                <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-link disabled"><span>Next</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </nav>

  </div>
</div>
</div>
</div>

{% endblock content %}
