{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Talent Suited to the Vacancy Full List{% endblock title %}

{% block content %}
<div class="card border-0">
  <div class="card-body">
    <div class="float-right">

      <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">View Short-list</a>
      <a href="{% url 'MarketPlace:VacancyIntDetail' instance.ref_no %}" class="btn btn-info">Interview List</a>
      <a href="{% url 'MarketPlace:InterviewList' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">Vacancy Dashboard</a>
      <a href="{% url 'MarketPlace:VacancyPost' instance.ref_no %}?next={{ request.path|urlencode }}"  class="btn btn-secondary">Back</a>
      <a href="{% url 'MarketPlace:HelpTalentSuitedVacancyFull' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
      <h4 id='suited'>Talent suited to the Vacancy Full List</h4>
      <p>There is a total of {{ suitable_count }} talent suited to the vacancy listed here.</p>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th class="text-center">Alias</th>
            <th class="text-center">Experience</th>
            <th class="text-center">Training</th>
            <th class="text-center">Captured Skills</th>
            <th class="text-center">Books Read</th>
            <th class="text-center">Rate</th>
            <th class="text-left">Motivation</th>
          </tr>
        </thead>
        <tbody>
          {% for key in pageitems %}
          <tr>
            <td class="align-middle">{{ key.1.ro.0.4 }}</td>
            <td class="align-middle">{{ key.1.we }}</td>
            <td class="align-middle">{{ key.1.te }}</td>
            <td class="align-middle">{{ key.1.s_no }}</td>
            <td class="align-middle">{{ key.1.rb }}</td>
            <td class="align-middle">{{ key.1.ro.0.1 }} <strong>{{ key.1.ro.0.0 }}</strong> {{ key.1.ro.0.2 }}</td>
            <td class="align-middle">{{ key.1.ro.0.3|truncatechars:200 }}</td>
            <td class="align-middle"><p>
            <form  action="{% url 'MarketPlace:FullListShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-info badge-pill float-right" style="width: 5rem;">Short-list</button>
            </form><br>
            <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}" class="badge badge-success badge-pill float-right" style="width: 5rem;" target="new">View Profile</a></p>
            </td>
            {% empty %}
              {% if s_list %}
                  <td colspan="6">All suitable talent has been short-listed.</td>
                  <td>
                    <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info">Goto Short-list</a>
                  </td>
              {% else %}
                    <td colspan="7">There is no talent currently in MyWexLog suited to this vacancy.</td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <nav aria-label="Page navigation">
          {% if pageitems.has_other_pages %}
            <ul class="pagination">
              {% if pageitems.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    <span class="sr-only disabled">Previous</span>
                  </a></li>
              {% else %}
                <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
              {% endif %}

              {% if pageitems.number|add:'-4' > 1 %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in pageitems.paginator.page_range %}
                {% if pageitems.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                  <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if pageitems.has_next %}
                <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-link disabled"><span>Next</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </nav>

  </div>
</div>
</div>
</div>

{% endblock content %}
