{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-secondary">Back</a>
      <a href="{% url 'MarketPlace:HelpRolesAppliedForSummary' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title">Vacancy Application History</h4>
    <h4 class="card-title">Roles Applied for</h4>
    <p>You have a total of <strong>{{ applied_count }}</strong> roles that you have applied for{% if applied_count > 10 %}, we only list the most recent 10 here.{% else %}.{% endif %}</p>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th class="align-middle text-center">Date Applied</th>
          <th class="align-middle text-center">Vacancy Title</th>
          <th class="align-middle text-center">Ref. No.</th>
          <th class="align-middle text-center">Hours Required</th>
          <th class="align-middle text-center">Work Configeration</th>
          <th class="align-middle text-center">Country</th>
          <th class="align-middle text-center">Status</th>
        </tr>
      </thead>
      <tbody>

        {% for i in applied %}
          <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}'">
            <td>{{ i.date_applied|date:"d N Y" }}</td>
            <td>{{ i.work.title|truncatechars:37 }}</td>
            <td>{{ i.work.ref_no }}</td>
            <td>
              {{ i.work.hours_required|intcomma }} ({{ i.work.get_unit_display }})
            </td>
            <td>{{ i.work.worklocation }}</td>
            <td>{{ i.work.city }}</td>
            <td>{{ i.get_bidreview_display }}</td>
            {% if request.user.subscription == 2 %}
              <td><a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}" class="badge badge-secondary" style="width: 6rem">See Detail</a></td>
            {% elif request.user.subscription < 2 %}
              <td><a href="#" class="badge badge-primary" style="width: 6rem">See Detail</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if applied_count > 10 %}
    <div class="float-right">
      <a href="{% url 'MarketPlace:RolesAppliedForFullList' %}" class="btn btn-primary" style="width: 10rem">View Full List</a>
    </div>
    {% endif %}
  </div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:HelpRolesShortlistedForSummary' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title">Roles Shortlisted for</h4>
    <p>You have a total of <strong>{{ s_list_count }}</strong> roles that you have been shortlisted for{% if s_list_count > 10 %}, we only list the most recent 10 here.{% else %}.{% endif %}</p>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th class="align-middle text-center">Date Applied</th>
          <th class="align-middle text-center">Vacancy Title</th>
          <th class="align-middle text-center">Ref. No.</th>
          <th class="align-middle text-center">Hours Required</th>
          <th class="align-middle text-center">Work Configeration</th>
          <th class="align-middle text-center">Country</th>
          <th class="align-middle text-center">Status</th>
        </tr>
      </thead>
      <tbody>

        {% for i in s_list %}
          <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}'">
            <td>{{ i.date_listed|date:"d N Y" }}</td>
            <td>{{ i.scope.title|truncatechars:37 }}</td>
            <td>{{ i.scope.ref_no }}</td>
            <td>
              {{ i.scope.hours_required|intcomma }} ({{ i.scope.get_unit_display }})
            </td>
            <td>{{ i.scope.worklocation }}</td>
            <td>{{ i.scope.city }}</td>
            <td>{{ i.get_status_display }}</td>
            {% if request.user.subscription == 2 %}
              <td><a href="{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}" class="badge badge-secondary 8rem" style="width: 6rem">See Detail</a></td>
            {% elif request.user.subscription < 2 %}
              <td><a href="#" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a></td>
            {% endif %}
          </tr>
        {% endfor %}

    </tbody>
    </table>
    {% if s_list_count > 10 %}
    <div class="float-right">
      <a href="{% url 'MarketPlace:RolesShortlistedFullList' %}" class="btn btn-primary" style="width: 10rem">View Full List</a
    </div>
    {% endif %}
  </div>
</div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:HelpUnseccessfulApplicationsSummary' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title">Unsuccessful Applications</h4>
    <p>You have a total of <strong>{{ rejected_count }}</strong> roles that you have been rejected for{% if rejected_count > 10 %}, we only list the most recent 10 here.{% else %}.{% endif %}</p>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th class="align-middle text-center">Date Applied</th>
          <th class="align-middle text-center">Vacancy Title</th>
          <th class="align-middle text-center">Ref. No.</th>
          <th class="align-middle text-center">Hours Required</th>
          <th class="align-middle text-center">Work Configeration</th>
          <th class="align-middle text-center">Country</th>
          <th class="align-middle text-center">Status</th>
        </tr>
      </thead>
      <tbody>

        {% for r in rejected %}
          <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' r.work.ref_no %}'">
            <td>{{ r.work.date_applied|date:"d N Y" }}</td>
            <td>{{ r.work.title|truncatechars:37 }}</td>
            <td>{{ r.work.ref_no }}</td>
            <td>
              {{ r.work.hours_required|intcomma }} ({{ r.work.get_unit_display }})
            </td>
            <td>{{ r.work.worklocation }}</td>
            <td>{{ r.work.city }}</td>
            <td>{{ r.get_bidreview_display }}</td>
            {% if request.user.subscription == 2 %}
              <td><a href="{% url 'MarketPlace:VacancyDetail' r.work.ref_no %}" class="badge badge-secondary 8rem" style="width: 6rem">See Detail</a></td>
            {% elif request.user.subscription < 2 %}
              <td><a href="#" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a></td>
            {% endif %}
          </tr>
      {% endfor %}
      {% for r in p_rejected %}
        <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' r.scope.ref_no %}'">
          <td>{{ r.date_listed|date:"d N Y" }}</td>
          <td>{{ r.scope.title|truncatechars:37 }}</td>
          <td>{{ r.scope.ref_no }}</td>
          <td>
            {{ r.scope.hours_required|intcomma }} ({{ r.scope.get_unit_display }})
          </td>
          <td>{{ r.scope.worklocation }}</td>
          <td>{{ r.scope.city }}</td>
          <td>{{ r.get_status_display }}</td>
          {% if request.user.subscription == 2 %}
            <td><a href="{% url 'MarketPlace:VacancyDetail' r.scope.ref_no %}" class="badge badge-secondary 8rem" style="width: 6rem">See Detail</a></td>
          {% elif request.user.subscription < 2 %}
            <td><a href="#" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a></td>
          {% endif %}
        </tr>
    {% endfor %}

    </tbody>
    </table>
    <div class="float-right">
      <a href="{% url 'MarketPlace:UnsuccessfulApplicationsFullList' %}" class="btn btn-primary" style="width: 10rem">View Full List</a
    </div>
  </div>
</div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:HelpSeccessfulApplicationsSummary' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title">Successful Applications</h4>
    <p>You have a total of <strong>{{ accepted_count }}</strong> roles that you have been successful in{% if accepted_count > 10 %}, we only list the most recent 10 here.{% else %}.{% endif %}</p>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th class="align-middle text-center">Date Applied</th>
          <th class="align-middle text-center">Vacancy Title</th>
          <th class="align-middle text-center">Ref. No.</th>
          <th class="align-middle text-center">Hours Required</th>
          <th class="align-middle text-center">Work Configeration</th>
          <th class="align-middle text-center">Country</th>
          <th class="align-middle text-center">Status</th>
        </tr>
      </thead>
      <tbody>

      {% for s in accepted %}
        <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' s.work.ref_no %}'">
          <td>{{ s.date_applied|date:"d N Y" }}</td>
          <td>{{ s.work.title|truncatechars:37 }}</td>
          <td>{{ s.work.ref_no }}</td>
          <td>
            {{ s.work.hours_required|intcomma }} ({{ s.work.get_unit_display }})
          </td>
          <td>{{ s.work.worklocation }}</td>
          <td>{{ s.work.city }}</td>
          <td>{{ s.get_bidreview_display }}</td>
          {% if request.user.subscription == 2 %}
            <td><a href="{% url 'MarketPlace:VacancyDetail' s.work.ref_no %}" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a></td>
          {% elif request.user.subscription < 2 %}
            <td><a href="#" class="badge badge-primary 8rem" style="width: 6rem">See Detail</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      {% for s in p_accepted %}
        <tr onclick="window.location='{% url 'MarketPlace:VacancyDetail' s.scope.ref_no %}'">
          <td>{{ s.date_listed|date:"d N Y" }}</td>
          <td>{{ s.scope.title|truncatechars:37 }}</td>
          <td>{{ s.scope.ref_no }}</td>
          <td>
            {{ s.scope.hours_required|intcomma }} ({{ s.scope.get_unit_display }})
          </td>
          <td>{{ s.scope.worklocation }}</td>
          <td>{{ s.scope.city }}</td>
          <td>{{ s.get_status_display }}</td>
          {% if request.user.subscription == 2 %}
            <td><a href="{% url 'MarketPlace:VacancyDetail' s.scope.ref_no %}" class="badge badge-primary" style="width: 6rem">See Detail</a></td>
          {% elif request.user.subscription < 2 %}
            <td><a href="#" class="badge badge-primary" style="width: 6rem">See Detail</a></td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="float-right">
      <a href="{% url 'MarketPlace:SuccessfulApplicationsFullList' %}" class="btn btn-primary" style="width: 10rem">View Full List</a
    </div>
  </div>
</div>
{% endblock content %}
