{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Vacancy Search{% endblock title %}

{% block content %}
<div class="card card-shadow0">
  <div class="card-body">
  {% if query %}
  <h4>Vacancies with Reference Number containing "{{ query }}"</h4>
  <h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
  </h3>
  <div class="container">
    <div class="row my-auto">
      <div class="col-md-1 h-100 text-center my-auto">
        <strong>Reference Number</strong>
      </div>
      <div class="col-md-3 h-100 text-center my-auto">
        <strong>Vacancy Title</strong>
      </div>
      <div class="col-md-1 h-100 text-center my-auto">
        <strong>Hours Required</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Work Format</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Country</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Full Detail</strong>
      </div>
    </div>
  </div>
  {% for i in results %}
  <div class="row">
    <div class="card mt-2 card-hover" style="width: 100%;">
      <div class="card-body">
        <div class="row my-auto">
          <div class="col-md-1 h-100 text-center my-auto">
            {{ i.ref_no }}
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            {{ i.title }}
          </div>
          <div class="col-md-1 h-100 text-center my-auto">
            {{ i.hours_required|intcomma }}<br>({{ i.get_unit_display }})
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            {{ i.worklocation }}
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            {{ i.city }}
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            {% if request.user.subscription == 2 %}
              <a href="{% url 'MarketPlace:VacancyDetail' i.ref_no %}" class="card-link">See Detail</a>
            {% elif request.user.subscription < 2 %}
              <a href="#" class="card-link">See Detail</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
    <p>No vacancies matching your query.</p>
  {% endfor %}
  <form action="." method="get">
  {{ form.as_p }}
  <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-danger">Cancel</a>
  <input type="submit" class="btn btn-primary 8rem " style="width: 8rem" value="Search Again">
  </form>
  {% else %}
  <h4>Search for Vacancy</h4>
  <div class="card-body">
    <form action="." method="get">
    {{ form.as_p }}
    <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-danger">Cancel</a>
    <input type="submit" value="Search" class="btn btn-primary 8rem " style="width: 8rem">
    </form>
  {% endif %}
</div>
</div>

{% endblock content %}
{% block Script %}
{% endblock Script %}
