{% load humanize %}

<div class="row">
<div class="col-md-12 h-100 my-auto">

    <p class="name-paragraph"><span class="font-blue font-bold" style="font-size:22px;">{{ s.title|truncatechars:37 }}</span> <span class="font-light">({{ s.ref_no }})</span></p>
    {% if request.user.subscription >= 2 %}
    <p class="short-paragraph">{{ s.companybranch }}</p>
    {% else %}
    <p class="short-paragraph">Company Name</p>
    {% endif %}
    <p class="name-paragraph" style="font-size: 1.1rem;">
    {% if request.user.subscription >= 1 %}
      {% if s.companybranch.rate_count >= 5 %}
        {% if s.companybranch.avg_rate >= 0 and s.companybranch.avg_rate < 0.5 %}
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 0.5 and s.companybranch.avg_rate < 1 %}
          <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 1 and s.companybranch.avg_rate < 1.5 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 1.5 and s.companybranch.avg_rate < 2 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 2 and s.companybranch.avg_rate < 2.5 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 2.5 and s.companybranch.avg_rate < 3 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 3 and s.companybranch.avg_rate < 3.5 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 3.5 and s.companybranch.avg_rate < 4 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 4 and s.companybranch.avg_rate < 4.5 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 4.5 and s.companybranch.avg_rate < 4.95 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
        {% elif s.companybranch.avg_rate >= 4.95 %}
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
          <span><i class="fa fa-star" aria-hidden="true"></i></span>
        {% endif %}

        &nbsp{{ s.companybranch.avg_rate }} ({{ s.companybranch.rate_count }} ratings)&nbsp
        <a href="{% url 'Enterprise:EmpRatingDetail' s.companybranch.slug %}" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Ratings Breakdown"><i class="fa fa-pie-chart" aria-hidden="true"></i></a>
      {% else %}
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
        &nbsp<strong>(Not Rated)</strong>
      {% endif %}
    {% else %}
      Upgrade your subscription to<br>view company & company score
    {% endif %}
    </p>

    <p class="short-paragraph"><span class="font-grey">{{ s.rate_offered|intcomma }} {{ s.currency }} ({{ s.get_rate_unit_display }})</span></p>
    <p class="short-paragraph"><span class="font-grey">{{ s.hours_required|intcomma }} Hours ({{ s.get_unit_display }})</span></p>
    <p><span class="font-grey">{{ s.worklocation }} in {{ s.city }}</span></p>
    <p class="short-paragraph"><strong>Skills Required:</strong></p>
    <p>{% for vac in s.skillrequired_set.all %}
      <button class="btn btn-outline-secondary auto">{{ vac.skills.skill }}</button>
    {% endfor %}</p>
    <p class="short-paragraph"><strong>Scope:</strong></p>
    <p>{{ s.scope|safe|truncatechars:650 }}</p>
    <p class="short-paragraph"><strong>Expectations:</strong></p>
    <p>{{ s.expectations|safe|truncatechars:650 }}</p>

    </div>
  </div>
  <div class="row">
  <div class="col-md-12 h-100 my-auto">
    {% if request.user.subscription >= 2 %}
    <a href="{% url 'MarketPlace:VacancyDetail' s.ref_no %}" class="btn btn-outline-secondary float-right" target="_blank" style="width:10rem;">See Detail</a>
    {% else %}
    <p><a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-secondary float-right" style="width:10rem;" data-toggle="tooltip" data-placement="top" title="Active subscription required to see vacancy detail">See Detail</a></p>
    {% endif %}
  </div>
</div>
