{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Deliverables{% endblock title %}

{% block content %}
<div class="container">
<h3>Deliverables for {{ instance.title }}</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.deliverable|as_crispy_field }}
  <div class="">
    <p><button type="submit" name="another" class="btn btn-primary">Add Another</button> <button type="submit" name="done" class="btn btn-primary">Add Skills Required</button></p>
  </div>
</form>
{% if deliverable %}
<h4>Existing Deliverables</h4>
    <ul class="list-group">
      {% for d in deliverable %}
        <li class="list-group-item">{{ d.deliverable }}</li>
      {% endfor %}
    </ul>

{% endif %}
</div>

{% endblock content %}
{% block Script %}

{% endblock Script %}
