{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Apply{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form  action="{% url 'BookList:BLB' %}" method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger float-right">
        Cancel
      </button>
    </form>
    {% if bid_qs %}
      You have already applied for this role!
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Role</th>
            <th>Date<br>Applied</th>
            <th>Rate Bid</th>
            <th>Motiviation</th>
          </tr>
        </thead>
        <tbody>
          {% for x in bid_qs %}
          <tr>
            <td>{{ detail.title }}</td>
            <td>{{ x.date_applied }}</td>
            <td>{{ x.currency.currency_abv }}<br><strong>{{ x.rate_bid }}</strong><br>{{ x.get_rate_unit_display }}</td>
            <td>{{ x.motivation }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'MarketPlace:MarketHome' %}" class="btn btn-secondary">Back</a>
    {% else %}
      <h4>Apply for  {{ detail.title }}</h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-7 mb-0">
            {{ form.rate_bid|as_crispy_field }}
            {{ form.currency|as_crispy_field }}
            {{ form.rate_unit|as_crispy_field }}
          </div>
          <div class="form-group col-md-1 mb-0">
          </div>
          <div class="form-group col-md-4 mb-0">
            <br>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th colspan="2" class="align-middle text-center">Offered Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="align-middle text-center">Date<br>Captured</th>
                  <td class="align-middle text-center">{{ detail.date_entered|date:"j M Y" }}</td>
                </tr>
                <tr>
                  <th class="align-middle text-center">Reference<br>Number</th>
                  <td class="align-middle text-center">{{ detail.ref_no }}</td>
                </tr>
                <tr>
                  <th class="align-middle text-center">Rate<br>Offered</th>
                  <td class="align-middle text-center">{{ detail.currency }}<br><strong>{{ detail.rate_offered }}</strong><br>{{ detail.get_rate_unit_display }}</td>
                </tr>
                <th class="align-middle text-center">Applications<br>Closing</th>
                <td class="align-middle text-center">{{ detail.bid_closes|date:"j M Y" }}</td>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 mb-0">
            {{ form.motivation|as_crispy_field }}
          </div>
        </div>
        <div class="">
          <p>
            <a href="{% url 'MarketPlace:VacancyDetail' detail.ref_no %}" class="btn btn-danger">
              Cancel
            </a>
            <button type="submit" name="another" class="btn btn-primary">
              Apply
            </button>
          </p>
        </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
