{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Vacancies Suited for Me Full List{% endblock title %}

{% block content %}
<div class="card card-shadow" style="width: 68rem;">
  <div class="border-0" style="width: 100%;">
    <div class="card-body">
      <div class="float-right">
        <a href="{% url 'MarketPlace:Entrance' %}?next={{ request.path|urlencode }}"  class="btn btn-primary">Back</a>
        {% if request.user.subscription >= 2 %}
        <a href="{% url 'MarketPlace:History' %}" class="btn btn-primary" style="width: 8rem">View History</a>
        <a href="{% url 'MarketPlace:TalentInterviewHistory' request.user.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary 8rem" style="width: 10rem">Interview History</a>
        {% endif %}
        <a href="{% url 'MarketPlace:HelpVacanciesSuitedForMeFull' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
        <i class="fa fa-question-circle"></i></a>
      </div>
      <h4 class="card-title">Vacancies Suited for Me - Full List</h4>
      <p>You currently have <strong>{{ rem_vac }}</strong> vacancies that match your skillset experience.</p>
      <div class="row">
          <div class="col-md-12 h-100 my-auto">
      {% if vacancies_suited_list_view %}
        <form  action="{% url 'MarketPlace:VacanciesFLExpand' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="badge badge-primary float-right" style="width:8rem;">Expand All</button>
        </form>
      {% else %}
        <form  action="{% url 'MarketPlace:VacanciesFLExpand' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="badge badge-primary float-right" style="width:8rem;">List View</button>
        </form>
      {% endif %}
      </div>
    </div>
      {% if vacancies_suited_list_view %}
      {% for s in pageitems %}
      <div class="container">
      <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;" id="{{ s.id }}">
      <div class="post-wrap">
      <div class="post">
      {% with id=s.id %}

      <div class="post-front" style="display:block;" id="oldCard{{id}}">

      <div class="card-body small-pad">
        <div class="row" style="height: 20px;">
          <div class="col-md-12 h-100 my-auto">
            <div class="card-maximise float-right">
              <div class="row">
                  <button type="submit" class="pointer no-border max-btn" data-vac={{s.ref_no}} data-tlt={{tlt}} data-toggle="tooltip" title="Maximise" id="clickMe{{id}}"><i class="fa fa-window-maximize"></i></button>
                &nbsp
                <form action="{% url 'MarketPlace:CloseVacancy' tlt s.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="pointer no-border" data-toggle="tooltip" title="Close" name="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% include 'marketplace/vacancy_suited_list_view.html' %}
      </div>
      </div>

      <div class="post-back" style="display:none;" id="newCard{{id}}">

        <div class="card-body">
          <div class="row" style="height: 20px;">
            <div class="col-md-12 h-100 my-auto">
              <div class="card-maximise float-right">
                <div class="row">
                  <button type="submit" class="pointer no-border" data-toggle="tooltip" title="Minimise" id="un-clickMe{{id}}"><i class="fa fa-window-minimize"></i></button>
                  &nbsp
                  <form action="{% url 'MarketPlace:CloseVacancy' tlt s.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="pointer no-border" data-toggle="tooltip" title="Close" name="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
            {% include 'marketplace/vacancy_suited_expanded_view.html' %}
        </div>
      </div>
      </div>
      </div>
      </div>
      <script>
      var button = document.getElementById('clickMe{{id}}');  // 1
      button.addEventListener('click', function() {     // 3
         newCard{{ s.id }}.style.display = 'block';
         oldCard{{ s.id }}.style.display = 'none';               // 4
      });
      var button = document.getElementById('un-clickMe{{id}}');  // 1
      button.addEventListener('click', function() {     // 3
         newCard{{ s.id }}.style.display = 'none';
         oldCard{{ s.id }}.style.display = 'block';               // 4
      });
      </script>


      {% endwith %}
      </div>
      </div>

      {% empty %}
      <p>No vacancies matching your skills at the moment</p>
      {% endfor %}

      {% else %}
      {% for s in pageitems %}
<div class="container">
<div class="row">
  <div class="card mt-2 card-no-hover" style="width: 100%;" id="{{ s.id }}">
      <div class="card-body">
        <div class="row" style="height: 20px;">
          <div class="col-md-12 h-100 my-auto">

            <div class="card-maximise float-right">
            <div class="row">

            <form action="{% url 'MarketPlace:CloseVacancy' tlt s.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="pointer no-border" data-toggle="tooltip" title="Close" name="close"><i class="fa fa-times" aria-hidden="true"></i></button>
            </form>
            </div>
          </div>

        </div>
        </div>
          {% include 'marketplace/vacancy_suited_expanded_view.html' %}
      </div>
    </div>
  </div>
</div>
      {% empty %}
      <p>No vacancies matching your skills at the moment</p>
      {% endfor %}

      {% endif %}

      <br>
      <p>
        <strong>Only skills with a score of 3 or more are used in matching with required skills in vacancies.</strong>
      </p>

    </div>


<br>

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
