{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Vacancy{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<div class="container">
<h3>Advertise Work</h3>
<form method="post" id="BranchForm" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.title|as_crispy_field }}
      {{ form.enterprise|as_crispy_field }}
      <p><a href="{% url 'Enterprise:BranchAddPop' %}" id='add_branch' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Company Branch</a></p>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.date_deadline|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.offer_status|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 mb-0">
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.hours_required|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.unit|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.currency|as_crispy_field }}
          <p><a href="{% url 'Location:CurrencyAddPop' %}" id='add_currency' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Currency</a></p>
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.rate_offered|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.rate_unit|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.worklocation|as_crispy_field }}
          <p><a href="{% url 'MarketPlace:WorkLocationAddPop' %}" id='add_location' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Work Location</a></p>
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.city|as_crispy_field }}
          <p><a href="{% url 'Location:CityAddPop' %}" id='add_city' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a City, Town or Place</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3 mb-0">
      {{ form.certification|as_crispy_field }}
      <p><a href="{% url 'Talent:ResultAddPop' %}" id='add_course' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Certification</a></p>
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.terms|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.scope|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.expectations|as_crispy_field }}
    </div>
  </div>
  <div class="">
    <p><button type="submit" name="Done" class="btn btn-primary">Add Deliverables</button></p>
  </div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
