{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="float-right">
      <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-secondary">Back</a>
    </p>
    <h5 class="card-title">Vaccancy Application History</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Date Applied</th>
          <th>Vacancy Title</th>
          <th>Hours Required</th>
          <th>Work Format</th>
          <th>Vacancy Scope</th>
          <th>Country</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="7">Roles Applied for</th>
        </tr>
        {% for i in applied %}
          <tr>
            <td>{{ i.date_applied|date:"d N Y" }}</td>
            <td>{{ i.work.title }}</td>
            <td>
              {{ i.work.hours_required|intcomma }} ({{ i.work.get_unit_display }})
            </td>
            <td>{{ i.work.worklocation }}</td>
            <td>{{ i.work.scope }}</td>
            <td>{{ i.work.city }}</td>
            <td>{{ i.get_bidreview_display }}</td>
          </tr>
        {% endfor %}
          <tr>
            <th colspan="7">Unsuccessful Applications</th>
          </tr>
        {% for r in rejected %}
          <tr>
            <td>{{ r.date_applied|date:"d N Y" }}</td>
            <td>{{ r.work.title }}</td>
            <td>
              {{ r.work.hours_required|intcomma }} ({{ r.work.get_unit_display }})
            </td>
            <td>{{ r.work.worklocation }}</td>
            <td>{{ r.work.scope }}</td>
            <td>{{ r.work.city }}</td>
            <td>{{ r.get_bidreview_display }}</td>
          </tr>
      {% empty %}
        <th></th>
        <td colspan="6">None</td>
      {% endfor %}
        <tr>
          <th colspan="7">Successful Applications</th>
        </tr>
      {% for s in accpeted %}
        <tr>
          <td>{{ s.date_applied|date:"d N Y" }}</td>
          <td>{{ s.work.title }}</td>
          <td>
            {{ s.work.hours_required|intcomma }} ({{ s.work.get_unit_display }})
          </td>
          <td>{{ s.work.worklocation }}</td>
          <td>{{ s.work.scope }}</td>
          <td>{{ s.work.city }}</td>
          <td>{{ s.get_bidreview_display }}</td>
        </tr>
      {% empty %}
        <th></th>
        <td colspan="6">None</td>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock content %}
