{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Skills{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 200px;
  }
  </style>
<div class="card">
  <div class="card-body">
<h3>Skills for {{ instance.title }}</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.skills|as_crispy_field }}
      <p><a href="{% url 'Flatten:SkillAddPop' %}" id='add_skill' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Required Skill</a></p>
    </div>
  </div>
  <div class="">
    <p><a href="{% url 'MarketPlace:VacancyPost' instance.ref_no %}#skills" class="btn btn-danger">Cancel</a> <button type="submit" name="done" class="btn btn-primary">Add</button></p>
  </div>
</form>
</div>
</div>
<br>
<div class="card">
  <div class="card-body">
{% if skill_list %}
<h4>Skills already listed:</h4>
<div class="container" style="width:95%">
<ul class="list-group">
  {% for s in skill_list %}
    <li>{{ s.skills }}</li>
  {% endfor %}
  </ul>
{% endif %}
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
