{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy{% endblock title %}

{% block content %}
{% for v in vacancy %}
<div class="card">
  <div class="card-body">
<p class="float-right">
  <a href="{% url 'Profile:ProfileHome' %}#Interview" class="btn btn-secondary">Back</a>
</p>
<h5 class="card-title">Vacancy: {{ v.title }} ({{ v.ref_no }})</h5>
{% endfor %}
<table class="table table-sm">
  <thead>
    <tr>
      <th class="align-middle text-center">Hours Required</th>
      <th class="align-middle text-center">Work Format</th>
      <th class="align-middle text-center">Office Location</th>
      <th class="align-middle text-center">Experience Level</th>
      <th class="align-middle text-center">Company</th>
    </tr>
  </thead>
  <tbody>
    {% for v in vacancy %}
    <tr>
      <td class="align-middle text-center">
        {{ v.hours_required|intcomma }}<br>({{ v.get_unit_display }})
      </td>
      <td class="align-middle text-center">{{ v.worklocation }}</td>
      <td class="align-middle text-center">{{ v.city.city }}</td>
      <td class="align-middle text-center">{{ v.experience_level }}</td>
      <td class="align-middle text-center">
        {% if bch_r.rate_count > 4 %}
          {{ v.enterprise.company }}<br>{{ v.enterprise.name }}<br><strong>{{ bch_r.avg_rate }} ({{ bch_r.rate_count }} votes)</strong>
        {% else %}
          {{ v.enterprise.company }}<br>{{ v.enterprise.name }}<br><strong>No Rating (Votes < 5)</strong>
        {% endif %}
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<br>
<div class="row">
  <div class="col-sm-6">
    <div class="h-100">
      <div class="card-body">
        <h5 class="card-title">Scope</h5>
        {% for s in vacancy %}
        <p>{{ s.scope|linebreaks }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="h-100">
      <div class="card-body">
        <h5 class="card-title">Expectations</h5>
        {% for e in vacancy %}
        <p>{{ e.expectations|linebreaks }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<br>
<div class="">
  <div class="card-body">
<table class="table table-sm">
  <thead>
    <tr>
      <th class="align-middle text-center">Proposed Rate</th>
      <th class="align-middle text-center">Bid Closing Date</th>
      <th class="align-middle text-center">Work Completion Date</th>
    </tr>
  </thead>
  <tbody>
    {% for v in vacancy %}
    <tr>
      <td class="align-middle text-center">{{ v.currency }}<br><strong>{{ v.rate_offered }}</strong><br>({{ v.get_rate_unit_display }})</td>
      <td class="align-middle text-center">{{ v.bid_closes }}<br>({{ v.get_offer_status_display }})</td>
      <td class="align-middle text-center">{{ v.date_deadline }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="h-100">
      <div class="card-body">
        <h5 class="card-title">Skills Required</h5>
        {% for s in skills %}
        <ul>
          <li>{{ s.skills }}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="h-100">
      <div class="card-body">
        <h5 class="card-title">Deliverables</h5>
        {% for d in deliver %}
        <ul>
          <li>{{ d.deliverable|linebreaks }}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="h-100">
      <div class="card-body">
        <h5 class="card-title">Certifications Required</h5>
        {% for d in vacancy %}
        {% if d.certification %}

          <p>{{ d.certification.all|join:", " }}</p>

        {% else %}
          <p>No Certification requirements</p>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}
