{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Vacancies Suited for Me Full List{% endblock title %}

{% block content %}
<div class="card border-0" style="width: 68rem;">
  <div class="border-0" style="width: 100%;">
    <div class="card-body">
      <div class="float-right">
        <a href="{% url 'MarketPlace:Entrance' %}?next={{ request.path|urlencode }}"  class="btn btn-primary">Back</a>
        {% if request.user.subscription >= 2 %}
        <a href="{% url 'MarketPlace:History' %}" class="btn btn-primary" style="width: 8rem">View History</a>
        <a href="{% url 'MarketPlace:TalentInterviewHistory' request.user.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary 8rem" style="width: 10rem">Interview History</a>
        {% endif %}
        <a href="{% url 'MarketPlace:HelpVacanciesSuitedForMeFull' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
        <i class="icon icon-question-circle"></i></a>
      </div>
      <h4 class="card-title">Vacancies Suited for Me - Full List</h4>
      <p>You currently have <strong>{{ rem_vac }}</strong> vacancies that match your skillset experience.</p>
      <table class="table table-hover table-sm w-50rem">
        <col width="0rem">
        <col width="100px">
        <col width="343px">
        <col width="250px">
        <col width="140px">
        <col width="120px">
        <col width="60px">
        <thead>
          <tr class="no-hover">
            <th class="align-middle text-center"></th>
            <th class="align-middle text-center">Reference Number</th>
            <th class="align-middle text-center">Vacancy Title</th>
            <th class="align-middle text-center">Hours Required</th>
            <th class="align-middle text-center">Work Format</th>
            <th class="align-middle text-center">City</th>
            <th class="align-middle text-center">Full Detail</th>
          </tr>
        </thead>
        {% if request.user.subscription >= 2 %}
        {% for i in pageitems %}
        <tbody>
        <tr class="align-middle text-center divide" onclick="window.location='{% url 'MarketPlace:VacancyDetail' i.ref_no %}'">
          <td class="bottom">{{ i.scope|truncatechars:345 }}</td>
          <td class="text-left top">{{ i.ref_no }}</td>
          <td class="text-left top">{{ i.title|truncatechars:47 }}</td>
          <td class="no-wrap top">
            {{ i.hours_required|intcomma }} Hrs ({{ i.get_unit_display }})
          </td>
          <td class="no-wrap top">{{ i.worklocation }}</td>
          <td class="no-wrap top">{{ i.city }}</td>

          <td class="align-middle text-center"><a href="{% url 'MarketPlace:VacancyDetail' i.ref_no %}" class="badge badge-secondary" style="width: 6rem;">See Detail</a></td>

          </tr>
        </tbody>
        {% empty %}
        <tr>
          <td colspan="6">No vacancies matching your skills at the moment</td>
        </tr>
        {% endfor %}

      {% else %}

      {% for i in pageitems %}
      <tbody>
      <tr class="align-middle text-center divide">
        <td class="bottom">{{ i.scope|truncatechars:345 }}</td>
        <td class="text-left top">{{ i.ref_no }}</td>
        <td class="text-left top">{{ i.title|truncatechars:47 }}</td>
        <td class="no-wrap top">
          {{ i.hours_required|intcomma }} Hrs ({{ i.get_unit_display }})
        </td>
        <td class="no-wrap top">{{ i.worklocation }}</td>
        <td class="no-wrap top">{{ i.city }}</td>

        <td class="align-middle text-center"><a href="{% url 'Payments:ActiveSubscription' %}" class="badge badge-secondary" style="width: 5rem;" data-toggle="tooltip" data-placement="top" title="Active subscription required to see vacancy detail">See Detail</a></td>

        </tr>
      </tbody>
      {% empty %}
      <tr>
        <td colspan="6">No vacancies matching your skills at the moment</td>
      </tr>
      {% endfor %}
    {% endif %}
      </table>
    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
