{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Vacancy Search{% endblock title %}

{% block content %}
  {% if query %}
  <h4>Vacancies with Reference Number containing "{{ query }}"</h4>
  <h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
  </h3>
  <table class="table table-sm">
    <col width="5%">
    <col width="15%">
    <col width="6%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <thead>
      <tr>
        <th class="align-middle text-center">Reference Number</th>
        <th class="align-middle text-center">Vacancy Title</th>
        <th class="align-middle text-center">Hours Required</th>
        <th class="align-middle text-center">Work Format</th>
        <th class="align-middle text-center">Country</th>
        <th class="align-middle text-center">Full Detail</th>
      </tr>
    </thead>
    {% for i in results %}
    <tbody>
    <tr  class="align-middle text-center">
      <td>{{ i.ref_no }}</td>
      <td>{{ i.title }}</td>
      <td>
        {{ i.hours_required|intcomma }} ({{ i.get_unit_display }})
      </td>
      <td>{{ i.worklocation }}</td>
      <td>{{ i.city }}</td>
        {% if request.user.subscription == 2 %}
          <td><a href="{% url 'MarketPlace:VacancyDetail' i.ref_no %}" class="card-link">See Detail</a></td>
        {% elif request.user.subscription < 2 %}
          <td><a href="#" class="card-link">See Detail</a></td>
        {% endif %}
      </tr>
    </tbody>
    {% empty %}
    <tr>
      <td colspan="6">No vacancies matching your query</td>
    </tr>
    {% endfor %}
  </table>
  <form action="." method="get">
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary 8rem " style="width: 8rem" value="Search Again">
  </form>
  {% else %}
  <h4>Search for Vacancy</h4>
    <form action="." method="get">
    {{ form.as_p }}
    <input type="submit" value="Search" class="btn btn-primary 8rem " style="width: 8rem">
    </form>
  {% endif %}

{% endblock content %}
{% block Script %}
{% endblock Script %}
