{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Vacancy Review{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>

<div class="container">
  <div class="card card-shadow">
    <div class="card-body">
      <div class="btn-toolbar float-right">
        <form  action="{% url 'BookList:BLB' %}" method="post">
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Back</button>
        </form>
        &nbsp
        <a href="{% url 'MarketPlace:VacancyEdit' instance.ref_no %}" class="btn btn-info ">
          Edit Vacancy
        </a>
        &nbsp
        <a href="{% url 'MarketPlace:HelpVacancyPost' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
          <i class="fa fa-question-circle"></i>
        </a>
      </div>
      <h3>Vacancy Review</h3>
      <h5 class="card-title">Vacancy: {{ instance.title }} ({{ instance.ref_no }})</h5>
      <hr>
      Vacancy Public link:
      <div class="input-group mb-3">
        {% url 'MarketPlace:VacancyDetailPublic' instance.ref_no as url %}
        <input type="text" class="form-control" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ url }}" id="myMarketInput" aria-describedby="basic-addon3">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="myMarketButton">Copy Link</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
          <script type="IN/Share" data-url="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ url }}"></script>
        </div>
        <div class="col-md-9">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=51126519771487418&autoLogAppEvents=1" nonce="k5pfipEE"></script>
          <div class="fb-share-button" data-href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <br>
      <p>
        This is the place to review and edit a vacancy
      </p>
      <br>
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="align-middle text-center">My Reference No.</th>
            <th class="align-middle text-center">Company</th>
            <th class="align-middle text-center">Designation / Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle text-center">{{ instance.own_ref_no }}</td>
            <td class="align-middle text-center">{{ instance.companybranch.company }}</td>
            <td class="align-middle text-center">{{ instance.designation }}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="align-middle text-center">Hours required</th>
            <th class="align-middle text-center">Work format</th>
            <th class="align-middle text-center">Office location</th>
            <th class="align-middle text-center">Experience level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle text-center">
              {% if instance.hours_required == 0 %}
                <small>None Given</small>
              {% else %}
                {{ instance.hours_required|intcomma }}<br><small>({{ instance.get_unit_display }})</small><br>
                {% if instance.permpos == True %}
                  <p>
                    <small>Permanent Position</small>
                  </p>
                {% endif %}
              {% endif %}
            </td>
            <td class="align-middle text-center">{{ instance.worklocation }}</td>
            <td class="align-middle text-center">{{ instance.city.city }}</td>
            <td class="align-middle text-center">{{ instance.experience_level }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h6>
            <strong>Certifications Required for this Vacancy</strong>
          </h6>
          <p>
          {% for cert in instance.certification.all %}
            <strong>|</strong>{{ cert }}<strong>|</strong>
          {% empty %}
              <small>No certifications required for this vacancy.</small>
          {% endfor %}
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="h-100">
            <div class="card-body">
              <h5 class="card-title text-center align-middle">Scope</h5>
              <p>{{ instance.scope|safe }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="h-100">
            <div class="card-body">
              <h5 class="card-title text-center align-middle">Expectations</h5>
              <p>{{ instance.expectations|safe }}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="">
        <div class="">
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th class="align-middle text-center">Proposed rate</th>
                  <th class="align-middle text-center">Bid closing date</th>
                  <th class="align-middle text-center">Work completion date</th>
                  <th class="align-middle text-center">Required language</th>
                  <th class="align-middle text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle text-center">{{ instance.currency }}<br><strong>{{ instance.rate_offered|intcomma }}</strong><br>({{ instance.get_rate_unit_display }})</td>
                  <td class="align-middle text-center">{{ instance.bid_closes|date:'j M Y' }}</td>
                  <td class="align-middle text-center">{{ instance.date_deadline|date:'j M Y' }}</td>
                  <td class="align-middle text-center">{{ instance.language.all|join:", " }}</td>
                  <td class="align-middle text-center">
                    {% if instance.offer_status == 'O' %}
                      {{ instance.get_offer_status_display }}
                      <br>
                      <a href="{% url 'MarketPlace:VacClose' instance.ref_no %}" style="font-size: 25px;color:red !important" data-toggle="tooltip" title="Close Vacancy"><i class="fa fa-times" aria-hidden="true"></i></a>
                    {% else %}
                      {{ instance.get_offer_status_display }}
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col-sm-4">
          <div class="h-100">
            <div class="card-body">
              <a href="{% url 'MarketPlace:Deliverables2' instance.ref_no %}" class="badge badge-primary float-right" style="width: 5rem;">Add</a>
              <h5 class="card-title" id="deliverables">Deliverables</h5>

            <table class="table table-sm">
              <col width="90%">
              <col width="10%">
              <thead>

              </thead>
              {% for d in delivere %}
              <tbody>
                <tr>
                  <td>{{ d.deliverable|safe|truncatechars:100 }}</td>
                  <td>
                    <a href="{% url 'MarketPlace:DeliverablesEdit' d.scope.ref_no %}" class="badge badge-secondary badge-pill align-middle text-center" style="width: 5rem;">
                      Edit
                    </a>
                    <form  action="{% url 'MarketPlace:DeliverablesDelete' d.id %}" method="post">
                      {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill align-middle text-center" style="width: 5rem;" onclick="return confirm('Remove deliverable - Are you sure?');">Remove</button>
                    </form>
                  </td>
                </tr>
              </tbody>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="h-100">
            <div class="card-body">
              <a href="{% url 'MarketPlace:Skillsa' instance.ref_no %}" class="badge badge-primary float-right" style="width: 5rem;">Add</a>
              <h5 class="card-title" id="skills">Skills</h5>
              <table class="table table-sm">
                <col width="90%">
                <col width="10%">
                <thead>
                </thead>
                <tbody>
                  {% for s in skille %}
                  <tr>
                    <td>{{ s.skills }}</td>
                    <td><form  action="{% url 'MarketPlace:SkillDelete' s.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-danger badge-pill float-right" style="width: 5rem;" onclick="return confirm('Remove skill - Are you sure?');">Remove</button>
                    </form></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="h-100">
            <div class="card-body">

              <h5 class="card-title" id="certs">Certifications</h5>
              <table class="table table-sm">
                <col width="90%">
                <col width="10%">
                <thead>

                </thead>
                <tbody>
                  {% for cert in instance.certification.all %}
                  <tr>
                    <td>{{ cert }}</td>
                    <td><form  action="{% url 'MarketPlace:CertificateDelete' instance.ref_no cert %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-danger badge-pill float-right" style="width: 5rem;" onclick="return confirm('Remove skill - Are you sure?');">Remove</button>
                    </form></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <p>&nbsp</p>
  <div class="float-right">
    <a href="{% url 'Profile:WorkshopEmp' %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width: 8rem">
      Enter Office
    </a>
    <a href="{% url 'MarketPlace:EmployerInterviewHistory' request.user.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary">
      Interview History
    </a>
  </div>
  <div>
    <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">
      View Short-list
    </a>
    &nbsp
    <a href="{% url 'MarketPlace:VacancyIntDetail' instance.ref_no %}" class="btn btn-info">
      Interview List
    </a>
    &nbsp
    <a href="{% url 'MarketPlace:InterviewList' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">
      Vacancy Dashboard
    </a>
  </div>
  <br>

  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
        <a href="{% url 'MarketPlace:HelpApplicantsVacancy' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="popover" title="Click here for help on this page!">
          <i class="fa fa-question-circle"></i>
        </a>
      </div>
    <h3 id="applicants">Vacancy Applicants</h3>
    <p>
      {{ applied_count }} people have applied for this vacancy{% if applied_count >= 5 %}, we only list the top 5 here.{% else %}.{% endif %}
    </p>
    <div class="">
      {% if applied_count != 0 %}
      <div class="row">
        <div class="col-12">
        {% if applicants_list_view %}
          <form  action="{% url 'MarketPlace:AppExpand' vac=instance.ref_no %}" method="post">
            {% csrf_token %}
            <button type="submit" class="badge badge-primary float-right" style="width:8rem;">
              Expand All
            </button>
          </form>
        {% else %}
          <form  action="{% url 'MarketPlace:AppExpand' vac=instance.ref_no %}" method="post">
            {% csrf_token %}
            <button type="submit" class="badge badge-primary float-right" style="width:8rem;">
              List View
            </button>
          </form>
        {% endif %}
        </div>
      </div>
        {% if applicants_list_view %}
          {% if applied_slice.items %}
          {% include 'marketplace/list_view_headings.html' %}
          {% endif %}
          {% for key in applied_slice.items %}
          <div class="row">
            <div class="card mt-1 card-hover" style="width: 100%;">
              <div class="card-body small-pad">
                <div class="row my-auto">
                  {% include 'marketplace/list_view_fields.html' %}
                  <div class="col-1 col-no-pad h-100 text-center my-auto">

                    <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                      {% csrf_token %}
                      <button type="submit"  class="badge badge-danger badge-pill float-right" style="width: 6rem;">
                        Rejected
                      </button>
                    </form>
                    <br>
                    <form  action="{% url 'MarketPlace:ShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post" name="active">
                    {% csrf_token %}
                    <button type="submit"  class="badge badge-info badge-pill float-right" style="width: 6rem;">Short-list</button>
                  </form><br>
                  <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-success badge-pill float-right" style="width: 6rem;" target="new">View Profile</a>
                  <br>
                  {% if request.user.subscription >= 2 %}
                  <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-success badge-pill float-right" style="width: 6rem;">Chat</button>
                  </form>
                  {% else %}
                  <a href="{% url 'Payments:ActiveSubscription' %}" class="badge badge-success badge-pill float-right" data-toggle="tooltip" title="An Active subscription is required to initiate a chat" style="width: 6rem;">Chat</a>
                  {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          {% if s_list %}
            <p>All applicants have been short-listed.</p>
            <p>
              <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info">Goto Short-list</a>
            </p>
          {% else %}
          <p>No applications for this vacancy.</p>
          {% endif %}
          {% endfor %}
          {% else %}
          {% for key in applied_slice.items %}
          <div class="row">
            <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
              <div class="card-body small-pad">
                {% include 'marketplace/expanded_view_fields.html' %}
                <div class="row my-auto">
                  <div class="col-md-12 h-100">
                    <div class="row my-auto float-right">

                      <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                        {% csrf_token %}
                        <button type="submit"  class="btn btn-outline-danger" style="width: 10rem;">
                          Rejected
                        </button>
                      </form>&nbsp
                      <form  action="{% url 'MarketPlace:ShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post" name="active">
                      {% csrf_token %}
                      <button type="submit"  class="btn btn-outline-info" style="width: 10rem;">Short-list</button>
                    </form>&nbsp
                    <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-outline-success" style="width: 10rem;" target="new">View Profile</a>&nbsp
                    {% if request.user.subscription >= 2 %}
                    <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success" style="width: 10rem;">Chat</button>
                    </form>
                    {% else %}
                    <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-success" data-toggle="tooltip" title="An Active subscription is required to initiate a chat" style="width: 10rem;">Chat</a>
                    {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          {% if s_list %}
            <p>All applicants have been short-listed.</p>
            <p>
              <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">Goto Short-list</a>
            </p>
            {% else %}
          <p>No applications for this vacancy.</p>
          {% endif %}
          {% endfor %}
          {% endif %}

    {% if applied_count > 5 %}
      <p>&nbsp</p>
      <div class="float-right">
        <a href="{% url 'MarketPlace:ApplicantsForVacancy' vac=instance.ref_no %}" class="btn btn-primary"style="width: 10rem">View All Applicants</a>
      </div>
    {% endif %}
    {% else %}

    {% endif %}
    </div>
  </div>
</div>

<br>

  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
        <a href="{% url 'MarketPlace:HelpTalentSuitedVacancy' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="popover" title="Click here for help on this page!">
        <i class="fa fa-question-circle"></i></a>
      </div>
      <h3 id='suited'>Talent suited to the Vacancy</h3>
      <p>
        A total of {{ suitable_count }}
        {% if suitable_count <= 0 %} people are {% elif suitable_count == 1 %} person is {% elif suitable_count > 1 %} people are {% endif %} suited to the vacancy{% if suitable_count >= 5 %}, we only list the top 5 here.{% else %}.{% endif %}
      </p>
      {% if suitable_count != 0 %}
      <div class="">
        <div class="row">
          <div class="col-12">
          {% if suited_list_view %}
            <form  action="{% url 'MarketPlace:SuitedExpand' vac=instance.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">
                Expand All
              </button>
            </form>
          {% else %}
            <form  action="{% url 'MarketPlace:SuitedExpand' vac=instance.ref_no %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-primary float-right" style="width:8rem;">
                List View
              </button>
            </form>
          {% endif %}
          </div>
        </div>

          {% if suited_list_view %}
          {% if suitable_slice.items %}
            {% include 'marketplace/list_view_headings.html' %}
          {% endif %}
            {% for key in suitable_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    {% include 'marketplace/list_view_fields.html' %}
                    <div class="col-1 col-no-pad h-100 text-center my-auto">

                      <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                        {% csrf_token %}
                        <button type="submit"  class="badge badge-danger badge-pill float-right" style="width: 6rem;">
                          Rejected
                        </button>
                      </form>
                      <form  action="{% url 'MarketPlace:ShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge badge-info badge-pill float-right" style="width: 6rem;">
                          Short-list
                        </button>
                      </form><br>

                      <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}" class="badge badge-success badge-pill float-right" style="width: 6rem;" target="new">View Profile</a><br>
                      {% if request.user.subscription >= 2 %}
                      <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                      {% csrf_token %}
                      <button type="submit" class="badge badge-success badge-pill float-right" style="width: 6rem;">Chat</button>
                      </form>
                      {% else %}
                      <a href="{% url 'Payments:ActiveSubscription' %}" class="badge badge-success badge-pill float-right" data-toggle="tooltip" title="An Active subscription is required to initiate a chat" style="width: 6rem;">Chat</a>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            {% if s_list %}
                <p>All suitable talent has been short-listed.</p>
                <p>
                  <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-info">
                    Goto Short-list
                  </a>
                </p>
            {% else %}
                  <p>There is no talent currently in MyWexLog suited to this vacancy.</p>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for key in suitable_slice.items %}
            <div class="row">
              <div class="card mt-1 card-hover card-no-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  {% include 'marketplace/expanded_view_fields.html' %}
                  <div class="row my-auto">
                    <div class="col-md-12 h-100">
                      <div class="row my-auto float-right">

                        <form  action="{% url 'MarketPlace:RejectBidFromAppliedList' vac=instance.ref_no tlt=key.1.ro.0.4 %}" method="post" name="active">
                        {% csrf_token %}
                        <button type="submit"  class="btn btn-outline-danger" style="width: 10rem;">Rejected</button>
                        </form>&nbsp
                        <form  action="{% url 'MarketPlace:ShortList' tlt=key.1.ro.0.4  vac=instance.ref_no %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-outline-info" style="width: 10rem;">Short-list</button>
                        </form>&nbsp
                        <a href="{% url 'Talent:APV' tlt=key.1.ro.0.4 vac=instance.ref_no %}" class="btn btn-outline-success" style="width: 10rem;" target="new">View Profile</a>&nbsp
                        {% if request.user.subscription >= 2 %}
                        <form  action="{% url 'Chat:NewChat' tlt=key.1.ro.0.4 %}" method="post" name="active" target="_blank">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success" style="width: 10rem;">Chat</button>
                        </form>
                        {% else %}
                        <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-outline-success" data-toggle="tooltip" title="An Active subscription is required to initiate a chat" style="width: 10rem;">Chat</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            {% if s_list %}
                <p>All suitable talent has been short-listed.</p>
                <p>
                  <a href="{% url 'MarketPlace:ShortListView' instance.ref_no %}?next={{ request.path|urlencode }}" class="btn btn-info">Goto Short-list</a>
                </p>
            {% else %}
                  <p>There is no talent currently in MyWexLog suited to this vacancy.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
      </div>
      {% else %}
      {% endif %}
      {% if suitable_count > 5 %}
        <div class="float-right">
          <a href="{% url 'MarketPlace:TalentSuitedToVacancy' instance.ref_no %}" class="btn btn-primary"style="width: 10rem">View All Talent</a>
        </div>
      {% endif %}
    </div>
  </div>
  <br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock content %}

{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}

document.getElementById("myMarketButton").addEventListener("click", myMarketFunction);

function myMarketFunction(e) {
  var copyMarketText = document.getElementById("myMarketInput");
  copyMarketText.select();
  copyMarketText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyMarketText.value);
}
</script>
{% endblock Script %}
