{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Vacancy History{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-secondary">Back</a>
      <a href="{% url 'MarketPlace:HelpRolesAppliedForSummary' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="fa fa-question-circle"></i></a>
    </div>
    <h4 class="card-title">Vacancy Application History</h4>
  </div>
</div>
<br>
{% if request.user.subscription >= 2 %}
<div class="card card-shadow">
  <div class="card-body">
    <h4 class="card-title">Roles You have Applied for</h4>
    <p>You have a total of <strong>{{ role_c }}</strong> roles that you have applied for{% if role_c > 10 %}, we only list the most recent 5 for each condition here.{% else %}.{% endif %}</p>
    <p>These are only roles you have applied for - there is a chance that an employer has seen you and shortlisted you without you applying for the role: You impressive person you... keep it up!</p>
    <div class="container">
      <div class="row my-auto">
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date Applied</strong>
        </div>
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Vacancy Title</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Hours Required</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Work<br>Configeration</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Country</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Status</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Pending Positions</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if applied_c == 0 %}None{% elif applied_c < 5 %}(Showing <strong>{{ applied_c }}</strong> out of <strong>{{ role_c }}</strong> applications){% else %}(Showing <strong>5</strong> of a total of <strong>{{ applied_c }}</strong> out of <strong>{{role_c}}</strong> applications){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if applied_c >= 5 %}<a href="{% url 'MarketPlace:RolesAppliedForFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in applied %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No applications are currently pending - go and apply for more vacancies!</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Shortlisted Positions</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if applied_sl_c == 0 %}None{% elif applied_sl_c < 5 %} (Showing <strong>{{ applied_sl_c }}</strong>  out of <strong>{{ role_c }}</strong> applications){% elif applied_sl_c >= 5 %} (Showing <strong>5</strong> of a total of <strong>{{ applied_sl_c }}</strong> out of <strong>{{role_c}}</strong> applications){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if applied_sl_c >= 5 %}<a href="{% url 'MarketPlace:RolesShortlistedFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in applied_sl %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>None of your applications have been shortlisted - go and apply for more vacancies!</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Open Interviews</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if int_qs_c == 0 %}None{% elif int_qs_c < 5 %} (Showing <strong>{{ int_qs_c }}</strong>  out of <strong>{{ role_c }}</strong> applications){% elif int_qs_c >= 5 %} (Showing <strong>5</strong> of a total of <strong>{{ int_qs_c }}</strong> out of <strong>{{role_c}}</strong> applications){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if int_qs_c >= 5 %}<a href="{% url 'MarketPlace:RolesOpenInterviewsFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in int_qs_s %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have not been invited to, <strong>OR</strong>, you have no open interviews at this time - go and apply for more vacancies!</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Successful Applications</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if accepted_c == 0 %}None{% elif accepted_c < 5 %} (Showing <strong>{{ accepted_c }}</strong>  out of <strong>{{ role_c }}</strong> applications){% else %} (Showing <strong>5</strong> of a total of <strong>{{ accepted_c }}</strong> out of <strong>{{role_c}}</strong> applications){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if accepted_c >= 5 %}<a href="{% url 'MarketPlace:SuccessfulApplicationsFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in accepted %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>None of your applications have been successful - Keep Applying!</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Unsuccessful Applications</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if rejected_c == 0 %}None{% elif rejected_c < 5 %} (Showing <strong>{{ rejected_c }}</strong> out of <strong>{{ role_c }}</strong> applications){% else %} (Showing <strong>5</strong> of a total of <strong>{{ rejected_c }}</strong> out of <strong>{{role_c}}</strong> applications){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if rejected_c >= 5 %}<a href="{% url 'MarketPlace:UnsuccessfulApplicationsFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in rejected %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_applied|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.work.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.work.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.work.hours_required|intcomma }}<br>({{ i.work.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.work.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_bidreview_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription == 2 %}
                <a href="{% url 'MarketPlace:VacancyDetail' i.work.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary 6rem" style="width: 6rem">See Detail</a>
              {% elif request.user.subscription < 2 %}
                <a href="#" class="badge badge-primary 6rem" style="width: 6rem">See Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>None of your applications have been unsuccessful - Nice going!</p>
    {% endfor %}

  </div>
</div>

<br>
{% endif %}

<div class="card card-shadow" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'MarketPlace:HelpRolesShortlistedForSummary' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="popover" title="Click here for help on this page!">
      <i class="fa fa-question-circle"></i></a>
    </div>
    <h4 class="card-title">Roles the Employer has shortlisted you for</h4>
    <p>You have been shortlisted for <strong>{{ sl_qs_c }}</strong> roles {% if sl_qs_c > 10 %}, we only list the most recent 5 for each condition here.{% else %}.{% endif %}</p>
    <div class="container">
      <div class="row my-auto">
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date Listed</strong>
        </div>
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Vacancy Title</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Hours Required</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Scope<br>Configeration</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Country</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Status</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Pending Positions</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if sl_pending_c == 0 %}None{% elif sl_pending_c < 5 %} (Showing <strong>{{ sl_pending_c }}</strong>  out of <strong>{{ sl_qs_c }}</strong>){% else %} (Showing <strong>5</strong> of a total of <strong>{{ sl_pending_c }}</strong> out of <strong>{{sl_qs_c}}</strong>){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if sl_pending_c >= 5 %}<a href="{% url 'MarketPlace:RolesAppliedForShortlistedFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in sl_pending_s %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_listed|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.scope.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.scope.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.scope.hours_required|intcomma }}<br>({{ i.scope.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_status_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 6rem">See Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have never been shortlisted for a vacancy!</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Open Interviews</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if sl_interview_c == 0 %}None{% elif sl_interview_c < 5 %} (Showing <strong>{{ sl_interview_c }}</strong>  out of <strong>{{ sl_qs_c }}</strong>){% else %} (Showing <strong>5</strong> of a total of <strong>{{ sl_interview_c }}</strong> out of <strong>{{sl_qs_c}}</strong>){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if sl_interview_c >= 5 %}<a href="{% url 'MarketPlace:RolesAppliedForInterviewsFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in sl_interview_s %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_listed|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.scope.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.scope.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.scope.hours_required|intcomma }}<br>({{ i.scope.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_status_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 6rem">See Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have not been invited to, <strong>OR</strong>, you have no open interviews at this time - {% if request.user.subscription >= 1 %} upgrade to an active subscription to apply for roles. {% else %} apply for more roles!{% endif %}</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Successful</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if sl_accepted_c == 0 %}None{% elif sl_accepted_c < 5 %} (Showing <strong>{{ sl_accepted_c }}</strong>  out of <strong>{{ sl_qs_c }}</strong>){% else %} (Showing <strong>5</strong> out of a total of <strong>{{ sl_accepted_c }}</strong> out of <strong>{{sl_qs_c}}</strong>){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if sl_accepted_c >= 5 %}<a href="{% url 'MarketPlace:RolesAppliedForSuccessfulFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in sl_accepted_s %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_listed|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.scope.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.scope.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.scope.hours_required|intcomma }}<br>({{ i.scope.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_status_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 6rem">See Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have never been shortlisted, <strong>OR</strong>, you have never been successful in any of the roles for which you have been shortlisted.</p>
    {% endfor %}

    <div class="row">
      <div class="card mt-1" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>Unsuccessful</strong>
            </div>
            <div class="col-6 col-no-pad h-100 text-center my-auto">
              {% if sl_rejected_c == 0 %}None{% elif sl_rejected_c < 5 %} (Showing <strong>{{ sl_rejected_c }}</strong>  out of <strong>{{ sl_qs_c }}</strong>){% else %} (Showing <strong>5</strong> of a total of <strong>{{ sl_rejected_c }}</strong> out of <strong>{{sl_qs_c}}</strong>){% endif %}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {% if sl_rejected_c >= 5%}<a href="{% url 'MarketPlace:RolesAppliedForUnsuccessfulFullList' %}" class="btn btn-primary">See Full List</a>{% else %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for i in sl_rejected_s %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.date_listed|date:"d N Y" }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ i.scope.title|truncatechars:37 }}
              <br>
              <div class="font-grey">({{ i.scope.ref_no }})</div>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ i.scope.hours_required|intcomma }}<br>({{ i.scope.get_unit_display }})
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.worklocation }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.scope.city }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ i.get_status_display }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <a href="{% url 'MarketPlace:VacancyDetail' i.scope.ref_no %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 6rem">See Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have never been shortlisted, <strong>OR</strong>, you have never been unsuccessful in any of the roles for which you have been shortlisted.</p>
    {% endfor %}

  </div>
</div>
</div>

{% endblock content %}
