{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Assign job {{ job.ref_no }}{% endblock title %}

{% block content %}
<div class="card border-0">
  <div class="card-body">
    <div class="container">
    <h3>Assign {{ job.title }} ({{ job.ref_no }})</h3>
    <h4>to {{ talent.alias }}</h4>
    <form method="post" enctype="multipart/form-data">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.currency|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.rate_offered|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.rate_unit|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="form-group col-md-6 mb-0">
            <div class="form-row">
              <div class="form-group col-md-5 mb-0">
                {{ form.date_begin|as_crispy_field }}
              </div>
              <div class="form-group col-md-5 mb-0">
                {{ form.date_deliverable|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <a href="{% url 'MarketPlace:InterviewList' job.ref_no %}" class="btn btn-danger">Cancel</a> 
          <button type="submit" name="done" class="btn btn-primary">Assign</button>
        </div>
    </form>
    </div>
  </div>
</div>
<br>
<div class="card border-0">
  <div class="card-body">
    <div class="container">
      <h4>Proposed Rates</h4>
      <table class="table table-sm">
        <thead>
          <tr>
            <th class="align-middle text-center">Original rate proposed for the vacancy</th>
            <th class="align-middle text-center">Applicant Proposed Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle text-center">
              {{ job.currency }}<br><strong>{{ job.rate_offered }}</strong><br>{{ job.get_unit_display }}
            </td>
            <td class="align-middle text-center">
              {% if bids %}
                {% for b in bids %}
                  {{ b.currency }}<br><strong>{{ b.rate_bid }}</strong><br>{{ b.get_rate_unit_display }}
                {% endfor %}
              {% else %}
                {% if talent.subscription == 1 %}
                  Could not bid (Passive Subscriber), their standard rate is<br>{{ pfl_qs.currency }} {{ pfl_qs.std_rate }} {{ pfl_qs.get_rate_unit_display }}
                {% else %}
                  No bid submitted.<br>Their standard rate is<br>{{ pfl_qs.currency }} {{ pfl_qs.std_rate }} {{ pfl_qs.get_rate_unit_display }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
{% block Script %}

{% endblock Script %}
