{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-All Posts{% endblock title %}

{% block content %}

<div class="card card-shadow" style="width: 100%;">
  <div class="card-body">
{% if request.user.subscription >= 2 %}
      <div class="card-body">
        <div class="float-right">
          <p>
          <a href="{% url 'MarketPlace:EmployerInterviewHistory' request.user.alias %}" class="btn btn-primary" style="width: 10rem">Interview History</a>
          <a href="{% url 'MarketPlace:Vacancy' %}" class="btn btn-primary" style="width: 8rem;">Post Vacancy</a>
          <a href="{% url 'MarketPlace:Entrance' %}" class="btn btn-secondary">Back</a>
          <a href="{% url 'MarketPlace:HelpVacanciesAdvertisedClosedAll' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
          <i class="fa fa-question-circle"></i></a>
          </p>
        </div>
      <h4 class="card-title">My Vacancies Advertised (Closed)</h4>
      <p>You currently have {{ ipost_count }} closed vacancies listed.</p>
      <div class="container">
        <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Date Posted</strong>
        </div>
        <div class="col-md-4 h-100 text-center my-auto">
          <strong>Vacancy Title</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Status</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Closing Date</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Response</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Options</strong>
        </div>
        </div>
      {% for p in pageitems %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
              <div class="col-md-2 h-100 text-center my-auto">
                {{ p.bid_open|date:'j M Y' }}
              </div>
              <div class="col-md-4 h-100 text-center my-auto">
                <span>{{ p.title|truncatechars:37 }}</span>
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {{ p.get_offer_status_display }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                  {{ p.bid_closes|date:'j M Y' }}
                </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {% if p.id in ipost_bid_flat %}
                  <strong>Yes</strong>
                {% else %}
                  None
                {% endif %}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                <a href="{% url 'MarketPlace:VacancyPost' p.ref_no %}" class="" data-toggle="tooltip" title="Vacancy Detail"><i class="fa fa-industry" style="font-size:24px;color:black"></i></a>
                <a href="{% url 'MarketPlace:VacancyIntDetail' p.ref_no %}" class="" data-toggle="tooltip" title="Interview List"><i class="fa fa-gg" style="font-size:30px;color:black"></i></a>
              </div>
            </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <p>&nbsp</p>

      <nav aria-label="Page navigation">
          {% if pageitems.has_other_pages %}
            <ul class="pagination">
              {% if pageitems.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    <span class="sr-only disabled">Previous</span>
                  </a></li>
              {% else %}
                <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
              {% endif %}

              {% if pageitems.number|add:'-4' > 1 %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in pageitems.paginator.page_range %}
                {% if pageitems.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                  <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if pageitems.has_next %}
                <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-link disabled"><span>Next</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </nav>

  </div>
</div>

{% endif %}
{% endblock content %}
