.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 0;
  top: 40;
  left: 180px;
  background-color: #92EFF6;
  overflow-x: hidden;
  padding-top: 20px;
}

.avatar {
  height: 40px;
}

div.c {
  line-height: 80%;
}

div.d {
  background-color: transparent;
}

div.right {
  text-align: right;
}

.backgroundimg {
  margin: 0;
  padding: 0;
  image-size: cover;
}
