body {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 0;
  top: 40;
  left: 180px;
  background-color: #92EFF6;
  overflow-x: hidden;
  padding-top: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select2-container {
  height: 38px !important;
}

.select2-selection {
  min-height: 38px !important;
}

.select2-selection__arrow {
  height: 38px !important;
}

.select2-selection__rendered {
  line-height: 24px;
  padding-left: 10px !important;
}

.badge:not(:disabled):not(.disabled) {
cursor: pointer !important;
}

.pagination .active {
  position: relative;
}

table.w-50rem{
  width: 50rem !important;
  table-layout: fixed;
}

td.top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td.bottom {
  padding-top: 2.8rem;
  padding-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 38rem;
  border-left: -100px;
  width: 58rem;
  display: flex;
  text-align: left;
  position: inherit;
}

td.detail {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

td.no-wrap{
  white-space: nowrap;
}

.card-body .5rem {
   width: 5rem;
}

.card-body .8rem {
   width: 8rem;
}

.card-body .12rem {
   width: 12rem;
}

.table-hover>tbody>tr.no-hover:hover {
    background-color: #ffffff;
}

.avatar {
  height: 40px;
}

div.c {
  line-height: 80%;
}

div.d {
  background-color: transparent;
}

div.right {
  text-align: right;
}

.backgroundimg {
  margin: 0;
  padding: 0;
  image-size: cover;
}

.myaccordion {
  max-width: 100%;
  margin: 0px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
  border-radius: 3px;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: #EDEFF0;
  margin-top: 6px;
}

.myaccordion .fa-stack {
  font-size: 22px;
  text-align: left;
}

.myaccordion .btn {
  width: 100%;
  font-weight: normal;
  color: #004987;
  padding: 0;
  font-size: 18px;
  border-radius: 3px;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion .card-header a:after {
    font-family: "FontAwesome";
    content: '\f146';
    font-size: 15px;
    font-weight: 700;
    color: rgba(4, 65, 91, 0.7);
    position: absolute;
    right: 15px;
    top: 45%;
    margin-top: -8px;
}

img .btn-image {
  text-align: right;
}

.noborder {
  border: none !important;
}

/*wexlog 3*/

.wexlog3 .title h2:after, .wexlog3 .title h3:after {
    content: "-";
    font-size: 2px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    height: 4px;
    display: block;
    width: 2000%;
    position: absolute;
    right: -2000%;
    top: 50%;
}

.title-reversed {
    overflow: hidden;
    text-align: right;
    margin-right: -1px;
}

.title-b {
    overflow: hidden;
    text-align: center;
    margin-right: -1px;
    margin-left: -1px;
}

.title {
    overflow: hidden;
    margin-left: -1px;
}

.title-reversed h2:after, .title-reversed h3:after {
    content: '-';
    font-size: 2px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    height: 4px;
    display: block;
    width: 2000%;
    position: absolute;
    left: -2000%;
    top: 50%;
}

.title-b h2:before, .title-b h2:after, .title-b h3:before, .title-b h3:after {
    content: '-';
    font-size: 2px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    height: 4px;
    display: block;
    width: 2000%;
    position: absolute;
    left: -2000%;
    right: -2000%;
    top: 50%;
}

.title-reversed h2, .title-reversed h3 {
    color: #044A67;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-left: 25px;
}

.title-b h2, .title-b h3 {
    color: #044A67;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-left: 25px;
}

#landing3-features .card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.50);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.50);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.50);
  background-color: rgba(0,0,0,0.05);
  border-radius: 0.85rem;
}

#landing3-features .link-style {
  color: #000;
  text-decoration: none;
}

.overlay-font {
  color: #fff;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Abc'),
       url('../static/fonts/Montserrat-Regular.ttf') format("truetype");
}

.wexlog3 {
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: #555;
    background-color: #FDFEFE;
    overflow-x: hidden;
    font-size: 16px;
}

.wexlog3 .title h2, .wexlog3 .title h3 {
    color: #044A67;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-right: 25px;
}

.title1 h1, .title1 h2, .title1 h3, .title1 h4, .title1 h5, .title1 h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 18px;
    line-height: 1.7;
}

.title3 h1, .title3 h2, .title3 h3, .title3 h4, .title3 h5, .title3 h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.7;
}

.item-img-wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 99.9%;
}

.item-img-wrap .img-responsive {
    width: 100%;
}

.item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video-sizer {
  width: 540px;
}

.card .card-clear {
  background-color: none;
}

.servdesc > h3 {
    color: #04415b;
    margin-bottom: 5px;
}
.servdesc h3 {
    font-size: 27px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}
