{% extends "wexlog_home/base_wexlog_home.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'Public:WexlogHomeIndex' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Benefits</span></p>
            <h1 class="mb-3 bread">Benefits</h1>
          </div>
        </div>
      </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Benefits</h2>
          </div>
        </div>
    		<div class="row d-flex">
          <div class="col-md-12 ftco-animate p-md-5">
            <p>The hardest part of being a freelancer, a consultant or
              a contractor is finding the work. In many cases, the cost of this can
              be 30% or even more of the value of a contract! The alternative is to
              use a broker or agent to do the search, which also comes at a cost. And
              the results are still largely the result of chance, of making the enquiry
              at the time the  vacancy is open.</p>
            <p>WeXlog allows you to take a large part of the cost and chance out of
              the process, by allowing you to post your qualifications in a place where
              you will be found by the people who search for those educational
              qualifications, experience and skills at the time they do the search.
              You are no longer dependent on good luck, the memory of the searcher or
              the agents contacts with the people who may want you. Best of all, you
              are able to include the date on which you will be available for a project,
              so the searchers can look for you for future work.</p>
            <p>Capturing your skills and experiences as they are put to use ensures
              that the record is fresh, accurate and exhaustive. It avoids the need
              to spend hours re-evaluating the daily events of a project after months
              of work have dimmed your memory of the details of what you did. That
              shows your professionalism, and enhances your standing in the eyes of
              potential clients, as well as ensuring that every aspect of your work
              history is available to a potential client who might be looking for
              an element of it that would not normally stand out. Your work normally
              consists of many small details, and WeXlog enables each of them to be
              recorded individually, and to stand out when a client searches for a
              particular one.</p>
            <p>A great advantage of WeXlog is that it enables you to update your
              record on a daily, weekly or monthly basis with very little effort
               – and it can take as little as a minute to do it! It ensures that
               your record remains accurate and up to date, and always ready to
               attract the attention of a client you might easily have missed. Even
               if you are ready to attract the next client only a year or two later,
               the detail is still fresh and accurate, and the simultaneous verification
               of it makes your record both comprehensive and professional.</p>
            <p><a href="{% url 'Public:WexlogHomePricing' %}" class="btn btn-primary p-3">Get started</a></p>
          </div>

	      </div>
    	</div>
    </section>

    <section class="ftco-section ">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Company Benefits</h2>
            <p>We have detailed a few of the usual questions you may have with
              answers below.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div id="accordion">
    					<div class="row">
    						<div class="col-md-12">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">List your company assets <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menuone" class="collapse show">
						          <div class="card-body">
                        WeXlog allows you to set out your company for the world to
                          see. If they don’t know who you are, what you can do and what you offer,
                          they may not know about you. WeXlog is the right place to set out the
                          information potential customers and star employees need to fit you into
                          their plans:</p>
                          <p><ul>
                            <li>Your plant, machinery and work capabilities</li>
                            <li>Your skills</li>
                            <li>Your experience</li>
                            </ul>
                          <p>Best of all, your entry is always there when customers look
                            for those assets, and they can search for you with the click of a mouse,
                            without a need to search through their files for the brochures they picked
                            up at a Trade Show, if they remember who to look for! WeXlog allows your
                            company to be always front of mind when a customer has a need, or when a
                            good potential employee is considering his next career move. Can you
                            afford to settle for obscurity?</p>
                      </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">Find the companies and resources that fit your requirements <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menutwo" class="collapse">
						          <div class="card-body">
                        <p>Whether you are a large corporation or a small business
                          you need to hire the right person to do the job. The needs of companies
                          change rapidly in the modern world.
                          They become more specialized and more complex. The search to
                          find people to meet those needs is often difficult, and it is
                          made more complex by the need to determine whether the claims
                          made by those people are justified.</p>
                        <p>WeXlog solves those problems by offering a single source to
                          find those people, each with a trust passport verified work history. If you
                          don’t immediately find the particular skills-set you are
                          seeking, WeXlog makes it easy to post your requirement in a
                          place where qualified candidates will find it, and then
                          respond to you.</p> </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3">International Portfolio of skills <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu3" class="collapse">
						          <div class="card-body">
                        <p>WeXlog’s international listing of skills is
                          widely recognized and trusted. It embraces an extensive
                          portfolio of skills and industries. This is ensured by a
                          contemporaneous recording of work performance and project
                          history, and the real-time evaluation of performance by a
                          responsible third-party supervisor or a qualified colleague
                          makes WeXlog a simple to use, reliable and trustworthy
                          resource for marketing your skills or seeking qualified
                          employees, contractors or skills suppliers</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu4" aria-expanded="false" aria-controls="menu4">Productised Resources <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu4" class="collapse">
						          <div class="card-body">
                        <p>A company often does not need a full-time resource,
                          but nonetheless needs the skill for a period or regular periods.
                          This is an increasing feature of the modern world, but, unfortunately,
                          it is often disproportionately difficult and expensive to find the
                          one person who will satisfy your needs. No longer! WeXlog allows
                          you to search an extensive list of qualified and verified candidates,
                          and to choose your ideal one. You can choose the skill, the education,
                          the experience and the level of advancement you want.</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu5" aria-expanded="false" aria-controls="menu5">Confirmed Experience <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu5" class="collapse">
						          <div class="card-body">
                        <p>Have you had the experience of finding a
                          candidate who appears, on the surface, to offer the
                          experience you need, only to find that the experience claimed
                          is largely in his or her mind?</p>
                        <p>The problem is exacerbated by the fact that the institutional
                          memory of a particular employee or contractor is generally limited
                          or even non-existent, and some companies even have a policy of not
                          giving testimonials to departing employees or contractors that set
                          out more than simply the fact and dates of their employment.</p>
                        <p>WeXlog prevents that, by giving members the ability to log their
                          experience, together with evaluations by named and responsible
                          supervisors or colleagues while they are still fresh in their minds,
                          and to make that available to you at the click of your mouse. You
                          avoid the delay and expense of confirming the claimed experience,
                          and you are able to track the development and performance over
                          years!</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">Trust Passport <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu6" class="collapse">
						          <div class="card-body">
                        <p>Create your trust passport of qualified references.<br>
                          WeXlog enables employers and contractees to record the details of the
                          requirements and their performance in it at the time it takes place. It
                          solves the problem of needing to track down the responsible manager in
                          respect of work that was performed months or even years before, a problem
                          that has become more significant in recent years, with an increase in the
                          rate of change of management at all levels of organizations, which often
                          makes it impossible to obtain a subsequent certification of more than the
                          simple fact of that employment. WeXlog ensures that the recording of the job
                          and performance in it is made at the time it happens!</p>
                      </div>
						        </div>
						      </div>



    						</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Personal Benefits</h2>
            <p>We have detailed a few of the usual questions you may have with
              answers below.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div id="accordion">
    					<div class="row">

    						<div class="col-md-12">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu11" aria-expanded="false" aria-controls="menu11">Advertise Experience <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu11" class="collapse">
						          <div class="card-body">
                        <p>WeXlog offers members the opportunity to place their work
                          activities, skills and qualifications, on a searchable database all in a place
                          trusted by recruiters and those looking for difficult to find skills and
                          attributes. Best of all, the fact that the claims made by members are audited
                          and certified by a third party, giving the searchers the assurance that what
                          they find is what they will get, without the tedious process of checking, or
                          verifying claims of performance made years ago.<br>
                          How often have you been forced to explain to an enquirer that the work was done
                          by a manager who is now retired, or has moved to another company or another
                          country? WeXlog makes that a thing of the past! How often have you seen an
                          ideal job advertised, with the closing date for application ten days ago? That
                          is no longer a problem with a WeXlog membership!</p>
                      </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu12" aria-expanded="false" aria-controls="menu12">Enable freelancers and consultants
                        to advertise their <br>experience and their offering <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu12" class="collapse">
						          <div class="card-body">
                        <p>Often, the hardest, most expensive and most
                          time-consuming part of the Freelancer and Consultant’s lives is
                          the process of finding the work! WeXlog allows you to place a
                          standing advertisement of what you can offer, making it available
                          to a targeted search by a qualified employer, and the fact that
                          WeXlog allows you to accumulate the work you have done and the
                          confirmation of its quality ensures that the potential employers
                          who find you already know that your work is of the required
                          quality. Best of all, when you have done work for a company in
                          the past, WeXlog ensures that you remain front-of-mind, even
                          after a period of years.</p>
                      </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu13" aria-expanded="false" aria-controls="menu13">Productise Experience <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu13" class="collapse">
						          <div class="card-body">
                        <p>How do you bring to potential users the skills
                          and experience you have? How do you display your innovative
                          capabilities, your attention to detail, your high level of
                          productivity to potential clients and employers? How do you
                          put yourself in the world market?</p>
                        <p>WeXlog enables you to put on record your unique set of
                          skills, education, experience and capabilities, the qualities
                          that make you stand out in a crowd, to offer them to the
                          world, whether across the city or across the world. It gives
                          you freedom of choice!</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu14" aria-expanded="false" aria-controls="menu14">View Skills Internationally <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu14" class="collapse">
						          <div class="card-body">
                        <p>View skills available and required internationally. Skills
                          and experience are increasingly becoming internationally relevant, but
                          the process of finding them has not become easier. Now, WeXlog offers
                          members the opportunity to set out their skills and experience to the
                          world, while allowing those looking for those skills and experience to
                          search for them internationally, simply by the click of a mouse.</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu15" aria-expanded="false" aria-controls="menu15">Search & Apply <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu15" class="collapse">
						          <div class="card-body">
                        <p>WeXlog members are able to conduct a simple
                          search for positions or contracts that match what they are
                          seeking and are able to offer. When the choice has been
                          made, the application process is almost as simple as
                          clicking your mouse.</p>
                      </div>
						        </div>
						      </div>

                  <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu16" aria-expanded="false" aria-controls="menu16">WYSIWYG <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu16" class="collapse">
						          <div class="card-body">
                        <p>The process of entering experience, education
                          and skills into WeXlog as they are gained, ensures that the
                          recruiter knows precisely what he or she is getting. There
                          is no need to undergo the tedious process of checking the
                          detail of references and claims provided by the other side.
                          What you see is what you get! That is why WeXlog is known as
                          a trusted source for recruitment of staff, contractors and
                          consultants, each one with a documented and verified history.</p>
                      </div>
						        </div>
						      </div>


    						</div>
    					</div>
				    </div>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock content %}
