{% extends "wexlog_home/base_wexlog_home.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'Public:WexlogHomeIndex' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Search Candidates</span></p>
            <h1 class="mb-3 bread">Search for your Desired Candidates</h1>
          </div>
        </div>
      </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">

    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomePostVacancy' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-cloud"></span>
    					</div>
    					<h3>Post a Vacancy</h3>
    					<p>Compare bids received, reviews, and work experience
                history. Interview your favourites and hire the best fit, and do all
                of this with an understanding of the past performance of the person or
                company under consideration.</p>
    				</div>
            </a>
    			</div>

    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomeShortTerm' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-customer-service"></span>
    					</div>
    					<h3>Consultants, Contractors & Freelancers</h3>
              <p>Tired of the time-consuming and money-intensive search for projects
                that meet your skills, qualifications and abilities? WeXlog takes
                the work out of finding new projects and assignments by
                automatically sorting the vacancies available that match your
                skill set.</p>
            </div>
            </a>
    			</div>
    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomePermanent' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-life-insurance"></span>
    					</div>
    					<h3>Full Time Project and Permanent Positions</h3>
              <p>Thinking of looking for a new permanent position?<br>&nbsp<br>
                Thinking of taking the next step in your career?<br>
               <br>WeXlog makes it easy.</p>
          	</div>
            </a>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Search for your Desired Candidates</h2>
          </div>
        </div>
    		<div class="row d-flex">
          <div class="col-md-12 ftco-animate p-md-5">
            <p>The search for a permanent employee poses
              risks: finding the right person can also entail telling your
              competitors what you are looking for, perhaps tipping them off
              before you are ready to tell the world of your needs. WeXlog
              allows you insight into what is available, the availability of
              skills that can help you to achieve your staffing objectives.
              You can make a targeted approach to the people you want, knowing
              in advance what you will be getting. WeXlog takes the guesswork
              and hope out of recruitment, providing verified facts on which to
              base a sound decision. Best of all, WeXlog permits you to act
              quickly and effectively, at the lowest possible cost.</p>
            <p><a href="{% url 'Public:WexlogHomePricing' %}" class="btn btn-primary p-3">Get started</a></p>
          </div>

	      </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Your Questions</h2>
            <p>We have detailed a few of the usual questions you may have with
              answers below.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div id="accordion">
    					<div class="row">
    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">What is your domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menuone" class="collapse show">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">How long is my domain name valid? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menutwo" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3">Can I sell my domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu3" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>
    						</div>

    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu4" aria-expanded="false" aria-controls="menu4">Can I cancel a domain? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu4" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu5" aria-expanded="false" aria-controls="menu5">How do I transfer a domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu5" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">How do I setup URL forwarding? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu6" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>
    						</div>
    					</div>
				    </div>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock content %}
