{% extends "wexlog_home/base_wexlog_home.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'Public:WexlogHomeIndex' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Short Term</span></p>
            <h1 class="mb-3 bread">Consultants, Contractors & Freelancers</h1>
          </div>
        </div>
      </div>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">

    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomePostVacancy' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-cloud"></span>
    					</div>
    					<h3>Post a Vacancy</h3>
    					<p>Compare bids received, reviews, and work experience
                history. Interview your favourites and hire the best fit, and do all
                of this with an understanding of the past performance of the person or
                company under consideration.</p>
    				</div>
            </a>
    			</div>

    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomeSearchCandidates' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-server"></span>
    					</div>
    					<h3>Search for your Desired Candidates</h3>
              <p>Compare the range of skills and qualified validations
                that are completed to shortlist a selected few potential candidates
                that you can contact directly for a more in depth research with the
                internal messaging system.</p>
            </div>
            </a>
    			</div>
    			<div class="col-md-4 text-center services link-text ftco-animate">
            <a href="{% url 'Public:WexlogHomePermanent' %}">
    				<div class="steps">
    					<div class="icon mb-4 d-flex justify-content-center align-items-center">
    						<span class="flaticon-life-insurance"></span>
    					</div>
    					<h3>Full Time Project and Permanent Positions</h3>
              <p>Thinking of looking for a new permanent position?<br>&nbsp<br>
                Thinking of taking the next step in your career?<br>
               <br>WexLog makes it easy.</p>
          	</div>
            </a>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Consultants, Contractors & Freelancers</h2>
          </div>
        </div>
    		<div class="row d-flex">
          <div class="col-md-12 ftco-animate p-md-5">
            <p>The hardest part of being a freelancer, a consultant or
              a contractor is finding the work. In many cases, the cost of this can
              be 30% or even more of the value of a contract! The alternative is to
              use a broker or agent to do the search, which also comes at a cost. And
              the results are still largely the result of chance, of making the enquiry
              at the time the  vacancy is open.</p>
            <p>WexLog allows you to take a large part of the cost and chance out of
              the process, by allowing you to post your qualifications in a place where
              you will be found by the people who search for those educational
              qualifications, experience and skills at the time they do the search.
              You are no longer dependent on good luck, the memory of the searcher or
              the agents contacts with the people who may want you. Best of all, you
              are able to include the date on which you will be available for a project,
              so the searchers can look for you for future work.</p>
            <p><a href="{% url 'Public:WexlogHomePricing' %}" class="btn btn-primary p-3">Get started</a></p>
          </div>

	      </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Your Questions</h2>
            <p>We have detailed a few of the usual questions you may have with
              answers below.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div id="accordion">
    					<div class="row">
    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">What is your domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menuone" class="collapse show">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">How long is my domain name valid? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menutwo" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3">Can I sell my domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu3" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>
    						</div>

    						<div class="col-md-6">
    							<div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu4" aria-expanded="false" aria-controls="menu4">Can I cancel a domain? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu4" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu5" aria-expanded="false" aria-controls="menu5">How do I transfer a domain name? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu5" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>

						      <div class="card">
						        <div class="card-header">
										  <a class="card-link" data-toggle="collapse"  href="#menu6" aria-expanded="false" aria-controls="menu6">How do I setup URL forwarding? <span class="collapsed"><i class="ion-ios-arrow-up"></i></span><span class="expanded"><i class="ion-ios-arrow-down"></i></span></a>
						        </div>
						        <div id="menu6" class="collapse">
						          <div class="card-body">
												<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						          </div>
						        </div>
						      </div>
    						</div>
    					</div>
				    </div>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock content %}
