{% extends "wexlog_home/base_wexlog_home.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'Public:WexlogHomeIndex' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>User</span></p>
            <h1 class="mb-3 bread">User Agreement</h1>
          </div>
        </div>
      </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">User Agreement</h2>
          </div>
        </div>
    		<div class="row d-flex">
          <div class="col-md-12 ftco-animate p-md-5">
            <p>The hardest part of being a freelancer, a consultant or
              a contractor is finding the work. In many cases, the cost of this can
              be 30% or even more of the value of a contract! The alternative is to
              use a broker or agent to do the search, which also comes at a cost. And
              the results are still largely the result of chance, of making the enquiry
              at the time the  vacancy is open.</p>
            <p>WeXlog allows you to take a large part of the cost and chance out of
              the process, by allowing you to post your qualifications in a place where
              you will be found by the people who search for those educational
              qualifications, experience and skills at the time they do the search.
              You are no longer dependent on good luck, the memory of the searcher or
              the agents contacts with the people who may want you. Best of all, you
              are able to include the date on which you will be available for a project,
              so the searchers can look for you for future work.</p>
            <p><a href="#" class="btn btn-primary p-3">Accept</a></p>
          </div>

	      </div>
    	</div>
    </section>

{% endblock content %}
