{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}

{% block title %}Number Type{% endblock title %}


{% block content %}
<div class="container">
<h3>Add a Type of Number</h3>

<form method="post">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.type|as_crispy_field }}

    </div>
    <div class="form-group col-md-6 mb-0">

    </div>
  </div>
  <div class="">
    <p><button type="submit" name="Done" class="btn btn-primary">Save</button>
  </div>
</form>
</div>
{% endblock content %}
