{% extends "base_home.html" %}
{% load humanize %}

{% block title %}
    {{block.super}}-Skill List
{% endblock title %}

{% block content %}
<div class="card border-0">
  <h4 class="">WexLog Skills</h4>
  <p>There are {{ count }} skills currently listed.</p>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Demanded Skills</h5>
        <p>This is a count of the times a skill has been listed as being needed in a vacancy.</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="align-middle text-center">Skill</th>
              <th class="align-middle text-center">Demand Occurrence</th>
            </tr>
          </thead>
          <tbody>
            {% for dd in demand_set.items %}
              <tr>
                <td class="align-middle text-center">{{ dd.0 }}</td>
                <td class="align-middle text-center">{{ dd.1 }}</td>
            {% empty %}
                <td colspan="3">No skills currently in the environment.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Listed Skills</h5>
        <p>These are the skills that are currently listed in the WeXlog environment.</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="align-middle text-center">Skill</th>
              <th class="align-middle text-center">Occurrence</th>
              <th class="align-middle text-center">Hours Logged</th>
            </tr>
          </thead>
          <tbody>
            {% for ss in skill_set.items %}
              <tr>
                <td class="align-middle text-center">{{ ss.0 }}</td>
                <td class="align-middle text-center">{{ ss.1.0|intcomma }}</td>
                <td class="align-middle text-center">{{ ss.1.1|intcomma }}</td>
            {% empty %}
                <td colspan="3">No skills currently in the environment.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
