{% extends "base_home.html" %}
{% load humanize %}

{% block title %}
    {{block.super}}-Skill List
{% endblock title %}

{% block Style %}
  <style>
    .format_chkbox{
    height: 1.25em;
    width: 1.25em;
    }
  </style>
{% endblock Style %}

{% block content %}

<div class="border-0">
  <div class="card-body">
    <div class="card card-shadow text-center">
      <div class="card-body">
      <h4 class="">MyWeXlog Skills</h4>
      <p>
        On this page you can see skills that have been logged on MyWeXlog as well as skills that are in demand from posted vacancies.
      </p>
      <p>
        There are {{ tally }} skills currently listed, totalling {{ total_hours.total_sum|intcomma }} confirmed hours.
        <br>
        <small>
          (Claimed between {{ total_hours.min|date:"j F Y" }} and {{ total_hours.max|date:"j F Y" }})
        </small>
      </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-shadow">
          <div class="card-body">
            <div class="float-right">
              {% if order == 'alphabetically' %}
                <a href="{% url 'Flatten:SortTags' %}" data-toggle="tooltip" title="Sort  from Max to Min">
                  <i class="fa fa-sort" aria-hidden="true" style="font-size:25px;color:black"></i>
                </a>
              {% else %}
                <a href="{% url 'Flatten:ListTags' %}" data-toggle="tooltip" title="Sort alphabetically">
                  <i class="fa fa-sort" aria-hidden="true" style="font-size:25px;color:black"></i>
                </a>
              {% endif %}
            </div>
            <h5 class="card-title">Demanded Skills</h5>
            <p>
              <small>
                This list is sorted {{ order }}.
              </small>
              <br>
              <small>
                This is a count of the times a skill has been listed as being needed in a vacancy.
              </small>
            </p>
            <div class="float-right">
              <input type="text" id="searchD" placeholder="Search..." data-toggle="tooltip" title="Search this list for a skill. Select the checkbox to the right to synchronise the demand list.">
              <input type="checkbox" id="linkD" class="format_chkbox" data-toggle="tooltip" title="Synchronise the lists">
            </div>
            <br><br>
              <h5 class="text-left"><strong>Skill ( Occurrence ) & Date Range</strong></h5>
              <ul id="demand" class="list-group">
                {% for item in demand %}
                  {% if item.demand_count > 0 %}
                    <li class="list-group-item"><strong>{{ item.skill }}</strong>  ( {{ item.demand_count }} )<br><small>{{ item.demand_min|date:"j M Y" }} thru {{ item.demand_max|date:"j M Y" }}</small> <span class="float-right">{% if request.user.subscription >= 2 %}<a href="{% url 'Skills:Skill_Detail' item.id %}" data-toggle="tooltip" title="Details"><i class="fa fa-map-o" aria-hidden="true" style="color:black;"></i></a></span>{% else %}<span data-toggle="tooltip" title="Details on Active subscription only"><i class="fa fa-map-o" aria-hidden="true" style="color:black;"></i>{% endif %}</span></li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-shadow">
          <div class="card-body">
            <div class="float-right">
              {% if order == 'alphabetically' %}
                <a href="{% url 'Flatten:SortTags' %}" data-toggle="tooltip" title="Sort  from Max to Min">
                  <i class="fa fa-sort" aria-hidden="true" style="font-size:25px;color:black"></i>
                </a>
              {% else %}
                <a href="{% url 'Flatten:ListTags' %}" data-toggle="tooltip" title="Sort alphabetically">
                  <i class="fa fa-sort" aria-hidden="true" style="font-size:25px;color:black"></i>
                </a>
              {% endif %}
            </div>
            <h5 class="card-title">Listed Skills</h5>
            <p>
              <small>
                This list is sorted {{ order }}.
              </small>
              <br>
              <small>
                These are the skills that are currently listed in the MyWeXlog environment.
              </small>
            </p>
            <div class="float-right">
              <input type="text" id="searchE" placeholder="Search..." data-toggle="tooltip" title="Search this list for a skill. Select the checkbox to the right to synchronise the demand list.">
              <input type="checkbox" id="linkE"  class="format_chkbox" data-toggle="tooltip" title="Synchronise the lists">
            </div>
            <br><br>
              <h5 class="text-left"><strong>Skill ( Confirmed Hours ) & Date Range</strong></h5>
              <ul class="list-group" id="exists">
                {% for item in hours %}
                  <li class="list-group-item"><strong>{{ item.skill }}</strong>  ( {{ item.hours_sum }} )<br><small>{{ item.skill_min|date:"j M Y" }} thru {{ item.skill_max|date:"j M Y" }}</small><span class="float-right">{% if request.user.subscription >= 2 %}<a href="{% url 'Skills:Skill_Detail' item.id %}" data-toggle="tooltip" title="Details"><i class="fa fa-map-o" aria-hidden="true" style="color:black;"></i></a></span>{% else %}<span data-toggle="tooltip" title="Details on Active subscription only"><i class="fa fa-map-o" aria-hidden="true" style="color:black;"></i>{% endif %}</span></li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block Script %}
<script type="text/javascript">
  var boxD = document.getElementById('linkD');
  var boxE = document.getElementById('linkE');

  boxD.addEventListener('click', syncBoxD)
  boxE.addEventListener('click', syncBoxE)

  function syncBoxD(e){
    if(boxD.checked == true){
      boxE.checked = true;
    }else{
      boxE.checked = false;
    }
  }

  function syncBoxE(e){
    if(boxE.checked == true){
      boxD.checked = true;
    }else{
      boxD.checked = false;
    }
  }

  var demList = document.getElementById('demand');
  var exeList = document.getElementById('exists');


  var filterDemand = document.getElementById('searchD');
  var filterExists = document.getElementById('searchE');

  filterDemand.addEventListener('keyup', filterDemandItems);
  filterExists.addEventListener('keyup', filterExistsItems);

  function filterDemandItems(e){
    // convert text to lowercase
   var text = e.target.value.toLowerCase();

   var demitems = demList.getElementsByTagName('li');

   // Convert to an array
   Array.from(demitems).forEach(function(demitem){

     var demitemName = demitem.firstChild.textContent;

     if(demitemName.toLowerCase().indexOf(text) != -1){
       demitem.style.display = 'block';
     } else {
       demitem.style.display = 'none';
     }
 });
   if(boxD.checked == true){
     var exeitems = exeList.getElementsByTagName('li');

     // Convert to an array
     Array.from(exeitems).forEach(function(exeitem){

       var exeitemName = exeitem.firstChild.textContent;

       if(exeitemName.toLowerCase().indexOf(text) != -1){
         exeitem.style.display = 'block';
       } else {
         exeitem.style.display = 'none';
       }
   });
 }
}

function filterExistsItems(e){

 var text = e.target.value.toLowerCase();

 var exeitems = exeList.getElementsByTagName('li');

 Array.from(exeitems).forEach(function(exeitem){

   var exeitemName = exeitem.firstChild.textContent;

   if(exeitemName.toLowerCase().indexOf(text) != -1){
     exeitem.style.display = 'block';
   } else {
     exeitem.style.display = 'none';
   }
});
 if(boxD.checked == true){
   var demitems = demList.getElementsByTagName('li');
   // Convert to an array
   Array.from(demitems).forEach(function(demitem){

     var demitemName = demitem.firstChild.textContent;

     if(demitemName.toLowerCase().indexOf(text) != -1){
       demitem.style.display = 'block';
     } else {
       demitem.style.display = 'none';
     }
  });
}
}
</script>
{% endblock Script %}
