{% extends "base_home.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <a href="{% url 'Project:ProjectPersonal' prj co bch %}" class="btn btn-primary float-right">Back to Project Task</a>
  <h4 class="">Full Project Task List</h4>
  <br>
  <div class="container">
    <div class="row my-auto">
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Date Initiated</strong>
      </div>
      <div class="col-md-5 h-100 text-center my-auto">
        <strong>Task</strong>
      </div>
      <div class="col-md-3 h-100 text-center my-auto">
        <strong>Billing Rate</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Action</strong>
      </div>
    </div>
  </div>
  {% for task in pageitems %}
  <div class="row">
    <div class="card mt-1 card-hover" style="width: 100%;">
      <div class="card-body small-pad">
        <div class="row my-auto">
          <div class="col-md-2 h-100 text-center my-auto">
            {{ task.date_start }}
          </div>
          <div class="col-md-5 h-100 text-center my-auto">
            {{ task.ppdt.task }}
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            {{ task.currency.currency_abv }}{{ task.billing_rate }} {{ task.get_rate_unit_display }}
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <div class="row">
            {% if task.current == True %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="{% url 'Project:ActionProjectTask' task.pk ppds %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-success badge-pill" name="no"  data-toggle="tooltip" title="Click to deactivate a project task">
                    <i class="fa fa-toggle-off" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% elif task.current == False %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="{% url 'Project:ActionProjectTask' task.pk ppds %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill" name="yes"  data-toggle="tooltip" title="Click to activate a project task">
                    <i class="fa fa-toggle-on" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% endif %}
              <a href="#" data-toggle="tooltip" title="Click to edit this project task">
                <i class="fa fa-pencil-square-o" style="font-size:2rem;color:black;" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <p>&nbsp</p>
  <a href="{% url 'Project:AddProjectTask' ppds %}" class="btn btn-primary float-right">
    Add New Task
  </a>
  </div>
  <p>&nbsp</p>

  <nav aria-label="Page navigation">
      {% if pageitems.has_other_pages %}
        <ul class="pagination">
          {% if pageitems.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
                <span class="sr-only disabled">Previous</span>
              </a></li>
          {% else %}
            <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
          {% endif %}

          {% if pageitems.number|add:'-4' > 1 %}
            <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
          {% endif %}

          {% for i in pageitems.paginator.page_range %}
            {% if pageitems.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
              <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
            <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
          {% endif %}

          {% if pageitems.has_next %}
            <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
          {% else %}
            <li class="page-link disabled"><span>Next</span></li>
          {% endif %}
        </ul>
      {% endif %}
  </nav>
</div>
{% endblock content %}
