{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Project Detail Page - Help</h3>
    <p>&nbsp</p>
    <p>This page displayes a the details of the selected project that you clicked the Detail button.</p>
    <p>The view displays the Project Owner, the Project Name, Industry, the total number of hours
      recorded in WeXlog for the hours worked on the project as well as the project country, city
      and region. The view also list the number of WeXlog members that have worked on the project
      and recorded their experience for the project.</p>
    <p>The <a href="#" class="badge badge-pill badge-primary">Edit Project</a> button will open
      the project details page allowing you to amend the recorded information of the project.</p>
    <p>You have the option to:</p>
      <ul>
        <li><a href="#" class="btn btn-primary">Wexlog Hours</a> - View a listing
          of the experience items that have been captured that make up the hours spent on the project.</li>

        <li><a href="#" class="badge badge-pill badge-primary">Back</a> - allows you to go back to the
        Projects Home page.</li>
      </ul>

</div>
{% endblock content %}
