{% extends "base_home.html" %}

{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">
Welcome to the Project home page!</h5>

<div class="card-body">
<p>
  <ul>
    <li>Add a new project: <a href="{% url 'Project:ProjectAdd' %}">Project</a></li>
    <li>View all the projects: <a href="{% url 'Project:ProjectList' %}">View Projects List</a></li>
  </ul>
</p>

<p>
  <ul>
    <li>Add a new Project Owner: <a href="">Owner</a></li>
    <li>Add a new Region: <a href="">Region</a></li>
    <li>Add a new City: <a href="">City</a></li>
    <li>Add a new Industry: <a href="">Industry</a></li>
  </ul>
</p>
</div>
<div class="container">
<ul>
  <li>Search all projects: <a href="{% url 'Project:Project-Search' %}">Search</a></li>
</ul>
</div>

{% endblock content %}
