{% extends "base_home.html" %}

{% block title %}{{block.super}}-Hours Spent Working On Project{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">List of hours worked on {{ project }}!</h5>
  <div class="card-body">
      {% if request.user.is_authenticated %}
      <p><a href="{% url 'Project:ProjectAdd' %}" class="badge badge-pill badge-primary">Add Project</a><a href="{% url 'Enterprise:EnterpriseHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
      {% endif %}
    <p>There are currently {{ hr.sumt }} hours spent working on project {{ project }}.</p>
    <table class="table-sm">
      <col width="30%">
      <col width="20%">
      <col width="15%">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Employee Name</th>
          <th></th>
        </tr>
      </thead>
      {% for p in people %}
      <tbody>
        <tr>
          <td>{{ p.enterprise }}</td>
          <td>{{ p.first_name }} {{ p.last_name }}</td>
          <td><a href="{% url 'Project:ProjectDetail' p.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">View Profile</a> </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
