{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Hours Spent Working On Project{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
  <h4 class="">List of hours worked on {{ projectdata.name }}!</h4>

      {% if request.user.is_authenticated %}
      <p><a href="{% url 'Project:ProjectAdd' %}" class="badge badge-pill badge-primary">Add Project</a><a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
      {% endif %}
    <p>There are currently {{ hr.sum_t|intcomma }} hours spent working on project {{ projectdata.name }}.</p>
    <table class="table table-hover table-sm">
      <col width="30%">
      <col width="20%">
      <col width="15%">
      <col width="15%">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Date Complete</th>
          <th>Hours Spent</th>
        </tr>
      </thead>
      {% for p in info %}
      <tbody>
        <tr>
          <td>{{ p.company }}</td>
          <td>{{ p.date_to }}</td>
          <td>{{ p.hours_worked|intcomma }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
