{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <h4 class="">Your Personal Projects page
      <span>
        <p class="float-right">
          <a href="{% url 'Project:HelpProjectHome' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px">
            <i class="fa fa-question-circle"></i>
          </a>
        </p>
      </span>
    </h4>
    <p>
      Projects listed here are the projects that have been captured and validated in your work experience. Please click on 'Personal Details' to capture your personal responsibilities as carried out for the duration of the project, this will be reflected in you Public Profile.
    </p>
    <p>
      To view a full list of projects select the 'Full Project List' button.
    </p>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
  <h4 class="">
    Personal Projects List
  </h4>
  <div class="card-body">
      <p>
        There are currently <strong>{{ pcount|intcomma }}</strong> personal projects listed in MyWeXlog!
      </p>
      <p>
        <a href="{% url 'Project:ProjectPersonalAdd' %}" class="badge badge-pill badge-primary">Add Personal Project</a><a href="{% url 'Project:ProjectList' %}" class="badge badge-pill badge-primary">Full Project List</a><a href="{% url 'Project:Project-Search' %}" class="badge badge-pill badge-primary">Search Projects</a><a href="{% url 'Project:ProjectDashboard' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">
          Back
        </a>
      </p>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-4 h-100 text-center my-auto">
            <strong>
              My Employer<br>(Project Owner - Project Name)
            </strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>
              Industry
            </strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>
              Country<br>Closest Town
            </strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>
              Claimed Hours<br>(Not confirmed)
            </strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong></strong>
          </div>
        </div>
      </div>
      {% for p in pageitems %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-4 h-100 text-center my-auto">
                {{ p.companybranch }}<br>({{ p.project }})
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{ p.project.industry }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{p.project.country.name}}<br>{{ p.project.city }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{ p.sum }}
              </div>
              <div class="col-md-2 h-100 center-text my-auto float-right">
                <div class="row text-center">
                  <a href="{% url 'Project:ProjectPersonal' p.project.slug p.company.slug p.companybranch.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 5rem;">
                    Personal<br>Detail
                  </a>
                </div>
                <div class="row mt-1 text-center">
                  <a href="{% url 'Project:ProjectDetail' p.project.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 5rem;">
                    Project<br>Detail
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <p>There are currently no projects listed!</p>
      {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock content %}
