{% extends "base_home.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
  <h4 class="">Project {{ project.name }}!</h4>
  </div>
  <div class="card-body">
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-5 h-100 text-center my-auto">
            <strong>Project Company Working For</strong>
          </div>
          <div class="col-md-7 h-100 text-center my-auto">
            <strong>Project Name</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong></strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-5 h-100 text-center my-auto">
                {{ project.company }}<br>({{ project.companybranch.name }})
              </div>
              <div class="col-md-7 h-100 text-center my-auto">
                {{ project.name }}
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-md-12 h-100 my-auto">
                <div class="" id="myProjectDisc1{{ppdd.id}}" style="display:block;">
                  {{ project.description|safe|truncatechars:640 }}<br>
                  {% if project.description|length > 640 %}
                  <button class="float-right" type="submit" id="readMoreProject{{project.id}}">Read More ..</button>
                  {% endif %}
                </div>
                <div class="" id="myProjectDisc2{{project.id}}" style="display:none;">
                  {{ project.description|safe }}<br>
                  <button class="float-right" type="submit" id="readLessProject{{project.id}}">Read Less ..</button><br>
                </div>

                {% if project.description|length > 640 %}
                <script>
                  var readMore = document.getElementById('readMoreProject{{project.id}}');  // 1
                  readMore.addEventListener('click', function() {   // 3
                     myProjectDisc1{{project.id}}.style.display = 'none';
                     myProjectDisc2{{project.id}}.style.display = 'block';          // 4
                  });
                  var readLess = document.getElementById('readLessProject{{project.id}}');  // 1
                  readLess.addEventListener('click', function() {  // 3
                    myProjectDisc1{{project.id}}.style.display = 'block';
                    myProjectDisc2{{project.id}}.style.display = 'none';
                    myProjectDisc1{{project.id}}.scrollIntoView();              // 4
                  });

                </script>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>


      <p>&nbsp</p>
    </div>
  </div>
  <br>
  <div id="ppddDescription" class="card card-shadow">
    <div class="card-body">
      <h4 class="">Project Details Description!</h4>
      <div class="" id="mypDisc1{{ppdd.id}}" style="display:block;">
        {{ ppdd.description|safe|truncatechars:640 }}<br>
        {% if ppdd.description|length > 640 %}
        <button class="float-right" type="submit" id="readMore{{ppdd.id}}">Read More ..</button>
        {% endif %}
      </div>
      <div class="" id="mypDisc2{{ppdd.id}}" style="display:none;">
        {{ ppdd.description|safe }}<br>
        <button class="float-right" type="submit" id="readLess{{ppdd.id}}">Read Less ..</button><br>
      </div>
      <p class="small-paragraph"><small>* Double click to edit</small></p>
      {% if ppdd.description|length > 640 %}
      <script>
        var readMore = document.getElementById('readMore{{ppdd.id}}');  // 1
        readMore.addEventListener('click', function() {   // 3
           mypDisc1{{ppdd.id}}.style.display = 'none';
           mypDisc2{{ppdd.id}}.style.display = 'block';          // 4
        });
        var readLess = document.getElementById('readLess{{ppdd.id}}');  // 1
        readLess.addEventListener('click', function() {  // 3
          mypDisc1{{ppdd.id}}.style.display = 'block';
          mypDisc2{{ppdd.id}}.style.display = 'none';
          mypDisc1{{ppdd.id}}.scrollIntoView();              // 4
        });

      </script>
      {% endif %}

      {% endif %}
    </div>
  </div>


  <div id="ppddEditDescription" class="card card-shadow" style="display:none;">
    <div class="card-body">
    <h4 class="">Add New Project Details!</h4>

        <div class="container">
      <form class="" action="" method="POST" id="ProjectForm">
        {% csrf_token %}
        <div class="form-row">

          <div class="form-group col-md-12 mb-0">
            {{ form.description|as_crispy_field }}
          </div>
          <p>
            <a href="{% url 'Project:ProjectHome' %}" class="btn btn-danger">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary" name="button">
              Save
            </button>
          </p>
      </form>
    </div>
  </div>
</div>
</div>
<br>
<div class="card card-shadow" id="task_list">
  <div class="card-body">
  <h4 class="">Current Project Task List</h4>
  <div>
  <p>&nbsp</p>
  <a href="{% url 'Project:ProjectTaskList' instance.slug prj co bch %}" class="btn btn-primary float-left">
    Action Full Tasks
  </a>
  <a href="{% url 'Project:AddProjectTask' instance.slug %}" class="btn btn-primary float-right">
    Add New Task
  </a>
  </div>
  <br><br>
  <div class="container">
    <div class="row my-auto">
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Date Initiated</strong>
      </div>
      <div class="col-md-6 h-100 text-center my-auto">
        <strong>Task</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Billing Rate</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Action</strong>
      </div>
    </div>
  </div>
  {% for task in ptl %}
  <div class="row">
    <div class="card mt-1 card-hover" style="width: 100%;">
      <div class="card-body small-pad">
        <div class="row my-auto">
          <div class="col-md-2 h-100 text-center my-auto">
            {{ task.date_start }}
          </div>
          <div class="col-md-6 h-100 text-center my-auto">
            {{ task.ppdt.task }}
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            {{ task.currency.currency_abv }}{{ task.billing_rate }} {{ task.get_rate_unit_display }}
          </div>
          <div class="col-sm-2 col-no-pad h-100 text-center my-auto">
            <div class="row">
            {% if task.current == True %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="{% url 'Project:NotCurrentProjectTask' task.pk prj co bch %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-success badge-pill" name="no"  data-toggle="tooltip" title="Click to deactivate a project task">
                    <i class="fa fa-toggle-off" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% elif task.current == False %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="#" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill" name="yes"  data-toggle="tooltip" title="Click to activate a project task">
                    <i class="fa fa-toggle-on" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% endif %}
              <div class="">
                <a href="{% url 'Project:EditProjectTask' instance.slug task.ppdt.slug %}" data-toggle="tooltip" title="Click to edit this project task">
                  <i class="fa fa-pencil-square-o" style="font-size:2rem;color:black;" aria-hidden="true"></i>
                </a>
                <a href="{% url 'Project:EditProjectTaskBilling' task.pk task.ppdt.slug prj co bch %}" data-toggle="tooltip" title="Click to edit this project task billing info">
                  <i class="fa fa-money" style="font-size:2rem;color:black;" aria-hidden="true"></i>
                </a>
                <a href="{% url 'Project:AddProjectTaskNote' prj co bch task.ppdt.slug %}" data-toggle="tooltip" title="Click to add project note">
                  <i class="fa fa-sticky-note-o" style="font-size:2rem;color:black;" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% include "tiny_compressor.html" %}
<script type="text/javascript">
  $(function() {
    if (($('#id_description').val().length <= 1 )) {
      console.log(($('#id_description')).val().length);
      $('#ppddEditDescription').show();
      $('#ppddDescription').hide();
    } else {
      $('#ppddEditDescription').hide();
      $('#ppddDescription').show();
    }
  });

  $("#ppddDescription").dblclick(function() {
    $('#ppddDescription').hide();
    $('#ppddEditDescription').show();
  });
</script>
{% endblock content %}
