{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project Detail{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body border-0">
  <h4 class="">Detail for project {{ info.name }}
    <span><p class="float-right">
    <a href="{% url 'Project:HelpProjectDetail' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h4>

    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Project:EditProject' info.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Edit Project</a>
    {% endif %}
    <a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
        <div class="row">
          <div class="col-sm-12">
            <div class="border-0">
              <div class="card-body">
                <h5 class="card-title">Project Details</h5>

                {% for d in detail %}

                <div class="row">
                  <div class="col-md-2">
                    <strong>Project Name</strong>
                  </div>
                  <div class="col-md-6">
                    <div class="card-title">
                      {{ d.name }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Project Owner</strong>
                  </div>
                  <div class="col-md-6">
                    {{ d.companybranch }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Industry</strong>
                  </div>
                  <div class="col-md-6">
                    {{ d.industry }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>&nbsp</p>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Country</strong>
                  </div>
                  <div class="col-md-6">
                    {{ d.get_country_display }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>Region</strong>
                  </div>
                  <div class="col-md-6">
                    {{ d.region }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <strong>City</strong>
                  </div>
                  <div class="col-md-6">
                    {{ d.city }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>&nbsp</p>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Total People on Project</strong>
                  </div>
                  <div class="col-md-6">
                    {{ ppl|intcomma }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <strong>Total Hours on Project</strong>
                  </div>
                  <div class="col-md-6">
                    {{ hr.sum_t|floatformat:0|intcomma }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-6">
                    {% if request.user.subscription >= 2 %}
                      <p class="text-right">
                        <a href="{% url 'Project:HoursOnProject' info.slug %}?next={{ request.path|urlencode }}"class="btn btn-primary">
                          MyWeXlog Hours
                        </a>
                        &nbsp
                      {% else %}
                        <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-primary">
                          Active Subscription Required
                        </a>
                      </p>
                      {% endif %}
                  </div>
                </div>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>




{% endblock content %}
