{% extends "base_home.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}

<div class="card border-0">
  <h4 class="">Your Project Details
    <span><p class="float-right">
    <a href="{% url 'Project:HelpProjectAdd' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="popover" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>

  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
    {% endif %}
    <form class="" action="" method="POST" id="ProjectForm">

      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.name|as_crispy_field }}
          {{ form.company|as_crispy_field }}
          <a href="{% url 'Enterprise:EnterpriseAddPop' %}" id='add_enterprise' onclick='return showAddPopup(this);'><img src="{% static '/images/icon-addlink.svg' %}"> Add a new Enterprise</a>
          {{ form.branch|as_crispy_field }}
          <p><a href="{% url 'Enterprise:BranchAddPop' %}" id='add_branch' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Branch</a></p>
          {{ form.industry|as_crispy_field }}
          <a href="{% url 'Enterprise:IndustryAddPop' %}" id='add_industry' onclick='return showAddPopup(this);'><img src="{% static '/images/icon-addlink.svg' %}"> Add a new Industry</a>
          {{ form.country|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.region|as_crispy_field }}
          <a href="{% url 'Location:RegionAddPop' %}" id='add_region' onclick='return showAddPopup(this);'><img src="{% static '/images/icon-addlink.svg' %}"> Add a new Region</a>
          {{ form.city|as_crispy_field }}
          <a href="{% url 'Location:CityAddPop' %}" id='add_city' onclick='return showAddPopup(this);'><img src="{% static '/images/icon-addlink.svg' %}"> Add a new City</a>
        </div>
        <p><button type="submit" class="btn btn-primary" name="button">Save</button></p>

    </form>
  </div>
</div>
</div>

{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}

<script type="text/javascript">
  function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=400,width=600,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
  }

  function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
  }
</script>

{% endblock content %}
