{% extends "base_home.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}

  <div class="card card-shadow">
    <div class="card-body">
    <h4 class="">Add New Project Task Notes!</h4>

      <div class="container">
      <form class="" enctype="multipart/form-data" action="" method="POST" id="ProjectForm">
        {% csrf_token %}
        <div class="form-row">

          <div class="form-group col-md-12 mb-0">
            {{ form.heading|as_crispy_field }}
            {{ form.note_pad|as_crispy_field }}
            {{ form.date_due|as_crispy_field }}
          </div>
          <p>
            <a href="{% url 'Project:ProjectPersonal' prj co bch %}#task_list" class="btn btn-danger">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary" name="button">
              Save
            </button>
          </p>
      </form>
    </div>
  </div>
</div>
</div>
<br>
<div class="card card-shadow" id="task_list">
  <div class="card-body">
  <h4 class="">Current Task Notes noteList</h4>
  <div>
  <p>&nbsp</p>
  <a href="#" class="btn btn-primary float-left">
    Action Full Tasks
  </a>
  <a href="#" class="btn btn-primary float-right">
    Add New Task
  </a>
  </div>
  <br><br>
  <div class="container">
    <div class="row my-auto">
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Date Initiated</strong>
      </div>
      <div class="col-md-8 h-100 text-center my-auto">
        <strong>Task</strong>
      </div>
      <div class="col-md-2 h-100 text-center my-auto">
        <strong>Action</strong>
      </div>
    </div>
  </div>
  {% for note in notes_list %}
  <div class="row">
    <div class="card mt-1 card-hover" style="width: 100%;">
      <div class="card-body small-pad">
        <div class="row my-auto">
          <div class="col-md-2 h-100 text-center my-auto">
            {{ note.created_on }}
          </div>
          <div class="col-md-8 h-100 text-center my-auto">
            {{ note.heading }}
          </div>
          <div class="col-sm-2 col-no-pad h-100 text-center my-auto">
            <div class="row">
            {% if note.complete == True %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="#" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-success badge-pill" name="no"  data-toggle="tooltip" title="Click to mark note as complete">
                    <i class="fa fa-toggle-off" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% elif note.complete == False %}
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form  action="#" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill" name="yes"  data-toggle="tooltip" title="Click to re-activate note">
                    <i class="fa fa-toggle-on" aria-hidden="true" style="font-size:20px;"></i>
                  </button>
                </form>
              </div>
            {% endif %}
              <div class="">
                <a href="#" data-toggle="tooltip" title="Click to edit this project task">
                  <i class="fa fa-pencil-square-o" style="font-size:2rem;color:black;" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row my-auto">
            <div class="col-md-12 h-100 my-auto">
              {{ note.note_pad|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% include "tiny_compressor.html" %}
{% endblock content %}
