{% extends "base_home.html" %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
<div class="container">
  {% if query %}
    <h4>Projects for search "{{ query }}"
      <span><p class="float-right">
      <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </p></span></h4>
</div>
</div>
<div class="container">
{% if request.user.is_authenticated %}
<p><a href="{% url 'Project:ProjectAdd' %}" class="badge badge-pill badge-primary">Add Project</a><a href="{% url 'Project:Project-Search' %}" class="badge badge-pill badge-primary">Search Projects</a>
  <a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
{% endif %}
</div>
<div class="card-body">
    <h5 class="card-title">
      {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
      {% endwith %}
    </h5>

    <div class="container">
      <div class="row my-auto">
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Project Name</strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Project Owner</strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Project Industry</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Project Country</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong></strong>
        </div>
      </div>
    </div>
    {% for ProjectData in results %}
    <div class="container">
    <div class="row">
      <div class="card mt-2 card-hover" style="width: 100%;">
        <div class="card-body">
          <div class="row my-auto">
            <div class="col-md-3 h-100 text-center my-auto">
              {{ ProjectData.name }}
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ ProjectData.company }}
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ ProjectData.industry }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ ProjectData.get_country_display }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              <a href="{% url 'Project:ProjectDetail' ProjectData.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary float-right" style="width: 5rem;">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}

    <p> </p>
    <p><a href="{% url 'Project:Project-Search' %}" class="btn btn-primary">Search Again</a></p>
  {% else %}
    <h4>Search for Projects
      <span><p class="float-right">
      <a href="{% url 'Project:HelpProjectSearch' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </p></span></h4>
    <form action="." method="get">
        {{ form.as_p }}
        <a href="{% url 'Project:ProjectHome' %}" class="btn btn-danger">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    {% endif %}
    </div>
    </div>
</div>
{% endblock content %}
