{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">Welcome to the Project home page!</h5>
  <div class="card-body">
      {% if request.user.is_authenticated %}
      <p>There are currently {{ pcount.sum_p|intcomma }} projects listed in WeXlog!</p>
      <p><a href="{% url 'Project:ProjectAdd' %}" class="badge badge-pill badge-primary">Add Project</a><a href="{% url 'Project:Project-Search' %}" class="badge badge-pill badge-primary">Search Projects</a><a href="{% url 'Enterprise:EnterpriseHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
      {% endif %}
      <table class="table-sm">
      <col width="40%">
      <col width="15%">
      <col width="20%">
      <col width="15%">
      <col width="10%">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Industry</th>
          <th>Project Country</th>
          <th></th>
        </tr>
      </thead>
      {% for p in projects %}
      <tbody>
        <tr>
          <td>{{ p.company }} ({{ p.name }})</td>
          <td>{{ p.industry }}</td>
          <td>{{ p.city }}</td>
          <td><a href="{% url 'Project:ProjectDetail' p.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Project Detail</a> </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
