{% extends 'base_home.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}-Project{% endblock title %}

{% block content %}
{{ form.media.css }}

<div class="card card-shadow">
  <div class="card-body">
    <h4>Add Project Task:<br>
    {{ qs.project }}
    <span>
      <p class="float-right">
        <a href="{% url 'Project:HelpProjectAdd' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="popover" title="Click here for help on this page!">
          <i class="fa fa-question-circle"></i>
        </a>
      </p>
    </span>
  </h4>
  <div class="card-body">
    <form class="" action="" method="POST" id="ProjectPersonalDetailsTaskBillingForm">
      {% csrf_token %}
      <div class="">
        <div class="row">
          <div class="col-md-12">
            {{ form.task|as_crispy_field }}
            {{ form.description|as_crispy_field }}
          </div>
        </div>
      </div>
        <p>
          <br>
          <a href="{% url 'Project:ProjectPersonal' prj co bch %}" class="btn btn-danger">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary" name="button">
            Save & Add Billing Rate
          </button>
        </p>
    </form>
    </div>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}

<script type="text/javascript">
  function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=400,width=600,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
  }

  function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
  }

  var form = document.getElementById('ProjectForm')
  var city = document.getElementById('city_error')

  document.getElementById('ad_cty').addEventListener('click', function(e){
    if(form.region.value == ''){
      city.classList.remove('d-none')
    }else{
      document.cookie = 'region=' + JSON.stringify(form.region.value) + ";domain=;path=/"
      city.classList.add('d-none')
      document.getElementById('add_city').click();
    }
  })
</script>

{% endblock content %}
