{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project Detail{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body border-0">
  <h4 class="">Detail for project {{ info.name }}
    <span><p class="float-right">
    <a href="{% url 'Project:HelpProjectDetail' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>

    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Project:EditProject' info.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Edit Project</a>
    {% endif %}
    <a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
        <div class="row">
          <div class="col-sm-12">
            <div class="border-0">
              <div class="card-body">
                <h5 class="card-title">Project Details</h5>
                <table class="table table-bordered">
                  <thead>
                  </thead>
                  <tbody>
                      {% for d in detail %}
                      <tr>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">

                        <th>Project Owner</th>
                        <th>Project Name</th>
                        <th>Industry</th>
                        <th class="text-center">Total Project Hours</th>
                      </tr>
                        <td>{{ d.company }}<br>{{ d.branch }} </td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.industry }}</td>
                        <td class="text-center">{{ hr.sum_t|intcomma }}</td>
                      <tr>
                        <th>Country</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Total People</th>
                      </tr>
                      <tr>
                        <td>{{ d.get_country_display }}</td>
                        <td>{{ d.city }}</td>
                        <td>{{ d.region }}</td>
                        <td class="text-center">{{ ppl|intcomma }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp</p>
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <div class="">
              <div class="card-body">
              {% if request.user.subscription >= 2 %}
                <p class="text-right"><a href="{% url 'Project:HoursOnProject' info.slug %}?next={{ request.path|urlencode }}" class="btn btn-primary">MyWeXlog Hours</a>
                  &nbsp
                {% else %}
                  <a href="#" class="btn btn-primary">Active Subscription Required</a></p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}
