{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project Detail{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body border-0">
  <h4 class="">Detail for project {{ info.name }}
    <span><p class="float-right">
    <a href="{% url 'Project:HelpProjectDetail' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h4>

    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Project:EditProject' info.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Edit Project</a>
    {% endif %}
    <a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
        <div class="row">
          <div class="col-sm-12">
            <div class="border-0">
              <div class="card-body">
                <h5 class="card-title">Project Details</h5>
                <table class="table table-bordered">
                  <thead>
                  </thead>
                  <tbody>
                      {% for d in detail %}
                      <tr>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">

                        <th class="align-middle text-center"><strong>Project Owner</strong></th>
                        <th class="align-middle text-center"><strong>Project Name</strong></th>
                        <th class="align-middle text-center"><strong>Industry</strong></th>
                        <th class="align-middle text-center"><strong>Total Project Hours</strong></th>
                      </tr>
                        <td class="align-middle text-center">{{ d.company }}<br>{{ d.companybranch }} </td>
                        <td class="align-middle text-center">{{ d.name }}</td>
                        <td class="align-middle text-center">{{ d.industry }}</td>
                        <td class="align-middle text-center">{{ hr.sum_t|intcomma }}</td>
                      <tr>
                        <th class="align-middle text-center"><strong>Country</strong></th>
                        <th class="align-middle text-center"><strong>City</strong></th>
                        <th class="align-middle text-center"><strong>Region</strong></th>
                        <th class="align-middle text-center"><strong>Total People</strong></th>
                      </tr>
                      <tr>
                        <td class="align-middle text-center">{{ d.get_country_display }}</td>
                        <td class="align-middle text-center">{{ d.city }}</td>
                        <td class="align-middle text-center">{{ d.region }}</td>
                        <td class="align-middle text-center">{{ ppl|intcomma }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp</p>
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <div class="">
              <div class="card-body">
              {% if request.user.subscription >= 2 %}
                <p class="text-right">
                  <a href="{% url 'Project:HoursOnProject' info.slug %}?next={{ request.path|urlencode }}"class="btn btn-primary">
                    MyWeXlog Hours
                  </a>
                  &nbsp
                {% else %}
                  <a href="{% url 'Payments:ActiveSubscription' %}" class="btn btn-primary">
                    Active Subscription Required
                  </a>
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}
