{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Project Detail{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">Work Experience Detail for Company {{ info.company }} </h5>
  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p>
    {% endif %}
    <a href="{% url 'Project:ProjectHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
    <p>&nbsp</p>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Work Experience on Project Details</h5>
              <table class="table table-bordered">
                <thead>
                  {% for d in detail %}
                  <tr>
                    <col width="20%">
                    <col width="30%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">

                    <th>Company</th>
                    <th>Project</th>
                    <th>Industry</th>
                    <th class="text-center">Date From</th>
                    <th class="text-center">Date To</th>
                    <th class="text-center">Estimated</th>
                  </tr>
                  <tr>
                    <td>{{ d.company }}</td>
                    <td>{{ d.project }}</td>
                    <td>{{ d.industry }}</td>
                    <td class="text-center">{{ d.date_from }}</td>
                    <td class="text-center">{{ d.date_to }}</td>
                    <td class="text-center">{{ d.estimated }}</td>
                  </tr>
                  <tr>
                    <th>Comment</th>
                    <td colspan="3">{{ d.comment|linebreaks }}</td>
                    <th>Actual Hours</th>
                    <td>{{ d.hours_worked }}</td>
                  </tr>
                  <tr>
                    <th>Skills Used</th>
                      {% for s in detail %}
                      <td colspan="6">{{ s.skills.all|join:", " }}</td>
                      {% endfor %}
                  </tr>
                  <tr>
                    <th>Upload</th>
                      {% for s in detail %}
                      <td colspan="36">{{ d.upload }}</td>
                      {% endfor %}
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
    

    </div>
  </div>



{% endblock content %}
