{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}- {{ als.alias }} Profile{% endblock title %}

{% block content %}
<h3>Profile for {{ als.alias }}</h3>

<div class="">
  <div class="card-header">
    <a href="{% url 'Talent:SPDView' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right" >View All Skills</a>
    <h5>Vacancy Skills Match</h5>
  </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Experience skills</h5>
            <p>Experience for skills listed in the Vacancy.</p>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Skill</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
              {% if als.pk == request.user.pk %}
                  <tr>
                    <td colspan="2">This is where skills speficially required in the vancany are shown together with the time you have logged against those skills.</td>
                  </tr>
              {% else %}
                {% for key in vacse_set.items %}
                  <tr>
                    <td>{{ key.0 }}</td>
                    <td>{{ key.1|intcomma }}</td>
                  </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Training Skills</h5>
            <p>Training time for the skills listed on the vacancy.</p>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Skill</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                {% if als.pk == request.user.pk %}
                  <tr>
                    <td colspan="2">This is where skills speficially required in the vancany are shown together with the time you have spent training on those skills.</td>
                  </tr>
                {% else %}
                  {% for key in vacst_set.items %}
                    <tr>
                      <td>{{ key.0 }}</td>
                      <td>{{ key.1|intcomma }}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="">
    <div class="card-header">
      <h5>Basic Information</h5>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
          <h5 class="card-title">General Information</h5>
            {% if als.rate_count >= 5 %}
              <a href="{% url 'Talent:TltRatingDetail' als.alias %}" class="btn btn-info float-right" style="width: 8rem" target="_blank">{{ als.avg_rate|floatformat:2 }} ({{ als.rate_count }} votes)</a>
            {% else %}
              <p class="btn btn-info float-right" style="width: 8rem" data-toggle="tooltip" title="Rating calculated for 5 or more votes">{{ als.rate_count }} votes</p>
            {% endif %}
            <p><strong>Alias:</strong> {{ als.alias }}</p>
            <hr>
            <p><strong>Languages</strong></p>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Language</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody>
                {% for l in language_qs %}
                <tr>
                  <td>{{ l.language }}</td>
                  <td>{{ l.get_level_display }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan=2>No languages captued.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <hr>
            <p><strong>Current location:</strong> {{ padd.get_country_display }}, {{ padd.region }}, {{ padd.city }}</p>
            <hr>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <div class="class="card-title"">
              {% if membership_qs_count >= 6 %}
                <a href="{% url 'Talent:LCM_FV' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Detail</a>
              {% endif %}
            <div class="card-title">
              <h5>Licenses, Certifications & Memberships</h5>
            </div>
            <table class="table table-sm">
              <col width="25%">
              <col width="35%">
              <col width="20%">
              <col width="20%">
              <thead>
                <tr>
                  <th class="align-middle text-center">Type</th>
                  <th class="align-middle text-center">Managing Institution</th>
                  <th class="align-middle text-center">Country</th>
                  <th class="align-middle text-center">Region</th>
                </tr>
              </thead>
              <tbody>
                {% for lcm in membership_qs %}
                  <tr>
                    <td class="align-middle text-center">{{ lcm.certification }}</td>
                    <td class="align-middle text-center">{{ lcm.companybranch }}</td>
                    <td class="align-middle text-center">{{ lcm.country.name }}</td>
                    <td class="align-middle text-center">{{ lcm.region }}</td>
                    {% empty %}
                      <td colspan="4">None Captured.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="card-body">
          <h4 class="card-title">General Information</h4>
            <hr>
            <p><strong>Background</strong><br>
               {{ als.background|linebreaks }}</p>
            <hr>
          {% if bid_qs %}
            <p><strong>Expected Rate: </strong>{{ bid_qs.currency }} {{ bid_qs.rate_bid }} {{ bid_qs.get_rate_unit_display }}</p>
            <p><strong>Motivation for position:<br></strong>{{ bid_qs.motivation }}</p>
          {% else %}
            <p><strong>Expected Rate: </strong>{{ als.currency }} {{ als.std_rate }} per hour</p>
            <p><strong>Motivation for position:<br></strong>{{ als.motivation }}</p>
          {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <div class="card-body">
              <div class="float-right">
                {% if bch_count >= 6 %}
                <a href="{% url 'Talent:DPCSum' als.alias %}#Company" class="btn btn-primary">All Companies</a>
                {% endif %}
              </div>
              <h5 class="card-title">Career in Summary</h5>
              <table class="table table-sm">
                <col width="20%">
                <col width="20%">
                <col width="60%">
                <thead>
                  <tr>
                    <th>Date from</th>
                    <th>Date to</th>
                    <th>Company</th>
                  </tr>
                </thead>
                <tbody>
                  {% for h in bch %}
                    <tr>
                      <td>{{ h.date_from|date:"j M Y" }}</td>
                      {% if h.date_to %}
                        <td>{{ h.date_to|date:"j M Y" }}</td>
                      {% else %}
                        <td>Present</td>
                      {% endif %}
                      <td>{{ h.companybranch }}</td>
                      {% empty %}
                        <td colspan="3">Nothing Captured.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          {% if achievement_qs_count >= 6 %}
            <a href="{% url 'Talent:ACH_FV' tlt vac %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Detail</a>
          {% endif %}
        <h4 class="card-title" id="achievements">Achievements</h4>
        <table class="table table-sm">
          <col width="30%">
          <col width="10%">
          <col width="55%">
          <thead>
            <tr>
              <th class="align-middle text-center">Achievement</th>
              <th class="align-middle text-center">Date Achieved</th>
              <th class="align-middle text-left">Details</th>
            </tr>
          </thead>
          <tbody>
            {% for a in achievement_qs %}
            <tr>
              <td class="align-middle text-left">{{ a.achievement}}</td>
              <td class="align-middle text-center">{{ a.date_achieved|date:"j M Y"}}</td>
              <td class="align-middle text-left">{{ a.description|linebreaks}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">No achievements captured.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="float-right">
        {% if prj_count >= 6 %}
        <a href="{% url 'Talent:DPCSum' als.alias %}#Project" class="btn btn-primary">All Projects</a>
        {% endif %}
      </div>
      <h4 class="card-title" id="projects">Project History</h4>
    </div>
      <div class="col-sm-12">
        <p>Total Projects: <strong>{{ prj_count }}</strong></p>

            <table class="table table-sm">
              <col width="45%">
              <col width="20%">
              <col width="15%">
              <col width="20%">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Project Site</th>
                  <th>Industry</th>
                </tr>
              </thead>
              <tbody>
                {% for b in prj_set.items %}
                  <tr>
                    <td>{{ b.0 }}</td>
                    <td>{{ b.1.0 }}</td>
                    <td>{{ b.1.1 }}</td>
                    <td>{{ b.1.2 }}</td>
                  {% empty %}
                    <td colspan="4">No projects listed.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="float-right">
      {% if bkl %}
        <a href="{% url 'BookList:VPBL' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Books</a>
      {% else %}

      {% endif %}
      </div>
      <h4 class="card-title">Books Read</h4>

        <p>Total Books Read: <strong>{{ bkl_count }}</strong> </p>

            <table class="table table-sm">
              <col width="45%">
              <col width="20%">
              <col width="15%">
              <col width="20%">
              <thead>
                <tr>
                  <th>Title, Publisher</th>
                  <th>Author(s)</th>
                  <th>Format</th>
                  <th>Date Completed</th>
                </tr>
              </thead>
              <tbody>
                {% for b in bkl %}
                  <tr>
                    <td>{{ b.book }}</td>
                    <td>{{ b.book.author.all|join:", " }}</td>
                    <td>{{ b.type }}</td>
                    <td>{{ b.date|date:"j M Y" }}</td>
                  {% empty %}
                    <td colspan="4">No books listed.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      {% if edtexp_count >= 6 %}
        <a href="{% url 'Talent:EDU_FV' tlt vac %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Details</a>
      {% endif %}
      <h4 class="card-title" id="education">Education & Training</h4>
        <table class="table table-sm">
          <col width="10%">
          <col width="10%">
          <col width="20%">
          <col width="30%">
          <col width="20%">
          <col width="10%">
          <thead>
            <tr>
              <th class="align-middle">Date from</th>
              <th class="align-middle">Date to</th>
              <th class="align-middle">Institution</th>
              <th class="align-middle">Course</th>
              <th class="align-middle">Topic</th>
              <th class="align-middle">Certification</th>
            </tr>
          </thead>
          <tbody>
            {% for e in edtexp %}
              <tr>
                <td class="align-middle">{{ e.date_from|date:"j M Y" }}</td>
                <td class="align-middle">{{ e.date_to|date:"j M Y" }}</td>
                <td class="align-middle">{{ e.course.company }}</td>
                <td class="align-middle">{{ e.course }}</td>
                <td class="align-middle">{{ e.topic }}</td>
                <td class="align-middle">{{ e.course.certification }}{% if e.upload %}<br>(Uploaded){% else %}{% endif %}</td>
                {% empty %}
                  <td colspan="6">Nothing Captured.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock content %}
