{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}- {{ als.alias }} Profile{% endblock title %}

{% block content %}
<h3>Profile for {{ als.alias }}</h3>
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
  <div class="">
    <div class="card-header">
      <a href="{% url 'Talent:SPDView' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right" >View All Skills</a>
      <h5>Basic Information</h5>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
          <h5 class="card-title">General Information</h5>
            {% if als.rate_count >= 5 %}
              <a href="{% url 'Talent:TltRatingDetail' als.alias %}" class="btn btn-info float-right" style="width: 8rem" target="_blank">{{ als.avg_rate|floatformat:2 }} ({{ als.rate_count }} votes)</a>
            {% else %}
              <p class="btn btn-info float-right" style="width: 8rem" data-toggle="tooltip" title="Rating calculated for 5 or more votes">{{ als.rate_count }} votes</p>
            {% endif %}
            <p><strong>Alias:</strong> {{ als.alias }}</p>
            <p><strong>Experience Level:</strong> {{ als.exp_level }}</p>
            <hr>
            <p class="text-center"><strong>Languages</strong></p>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Language</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody>
                {% for l in language_qs %}
                <tr>
                  <td>{{ l.language }}</td>
                  <td>{{ l.get_level_display }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan=2>No languages captued.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <hr>
            <p>
              <strong>Current location:</strong> {{ padd.country.name }}, {{ padd.region }}, {{ padd.city }}
            </p>
            {% if wtr_qs %}
              <p class="text-center"><strong>Willing to Relocate</strong></p>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Permits</th>
                  </tr>
                </thead>
                <tbody>
                  {% for wtr in wtr_qs %}
                    <tr>
                      <td>{{ wtr.country.name }}</td>
                      <td>
                      {% if wtr.documents == True %}
                        I can legally work in {{ wtr.country.name }}
                      {% else %}
                        I need to apply for work permits, etc.
                      {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            <hr>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-shadow h-100">
          <div class="card-body">
            <div class="class="card-title"">
              {% if membership_qs_count >= 6 %}
                <a href="{% url 'Talent:LCM_FV' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Detail</a>
              {% endif %}
            <div class="card-title">
              <h5>Licenses, Certifications & Memberships</h5>
            </div>
            <div class="container">
              <div class="row my-auto">
                <div class="col-4 col-no-pad h-100 text-center my-auto">
                  <strong>Managing Institution</strong>
                </div>
                <div class="col-4 col-no-pad h-100 text-center my-auto">
                  <strong>Country</strong>
                </div>
                <div class="col-4 col-no-pad h-100 text-center my-auto">
                  <strong>Region</strong>
                </div>
              </div>
            </div>
            {% for lcm in membership_qs %}
            <div class="row">
              <div class="card mt-1 card-hover" style="width: 100%;">
                <div class="card-body small-pad">
                  <div class="row my-auto">
                    <div class="col-md-6 col-no-pad h-100 text-center my-auto">
                      {{ lcm.certification }}
                    </div>
                    <div class="col-6 col-no-pad h-100 text-center my-auto">
                      {{ lcm.cert_name }}
                    </div>
                  </div>
                  <div class="row my-auto">
                    <div class="col-4 col-no-pad h-100 text-center my-auto">
                      {{ lcm.companybranch }}
                    </div>
                    <div class="col-4 col-no-pad h-100 text-center my-auto">
                      {{ lcm.country.name }}
                    </div>
                    <div class="col-4 col-no-pad h-100 text-center my-auto">
                      {{ lcm.region }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
                <p>There are no licences, certifications or memberships added yet.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="card-body">
          <h4 class="card-title">General Information</h4>
            <hr>
            <p><strong>Background</strong><br>
               {{ als.background|linebreaks }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
        {% if bch_count >= 6 %}
        <a href="{% url 'Talent:DPCSum' als.alias %}#Company" class="btn btn-primary">All Companies</a>
        {% endif %}
      </div>
      <h4 class="card-title" id="career">Career in Summary</h4>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 h-100 text-center my-auto">
            <strong>Company</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Date from</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Date to</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Tenure<br>(Years)</strong>
          </div>
        </div>
      </div>
      {% for h in bch %}
      <div class="row">
        <div class="card card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-6 h-100 text-center my-auto">
                {{ h.companybranch }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{ h.date_from|date:"j M Y" }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {% if h.date_to %}
                  {{ h.date_to|date:"j M Y" }}
                {% else %}
                  Present
                {% endif %}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{ h.tenure|floatformat:1 }}
              </div>
            </div>
            {% if h.description %}
            <div class="row pt-2 my-auto">
              <div class="col-md-12 h-100 text-left my-auto">
                <p><strong>Description:</strong><br>
                {{ h.description }}</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
          <p>Nothing Captured.</p>
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-shadow">
        <div class="card-body">
          {% if achievement_qs_count >= 6 %}
            <a href="{% url 'Talent:ACH_L_FV' tlt %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Detail</a>
          {% endif %}
        <h4 class="card-title" id="achievements">Achievements</h4>
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-7 h-100 text-center my-auto">
              <strong>Achievement</strong>
            </div>
            <div class="col-md-5 h-100 text-center my-auto">
              <strong>Date from</strong>
            </div>
          </div>
        </div>
        {% for a in achievement_qs %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-7 h-100 text-center my-auto">
                  {{ a.achievement}}
                </div>
                <div class="col-md-5 h-100 text-center my-auto">
                  {{ a.date_achieved|date:"j M Y" }}
                </div>
                <div class="row my-auto">
                  <div class="col-md-12 h-100 text-left my-auto">
                    <div class="container">
                    <strong>Description:</strong><br>
                    {{ a.description|linebreaks }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
            <p>No achievements captured.</p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
        {% if prj_count >= 6 %}
        <a href="{% url 'Talent:DPCSum' als.alias %}#Project" class="btn btn-primary">All Projects</a>
        {% endif %}
      </div>
      <h4 class="card-title" id="projects">Project History</h4>

      <div class="col-sm-12">

        <p>Total Projects: <strong>{{ prj_count }}</strong> </p>
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-4 h-100 text-center my-auto">
              <strong>Project Name</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Project Owner</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Project Site</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>Industry</strong>
            </div>
          </div>
        </div>
        {% for b in prj_set.items %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-4 h-100 text-center my-auto">
                  {{ b.0 }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ b.1.0 }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ b.1.1 }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {{ b.1.2 }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
            <p>No projects listed.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      <div class="float-right">
      {% if bkl %}
        <a href="{% url 'BookList:VPBL' als.alias %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Books</a>
      {% else %}

      {% endif %}
      </div>
      <h4 class="card-title">Books Read</h4>
      <div class="col-sm-12">
        <p>Total Books Read: <strong>{{ bkl_count }}</strong> </p>
        <div class="container">
          <div class="row my-auto">
            <div class="col-md-4 h-100 text-center my-auto">
              <strong>Title, Publisher</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Author(s)</strong>
            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              <strong>Format</strong>
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              <strong>Date Completed</strong>
            </div>
          </div>
        </div>
        {% for b in bkl %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-md-4 h-100 text-center my-auto">
                  {{ b.book }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ b.book.author.all|join:", " }}
                </div>
                <div class="col-md-3 h-100 text-center my-auto">
                  {{ b.type }}
                </div>
                <div class="col-md-2 h-100 text-center my-auto">
                  {{ b.date|date:"j M Y" }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
            <p>No books listed.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
  <div class="card card-shadow">
    <div class="card-body">
      {% if edtexp_count >= 6 %}
        <a href="{% url 'Talent:EDU_L_FV' tlt %}?next={{ request.path|urlencode }}" class="btn btn-primary float-right">View All Details</a>
      {% endif %}
      <h4 class="card-title" id="education">Education & Training</h4>
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Date from</strong>
          </div>
          <div class="col-md-2 h-100 text-center my-auto">
            <strong>Date to</strong>
          </div>
          <div class="col-md-5 h-100 text-center my-auto">
            <strong>Institution</strong>
          </div>
          <div class="col-md-3 h-100 text-center my-auto">
            <strong>Certification</strong>
          </div>
        </div>
      </div>
      {% for e in edtexp %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-12 h-100 text-left my-auto">
                {{ e.topic }} - {{ e.course }}
              </div>
            </div>
            <p class="tiny-paragraph">&nbsp</p>
            <div class="row my-auto">
              <div class="col-md-2 h-100 text-left my-auto">
                {{ e.date_from|date:"j M Y" }}
              </div>
              <div class="col-md-2 h-100 text-center my-auto">
                {{ e.date_to|date:"j M Y" }}
              </div>
              <div class="col-md-5 h-100 text-center my-auto">
                {{ e.course.company }}
              </div>
              <div class="col-md-3 h-100 text-center my-auto">
                {{ e.course.certification }}{% if e.upload %}<br>(Uploaded){% else %}{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
          <p>Nothing Captured.</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
