{% extends 'base_home.html' %}
{% load staticfiles %}

{% block title %}Confirmation List{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Back</button>
    </form>
    </div>
    <h3>Confirmation as Colleague</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="align-middle text-center">Date<br>Captured</th>
          <th class="align-middle text-center">Requested<br>By</th>
          <th class="align-middle text-center">Date<br>Reviewed</th>
          <th class="align-middle text-center">Company<br>Branch</th>
          <th class="align-middle text-center">My<br>Response</th>
          <th class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="You can edit if entry is less than {{ age }} days old">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pageitems %}
          <tr>
            <td rowspan="2" class="align-middle text-center">{{ item.date_captured|date:'j M Y' }}</td>
            <td class="align-middle text-center">{{ item.experience.talent.get_full_name }}</td>
            <td class="align-middle text-center">
              {% if item.confirm == 'S' %}
                Pending
              {% else %}
                {{ item.date_confirmed|date:'j M Y' }}
              {% endif %}
            </td>
            <td>1-{{ item.experience.company.name }}<br>2-{{ item.experience.companybranch.name }}</td>
            <td class="align-middle text-center">{{ item.get_confirm_display }}</td>
            <td rowspan="2"  class="align-middle text-center">
              {% if item.locked == False %}
                <a href="{% url 'Profile:ColleagueEdit' item.slug %}?next={{ request.path|urlencode }}">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                </a>
              {% else %}
                <a href="#"><i class="fa fa-lock" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Locked: cannot edit"></i></a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <strong>
                {% if item.comments %}
                  {{ item.comments }}
                {% else %}
                  No Comment made
                {% endif %}
              </strong>
              </td>
          </tr>
        {% empty %}
          <tr>
            <th colspan="6" class="align-middle text-center">No Request received</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
