{% extends 'base_home.html' %}
{% load static %}

{% block title %}Confirmation List{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="float-right">
      <form  action="{% url 'BookList:BLB' %}" method="post">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Back</button>
    </form>
    </div>
    <h3>Confirmation as Collaborator</h3>
    <div class="container">
      <div class="row">
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date Captured</strong>
        </div>
        <div class="col-10 col-no-pad h-100 text-center my-auto">
          <div class="row">
            <div class="col-3 h-100 text-center my-auto">
              <strong>Requested By</strong>
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              <strong>Date Reviewed</strong>
            </div>
            <div class="col-4 col-no-pad h-100 text-center my-auto">
              <strong>1-Course<br>2-Topic</strong>
            </div>
            <div class="col-2 col-no-pad h-100 text-right my-auto">
              <strong>My Response</strong>
            </div>
          </div>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong><span data-toggle="tooltip" data-placement="top" title="You can edit if entry is less than {{ age }} days old">Edit</span></strong>
        </div>
      </div>
    </div>
    {% for item in pageitems %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-1 h-100 text-center my-auto">
              {{ item.date_captured|date:'j M Y' }}
            </div>
            <div class="col-md-10 h-100 text-center my-auto">
              <div class="row my-auto">
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {{ item.experience.talent.get_full_name }}
                </div>
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {% if item.confirm == 'S' %}
                    Pending
                  {% else %}
                    {{ item.date_confirmed|date:'j M Y' }}
                  {% endif %}
                </div>
                <div class="col-5 col-no-pad h-100 text-left my-auto">
                  1-{{ item.experience.company.ename }}<br>2-{{ item.experience.companybranch.name }}
                </div>
                <div class="col-1 col-no-pad h-100 text-center my-auto">
                  {{ item.get_confirm_display }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 h-100 text-left my-auto">
                  <br>
                  <p class="short-paragraph"><strong>Comments:</strong></p>
                    {% if item.comments %}
                      {{ item.comments }}
                    {% else %}
                      No Comment made
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {% if item.locked == False %}
                <a href="{% url 'Profile:CollaboratorEdit' item.slug %}?next={{ request.path|urlencode }}">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                </a>
              {% else %}
                <a href="#"><i class="fa fa-lock" aria-hidden="true"style="font-size:30px;color:black" data-toggle="tooltip" data-placement="top" title="Locked: cannot edit"></i></a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
    {% empty %}
      <p>No Request received.</p>
    {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
