{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Education{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
</style>
<div class="card card-shadow">
  <div class="card-body">
    <h3>List a lecturer to confirm your course attendance</h3>
    <form method="post">
    <!--   <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.lecturer|as_crispy_field }}
          <div class="">
            <p>
              <button type="submit" class="btn btn-primary" style="width:14rem;">
                Save
              </button>
              <a href="{% url 'Invitation:Invite2' tex %}?next={{ request.path|urlencode }}" class="btn btn-info" style="width:14rem;">
                Invite
              </a>
            </p>
            <p>
              <a href="{% url 'Talent:EducationDetail' instance.slug %}" class="btn btn-danger" style="width:14rem;">
                Cancel
              </a>
            </p>
          </div>
        </div>
        <div class="form-group col-md-6 mb-0">
          <p>
            Each person confirming your claim has a score associated with the confirmation. The greater the seniority of the person the higher the value of the score their confirmation receives.
          </p>
          <p>
            All claimed experience, in order to appear in your profile, must have a confirmation score of 3 or more.
          </p>
          <p>
            Your score is increased by having people confirm your claim.
          </p>
          <p>
            A minimum of 2 people, sometimes more, must confirm your claim to get a score of 3.
          </p>
          <p>
            <strong>A lecturer confirmation increases your score by {{ score }}.</strong>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

{{ form.media.js }}
{% endblock content %}
{% block Script %}
  <script>
    $(document).ready(function () {
       $('#id_lecturer').select2({
           ajax: {
               url: '{% url 'Talent:LecturerAdd' instance.slug %}',
               dataType: 'json',
               processResults: function (data) {
                   return {
                       results: $.map(data, function (item) {
                           return {id: item.id, text: item.display_text};
                       })
                   };
               }
           },
           minimumInputLength: 3,
           placeholder: "Type a name (Results sorted by last name)",
           allowClear: true
       });
   });
  </script>
{% endblock Script %}
