{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Education{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
</style>
<div class="card card-shadow">
  <div class="card-body">
    <div class="container">
      <h3>Capture Education / Training
        <span>
          <p class="float-right">
            <a href="{% url 'Talent:HelpCaptureEducation' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 16px">
              <i class="fa fa-question-circle"></i>
            </a>
          </p>
        </span>
    </h3>
    <p><small>(Fields marked with a * are required fields)</small></p>
    <form method="post" id="BranchForm" enctype="multipart/form-data">
      {% csrf_token %}
      <div style="background-color:red; color:white;">
        <p>

          {{ form.non_field_errors }}
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.course|as_crispy_field }}
          <p><a href="{% url 'Talent:CourseAddPop' %}" id='add_course' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add Course</a></p>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.date_from|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.date_to|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.topic|as_crispy_field }}
          <p>
            <a href="{% url 'Talent:TopicAddPop' %}" id='add_topic' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">
            Add Subject
            </a>
           </p>
          {{ form.upload|as_crispy_field }}
          <small><strong>Please Note:</strong> Only <strong>PDF</strong> files can be uploaded.</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          {{ form.comment|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            <p>
              <br>
              The comments made here are visible to the person confirming your experience.<br><br>
              Write a short summary to describe the experience you are claiming, both for the reviewer and for your own use when you look back on this entry.
            </p>
        </div>
      </div>
      <div class="">
        <p>
          <a href="{% url 'Talent:Home' %}" class="btn btn-danger">
            Cancel
          </a>
          <button type="submit" name="Self" class="btn btn-outline-primary">
            Save & Mark as Self-Study
          </button>
          <button type="submit" name="Done" class="btn btn-primary">
            Save & Select Reviewers
          </button>
        </p>
      </div>
    </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
