{% extends "base_home.html" %}
{% load static %}
{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <h4 class="">Experience - Education & Training <span><p class="float-right"><a href="{% url 'Talent:Home' %}"  class="btn btn-primary">Back</a></p></span></h4>


  <h6 class="card-subtitle mb-2">{{ check.course }}</h6>
    <p class="card-text float-right"><strong>Qualification: </strong>{{ check.course.certification }}</p>
    <p class="card-text">Attended from {{ check.date_from }} to {{ check.date_to }}</p>
    <div class="text-right">
      <p class="card-text"><strong>Score: </strong>{{ check.score }}<br>
      <strong>Hours: </strong>{{ check.topic.hours }}<br>
      {% if check.not_validated %}{% if theme == 1 %}<img src="{% static 'images/self-study3.png' %}" height="140" alt="Self-Study, Not Validated">{% else %}<img src="{% static 'images/self-study2.png' %}" height="140" alt="Self-Study, Not Validated">{% endif %}{% endif %}</p>
    </div>
    <div class="">
      <p class="card-text"><strong>Topic: </strong>{{ check.topic.topic }}</p>
      <p class="card-text"><strong>Skills: </strong>{{ check.topic.skills.all|join:" || " }}</p>
    </div>

    <form  action="{% url 'Talent:EducationDetailDelete' check.pk %}" method="post">
      {% csrf_token %}
      <div>
        <table>
          <tr>
            <td>
              <p>
                <strong>An entry cannot be edited, only deleted.<br>Once confirmed, an entry cannot be confirmed again, hence the information is locked. To change an entry, it must be deleted and re-captured.</strong>
              </p>
            </td>
            <td class="align-middle">
              <button type="submit" class="btn btn-danger" style="width:7rem">
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-sm-6">
     <div class="card card-shadow h-100">
       <div class="card-body">
         <p class="float-right"><a href="{% url 'Talent:LecturerAdd' check.slug %}"  class="badge badge-pill badge-primary" style="width: 8rem">Add Lecturer</a></p>
         <h5 class="card-title">Lecturers ({{ lecturer_score }} Points)</h5>
         <table class="table table-sm">
           <thead>
             <tr>
               <th>Lecturer</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for c in confirmed_l %}
           <tbody>
             <tr>
               <td>{{ c.lecturer.first_name}} {{ c.lecturer.last_name }}</td>
               <td>
                 {% if c.get_confirm_display == 'Select' %}
                   <i class="fa fa-spinner" aria-hidden="true" style="font-size:24px;color:green !important" data-toggle="tooltip" title="Response Pending"></i>
                 {% elif c.get_confirm_display == 'Confirm' %}
                   <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:24px;color:green !important" data-toggle="tooltip" title="Response Confirmed"></i>
                 {% elif c.get_confirm_display == 'Reject' %}
                   <i class="fa fa-ban" aria-hidden="true" style="font-size: 24px;color:red !important" data-toggle="tooltip" title="Response Rejected"></i>
                 {% elif c.get_confirm_display == 'Wrong Person' %}
                   <i class="fa fa-times-rectangle-o" style="font-size:24px;color:red !important" data-toggle="tooltip" title="Wrong Person"></i>
                 {% endif %}
                 {{c.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:LecturerResponse' c.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary" style="width: 5rem">Detail</a></td>
             </tr>
          {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
    <div class="col-sm-6">
     <div class="card card-shadow h-100">
       <div class="card-body">
         <p class="float-right"><a href="{% url 'Talent:ClassMatesAdd' check.slug %}"  class="badge badge-pill badge-primary" style="width: 8rem">Add Class Mate</a></p>
         <h5 class="card-title">Class Mates ({{ classmate_score }} Point)</h5>
         <table class=" table table-sm">
           <thead>
             <tr>
               <th>Name</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for cm in confirmed_cm %}
           <tbody>
             <tr>
               <td>{{ cm.colleague.first_name}} {{ cm.colleague.last_name }}</td>
               <td>
                 {% if cm.get_confirm_display == 'Select' %}
                   <i class="fa fa-spinner" aria-hidden="true" style="font-size:24px;color:green !important" data-toggle="tooltip" title="Response Pending"></i>
                 {% elif cm.get_confirm_display == 'Confirm' %}
                   <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:24px;color:green !important" data-toggle="tooltip" title="Response Confirmed"></i>
                 {% elif cm.get_confirm_display == 'Reject' %}
                   <i class="fa fa-ban" aria-hidden="true" style="font-size: 24px;color:red !important" data-toggle="tooltip" title="Response Rejected"></i>
                 {% elif cm.get_confirm_display == 'Wrong Person' %}
                   <i class="fa fa-times-rectangle-o" style="font-size:24px;color:red !important" data-toggle="tooltip" title="Wrong Person"></i>
                 {% endif %}
                 {{cm.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:ClassMatesResponse' cm.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary" style="width: 5rem">Detail</a></td>
             </tr>
          {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
  </div>
</div>

{% endblock content %}
