{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Experience List{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
  <h4 class="">Experience - Full List<span><p class="float-right"><a href="{% url 'Talent:Home' %}?next={{ request.path|urlencode }}"  class="badge badge-pill badge-primary">Back</a></p></span></h4>
  <p>There are a total of {{ exp_count }} Experience items that have been captured.</p>
  <br>

    <div class="float-right">
      <p><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary float-right">Add Experience</a></p>
    </div>
      <p><strong>Total hours of Experience: </strong>{{ exp_sum.we_sum|intcomma }}</p>

      <div class="container">
        <div class="row my-auto">
          <div class="col-md-3 h-100 text-center my-auto">
            <strong>
              Employer<br><small>Date: From - To</small>
            </strong>
          </div>
          <div class="col-md-1 h-100 text-center my-auto">
            <strong>Hours</strong>
          </div>
          <div class="col-md-5 h-100 text-center my-auto">
            <strong>
              Project<br>Experience Title
            </strong>
          </div>
          <div class="col-md-1 h-100 text-center my-auto">
            <strong>Score</strong>
          </div>
          <div class="col-1 col-no-pad h-100 text-center my-auto">
            <strong>Actions</strong>
          </div>
        </div>
      </div>
      {% for e in pageitems %}
      <div class="row">
        <div class="card mt-1 card-hover" style="width: 100%;">
          <div class="card-body small-pad">
            <div class="row my-auto">
              <div class="col-md-3 h-100 text-center my-auto">
                {{ e.company }}<br>
                <small>{{ e.date_from|date:"j M Y" }} to {{ e.date_to|date:"j M Y" }}</small>
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                {{ e.hours_worked|intcomma }}
              </div>
              <div class="col-md-5 h-100 text-center my-auto">
                {{ e.project }}<br>{{ e.title }}
              </div>
              <div class="col-md-1 h-100 text-center my-auto">
                <span data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">
                  {{ e.score }}
                </span>
              </div>
              <div class="col-1 col-no-pad h-100 text-left my-auto">
                  <a href="{% url 'Talent:ExperienceDetail' e.slug %}" class="badge badge-pill badge-secondary"  style="width: 6rem;">
                    Detail
                  </a>
                  <a href="{% url 'Talent:ExperienceReCapture' e.slug %}" class="badge badge-pill badge-success"  style="width: 6rem;">
                    Claim Again
                  </a>
                  <form action="{% url 'Talent:WEFDelete' e.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="badge badge-danger badge-pill" style="width: 6rem;">
                      Remove
                    </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <p>You have not captured any experience as yet.</p>
      {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
