{% extends "base_home.html" %}

{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}
<div class="card">
  <h5 class="card-header">Experience - Logged Hours</h5>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Employer</th>
          <th>Designation</th>
          <th>Date from</th>
          <th>Date to</th>
          <th>Project</th>
          <th>Industry</th>
          <th>Hours logged</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ check.company }}</td>
          <td>{{ check.designation }}</td>
          <td>{{ check.date_from }}</td>
          <td>{{ check.date_to }}</td>
          <td>{{ check.project }}</td>
          <td>{{ check.industry }}</td>
          <td>{{ check.hours_worked }}</td>
        </tr>
        <tr>
          <th>Skills</th>
          {% for s in list %}
            <td colspan="6">{{ s.skills.all|join:", " }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Comment</th>
          <td colspan="6">{{ check.comment }}</td>
        </tr>
      </tbody>
    </table>
    <p>Upload: </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Colleagues</h5>
         <table class="table-sm">
           <thead>
             <tr>
               <th>Colleague</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for c in confirmed_clg %}
           <tbody>
             <tr>
               <td>{{ c.colleague_name.first_name}} {{ c.colleague_name.last_name }}</td>
               <td>{{c.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:ColleagueResponse' c.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Detail</a></td>
             </tr>
            {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
    <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Superiors</h5>
         <table class="table-sm">
           <thead>
             <tr>
               <th>Name</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for cm in confirmed_sup %}
           <tbody>
             <tr>
               <td>{{ cm.superior_name.first_name}} {{ cm.superior_name.last_name }}</td>
               <td>{{cm.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:SuperiorResponse' cm.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Detail</a></td>
             </tr>
          {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Collaborators</h5>
         <table class="table-sm">
           <thead>
             <tr>
               <th>Colleague</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for wc in confirmed_clr %}
           <tbody>
             <tr>
               <td>{{ c.collaborator_name.first_name}} {{ c.collaborator_name.last_name }}</td>
               <td>{{c.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:CollaboratorResponse' c.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Detail</a></td>
             </tr>
            {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
    <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Clients</h5>
         <table class="table-sm">
           <thead>
             <tr>
               <th>Name</th>
               <th>Confirmation</th>
             </tr>
           </thead>
           {% for cnt in confirmed_cnt %}
           <tbody>
             <tr>
               <td>{{ cm.client_name.first_name}} {{ cm.client_name.last_name }}</td>
               <td>{{cm.get_confirm_display}}</td>
               <td><a href="{% url 'Talent:ClientResponse' cm.id %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Detail</a></td>
             </tr>
          {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
    </div>
  </div>
</div>

{% endblock content %}
