{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Experience List{% endblock title %}

{% block content %}
<div class="card border-0">
  <h4 class="">Experience - Full List<span><p class="float-right"><a href="{% url 'Talent:Home' %}"  class="badge badge-pill badge-primary">Back</a></p></span></h4>

  <div class="card-body">
    <div class="float-right">
      <p><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary float-right">Add Experience</a></p>
    </div>
      <p><strong>Total hours of Experience: </strong>{{ exp_sum.we_sum|intcomma }}</p>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Employer</th>
          <th>Date from</th>
          <th>Date to</th>
          <th>Hours</th>
          <th>Project</th>
        </tr>
      </thead>
      {% for e in pageitems %}
      <tbody>
        <tr>
          <td>{{ e.company }}</td>
          <td>{{ e.date_from|date:"j M Y" }}</td>
          <td>{{ e.date_to|date:"j M Y" }}</td>
          <td>{{ e.hours_worked|intcomma }}</td>
          <td>{{ e.project }}</td>
          <td>
            <a href="{% url 'Talent:ExperienceDetail' e.slug %}" class="badge badge-pill badge-secondary"  style="width: 5rem;">Detail</a>
            <form  action="{% url 'Talent:WEDelete' e.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
