{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Experience{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
</style>
<div class="card card-shadow">
  <div class="card-body">
    <h3>Identify a collaborator to confirm your claimed experience</h3>
    <p>A collaborator is someone from another company, who is not a client.</p>
    <form method="post">
    <!--   <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.collaborator_name|as_crispy_field }}
          {{ form.designation|as_crispy_field }}
          <a href="{% url 'Talent:DesignationAddPop' %}" id='add_designation' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add Designation</a>
          {{ form.company|as_crispy_field }}
          <a href="{% url 'Enterprise:EnterpriseAddPop' %}" id='add_enterprise' onclick='return showAddPopup(this);'><img src="{% static 'images/icon-addlink.svg' %}">Add a new Enterprise</a>
          {{ form.companybranch|as_crispy_field }}
          <a href="{% url 'Enterprise:BranchAddPop' %}" id='add_branch' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add a Branch</a>
          <div class="">
            <br>
            <p>
              <button type="submit" name="done" class="btn btn-primary"  style="width:14rem;">
              Save
              </button>
              <a href="{% url 'Invitation:Invite2' tex %}?next={{ request.path|urlencode }}" class="btn btn-info" style="width:14rem;">
                Invite
              </a>
            </p>
            <p>
              <a href="{% url 'Talent:ExperienceDetail' tex %}" class="btn btn-danger" style="width:14rem;">
                Cancel
              </a>
            </p>
          </div>
        </div>
        <div class="form-group col-md-6 mb-0">
          <p>
            Each person confirming your claim has a score associated with the confirmation. The greater the seniority of the person the higher the value of the score their confirmation receives.
          </p>
          <p>
            All claimed experience, in order to appear in your profile, must have a confirmation score of 3 or more.
          </p>
          <p>
            Your score is increased by having people confirm your claim.
          </p>
          <p>
            A minimum of 2 people, sometimes more, must confirm your claim to get a score of 3.
          </p>
          <p>
            <strong>A collaborator's confirmation increases your score by {{ score }}.</strong>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block Script %}
  {{ form.media.js }}

  <script>
    $(document).ready(function () {
       $('#id_collaborator_name').select2({
           ajax: {
               url: '{% url 'Talent:CollaboratorAdd' instance.slug %}',
               dataType: 'json',
               processResults: function (data) {
                   return {
                       results: $.map(data, function (item) {
                           return {id: item.id, text: item.display_text};
                       })
                   };
               }
           },
           minimumInputLength: 3,
           placeholder: "Type a name (Results sorted by last name)",
           allowClear: true
       });
   });
  </script>

  <!-- code for popups -->
  <script type="text/javascript">
  function showAddPopup(triggeringLink) {
      var name = triggeringLink.id.replace(/^add_/, '');
      href = triggeringLink.href;
      var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
      win.focus();
      return false;
  }

  function closePopup(win, newID, newRepr, id) {
      $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
      win.close();
  }

  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  </script>
{% endblock Script %}
