{% extends "base_home.html" %}
{% load crispy_forms_tags %}


{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
  <h4 class="card-title">Superior Responses</h4>

  <h6 class="card-subtitle mb-2">{{ check.education.course }}</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Superior</th>
          <th>Status</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="15%">{{ check.colleague_name.first_name }} {{ check.colleague_name.last_name }}</td>
          <td width="15%">{{ check.get_confirm_display }}</td>
          <td width="60%">{{ check.comments|linebreaks }}</td>
        </tr>
      </tbody>
    </table>
    <div class="float-right">{% if check.publish_comment == True %}
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <form  action="{% url 'Talent:SRPComment' check.slug %}" method="post">
          {% csrf_token %}
          <button type="submit" class="badge badge-success badge-pill" name="no"  data-toggle="tooltip" title="This response has been published to your Public Profile'">
            <i class="fa fa-toggle-off" aria-hidden="true" style="font-size:20px;"></i>
          </button>
        </form>
      </div>
    {% elif check.publish_comment == False %}
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <form  action="{% url 'Talent:SRPComment' check.slug %}" method="post">
          {% csrf_token %}
          <button type="submit" class="badge badge-danger badge-pill" name="yes"  data-toggle="tooltip" title="This response is not published'">
            <i class="fa fa-toggle-on" aria-hidden="true" style="font-size:20px;"></i>
          </button>
        </form>
      </div>
    {% endif %}
  </div>
    <form method="post">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% csrf_token %}
      <div style="background-color:red; color:white;">
        <p>
          ERROR!
          {{ form.non_field_errors }}
        </p>
      </div>
        {{ form.response|as_crispy_field }}
      <div class="">
        <p><a href="{% url 'Talent:ExperienceDetail' check.experience.slug %}" class="btn btn-danger">Cancel</a> <button type="submit" name="Done" class="btn btn-primary">Save</button> </p>
      </div>
    </form>
</div>

{% endblock content %}
