{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}My Experience{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
</style>
  <div class="card card-shadow">
    <div class="card-body">
    <h3>Identify a client to confirm your claimed experience</h3>
    <br>
    <div class="container">
    <div class="row">
      <center>
      <span>
        <button type="button" class="btn btn-primary" name="button" style="width:7rem;cursor:auto;">Capture</button>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <a href="{% url 'Talent:ColleagueSelect' instance.pk %}?next={{ request.path|urlencode }}" class="btn btn-outline-success" style="width:8rem;">Select<br>Colleagues</a>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <a href="{% url 'Talent:SuperiorSelect' instance.pk %}?next={{ request.path|urlencode }}" class="btn btn-outline-success" style="width:8rem;">Select<br>Superiors</a>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <a href="{% url 'Talent:CollaboratorSelect' instance.pk %}?next={{ request.path|urlencode }}" class="btn btn-outline-success" style="width:8rem;">Select<br>Collaborator</a>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <button type="button" class="btn btn-success" name="button" style="width:10rem;cursor:auto;">Select<br>Client</button>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <a href="{% url 'Talent:ExperienceDetail' instance.slug %}?next={{ request.path|urlencode }}" class="btn btn-outline-success" style="width:8rem;">Exit &<br>Review</a>
      </span>
      <span class="text-center">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <span>
        <a href="{% url 'Talent:Home' %}?next={{ request.path|urlencode }}" class="btn btn-primary" style="width:7rem;">Exit</a>
      </span>
      </center>
    </div>
    </div>
    <hr>
    <form method="post">
    <!--   <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
      {% csrf_token %}
      <div style="background-color:red; color:white;">
        <p>

          {{ form.non_field_errors }}
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7 mb-0">
          {{ form.client_name|as_crispy_field }}
          {{ form.designation|as_crispy_field }}
          <p><a href="{% url 'Talent:DesignationAddPop' %}" id='add_designation' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add a Designation</a></p>
          {{ form.company|as_crispy_field }}
          <p>
            <a href="{% url 'Enterprise:EnterpriseAddPop' %}" id='add_company' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add a Company</a>
          </p>
          {{ form.companybranch|as_crispy_field }}
          <p>
            <a href="{% url 'Enterprise:BranchAddPop' %}" id='add_branch' onclick='return showAddPopup(this);'><img src = "{% static 'images/icon-addlink.svg' %}">Add a Branch</a>
            </p>
          <div class="">
            <p>
              <button type="submit" name="another" class="btn btn-secondary" style="width:12rem;">
                Save & Add Another
              </button>
              <button type="submit" name="done" class="btn btn-primary" style="width:12rem;">
                Save & Exit
              </button>
              <button type="submit" name="review" class="btn btn-success" style="width:12rem;">
                Save & Review
              </button>
            </p>
          </div>
        </div>
        <div class="form-group col-md-5 mb-0">
          <p>
            Each person confirming your claim has a score associated with the confirmation. The greater the seniority of the person the higher the value of the score their confirmation receives.
          </p>
          <p>
            All claimed experience, in order to appear in your profile, must have a confirmation score of 3 or more.
          </p>
          <p>
            Your score is increased by having people confirm your claim.
          </p>
          <p>
            A minimum of 2 people, sometimes more, must confirm your claim to get a score of 3.
          </p>
          <p>
            <strong>A client's confirmation increases your score by {{ score }}.</strong>
          </p>
        </div>
      </div>
    </form>
    <p>
      <a href="{% url 'Invitation:Invite2' instance.slug %}?next={{ request.path|urlencode }}" class="btn btn-info" target="_blank" style="width:12rem;">
        Invite
      </a>
      <a href="{% url 'Talent:Home' %}" class="btn btn-danger" style="width:6rem;">Skip</a>
    </p>
  </div>
</div>
{% endblock content %}
{% block Script %}
    {{ form.media.js }}

  <script>
    $(document).ready(function () {
       $('#id_client_name').select2({
           ajax: {
               url: '{% url 'Talent:ClientSelect' instance.id %}',
               dataType: 'json',
               processResults: function (data) {
                   return {
                       results: $.map(data, function (item) {
                           return {id: item.id, text: item.display_text};
                       })
                   };
               }
           },
           minimumInputLength: 3,
           placeholder: "Type a name (Results sorted by last name)",
           allowClear: true
       });
   });
  </script>

  <!-- code for popups -->
  <script type="text/javascript">
  function showAddPopup(triggeringLink) {
      var name = triggeringLink.id.replace(/^add_/, '');
      href = triggeringLink.href;
      var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
      win.focus();
      return false;
  }

  function closePopup(win, newID, newRepr, id) {
      $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
      win.close();
  }

  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  </script>
{% endblock Script %}
