{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Experience Home Page - Help</h3>
    <p>&nbsp</p>
    <p>The Experience home page opens listing a summary of the experience. This details
      the total hours of experience, the number of hours of training and education experience,
      the number of pre-logged hours of experience as well as the number of logged experience
      hours.</p>
    <p>It will also detail the level of experience being:</p>
      <ul>
        <li>Student (<=326 hours or up to 2 months of experience)</li>
        <li>Beginner (<=2,282 hours or up to 14 months (two years) of experience)</li>
        <li>Junior (<=12,062 hours or  62 months (five years) of experience)</li>
        <li>Intermediate (<=25,754 hours or 134 months (eleven years) of experience)</li>
        <li>Senior (<=45,314 hours or 254 months (twenty one years) of experience)</li>
        <li>Lead ( more than 45,314 hours (more than twenty one years) of experience)</li>
      </ul>
    <p>The experience in each of the relative lists is listed in date order with, in
      the 'Education and Training', the 'Start Date, 'Completion Date', Course' and
      'Time Logged', and in the 'Work Experience' and 'Previously Logged Experience' the
      'Employer, 'Date from', 'Date to', 'Hours' and 'Project' data items with the most
      recent date first.</p>
    <p>The ‘Education and Training’, 'Work Experience’ and ‘Previously logged Experience’
      sliders all contain abbreviated lists of the relevant captured experience.</p>
    <p>You are able to open the full list by clicking on the 'View All Education and
      'View All Experience' buttons as required.</p>
      <ul>
        <li>You are able to add a new experience entry by clicking on the relative
          ‘Add’ buttons in the summary slider or at the top right of the experience type
          slider pages. Education and Training is self describing in that it is where you
          can capture all time spent studying or on course. Time logged against this is
          not counted in your overall experience rating.</li>
        <li>Logged experience is experience that has been logged within 2 weeks of having
          completed the work. Any experience that is older than this will be tagged as
          being “estimated”.</li>
        <li>Previously logged experience is past experience for which you already have a
          timesheet and want to upload it to MyWeXlog. A copy of the timesheet will need
          to be uploaded when claiming the experience.</li>
      </ul>
    <br>
    <p><strong>Experience</strong></p>
    <p>Experience should be captured within 14 days of the capture date or else it must
      be captured as estimated experience. The reasons behind this are that it is difficult
      to remember with any certainty what you did, in the case of capturing, or what someone
      else did, in the case of validations, more than two weeks in arrears.</p>
    <p>This means that you should log-in and capture your experience at least every week
      or at the worst every fortnight.</p>
    <br>
    <p><strong>Pre-Logged Experience</strong></p>
    <p>Pre-logged experience is experience that is captured for which you have approved
      timesheets from the past. It allows you to capture all the experience you have
      throughout your career.</p>
    <br>
    <p><strong>Parameters for Capturing Experience</strong></p>
    <p>When capturing experience or pre logged experience the system has been designed
       a few parameters and logic.</p>
       <ol>
         <li>You cannot enter a 'date_to' that is after today</li>
         <li>The 'date_from' must be less than or equal to the 'date_to'</li>
         <li>Capturing experience is limited to no more than:
           <ul>
             <li>12 hours per </li>
             <li>6 × 12 hours per week</li>
             <li>52 × 6 × 12 hours per year</li>
             <li>6 × working days per week (will vary)</li>
            </ul></li>
        </ol>
    <br>
    <p><strong>What can be Claimed as Experience</strong></p>
    <p>There are a number of activities that can be classified as experience, These are:</p>
      <ol>
        <li>Time spent working at your day job</li>
        <li>Time spent working at a freelancer job</li>
        <li>Time spent "working" on social club / sports club committees</li>
        <li>Time spent on governing bodies
          <ul>
            <li>School</li>
            <li>Housing estates</li>
            <li>Charity Work</li>
            <li>Etc</li>
          </ul></li>
        <li>Time spent volunteering for a charity or at a place of worship.</li>
      </ol>
    <p>Once experience has been captured you will need to tag skills used during that time.</p>
    <p>This can include:</p>
      <ul>
        <li>Government departments that were dealt with</li>
        <li>Computer programs used</li>
        <li>Laws being worked with</li>
        <li>Case Law you worked with</li>
        <li>Regulations you worked with</li>
        <li>Codes and standards you worked with</li>
        <li>Activities (report writing)</li>
        <li>Skills (coding, meetings, research, etc.)</li>
        <li>Commodities you worked with (Gold, platinum, coal, etc.)</li>
        <li>Country where the work was performed (shows familiarity with customs etc.)</li>
        <li>Many, many others...</li>
      </ul>

</div>
{% endblock content %}
