{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-LCM:FV{% endblock title %}

{% block content %}

<div class="container">
  <div class="card card-shadow">
    <div class="card-body">
      <form  action="{% url 'BookList:BLB' %}" method="post">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary float-right">Back to {{ tlt }}'s Profile</button>
      </form>
      <h4>Licences, Certifications and Memberships</h4>
    </div>
    <div class="container">
      <div class="row my-auto">
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Type</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Register Number</strong>
        </div>
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Managing Organisation</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Country</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Region / State</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Date First Issued</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Expiry Date</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Status</strong>
        </div>
      </div>
    </div>
    {% for lcm in pageitems %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ lcm.certification }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ lcm.cm_no }}
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ lcm.companybranch }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ lcm.country.name }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ lcm.region }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ lcm.issue_date|date:"j M Y" }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if lcm.expiry_date %}
                {{ lcm.expiry_date|date:"j M Y" }}
              {% else %}
                None
              {% endif %}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if lcm.current == True %}
                Valid
              {% else %}
                Expired
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You do not have any licences, certifications and memberships listed.</p>
    {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>

{% endblock content %}
