{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}My Experience{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<div class="container">
<h3>Capture Logged Experience</h3>
<form method="post" id="BranchForm" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.company|as_crispy_field }}
        <p><a href="{% url 'Enterprise:EnterpriseAddPop' %}" id='add_company' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Company</a></p>
      {{ form.project|as_crispy_field }}
        <p><a href="{% url 'Project:ProjectAddPop' %}" id='add_project' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Project</a></p>
      {{ form.industry|as_crispy_field }}
        <p><a href="{% url 'Enterprise:IndustryAddPop' %}" id='add_industry' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add an Industry</a></p>
    </div>
    <div class="form-group col-md-6 mb-0">
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.date_from|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.date_to|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.hours_worked|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10 mb-0">
          {{ form.designation|as_crispy_field }}
          <p><a href="{% url 'Talent:DesignationAddPop' %}" id='add_designation' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Designation</a></p>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3 mb-0">
          {{ form.upload|as_crispy_field }}
          <p>Upload a copy of your signed off log.</p>
        </div>
</div>
  </div>
  </div>
    {{ form.skills|as_crispy_field }}
    <p><a href="{% url 'Flatten:SkillAddPop' %}" id='add_skill' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Skill</a></p>
    {{ form.comment|as_crispy_field }}
  <div class="">
    <p><button type="submit" name="Done" class="btn btn-primary">Add Validators</button></p>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block Script %}
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
