{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Publications{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <h3>Publications</h3>
    <form method="post" id="PublicationsForm" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.title|as_crispy_field }}
          {{ form.publisher|as_crispy_field }}
            <a href="{% url 'BookList:PublisherCreatePopup' %}" id='add_publisher' onclick='return showAddPopup(this);'>
              <img src = "{% static 'images/icon-addlink.svg' %}">
              Add a new Publisher
            </a>
          {{ form.date_published|as_crispy_field }}
          {{ form.author|as_crispy_field }}
            <a href="{% url 'BookList:AuthorCreatePopup' %}" id='add_author' onclick='return showAddPopup(this);'>
              <img src = "{% static 'images/icon-addlink.svg' %}">
              Add a new Author
            </a>
            <br>
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.type|as_crispy_field }}
          <br>
          {{ form.genre|as_crispy_field }}
          <a href="{% url 'BookList:GenreCreatePopup' %}" id='add_tag' onclick='return showAddPopup(this);'>
            <img src = "{% static 'images/icon-addlink.svg' %}">
            Add a Genre
          </a>
          {{ form.link|as_crispy_field }}
          {{ form.tag|as_crispy_field }}
          <a href="{% url 'BookList:TagCreatePopup' %}" id='add_tag' onclick='return showAddPopup(this);'>
            <img src = "{% static 'images/icon-addlink.svg' %}">
            Add a new Skill Tag
          </a>
          {{ form.upload|as_crispy_field }}
          <p>
            <strong>Please note:</strong> Only <strong>pdf</strong> files can be uploaded.
          </p>
        </div>
        <div class="form-group col-md-12 mb-0">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      <div class="">
        <p>
          <a href="{% url 'Profile:ProfileView' %}#publications" class="btn btn-danger">
            Cancel
          </a>
          <button type="submit" name="Done" class="btn btn-primary">
            Done
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
  <script type="text/javascript">
    document.getElementById("id_publisher").disabled = true;

    var dis1 = document.getElementById("id_title");
    dis1.onchange = function () {
       if (this.value != "" || this.value.length > 0) {
          document.getElementById("id_publisher").disabled = false;
       }
    };
  </script>
  <script type="text/javascript">

  function showAddPopup(triggeringLink) {
      var name = triggeringLink.id.replace(/^add_/, '');
      href = triggeringLink.href;
      var win = window.open(href, name, 'height=350,width=600,resizable=yes,scrollbars=yes');
      win.focus();
      return false;
  }
  function closePopup(win, newID, newRepr, id) {
      $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
      win.close();
  }

  </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 
{% endblock content %}
