{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}- {{ tlt_p.f_name }} Skill Statistics Overview{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:ExperienceSum' tlt %}" class="btn btn-secondary"style="width: 6rem">Back</a>
    </div>
    <h3>{{ skill }} Skill Statistics Overview</h3>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h4>Average Rating with {{ skill }} Skill</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Experience Rating</p>
        <div class="text-center" style="font-size:60px">
          <span class="my_auto" style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-o" aria-hidden="true"></i></span>
        </div>
        <p>Freelance Experience Rating</p>
        <div class="text-center" style="font-size:60px">
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="col-md-8">
        <p>Average Rating for Skill Work Experience by Year</p>
        <canvas id="experience-rating-year-range-chart" height="100px"></canvas>
        <script>
          window.onload = function() {

            var experience_rating_year_range_ctx = document.getElementById('experience-rating-year-range-chart').getContext('2d');
            window.myChart = new Chart(experience_rating_year_range_ctx, experience_rating_year_range_config);

            var wt_skills_used_year_range_ctx = document.getElementById('wt-skills-used-year-range-chart').getContext('2d');
            window.myChart = new Chart(wt_skills_used_year_range_ctx, wt_skills_used_year_range_config);

            var we_skills_used_year_range_ctx = document.getElementById('we-skills-used-year-range-chart').getContext('2d');
            window.myChart = new Chart(we_skills_used_year_range_ctx, we_skills_used_year_range_config);

          };
        </script>
        <script>
        var experience_rating_year_range_config = {
          type: 'line',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Experience Rating by Year Range',
                data: [2,2.5,3,4,3.5,3,3.5,4,3,3.5],
                order: 2,
                fill: false,
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
                  backgroundColor: [
                      '#FF0000',
                  ],
                  borderColor: [
                      '#FF0000',
                  ],
              },  {
                label: 'Freelance Experience Rating by Year Range',
                data: [3,3,3.5,4,3,4,4.5,4,4,4.5],
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h4>{{ skill }} Skill Training Details</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Hours Training</p>
        <div class="text-center" style="font-size:60px">
          {{ total_sum_t_we|floatformat:0|intcomma }}
        </div>
        <p>Total Validated Hours Training</p>
        <div class="text-center" style="font-size:60px">
          {{ total_val_sum_t_we|floatformat:0|intcomma }}
        </div>
      </div>
      <div class="col-md-8">
        <p>Skill Training by Year</p>
        <canvas id="wt-skills-used-year-range-chart" height="100px"></canvas>
        <script>
        var wt_skills_used_year_range_config = {
          type: 'bar',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Hours Training in Skill by Year Range',
                data: {{ t_we_skills_used_year_range_data|safe }},
                order: 2,
                  backgroundColor: [
                      '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4',
                  ],
                  borderColor: [

                  ],
                  borderWidth: 1
              },  {
                label: 'Validated Hours Training in Skill by Year Range',
                data: {{ t_val_we_skills_used_year_range_data|safe }},
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h4>{{ skill }} Skill Work Experience Details</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Hours Experience</p>
        <div class="text-center" style="font-size:60px">
          {{ total_sum_we|floatformat:0|intcomma }}
        </div>
        <p>Total Validated Hours Experience</p>
        <div class="text-center" style="font-size:60px">
          {{ total_val_sum_we|floatformat:0|intcomma }}
        </div>
      </div>
      <div class="col-md-8">
        <p>Skill Utilised in Work Experience by Year</p>
        <canvas id="we-skills-used-year-range-chart" height="100px"></canvas>
        <script>
        var we_skills_used_year_range_config = {
          type: 'bar',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Hours Experience in Skill by Year Range',
                data: {{ we_skills_used_year_range_data|safe }},
                order: 2,
                  backgroundColor: [
                      '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4',
                  ],
                  borderColor: [

                  ],
                  borderWidth: 1
              },  {
                label: 'Validated Hours Experience in Skill by Year Range',
                data: {{ val_we_skills_used_year_range_data|safe }},
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h4>MyWeXlog Members that have not yet confirmed Work Experience with {{ skill }} skill in it</h4>

    <div class="container">
      <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Last Request Date</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Name</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Company</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Relationship</strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Email</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    {% for i in we_tbc_p %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ i.f_name }} {{ i.l_name}}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-1 h-100 text-center my-auto">

            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ i.talent.email }}
            </div>
            <div class="col-md-2 h-100 text-left my-auto">
              <a href="mailto:{{ i.talent.email }}?&subject=Please confirm my MyWeXlog experience&body=Sorry to bother you.  Would it be possible to log in to MyWeXlog and update my experience confirmations as the are still un-verified.  Thanks, appreciate it." class="badge badge-primary" style="width:6rem;">Send<br>E-Mail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>All your experience log items with {{ skill }} experience have been confirmed.</p>
    {% endfor %}
    <br>
    <div class="float-right">
      {% if we_tbc_p_l_count >= 6 %}
        <a href="#?next={{ request.path|urlencode }}" class="btn btn-primary">View All Members</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
