{% extends "base_home.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{{block.super}}- {{ tlt_p.f_name }} Skill Statistics Overview{% endblock title %}

{% block content %}
<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:ExperienceSum' tlt %}" class="btn btn-secondary"style="width: 6rem">Back</a>
    </div>
    <h3>{{ skill }} Skill Personal Statistics Overview</h3>
  </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="siteStatsModal" tabindex="-1" role="dialog" aria-labelledby="siteStatsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteStatsModalLabel">Site Wide Skill Stats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{% url 'Talent:SiteDemandSkillsStats' skl %}" class="btn btn-primary"style="width: 10rem">Demanded Skills</a>
        <a href="{% url 'Talent:SiteSkillsStats' skl %}" class="btn btn-primary float-right"style="width: 10rem">Logged Skills</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card card-shadow">
  <div class="card-body">
<div style="overflow-x: scroll">
<div id="chart-container" style="position: relative;  width:auto;">

<h4>{{ skill }} Associated Skills List</h4>
<div class="float-right">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#siteStatsModal">
    Site Wide Stats
  </button>
</div>
<p class="short-paragraph">Percentge occurance of associated skills with skill {{ skill }}.</p>
<p class="short-paragraph">You have a total of&nbsp<strong>{{ skill_list_labels_count }}</strong>&nbspassociated skills from&nbsp<strong>{{ skills_list_qs_count }}</strong>&nbspCaptured Work Experience logs.</p>
<p class="small-paragraph"><small>Skills included are all skills relating to them that have been logged as Work Esxperience.  <br>(Includes all skills & logs, not only validated skills that have received a score of 3 or more.)</small></p>
<br>
<canvas id="percentage-associated-skills-by-skill-chart" height="100px"></canvas>
<script>
var percentage_associated_by_skill_config = {
  type: 'bar',
  data: {
      labels: {{ skill_list_labels|safe }},
      datasets: [{
        label: 'Percentage Occurance with Associated skill',
        data: {{ skill_percentage_data|safe }},
        order: 1,
          backgroundColor: ['#B6D8F2', '#F4CFDF', '#5784BA', '#C54B6C', '#F5BFD2', '#E5DB9C', '#D0BCAC', '#BEB4C5', '#E6A57E', '#218B82', '#9AD9DB', '#E5DBD9', '#98D4BB', '#EB96AA', '#C6C9D0', '#C54B6C', '#E5B3BB', '#C47482', '#D5E4C3', '#F9968B', '#F27348', '#26474E', '#76CDCD', '#2CCED2', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#B8E0F6', '#A4CCE3', '#37667E', '#DEC4D6', '#7B92AA', '#DDF2F4', '#84A6D6', '#4382BB', '#E4CEE0', '#A15D98', '#DC828F', '#F7CE76', '#E8D6CF', '#8C7386', '#9C9359', '#E9BBB5', '#E7CBA9', '#AAD9CD', '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4', '#DB93A5', '#C7CDC5',
          ],
          borderColor: [

          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
        },
      legend: {
          display: false,
          position: 'top',
          labels: {
              fontColor: '#0000ff',
      },

      }
    }
};

var dataList = {{ skill_percentage_data|safe }};
var count = 0;
for(var i = 0; i < dataList.length; ++i){
    if(dataList[i] >= 0)
        count++;
}
var widthValue = 44 * count;
var divWidth = document.getElementById("chart-container");

if (count > 24){
  divWidth.style.width = widthValue+"px";
  }
else{
  divWidth.style.width = "auto";
  }

</script>
</div>
</div>
<br>
<div class="container">
<div class="row">
  <div class="col-md-12">
    {% for skl in dept_skills_link %}<a href="{% url 'Talent:SkillsStats' skl.id %}?next={{ request.path|urlencode }}" class="btn btn-outline-success auto mb-1 mr-1 pointer">{{ skl.skill }}</a> {% endfor %}
  </div>
</div>
</div>
</div>
</div>
<br class="d-none">
<div class="card card-shadow d-none">
  <div class="card-body">
    <h4>Average Rating with {{ skill }} Skill</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Experience Rating</p>
        <div class="text-center" style="font-size:60px">
          <span class="my_auto" style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-o" aria-hidden="true"></i></span>
        </div>
        <p>Freelance Experience Rating</p>
        <div class="text-center" style="font-size:60px">
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star" aria-hidden="true"></i></span>
          <span style="font-size:50px"><i class="fa fa-star-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="col-md-8">
        <p>Average Rating for Skill Work Experience by Year</p>
        <canvas id="experience-rating-year-range-chart" height="100px"></canvas>
        <script>
          window.onload = function() {
            var percentage_associated_by_skill_ctx = document.getElementById('percentage-associated-skills-by-skill-chart').getContext('2d');
            window.myChart = new Chart(percentage_associated_by_skill_ctx, percentage_associated_by_skill_config);

            var experience_rating_year_range_ctx = document.getElementById('experience-rating-year-range-chart').getContext('2d');
            window.myChart = new Chart(experience_rating_year_range_ctx, experience_rating_year_range_config);

            var wt_skills_used_year_range_ctx = document.getElementById('wt-skills-used-year-range-chart').getContext('2d');
            window.myChart = new Chart(wt_skills_used_year_range_ctx, wt_skills_used_year_range_config);

            var we_skills_used_year_range_ctx = document.getElementById('we-skills-used-year-range-chart').getContext('2d');
            window.myChart = new Chart(we_skills_used_year_range_ctx, we_skills_used_year_range_config);

          };
        </script>
        <script>
        var experience_rating_year_range_config = {
          type: 'line',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Experience Rating by Year Range',
                data: [2,2.5,3,4,3.5,3,3.5,4,3,3.5],
                order: 2,
                fill: false,
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
                  backgroundColor: [
                      '#FF0000',
                  ],
                  borderColor: [
                      '#FF0000',
                  ],
              },  {
                label: 'Freelance Experience Rating by Year Range',
                data: [3,3,3.5,4,3,4,4.5,4,4,4.5],
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card card-shadow">
  <div class="card-body">
    <h4>{{ skill }} Skill Training Details</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Hours Training</p>
        <div class="text-center" style="font-size:60px">
          {{ total_sum_t_we|floatformat:0|intcomma }}
        </div>
        <p>Total Validated Hours Training</p>
        <div class="text-center" style="font-size:60px">
          {{ total_val_sum_t_we|floatformat:0|intcomma }}
        </div>
      </div>
      <div class="col-md-8">
        <p>Skill Training by Year</p>
        <canvas id="wt-skills-used-year-range-chart" height="100px"></canvas>
        <script>
        var wt_skills_used_year_range_config = {
          type: 'bar',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Hours Training in Skill by Year Range',
                data: {{ t_we_skills_used_year_range_data|safe }},
                order: 2,
                  backgroundColor: [
                      '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4',
                  ],
                  borderColor: [

                  ],
                  borderWidth: 1
              },  {
                label: 'Validated Hours Training in Skill by Year Range',
                data: {{ t_val_we_skills_used_year_range_data|safe }},
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
{% if nsps_te_l_count >= 1 %}
<div class="card card-shadow">
  <div class="card-body">
    <h4>Training & Education Experience Items Without Sufficient Pass Score</h4>
    <div class="container">
      <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Start Date</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Completion date</strong>
        </div>
        <div class="col-md-5 h-100 text-center my-auto">
          <strong>Course</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Time Logged</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <span data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status"><strong>Score</strong></span>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Actions</strong>
        </div>
      </div>
    </div>
    {% for t in nsps_te %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-2 h-100 text-center my-auto">
              {{ t.date_from|date:"j M Y" }}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ t.date_to|date:"j M Y" }}
            </div>
            <div class="col-md-5 h-100 text-center my-auto">
              {{ t.course }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ t.topic.hours|intcomma }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              <span data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ t.score }}</span>
            </div>
            <div class="col-1 col-no-pad h-100 text-left my-auto">
              <a href="{% url 'Talent:EducationDetail' t.slug %}" class="badge badge-pill badge-secondary" style="width: 5rem;">Detail</a>
              <form  action="{% url 'Talent:EDTSDelete' t.id skl %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have no education items without sufficient pass score.</p>
    {% endfor %}
    <br>
    <div class="float-right">
      {% if nsps_te_l_count >= 6 %}
        <a href="{% url 'Talent:SkillEducationList' skl %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Experience</a>
      {% endif %}
    </div>
  </div>
</div>
<br>
{% endif %}
<div class="card card-shadow">
  <div class="card-body">
    <h4>{{ skill }} Skill Work Experience Details</h4>
    <div class="row">
      <div class="col-md-4">
        <p>Total Hours Experience</p>
        <div class="text-center" style="font-size:60px">
          {{ total_sum_we|floatformat:0|intcomma }}
        </div>
        <p>Total Validated Hours Experience</p>
        <div class="text-center" style="font-size:60px">
          {{ total_val_sum_we|floatformat:0|intcomma }}
        </div>
      </div>
      <div class="col-md-8">
        <p>Skill Utilised in Work Experience by Year</p>
        <canvas id="we-skills-used-year-range-chart" height="100px"></canvas>
        <script>
        var we_skills_used_year_range_config = {
          type: 'bar',
          data: {
              labels: {{ skills_used_year_range_labels|safe }},
              datasets: [{
                label: 'Hours Experience in Skill by Year Range',
                data: {{ we_skills_used_year_range_data|safe }},
                order: 2,
                  backgroundColor: [
                      '#E8D595', '#8DA47E', '#CAE7E3', '#B2B2B2', '#EEB8C5', '#DCDBD9', '#FEC7BC', '#8EA4C8', '#C3B8AA', '#DEDCE4',
                  ],
                  borderColor: [

                  ],
                  borderWidth: 1
              },  {
                label: 'Validated Hours Experience in Skill by Year Range',
                data: {{ val_we_skills_used_year_range_data|safe }},
                type: 'line',
                order: 1,
                fill: false,
                borderColor: '#0000FF',
                borderWidth: 2,
                pointBorderWidth: 2,
                pointStyle: 'circle',
                pointHitRadius: 20,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
                },
              legend: {
                  display: false,
                  position: 'left',
                  labels: {
                      fontColor: '#0000ff',
              },

              }
            }
        };

      </script>
      </div>
    </div>
  </div>
</div>
<br>
{% if nsps_we_l_count >= 1 %}
<div class="card card-shadow">
  <div class="card-body">
    <h4>Work Experience Items Without Sufficient Pass Score</h4>
    <div class="container">
      <div class="row my-auto">
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Employer</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Date from</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Date to</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Hours</strong>
        </div>
        <div class="col-md-4 h-100 text-center my-auto">
          <strong>Project</strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong>Score</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Actions</strong>
        </div>
      </div>
    </div>
    {% for e in nsps_we %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-3 h-100 text-center my-auto">
              {{ e.company }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {{ e.date_from|date:"j M Y" }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {{ e.date_to|date:"j M Y" }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              {{ e.hours_worked|intcomma }}
            </div>
            <div class="col-md-4 h-100 text-center my-auto">
              {{ e.project }}
            </div>
            <div class="col-md-1 h-100 text-center my-auto">
              <span data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ e.score }}</span>
            </div>
            <div class="col-1 col-no-pad h-100 text-left my-auto">
                <a href="{% url 'Talent:ExperienceDetail' e.slug %}" class="badge badge-pill badge-secondary"  style="width: 5rem;">Detail</a>
                <form  action="{% url 'Talent:WESDelete' e.id skl %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>You have no work experience items without sufficient pass score.</p>
    {% endfor %}
    <br>
    <div class="float-right">
      {% if nsps_we_l_count >= 6 %}
        <a href="{% url 'Talent:SkillWorkExperienceList' skl %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Experience</a>
      {% endif %}
    </div>
  </div>
</div>
<br>
{% endif %}
{% if we_tbc_p_l_count >= 1 %}
<div class="card card-shadow">
  <div class="card-body">
    <h4>MyWeXlog Members that have not yet confirmed Work Experience with {{ skill }} skill in it</h4>

    <div class="container">
      <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Name</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Email</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    {% for i in we_tbc_p %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {% if i.f_name != null and i.l_name != null %}{{ i.f_name }} {{ i.l_name }}{% else %}{{ i.talent.first_name|default_if_none:'Name not captured' }} {{ i.talent.last_name|default_if_none:'Name not captured' }}{% endif %}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-1 h-100 text-center my-auto">

            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ i.talent.email }}
            </div>
            <div class="col-md-2 h-100 text-left my-auto">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Send Email
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a href="{% url 'Talent:RequestValidateExperienceEmail' skl i.talent.alias %}" class="dropdown-item">MyWeXlog</a>

                  <a class="dropdown-item" href="mailto:{{ i.talent.email }}?&subject=Please confirm my MyWeXlog experience&body=Sorry to bother you.  Would it be possible to log in to MyWeXlog and update my experience confirmations as they are still un-verified.  Thanks, appreciate it.">Private</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>All your experience log items with {{ skill }} experience have been confirmed.</p>
    {% endfor %}

    <br>
    <div class="float-right">
      {% if we_tbc_p_l_count >= 6 %}
        <a href="{% url 'Talent:SkillValidationList' skl %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Members</a>
      {% endif %}
    </div>
  </div>
</div>
{% if invitation_sent_count >= 1 %}
<br>
<div class="card card-shadow">
  <div class="card-body">
        <h3 class="card-title">Invitations Already Sent Not Accepted</h3>
        <p>Below is a list of people that you have sent invites to join MyWeXlog that have not yet accepted the invitation. Perhaps you would like to contact them directly to ask them to register.</p>
        <p class="small-paragraph"><small>By law we are only allowed to send one invite from the MyWexlog email account, you will be required to send a reminder email from your private email address.</small></p>
        <br>
        <div class="container">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <strong>Date Invited</strong>
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              <strong>Name</strong>
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              <strong>Company</strong>
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              <strong>Relationship</strong>
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              <strong>email</strong>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <strong></strong>
            </div>
          </div>
        </div>
        {% for i in invitation_sent %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-1 col-no-pad h-100 text-center my-auto">
                  {{ i.date_invited|date:"j M Y" }}
                </div>
                <div class="col-2 col-no-pad h-100 text-center my-auto">
                  {{ i.name }} {{ i.surname }}
                </div>
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {{ i.companybranch }}
                </div>
                <div class="col-2 col-no-pad h-100 text-center my-auto">
                  {{ i.get_relationship_display }}
                </div>
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {{ i.email }}
                </div>
                <div class="col-1 col-no-pad h-100 text-center my-auto">
                  <a href="mailto:{{ i.email }}" class="badge badge-primary" style="width:5rem;">Send<br>E-Mail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>You do not have any sent invitations that have not been accepted at the moment
        </p>
        {% endfor %}
        <br>
        <div class="float-right">
          {% if invitation_sent_count >= 6 %}
            <a href="{% url 'Invitation:InvitationsSent' %}?next={{ request.path|urlencode }}" class="btn btn-primary">View All Invites</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
{% endif %}
{% endblock content %}
