{% extends 'base_home.html' %}
{% load static %}

{% block title %}Confirmation List{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:SkillsStats' skl %}" class="btn btn-secondary">Back</a>
    </div>

    <h4>MyWeXlog Members that have not yet confirmed Work Experience with {{ skill }} skill in it</h4>

    <div class="container">
      <div class="row my-auto">
        <div class="col-md-2 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Name</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-1 h-100 text-center my-auto">
          <strong></strong>
        </div>
        <div class="col-md-3 h-100 text-center my-auto">
          <strong>Email</strong>
        </div>
        <div class="col-md-2 h-100 text-center my-auto">
          <strong>Action</strong>
        </div>
      </div>
    </div>
    {% for i in pageitems %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-2 h-100 text-center my-auto">
              {{ i.f_name }} {{ i.l_name}}
            </div>
            <div class="col-md-2 h-100 text-center my-auto">

            </div>
            <div class="col-md-1 h-100 text-center my-auto">

            </div>
            <div class="col-md-3 h-100 text-center my-auto">
              {{ i.talent.email }}
            </div>
            <div class="col-md-2 h-100 text-left my-auto">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Send Email
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a href="" class="dropdown-item">MyWeXlog</a>

                  <a class="dropdown-item" href="mailto:{{ i.talent.email }}?&subject=Please confirm my MyWeXlog experience&body=Sorry to bother you.  Would it be possible to log in to MyWeXlog and update my experience confirmations as the are still un-verified.  Thanks, appreciate it.">Private</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>All your experience log items with {{ skill }} experience have been confirmed.</p>
    {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
