{% extends "base_home.html" %}
{% load humanize %}

{% if request.user.id == pfl.id %}
  {% block title %}{{block.super}}-Experience Overview{% endblock title %}
{% else %}
  {% block title %}{{block.super}}-{{pfl.alias Skill Summary}}{% endblock title %}
{% endif %}

{% block content %}
<div class="card">
  <h5 class="card-header">Designation, Project & Company Summary</h5>
  <div class="row">
    <div class="col-sm-12">
    <div class="card">
      <div class="">
        <a href="{% url 'Talent:Home' %}" class="btn btn-secondary float-right">Experience Home</a>
        <a href="{% url 'Talent:ExperienceSum' %}" class="btn btn-primary">Skills Summary</a>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Designation Summary</h5>
        <p>This is a list of the hours you have logged against each designation.</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Designation</th>
              <th>Hours</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for key in dgn_set.items %}
              <tr>
                <td>{{ key.0 }}</td>
                <td>{{ key.1.sum }}</td>
                <td>{{ key.1.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Company Summary</h5>
          <p>This is a list of the time spent at a company.</p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Company & Branch</th>
                <th>Hours</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for key in cmp_set.items %}
                <tr>
                  <td>{{ key.0 }}</td>
                  <td>{{ key.1.sum }}</td>
                  <td>{{ key.1.count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project Summary</h5>
          <p>This is a list of the time spent on a Project.</p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Project & Client</th>
                <th>Hours</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for key in prj_set.items %}
                <tr>
                  <td>{{ key.0 }}</td>
                  <td>{{ key.1.sum }}</td>
                  <td>{{ key.1.count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
