{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Experience Overview{% endblock title %}

{% block content %}
<div class="card">
  <h5 class="card-header">Skills Summary</h5>
  <div class="row">
    <div class="col-sm-12">
    <div class="card">
      <div class="">
        <a href="{% url 'Talent:Home' %}" class="btn btn-secondary float-right">Experience Home</a>
        <a href="{% url 'Talent:DPCSum' %}" class="btn btn-primary">Designation, Project & Company Summary</a>
      </div>


    </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Experience skills</h5>
        <p>This is a list of the hours you have logged against each skill.</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Skill</th>
              <th>Hours</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for key in exp_set.items %}
              <tr>
                <td>{{ key.0 }}</td>
                <td>{{ key.1.sum }}</td>
                <td>{{ key.1.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Training Skills</h5>
          <p>This is a list of the time spent training on a skill.</p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Skill</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              {% for key in edt_set.items %}
                <tr>
                  <td>{{ key.0 }}</td>
                  <td>{{ key.1 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
