{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">Experience</h5>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Summary
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr align= "middle">
                  <th width="20%">Total Experience<br>(Hours)</th>
                  <th width="20%">Training<br>(Hours)<br><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary">Add</a></th>
                  <th width="20%">Logged<br>(Hours)<br><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary">Add</a></th>
                  <th width="20%">Pre-logged<br>(Hours)<br><a href="{% url 'Talent:PreloggedCapture' %}" class="badge badge-pill badge-primary">Add</a></th>
                </tr>
              </thead>
              <tbody>
                <tr align= "middle">
                  <td>{{ tot_sum|intcomma }}</td>
                  <td>{{ train_sum.Edu_sum|intcomma }}</td>
                  <td>{{ exp_sum.we_sum|intcomma }}</td>
                  <td>{{ pre_sum.p_sum|intcomma }}</td>
                </tr>
              </tbody>
            </table>
            <div class="float-right">
              <p>
                <a href="{% url 'Talent:DPCSum' %}" class="badge badge-pill badge-primary">Designation, Project & Company Summary</a>
                <a href="{% url 'Talent:ExperienceSum' %}" class="badge badge-pill badge-primary">Skills Summary</a>
              </p>
            </div>

            <p>Experience Level: <strong>{{ level }}</strong></p>

            <table class="table table-sm">
              <thead>
                <tr align="middle">
                  <th>Total Skills</th>
                  <th>Skills List</th>
                </tr>
              </thead>
              <tbody>
                <tr align="center">
                  <td>{{ skill_count }}</td>
                  <td>{{ skill_name|join:" - " }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Education and Training
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary float-right">Add Education</a></p>
        </div>
          <p><strong>Total hours in training: </strong>{{ train_sum.Edu_sum|intcomma }}</p>
        <div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>Completion Date</th>
              <th>Course</th>
              <th>Time Logged</th>
              <th>Options</th>
            </tr>
          </thead>
          {% for t in train %}
          <tbody>
            <tr>
              <td>{{ t.date_from|date:"j M Y" }}</td>
              <td>{{ t.date_to|date:"j M Y" }}</td>
              <td>{{ t.course }}</td>
              <td>{{ t.topic.hours|intcomma }}</td>
              <td><a href="{% url 'Talent:EducationDetail' t.id %}" class="badge badge-pill badge-secondary">Detail</a></td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Work Experience
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary float-right">Add Experience</a></p>
        </div>
          <p><strong>Total hours of Experience: </strong>{{ exp_sum.we_sum|intcomma }}</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Employer</th>
              <th>Date from</th>
              <th>Date to</th>
              <th>Hours</th>
              <th>Project</th>
            </tr>
          </thead>
          {% for e in experience %}
          <tbody>
            <tr>
              <td>{{ e.company }}</td>
              <td>{{ e.date_from|date:"j M Y" }}</td>
              <td>{{ e.date_to|date:"j M Y" }}</td>
              <td>{{ e.hours_worked|intcomma }}</td>
              <td>{{ e.project }}</td>
              <td><a href="{% url 'Talent:ExperienceDetail' e.id %}" class="badge badge-pill badge-secondary">Detail</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Previously Logged Experience
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:PreloggedCapture' %}" class="badge badge-pill badge-primary float-right">Add Logged Experience</a></p>
        </div>
        <p><strong>Total hours of Previously Logged Experience: </strong>{{ pre_sum.p_sum|intcomma }}</p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Employer</th>
            <th>Date from</th>
            <th>Date to</th>
            <th>Hours</th>
            <th>Project</th>
          </tr>
        </thead>
        {% for p in prelog %}
        <tbody>
          <tr>
            <td>{{ p.company }}</td>
            <td>{{ p.date_from|date:"j M Y" }}</td>
            <td>{{ p.date_to|date:"j M Y" }}</td>
            <td>{{ p.hours_worked|intcomma }}</td>
            <td>{{ p.project }}</td>
            <td><a href="{% url 'Talent:PreLogDetail' p.id %}" class="badge badge-pill badge-secondary">Detail</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
