{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">Experience</h5>
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Education and Training
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary float-right">Add Education</a></p>
        </div>
          <p><strong>Total hours in training: </strong>{{ train_sum.Edu_sum|intcomma }}</p>
        <div class="float-left">
        <table class=" table table-sm">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>Completion Date</th>
              <th>Course</th>
              <th>Time Logged</th>
              <th>Options</th>
            </tr>
          </thead>
          {% for t in train %}
          <tbody>
            <tr>
              <td>{{ t.date_from }}</td>
              <td>{{ t.date_to }}</td>
              <td>{{ t.course }}</td>
              <td>{{ t.hours_worked|intcomma }}</td>
              <td><a href="{% url 'Talent:EducationDetail' t.id %}" class="badge badge-pill badge-secondary">Detail</a></td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Work Experience
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary float-right">Add Experience</a></p>
        </div>
          <p><strong>Total hours of Experience: </strong>{{ exp_sum.we_sum }}</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Employer</th>
              <th>Date from</th>
              <th>Date to</th>
              <th>Hours</th>
              <th>Project</th>
            </tr>
          </thead>
          {% for e in experience %}
          <tbody>
            <tr>
              <td>{{ e.company }}</td>
              <td>{{ e.date_from }}</td>
              <td>{{ e.date_to }}</td>
              <td>{{ e.hours_worked }}</td>
              <td>{{ e.project }}</td>
              <td><a href="{% url 'Talent:ExperienceDetail' e.id %}" class="badge badge-pill badge-secondary">Detail</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Previously Logged Experience
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="float-right">
          <p><a href="{% url 'Talent:PreloggedCapture' %}" class="badge badge-pill badge-primary float-right">Add Logged Experience</a></p>
        </div>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
