{% extends "base_home.html" %}
{% load humanize %}
{% block title %}{{block.super}}-Experience{% endblock title %}

{% block content %}
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:HelpExperienceHome' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title">Experience Summary</h4>
    <table class="table table-sm">
      <col width = "20%">
      <col width = "20%">
      <col width = "20%">
      <col width = "20%">
      <col width = "20%">
      <thead>
        <tr>
          <th></th>
          <th class="align-middle text-center">Total Hours Logged</th>
          <th class="align-middle text-center">Training<br>(Hours)<br><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary">Add</a></th>
          <th class="align-middle text-center">Logged<br>(Hours)<br><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary">Add</a></th>
          <th class="align-middle text-center">Pre-logged<br>(Hours)<br><a href="{% url 'Talent:PreloggedCapture' %}" class="badge badge-pill badge-primary">Add</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="align-middle text-center">Unconfirmed<br>Experience</th>
          <td class="align-middle text-center">{{ tot_sum|intcomma }}</td>
          <td class="align-middle text-center">{{ train_sum.Edu_sum|intcomma }}<br>{{ train_count }} events</td>
          <td class="align-middle text-center">{{ exp_sum.we_sum|intcomma }}<br>{{ exp_count }} events</td>
          <td class="align-middle text-center">{{ pre_sum.p_sum|intcomma }}<br>{{ pre_count }} events</td>
        </tr>
        <tr>
          <th class="align-middle text-center">Confirmed<br>Experience</th>
          <td class="align-middle text-center">{{ tot_sum_c|intcomma }}</td>
          <td class="align-middle text-center">{{ train_sum_c.Edu_sumc|intcomma }}<br>{{ train_count_c }} events</td>
          <td class="align-middle text-center">{{ exp_sum_c.we_sumc|intcomma }}<br>{{ exp_count_c }} events</td>
          <td class="align-middle text-center">{{ pre_sum_c.p_sumc|intcomma }}<br>{{ pre_count_c }} events</td>
        </tr>
      </tbody>
    </table>
    <div class="float-right">
      <p>
        <a href="{% url 'Talent:DPCSum' tlt %}" class="badge badge-pill badge-primary">Designation, Project & Company Summary</a>
        <a href="{% url 'Talent:ExperienceSum' tlt %}" class="badge badge-pill badge-primary">Skills Summary</a>
      </p>
    </div>
    <p>Experience Level: <strong><span data-toggle="tooltip" data-placement="top" title="Logged + Pre-logged hours">{{ level }}</span></strong>
    <a href="{% url 'MarketPlace:HelpExperienceLevel' %}" target="_blank">
      <i class="fa fa-flag" aria-hidden="true" style="font-size:20px;color:black" data-toggle="tooltip" title="Breakdown of Experience levels"></i>
    </a></p>
    <p class="text-center">
      <strong>Confirmed Experience has been approved by more than 2 people and has a score greater than 3.</strong><br>
      Only confirmed experience is used in matching experience to vacancies.
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="group col-md-6 mb-0">
    <div class="card h-100">
      <div class="card-body">
        <h3 id="request" class="text-center" data-toggle="tooltip" title="Requests you have made">Requisitions</h3>
        <table class="table table-sm">
          <col width="25%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <thead>
            <tr>
              <th class="align-middle text-center">As</th>
              <th class="align-middle text-center">Confirm</th>
              <th class="align-middle text-center">Reject</th>
              <th class="align-middle text-center">Wrong<br>Person</th>
              <th class="align-middle text-center">Waiting</th>
              <th class="align-middle text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="align-middle text-center">Lecturer</td>
                <td class="align-middle text-center">{{ edu_req_lect_c }}</td>
                <td class="align-middle text-center">{{ edu_req_lect_r }}</td>
                <td class="align-middle text-center">{{ edu_req_lect_y }}</td>
                <td class="align-middle text-center">{{ edu_req_lect_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqLectList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">ClassMate</td>
                <td class="align-middle text-center">{{ edu_req_cm_c }}</td>
                <td class="align-middle text-center">{{ edu_req_cm_r }}</td>
                <td class="align-middle text-center">{{ edu_req_cm_y }}</td>
                <td class="align-middle text-center">{{ edu_req_cm_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqCmList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Colleague</td>
                <td class="align-middle text-center">{{ exp_req_clg_c }}</td>
                <td class="align-middle text-center">{{ exp_req_clg_r }}</td>
                <td class="align-middle text-center">{{ exp_req_clg_y }}</td>
                <td class="align-middle text-center">{{ exp_req_clg_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqClgList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Superior</td>
                <td class="align-middle text-center">{{ exp_req_sup_c }}</td>
                <td class="align-middle text-center">{{ exp_req_sup_r }}</td>
                <td class="align-middle text-center">{{ exp_req_sup_y }}</td>
                <td class="align-middle text-center">{{ exp_req_sup_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqSupList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Client</td>
                <td class="align-middle text-center">{{ exp_req_clt_c }}</td>
                <td class="align-middle text-center">{{ exp_req_clt_r }}</td>
                <td class="align-middle text-center">{{ exp_req_clt_y }}</td>
                <td class="align-middle text-center">{{ exp_req_clt_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqCltList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Collaborator</td>
                <td class="align-middle text-center">{{ exp_req_cbr_c }}</td>
                <td class="align-middle text-center">{{ exp_req_cbr_r }}</td>
                <td class="align-middle text-center">{{ exp_req_cbr_y }}</td>
                <td class="align-middle text-center">{{ exp_req_cbr_s }}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'Talent:ReqClbList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="View Detail"></i>
                  </a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="group col-md-6 mb-0">
    <div class="card h-100">
      <div class="card-body">
        <h3 id="confirm" class="text-center" data-toggle="tooltip" title="Requests you have confirmed">Confirmations</h3>
        <table class="table table-sm">
          <col width="25%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <col width="15%">
          <thead>
            <tr>
              <th class="align-middle text-center">As</th>
              <th class="align-middle text-center">Confirm</th>
              <th class="align-middle text-center">Reject</th>
              <th class="align-middle text-center">Wrong<br>Person</th>
              <th class="align-middle text-center">Waiting</th>
              <th class="align-middle text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="align-middle text-center">Lecturer</td>
                <td class="align-middle text-center">{{ edu_lect_c }}</td>
                <td class="align-middle text-center">{{ edu_lect_r }}</td>
                <td class="align-middle text-center">{{ edu_lect_y }}</td>
                <td class="align-middle text-center">{{ edu_lect_s }}</td>
                <td class="align-middle text-center">
                  {% if edu_lect_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Lect">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsLectList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true" style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">ClassMate</td>
                <td class="align-middle text-center">{{ edu_cm_c }}</td>
                <td class="align-middle text-center">{{ edu_cm_r }}</td>
                <td class="align-middle text-center">{{ edu_cm_y }}</td>
                <td class="align-middle text-center">{{ edu_cm_s }}</td>
                <td class="align-middle text-center">
                  {% if edu_cm_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Cm">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsCmList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Colleague</td>
                <td class="align-middle text-center">{{ exp_clg_c }}</td>
                <td class="align-middle text-center">{{ exp_clg_r }}</td>
                <td class="align-middle text-center">{{ exp_clg_y }}</td>
                <td class="align-middle text-center">{{ exp_clg_s }}</td>
                <td class="align-middle text-center">
                  {% if exp_clg_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Clg">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsClgList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Superior</td>
                <td class="align-middle text-center">{{ exp_sup_c }}</td>
                <td class="align-middle text-center">{{ exp_sup_r }}</td>
                <td class="align-middle text-center">{{ exp_sup_y }}</td>
                <td class="align-middle text-center">{{ exp_sup_s }}</td>
                <td class="align-middle text-center">
                  {% if exp_sup_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Sup">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsSupList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Client</td>
                <td class="align-middle text-center">{{ exp_clt_c }}</td>
                <td class="align-middle text-center">{{ exp_clt_r }}</td>
                <td class="align-middle text-center">{{ exp_clt_y }}</td>
                <td class="align-middle text-center">{{ exp_clt_s }}</td>
                <td class="align-middle text-center">
                  {% if exp_clt_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Clt">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsCltList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-center">Collaborator</td>
                <td class="align-middle text-center">{{ exp_cbr_c }}</td>
                <td class="align-middle text-center">{{ exp_cbr_r }}</td>
                <td class="align-middle text-center">{{ exp_cbr_y }}</td>
                <td class="align-middle text-center">{{ exp_cbr_s }}</td>
                <td class="align-middle text-center">
                  {% if exp_cbr_s > 0 %}
                    <a href="{% url 'Profile:Confirm' %}#Clb">
                      <i class="fa fa-paint-brush" aria-hidden="true" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Review Waiting Requests"></i>
                    </a>
                  {% endif %}
                  <a href="{% url 'Talent:CAsClbList' %}?next={{ request.path|urlencode }}">
                    <i class="fa fa-binoculars" aria-hidden="true"style="font-size:25px;color:black" data-toggle="tooltip" data-placement="top" title="See Expanded List"></i>
                  </a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Do you think this information was useful?</h3>
    <p class="text-center">In order to make sure your friends are already invited to the MyWeXlog experience for validations, Click here ..</p>
    <div class="float-right">

      <!--
    <a class="btn btn-primary"  href="https://oauth2provider.com/auth?response_type=code&client_id=CLIENT_KEY&redirect_uri=CALLBACK_URI&scope=profile&scope=email">Invite Goole Contacts</a>  -->
    <a class="btn btn-primary"  href="{% url 'Invitation:FlatInvite' %}">Email Friend Invite</a>
    </div>
  </div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr align="middle">
          <th class="align-middle text-center">Skills</th>
          <th class="align-middle text-center">Skills List</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <th class="align-middle text-center">{{ skill_count }}</th>
          <td>{{ skill_name|join:" || " }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:HelpExperienceEducation' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title" id="education">Education & Training</h4>
    <p>There are a total of <strong>{{ train_count }}</strong> Training & Education experience items that have been captured{% if train_count >= 5 %}, we only list the most recent 5 here.{% else %}.{% endif %}</p>
    <br>
    <div class="float-right">
      <p><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary float-right">Add Education</a></p>
    </div>
      <p><strong>Total hours in training: </strong>{{ train_sum.Edu_sum|intcomma }}</p>
    <div>
    <table class="table table-hover table-sm">
      <thead>
        <tr class="no-hover">
          <th class="align-middle text-center">Start Date</th>
          <th class="align-middle text-center">Completion Date</th>
          <th class="align-middle text-center">Course</th>
          <th class="align-middle text-center">Time Logged</th>
          <th class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">Score</th>
          <th class="align-middle text-center">Options</th>
        </tr>
      </thead>
      {% for t in train %}
      <tbody>
          <td class="align-middle text-center">{{ t.date_from|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ t.date_to|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ t.course }}</td>
          <td class="align-middle text-center">{{ t.topic.hours|intcomma }}</td>
          <td class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ t.score }}</td>
          <td class="align-middle text-center"><div class="float-right">
            <a href="{% url 'Talent:EducationDetail' t.slug %}" class="badge badge-pill badge-secondary" style="width: 5rem;">Detail</a>
            <form  action="{% url 'Talent:EDTDelete' t.id %}" method="post">
              {% csrf_token %}
              <button type="submit" onclick="return confirm('Remove item - Are you sure?');" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
            </form></div>
          </td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
    {% if train_count > 5 %}
    <div class="float-right">
      <p><a href="{% url 'Talent:TrainingList' %}" class="btn btn-primary float-right">View All Education</a></p>
    </div>
    {% endif %}
    <p>&nbsp</p>
    </div>
  </div>
</div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:HelpExperienceExperience' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title" id="experience">Work Experience</h4>
    <p>There are a total of <strong>{{ exp_count }}</strong> Experience items that have been captured{% if exp_count >= 5 %}, we only list the most recent 5 here.{% else %}.{% endif %}</p>
    <br>
      <div class="float-right">
        <p><a href="{% url 'Talent:ExperienceCapture' %}" class="badge badge-pill badge-primary float-right">Add Experience</a></p>
      </div>
        <p><strong>Total hours of Experience: </strong>{{ exp_sum.we_sum|intcomma }}</p>
      <table class="table table-hover table-sm">
        <thead>
          <tr class="no-hover">
            <th class="align-middle text-center">Employer</th>
            <th class="align-middle text-center">Date from</th>
            <th class="align-middle text-center">Date to</th>
            <th class="align-middle text-center">Hours</th>
            <th class="align-middle text-center">Project</th>
            <th class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">Score</th>
            <th class="align-middle text-center">Actions</th>
          </tr>
        </thead>
        {% for e in experience %}
        <tbody>
          <tr onclick="window.location='{% url 'Talent:ExperienceDetail' e.slug %}'">
            <td class="align-middle text-center">{{ e.company }}</td>
            <td class="align-middle text-center">{{ e.date_from|date:"j M Y" }}</td>
            <td class="align-middle text-center">{{ e.date_to|date:"j M Y" }}</td>
            <td class="align-middle text-center">{{ e.hours_worked|intcomma }}</td>
            <td class="align-middle text-center">{{ e.project }}</td>
            <td class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ e.score }}</td>
            <td class="align-middle text-center"><div class="float-right">
              <a href="{% url 'Talent:ExperienceDetail' e.slug %}" class="badge badge-pill badge-secondary"  style="width: 5rem;">Detail</a>
              <form  action="{% url 'Talent:WEDelete' e.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;" onclick="return confirm('Remove item - Are you sure?');">Remove</button>
              </form></div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if exp_count > 5 %}
      <div class="float-right">
        <p><a href="{% url 'Talent:ExperienceList' %}" class="btn btn-primary float-right">View All Experience</a></p>
      </div>
      {% endif %}
      <p>&nbsp</p>
    </div>
  </div>
<br>
<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <div class="float-right">
      <a href="{% url 'Talent:HelpExperiencePreExperience' %}" target="_blank" class="align-middle" data-toggle="tooltip" title="Click here for help on this page!" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
      <i class="icon icon-question-circle"></i></a>
    </div>
    <h4 class="card-title" id="pre-experience">Previously Logged Experience</h4>
    <p>There are a total of <strong>{{ pre_count }}</strong> Previously Logged experience items that have been captured{% if pre_count >= 5 %}, we only list the most recent 5 here.{% else %}.{% endif %}</p>
    <br>
      <div class="float-right">
        <p><a href="{% url 'Talent:PreloggedCapture' %}" class="badge badge-pill badge-primary float-right">Add Logged Experience</a></p>
      </div>
      <p><strong>Total hours of Previously Logged Experience: </strong>{{ pre_sum.p_sum|intcomma }}</p>
    <table class="table table-hover table-sm">
      <thead>
        <tr class="no-hover">
          <th class="align-middle text-center">Employer</th>
          <th class="align-middle text-center">Date from</th>
          <th class="align-middle text-center">Date to</th>
          <th class="align-middle text-center">Hours</th>
          <th class="align-middle text-center">Project</th>
          <th class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">Score</th>
          <th class="align-middle text-center">Actions</th>
        </tr>
      </thead>
      {% for p in prelog %}
      <tbody>
        <tr onclick="window.location='{% url 'Talent:PreLogDetail' p.slug %}'">
          <td class="align-middle text-center">{{ p.company }}</td>
          <td class="align-middle text-center">{{ p.date_from|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ p.date_to|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ p.hours_worked|intcomma }}</td>
          <td class="align-middle text-center">{{ p.project }}</td>
          <td class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ p.score }}</td>
          <td class="align-middle text-center"><div class="float-right">
            <a href="{% url 'Talent:PreLogDetail' p.slug %}" class="badge badge-pill badge-secondary" style="width: 5rem;">Detail</a>
            <form  action="{% url 'Talent:PLEDelete' p.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;" onclick="return confirm('Remove item - Are you sure?');">Remove</button>
            </form></div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if pre_count > 5 %}
    <div class="float-right">
      <p><a href="{% url 'Talent:PreExperienceList' %}" class="btn btn-primary float-right">View All Experience</a></p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block Script %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#log_detail').click(function(e){
      alert($(e.currentTarget).attr("value"));
    });
  });


</script>
{% endblock Script %}
