{% extends "base_home.html" %}
{% load humanize %}

{% block title %}{{block.super}}-Training & Education List{% endblock title %}

{% block content %}
<div class="card border-0">
  <div class="card-body">
  <h4 class="">Training & Education - Full List<span><p class="float-right">
    <a href="{% url 'Talent:Home' %}"  class="btn btn-primary">Back</a>
    <a href="{% url 'MarketPlace:HelpWorkCOnfigeration' %}" target="_blank" class="align-middle" style="font-size: 27px"><i class="icon icon-question-circle"></i></a>
  </p></span></h4>
  <p>There are a total of {{ train_count }} Training & Education experience items that have been captured.</p>
  <br>

    <div class="float-right">
      <p><a href="{% url 'Talent:Capture' %}" class="badge badge-pill badge-primary float-right">Add Education</a></p>
    </div>
      <p><strong>Total hours in training: </strong>{{ train_sum.Edu_sum|intcomma }}</p>
    <div>
    <table class="table table-hover table-sm">
      <thead>
        <tr class="no-hover">
          <th class="align-middle text-center">Start Date</th>
          <th class="align-middle text-center">Completion Date</th>
          <th class="align-middle text-center">Course</th>
          <th class="align-middle text-center">Time Logged</th>
          <th class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">Score</th>
          <th class="align-middle text-center">Options</th>
        </tr>
      </thead>
      {% for t in pageitems %}
      <tbody>
        <tr onclick="window.location='{% url 'Talent:EducationDetail' t.slug %}'">
          <td class="align-middle text-center">{{ t.date_from|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ t.date_to|date:"j M Y" }}</td>
          <td class="align-middle text-center">{{ t.course }}</td>
          <td class="align-middle text-center">{{ t.topic.hours|intcomma }}</td>
          <td class="align-middle text-center" data-toggle="tooltip" data-placement="top" title="A score > 3 is required to achieve a 'confirmed' status">{{ t.score }}</td>
          <td class="align-middle text-center"><div class="float-right">
            <a href="{% url 'Talent:EducationDetail' t.slug %}" class="badge badge-pill badge-secondary" style="width: 5rem;">Detail</a>
            <form  action="{% url 'Talent:EDTFDelete' t.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="badge badge-danger badge-pill" style="width: 5rem;">Remove</button>
            </form></div>
          </td>
        </tr>
      </tbody>
    {% endfor %}
    </table>

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>

  </div>
</div>

{% endblock content %}
