{% extends "base_home.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<div class="">
  <h1 class="display-4">About Us!</h1>
  <p class="lead">Our goal is to provide our members with affordable experience
    tracking and quality vacancies.</p>

    <p>&nbsp</p>
    <p><a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/twittera.png' %}" alt="Twitter"></a> &nbsp
      <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/facebooka.png' %}" alt="Facebook"></a> &nbsp
        <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/linkedinb.png' %}" alt="LinkedIn"> &nbsp
          <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/youtube.png' %}" alt="Youtube"></a></p>

  <hr class="my-4">
  <p>&nbsp</p>
  <h2>Who we are</h2>
    <p>WexLog.io is a division of DevOpTec (Pty.) Ltd (ABN: 0000) a tech company formed in
    the territories of Quensland, Australia. WeXlog began in the early months of 2019 and
    was officually launched in October of 2019.</p>
    <p><a href="{% url 'Public:AboutUs' %}">James Keir</a> is the CEO of the company and the
     management includes experienced executives with experience in programming, database administration,
     data security and business development.</p>
    <p>WeXlog is a supplemental portal to the portals aimed at professional people which
      capture their experience via static means, CV’s, etc, we directly capture
      a person’s experience and provide a trust passport and provide access to international
      work prospects.</p>
    <p>We directly quantify the experience of an establishment as well as for the people
      that work within it.</p>

  <p>&nbsp</p>
  <h2>Mission</h2>
    <p>WeXlog's mission is to create a portal that is aimed at allowing people to capture
      their experience and have it ratified or signed off by their clients / superiors.</p>
    <p>WeXlog is designed to allow people that have been working for several years which will
      have a large amount of experience that may not be able to be authorised as they no
      longer work with those clients or at the company any longer. The portal allows people
      to capture this time, however this is displayed as such.</p>
    <p>The captured time will then be saved against their profile, available for people to
      search for that experience.</p>
    <p>Once captured, clients requiring skills or services should perform a search and find
      people with the needed experience. The results would be displayed in terms of distance
      from the prospective client, experience and ratings.</p>

  <p>&nbsp</p>
  <h2>The Problem</h2>
    <p>The working world is moving toward a gig economy at an increasing rate. In this
      economy, people offer their skills on a freelance basis, marketing their abilities
      through their networks. There are methods through which people can market their
      abilities available, however these methods are static and do not give an indication
      as to the level of experience a person has apart from the length of their working
      career.</p>
    <p>These methods are also inconsistent in that a person that has over 10 years overall
      experience, in construction for example, but has only been involved in airport
      construction for 1 year does not easily get noticed.</p>
    <p>Similarly, in the service industry, people do not know what experience
      technicians/mechanics etc. have when it comes to their particular need. If you had an
      Audi diesel, you would want to identify the mechanic that has the most experience with
      that car as well as whether they offer a quality service.<p>
    <p>In the service industry it is possible to rate a person’s service using platforms
      currently available, however, that rating may be made by a person that does not have
      your car. Indeed, the mechanic in question may be an expert on another model but know
      very little of yours.</p>
    <p>In the professional services industry one can source skills from a global market,
      but the question remains: How do you find people with ratified experience in the field
      you require.</p>
    <p>The concept of a timesheet is familiar with many people in the legal, engineering,
      accounting, and many other fields. But this system is designed to measure the amount
      of work performed for billing purposes.</p>
    <p>By extending this system, one can add the knowledge and skill used in performing
      that work and build up a knowledge base which is approved by a client or superior,
      not simply added in an uncontrolled fashion.</p

  <p>&nbsp</p>
  <h2>The Solution</h2>
    <p>WeXlog is designed to be a system that creates a trust passport of unverified
      experience on a dynamic level capturing the training and education as well as
      the work experience skills.</p>
    <p>No matter what industry you work in you need to be able to quantify the skills
      that you developed over the lifespan of your career and provide a marketable
      portfolio that you will be able to send to you prospective clients, employers
      or collegues to qualify who you are and what experience you have in the performance
      of your work.</p>
    <p>The WeXlog solution allows you to do that is a concise, dynamic method by
      capturing your experience in continual daily, weekly or bi-weekly updates. This
      ensures that you have a full portfolio available at the click of a button apply
      for thet vacancy or bid that is available.</p>


</div>

{% endblock content %}
