{% extends "base_public.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container">
  <p>&nbsp</p>
  <p>&nbsp</p>
  <h1 class="display-4">Advertise Personal Skills, Experience and Availability</h1>
  <p class="lead">Marketing of your skills is a central core activity of the WexLog
    platform.</p>
  <hr class="my-4">
  <p>The core objective of WexLog is to facilitate the recording of skills and
    achievements that you generate in the course of your daily activities and make
    them available on a platform that markets those skills to suitable bids and
    positions. By utilising WexLog these skills and achievements with referrals
    and recomendations from your collegues. supervisors and clients enable you
    to market yourself and your living CV for vacancies on which you are able
    to bid on as well as for positions that become available.</p>
  <p>You are providing a platform to bring your capabilities to the attention of
    customers, clients and employers. Wexlog allows you to engage and demonstrate
    continuous learning, ongoing beneficial activities and internal communication
    of those skills whilst in your day to day actions at work.</p>
  <p>Business activities that you practice daily and apply to the development
    of your career through the use of technology allow you to work faster and
    smater in every field, using the facility WexLog provides allows you to
    market and develop those skills in the development of your career.</p>
  <p>In order to market your skills and living CV you need to capture, on a
    weekly or fortnightly basis, your activities into the WexLog portal
    through the use of the 'Add Experience' or 'Add Education' forms.</p>
  <p>This will automatically generate a listing of 'Vacancies' or positions
    that you will be able to 'Bid' on.</p>
</div>

{% endblock content %}
