{% extends "base_public.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

<div class="wexlog3">
<section id="find-the-right-person" class="">
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="title title1">
        <h2>Find the right person to do your work</h2>
      </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card border-0 bg-transparent" style="width: 18rem;">
                <div class="card border-0 bg-transparent" style="width: 18rem;">
                  <p>&nbsp</p>
                  <img class="card-img-top" src="{% static 'images/landing_page/serv1.jpg' %}" alt="Capture">

                </div>
                <div class="card border-0 bg-transparent">
                  <div class="card-clear">
                    <div class="card-body">
                    <div class="title3">

                        <h5>Looking for that perfect fit</h5>
                        </div>
                    <p class="card-text">In order to find the right person for the
                      work you have in mind, be it that you are looking for consultants,
                      independant contractors or freelancers for the short term position
                      or a project that requires a specific result or for a longer term
                      project ranging in years employment to a full time permanent position,
                      WexLog has the means and the ability to help you source the perfect
                      candidate from the listing of hourly updated skills and up to date
                      references on the work performed as it happened.</p>
                  </div>
                  </div>
                </div>
            </div>
            </div>

            <div class="col-sm-6">
              <div class="card border-0 bg-transparent" style="width: 18rem;">
                  <div class="card border-0 bg-transparent" style="width: 18rem;">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="card border-0 bg-transparent" style="width: 18rem;">
                          <div class="card-clear">
                            <div class="card-body">
                              <div class="title3">
                                <img src="{% static 'images/landing_page/box.png' %}" alt="Card image cap">

                                </div>

                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="card border-0 bg-transparent">
                          <div class="card-clear">
                            <div class="card-body">
                            <div class="title3">

                                <h5>POST A VACANCY</h5>
                                </div>
                            <p class="card-text">Compare bids received, reviews, and work
                              experience history. Interview your favourites and hire the best
                              fit, and do all of this with an understanding of the performance
                              of the person or company under consideration in the past.</p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card border-0 bg-transparent" style="width: 18rem;">

                              <a href="{% url 'Public:PostVacancy' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
                              <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>

                        </div>
                      </div>

                  </div>

              </div>
            </div>


            <div class="row">
              <div class="col-sm-2">
                <div class="card border-0 bg-transparent" style="width: 18rem;">
                  <div class="card-clear">
                    <div class="card-body">
                      <div class="title3">
                        <img src="{% static 'images/landing_page/search.png' %}" alt="Card image cap">

                        </div>

                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="card border-0 bg-transparent">
                  <div class="card-clear">
                    <div class="card-body">
                      <div class="title3">

                          <h5>SEARCH FOR YOUR DESIRED CANDIDATES</h5>
                          </div>
                      <p class="card-text">Compare the range of skills and qualified
                        validations that are completed to shortlist a selected few
                        potential candidates that you can contact directly for a more
                        in depth research with the internal messaging system</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="card border-0 bg-transparent" style="width: 18rem;">
                <div class="card border-0 bg-transparent" style="width: 18rem;">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card border-0 bg-transparent" style="width: 18rem;">

                            <a href="{% url 'Public:SearchCandidates' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
                            <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>

                      </div>
                    </div>

                </div>

            </div>
          </div>





        </div>
      </div>
    </div>
</section>


<p>&nbsp</p>
<p>&nbsp</p>


<section id="freelancers and permanent" class="">
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="title title1 title-r">
        <h2>Freelancers and permanent staff</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent" style="width: 18rem;">
              <div class="card border-0 bg-transparent" style="width: 18rem;">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="card border-0 bg-transparent" style="width: 18rem;">
                      <div class="card-clear">
                        <div class="card-body">
                          <div class="title3">
                            <img src="{% static 'images/landing_page/temp.png' %}" alt="Card image cap">

                            </div>

                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="card border-0 bg-transparent">
                      <div class="card-clear">
                        <div class="card-body">
                        <div class="title3">

                            <h5>CONSULTANTS, CONTRACTORS & FREELANCERS</h5>
                            </div>
                        <p class="card-text">WexLog takes the work and cost out of finding new projects
                          and assignments by automatically sorting the vacancies available that
                          match your skill set.</p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="card border-0 bg-transparent" style="width: 18rem;">

                          <a href="{% url 'Public:ShortTerm' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
                          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>

                    </div>
                  </div>

              </div>

          </div>
        </div>


        <div class="row">
          <div class="col-sm-2">
            <div class="card border-0 bg-transparent" style="width: 18rem;">
              <div class="card-clear">
                <div class="card-body">
                  <div class="title3">
                    <img src="{% static 'images/landing_page/perm.png' %}" alt="Card image cap">

                    </div>

              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="card border-0 bg-transparent">
              <div class="card-clear">
                <div class="card-body">
                  <div class="title3">

                      <h5>PERMANENT POSITIONS</h5>
                      </div>
                  <p class="card-text">Thinking of looking for a new permanent
                    position?<br>
                    Thinking of taking the next step in your career?</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 bg-transparent" style="width: 18rem;">
            <div class="card border-0 bg-transparent" style="width: 18rem;">

              <div class="row">
                <div class="col-sm-12">
                  <div class="card border-0 bg-transparent" style="width: 18rem;">

                        <a href="{% url 'Public:Permanent' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
                        <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card border-0 bg-transparent" style="width: 18rem;">
          <div class="card border-0 bg-transparent" style="width: 18rem;">
            <p>&nbsp</p>
            <img class="card-img-top" src="{% static 'images/landing_page/serv2.jpg' %}" alt="Capture">

          </div>
          <div class="card border-0 bg-transparent">
            <div class="card-clear">
              <div class="card-body">
              <div class="title3">

                  <h5>Looking for that perfect fit</h5>
                  </div>
              <p class="card-text">WexLog makes it easy to find the right position,
                be it a part-time position or a permanent position. Once you have
                captured your education, skills, certificates and hours worked with
                validations, Wexlog automatically catagorises the vacancies available
                according to the information you have captured and then lists those
                vacancies for you to peruse at your leasure selecting the ones you
                desire and allowing you to bid on the positions, with motivations
                and bidding rates as you feel the vacancy requires.</p>
            </div>
            </div>
          </div>
      </div>
      </div>



      </div>
    </div>
  </div>
</section>


<p>&nbsp</p>
<p>&nbsp</p>


<section id="freelancers and permanent" class="">
  <div class="jumbotron-fluid">
    <div class="container">
      <div class="title title1 title-r">
        <h2>Freelancers and permanent staff</h2>
      </div>
      <div class="title title1">

        <div class="row">
          <div class="col-sm-6">
          <div class="card border-0" style="width: 18rem;">
            <div class="card-clear">
              <div class="card-body">
                <div class="title1">
              <h5>CONSULTANTS, CONTRACTORS & FREELANCERS</h5>
                </div>
              <p class="card-text">Tired of the time-consuming and money-intensive
                search for projects that meet your skills, qualifications and
                abilities? WexLog takes the work and cost out of finding new projects
                and assignments by automatically sorting the vacancies available
                that match your skill set.</p>
              <a href="{% url 'Public:ShortTerm' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
              <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>
            </div>
          </div>
          </div>

          <div class="card border-0" style="width: 18rem;">
            <div class="card-clear">
              <div class="card-body">
                <h5>PERMANENT POSITIONS</h5>
              <p class="card-text">Thinking of looking for a new permanent position? <br>
                Thinking of taking the next step in your career?</p>
              <p class="card-text">WexLog makes it easy.</p>
              <a href="{% url 'Public:Permanent' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
              <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Subscribe Now</a>
            </div>
          </div>
          </div>


          </div>
        <div class="col-sm-6">
          <div class="card border-0" style="width: 18rem;">
              <div class="card border-0" style="width: 18rem;">
                <p>&nbsp</p>
                <img class="card-img-top" src="{% static 'images/landing_page/card_pic4.jpg' %}" alt="Capture">

              </div>
              <p>&nbsp</p>
          </div>
          </div>


          </div>

      </div>
    </div>
    <p>&nbsp</p>
  </div>
</section>

</div>




<section id="references" class="">
  <div class="container pt-3">
    <div class="title">
      <center>
        <p>&nbsp</p>
      <h1 class="display-4">References</h1>
      <p>&nbsp</p>
      </center>

      <blockquote class="blockquote">
      </blockquote>

      <div class="row">

        <div class="col-sm-3">
          <div class="card border-0" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Engineers</h5>
                <p class="card-text">James used WexLog for a month and found the perfect job.<br>&nbsp</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEngineer">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalEngineer" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalEngineerLongTitle">Engineer Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        "WexLog.io has been the single most helpful tool
                          in recording my skill base and securing freelance work that I
                          have used, it is easy to capture and available positions that
                          match my qualifications are automatically listed for me to
                          select.  No more hard work!"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-sm-3">
          <div class="card border-0" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Freelancers</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalFreelancers">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalFreelancers" tabindex="-1" role="dialog" aria-labelledby="exampleModalFreelancresTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Freelancers Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        "WexLog.io has been the single most helpful tool
                          in recording my skills base and securing freelance work that I
                          have used, it is easy to capture and available positions that
                          match my qualifications are automatically listed for me to
                          select.  No more hard work!"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pilots</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalPilot">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalPilot" tabindex="-1" role="dialog" aria-labelledby="exampleModalPilotTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Pilot Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{% static 'images/landing_page/Architect.mp4' %}" allowfullscreen></iframe>
                          </div>
                        "Place the pilots reference or youtube video here"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nurses</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Button trigger modal -->
                  <center>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalNurse">
                    View Reference
                  </button>
                  </center>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalNurse" tabindex="-1" role="dialog" aria-labelledby="exampleModalNurseTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Nurse Reference</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          "Place the nurse's reference or youtube video here"
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <p>&nbsp</p>



        <p>&nbsp</p>
      </div>
      </div>
      <p>&nbsp</p>
    </div>
</section>


<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Trusted Since 2019</h2>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          <p class="display-4" align="center">2,103</p>
        </div>
        <div class="col-sm-2">
          <p class="display-4" align="center">6,986</p>
        </div>
        <div class="col-sm-2">
          <p class="display-4" align="center">2,189</p>
        </div>
        <div class="col-sm-2">
          <p class="display-4" align="center">3,684</p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>

<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      SKILLS
    </div>
    <div class="col-sm-2">
      MEMBERS
    </div>
    <div class="col-sm-2">
      ENTERPRISES
    </div>
    <div class="col-sm-2">
      VACANCIES
    </div>
    <div class="col-sm-3">
    </div>
  </div>


      <table class="">
        <tbody>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <tr>
            <td class="display-4" align="center">{{ scount }}</td>
            <td class="display-4" align="center">{{ mcount }}</td>
            <td class="display-4" align="center">{{ ecount }}</td>
            <td class="display-4" align="center">{{ vcount }}</td>
          </tr>
          <tr>
            <td align="center">SKILLS</td>
            <td align="center">MEMBERS</td>
            <td align="center">ENTERPRISES</td>
            <td align="center">VACANCIES</td>
          </tr>
        </tbody>
      </table>
    <center>
  </div>
</div>




    <div class="container">


      <div id="accordion" class="myaccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="fa-stack d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                <span class="fas fa-chevron">
                  <i class="fas fa-chevron-down"></i>
                  <i class="fas fa-chevron-up"></i>
                </span>
              </button>
            </h2>
          </div>
            <div class="card-body">

            </div>
          </div>

        </div>
        <div class="">
          <div id="accordion" class="myaccordion">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="fa-stack d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Find the companies and resources that fit your requirements.
                <span class="fas fa-chevron">
                  <i class="fas fa-chevron-down"></i>
                  <i class="fas fa-chevron-up"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">Whether you are a large corporation or a small business
                you need to hire the right person to do the job. The needs of companies
                change rapidly in the modern world.
                They become more specialized and more complex. The search to
                find people to meet those needs is often difficult, and it is
                made more complex by the need to determine whether the claims
                made by those people are justified.</p>
              <p class="lead">WexLog solves those problems by offering a single source to
                find those people, each with a trust passport verified work history. If you
                don’t immediately find the particular skills-set you are
                seeking, WexLog makes it easy to post your requirement in a
                place where qualified candidates will find it, and then
                respond to you.</p>
            </div>
          </div>
          </div>
        </div>
        <div class="">
          <div id="accordion" class="myaccordion">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="fa-stack d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                International Portfolio of skills
                <span class="fas fa-chevron">
                  <i class="fas fa-chevron-down"></i>
                  <i class="fas fa-chevron-up"></i>
                </span>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">WexLog’s international listing of skills is
                widely recognized and trusted. It embraces an extensive
                portfolio of skills and industries. This is ensured by a
                contemporaneous recording of work performance and project
                history, and the real-time evaluation of performance by a
                responsible third-party supervisor or a qualified colleague
                makes WexLog a simple to use, reliable and trustworthy
                resource for marketing your skills or seeking qualified
                employees, contractors or skills suppliers</p>
            </div>
          </div>
          </div>

        </div>
    </div>

      <p>&nbsp</p>
      <p>&nbsp</p>
      <center>
        <p>&nbsp</p>
      <h3 class="display-4">Benefits</h3>
      <p>&nbsp</p>
      </center>

      <center>
      <h3>Company Benefits</h3>
      </center>

      <div id="accordion" class="myaccordion">
        <div class="card">
          <div class="card-header fa-stack" id="headingAssets">
            <h5 class="mb-0">
              <button class="btn btn-link fa-stack" data-toggle="collapse" data-target="#collapseAssets" aria-expanded="true" aria-controls="collapseAssets">
                List your company assets
                  <span>
                    <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow2.png' %}" height="28px" width="28px" alt="arrow">
                  </span>
              </button>
            </h5>
          </div>

          <div id="collapseAssets" class="collapse" aria-labelledby="headingAssets" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">WexLog allows you to set out your company for the world to
                see. If they don’t know who you are, what you can do and what you offer,
                they may not know about you. WexLog is the right place to set out the
                information potential customers and star employees need to fit you into
                their plans:</p>
              <p class="lead"><ul>
                <li class="lead">Your plant, machinery and work capabilities</li>
                <li class="lead">Your skills</li>
                <li class="lead">Your experience</li>
                </ul>
              <p class="lead">Best of all, your entry is always there when customers look
                for those assets, and they can search for you with the click of a mouse,
                without a need to search through their files for the brochures they picked
                up at a Trade Show, if they remember who to look for! WexLog allows your
                company to be always front of mind when a customer has a need, or when a
                good potential employee is considering his next career move. Can you
                afford to settle for obscurity?</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingResources">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseResources" aria-expanded="false" aria-controls="collapseResources">
                Find the companies and resources that fit your requirements.
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow2.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseResources" class="collapse" aria-labelledby="headingResources" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">Whether you are a large corporation or a small business
                you need to hire the right person to do the job. The needs of companies
                change rapidly in the modern world.
                They become more specialized and more complex. The search to
                find people to meet those needs is often difficult, and it is
                made more complex by the need to determine whether the claims
                made by those people are justified.</p>
              <p class="lead">WexLog solves those problems by offering a single source to
                find those people, each with a trust passport verified work history. If you
                don’t immediately find the particular skills-set you are
                seeking, WexLog makes it easy to post your requirement in a
                place where qualified candidates will find it, and then
                respond to you.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingPortfolio">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapsePortfolio" aria-expanded="false" aria-controls="collapsePortfolio">
                International Portfolio of skills
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow2.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapsePortfolio" class="collapse" aria-labelledby="headingPortfolio" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">WexLog’s international listing of skills is
                widely recognized and trusted. It embraces an extensive
                portfolio of skills and industries. This is ensured by a
                contemporaneous recording of work performance and project
                history, and the real-time evaluation of performance by a
                responsible third-party supervisor or a qualified colleague
                makes WexLog a simple to use, reliable and trustworthy
                resource for marketing your skills or seeking qualified
                employees, contractors or skills suppliers</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingProductised">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseProductised" aria-expanded="false" aria-controls="collapseProductised">
                Productised Resources
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseProductised" class="collapse" aria-labelledby="headingProductised" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">A company often does not need a full-time resource,
                but nonetheless needs the skill for a period or regular periods.
                This is an increasing feature of the modern world, but, unfortunately,
                it is often disproportionately difficult and expensive to find the
                one person who will satisfy your needs. No longer! Wexlog allows
                you to search an extensive list of qualified and verified candidates,
                and to choose your ideal one. You can choose the skill, the education,
                the experience and the level of advancement you want.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingExperience">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
                Confirmed Experience
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseExperience" class="collapse" aria-labelledby="headingExperience" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">Have you had the experience of finding a
                candidate who appears, on the surface, to offer the
                experience you need, only to find that the experience claimed
                is largely in his or her mind?</p>
              <p class="lead">The problem is exacerbated by the fact that the institutional
                memory of a particular employee or contractor is generally limited
                or even non-existent, and some companies even have a policy of not
                giving testimonials to departing employees or contractors that set
                out more than simply the fact and dates of their employment.</p>
              <p class="lead">WexLog prevents that, by giving members the ability to log their
                experience, together with evaluations by named and responsible
                supervisors or colleagues while they are still frsh in their minds,
                and to make that available to you at the click of your mouse. You
                avoid the delay and expense of confirming the claimed experience,
                and you are able to track the development and performance over
                years!</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTrust">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseTrust" aria-expanded="false" aria-controls="collapseTrust">
                Trust Passport
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseTrust" class="collapse" aria-labelledby="headingTrust" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">Create your trust passport of qualified references.<br>
                WexLog enables employers and contractees to record the details of the
                requirements and their performance in it at the time it takes place. It
                solves the problem of needing to track down the responsible manager in
                respect of work that was performed months or even years before, a problem
                that has become more significant in recent years, with an increase in the
                rate of change of management at all levels of organizations, which often
                makes it impossible to obtain a subsequent certification of more than the
                simple fact of that employment. WexLog ensures that the recording of the job
                and performance in it is made at the time it happens!</p>
            </div>
          </div>
        </div>



      </div>

      <p>&nbsp</p>
      <center>
      <h3>Personal Benefits</h3>
      </center>
      <div id="accordion" class="myaccordion">
        <div class="card">
          <div class="card-header" id="headingAdvetise">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseAdvertise" aria-expanded="false" aria-controls="collapseAdvertise">
                Advertise Experience
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseAdvertise" class="collapse" aria-labelledby="headingAdvertise" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">WexLog offers members the opportunity to place their work
                activities, skills and qualifications, on a searchable database all in a place
                trusted by recruiters and those looking for difficult to find skills and
                attributes. Best of all, the fact that the claims made by members are audited
                and certified by a third party, giving the searchers the assurance that what
                they find is what they will get, without the tedious process of checking, of
                verifying claims of performance made years ago.<br>
                How often have you been forced to explain to an enquirer that the work was done
                by a manager who is now retired, or has moved to another company or another
                country? WexLog makes that a thing of the past! How often have you seen an
                ideal job advertised, with the closing date for application ten days ago? That
                is no longer a problem with a WexLog membership!</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFreelance">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseFreelance" aria-expanded="false" aria-controls="collapseFreelance">
                Enable freelancers and consultants
                  to advertise their <br>experience and their offering
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseFreelance" class="collapse" aria-labelledby="headingFreelance" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">Often, the hardest, most expensive and most
                time-consuming part of the Freelancer and Consultant’s lives is
                the process of finding the work! WexLog allows you to place a
                standing advertisement of what you can offer, making it available
                to a targeted search by a qualified employer, and the fact that
                WexLog allows you to accumulate the work you have done and the
                confirmation of its quality ensures that the potential employers
                who find you already know that your work is of the required
                quality. Best of all, when you have done work for a company in
                the past, WexLog ensures that you remain front-of-mind, even
                after a period of years.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingPersonalExperience">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapsePersonalExperience" aria-expanded="false" aria-controls="collapsePersonalExperience">
                Productise Experience
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapsePersonalExperience" class="collapse" aria-labelledby="headingPersonalExperience" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">How do you bring to potential users the skills
                and experience you have? How do you display your innovative
                capabilities, your attention to detail, your high level of
                productivity to potential clients and employers? How do you
                put yourself in the world market?</p>
              <p class="lead">WexLog enables you to put on record your unique set of
                skills, education, experience and capabilities, the qualities
                that make you stand out in a crowd, to offer them to the
                world, whether across the city or across the world. It gives
                you freedom of choice!</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingViewSkills">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseViewSkills" aria-expanded="false" aria-controls="collapseViewSkills">
                View Skills Internationally
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseViewSkills" class="collapse" aria-labelledby="headingViewSkills" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">View skills available and required internationally. Skills
                and experience are increasingly becoming internationally relevant, but
                the process of finding them has not become easier. Now, WexLog offers
                members the opportunity to set out their skills and experience to the
                world, while allowing those looking for those skills and experience to
                search for them internationally, simply by the click of a mouse.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSearchApply">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseSearchApply" aria-expanded="false" aria-controls="collapseSearchApply">
                Search & Apply
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseSearchApply" class="collapse" aria-labelledby="headingSearchApply" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">WexLog members are able to conduct a simple
                search for positions or contracts that match what they are
                seeking and are able to offer. When the choice has been
                made, the application process is almost as simple as
                clicking your mouse.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingWysiwyg">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed fa-stack" data-toggle="collapse" data-target="#collapseWysiwyg" aria-expanded="false" aria-controls="collapseWysiwyg">
                WYSIWYG
                <span>
                  <img class="btn-image" align="right" src="{% static 'images/landing_page/arrow.png' %}" height="28px" width="28px" alt="arrow">
                  <i class="fas fa-angle-down"></i>
                </span>
              </button>
            </h5>
          </div>
          <div id="collapseWysiwyg" class="collapse" aria-labelledby="headingWysiwyg" data-parent="#accordion">
            <div class="card-body">
              <p class="lead">The process of entering experience, education
                and skills into WexLog as they are gained, ensures that the
                recruiter knows precisely what he or she is getting. There
                is no need to undergo the tedious process of checking the
                detail of references and claims provided by the other side.
                What you see is what you get! That is why WexLog is known as
                a trusted source for recruitment of staff, contractors and
                consultants, each one with a documented and verified history.</p>
            </div>
          </div>
        </div>

      </div>


{% endblock content %}
