{% extends "base_public.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<p>&nbsp</p>

<section id="header" class="">

  <div class="card bg-dark text-white">
      <img src="{% static 'images/landing_page/hand5.jpg' %}"  class="img-fluid" alt="WexLog.io" decoding="async">

      <div class="card-img-overlay">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <h2>Verify the hours spent developing your skills<br>
          and automatically match to positions <br>
          suited to your skillset</h2>
        <p class="lead">Experience tracking and skills marketing made easy.</p>
        <p class="card-text">Match the skills you need for any position within minutes <br>
          from our listing of talented professionals</p>
        <p>&nbsp</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Search for Skills Available</a>
        &nbsp
        <a class="btn btn-success btn-lg" href="#" role="button">&nbsp&nbsp&nbspSearch for Vacancies&nbsp&nbsp&nbsp</a></p>

      </div>
  </div>
</section>

<section id="features" class="">
  <div class=" jumbotron-fluid">
    <div class="container">
      <p>&nbsp</p>
      <p>&nbsp</p>
    <div class="row">
    <div class="col-sm-4">
      <div class="card bg-light mb-3" style="width: 18rem;">
        <a href="{% url 'Public:Capture' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/Icon_capture.png' %}" alt="Capture"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">CAPTURE AND VERIFY EXPERIENCE</h5>
          </center>
          <p class="card-text">Capture your education, training and work
            experience and then have it verified and validated by your
            colleagues, classmates, superiors, lecturers, collaborators,
            employers and clients. Develop a qualified listing of skills
            and work experience, in detail such as hours spent on projects.
            Show a living CV of developing skills, abilities and work
            experience.
          <br>&nbsp</p>

          <a href="{% url 'Public:Capture' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <a href="{% url 'Public:TrustPassport' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/Icon_trust.png' %}" alt="Trust Passport"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">CREATE AN ONLINE TRUST PASSPORT</h5>
          </center>
          <p class="card-text">By obtaining a validation from you client or
            employer, you create an on-line verified repository of client
            referral comments, confirmations by colleagues, associates and
            superiors from project inception to completion, giving you a
            trustworthy online source of references, skills and certifications.
          <br>&nbsp<br>&nbsp</p>
          <a href="{% url 'Public:TrustPassport' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <a href="{% url 'Public:Advertise' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/Icon_advertise.png' %}" alt="Skils & Experience"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">ADVERTISE PERSONAL SKILLS, EXPERIENCE AND AVAILABILITY</h5>
          </center>
          <p class="card-text">Let the world know your personal skills and
            experience, and let them know that you are available to fill a
            slot, all backed up with verified and qualified references and
            records. WexLog makes it easy for you to bring your capabilities
            to the attention of potential customers, clients and employes, and
            for them to find you when they need what you offer.
            <br>&nbsp</p>
          <a href="{% url 'Public:Advertise' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
        </div>
      </div>
      </div>

      </div>
      <p>&nbsp</p>

    </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="280px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Find the right person to do your work, be they <br>short term or permanent staff</h2>
    <p class="card-text">Make sure that the candidate you chose to fill the
      role is a great fit on all levels, <br>from a skill set match to alignment
      with your company culture.</p>
    <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">Subscribe Now</a></p>

    </center>
  </div>
</div>

<section id="need work done" class="">
  <div class=" jumbotron-fluid">
    <div class="container">
      <p>&nbsp</p>
      <p>&nbsp</p>
      <div class="title">
        <center>
          <h1 class="display-4">Need work done</h1>
        <p>&nbsp</p>
        </center>
    <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-3" style="width: 18rem;">
        <a href="{% url 'Public:PostVacancy' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/card_pic2.jpg' %}" alt="Capture"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">POST A VACANCY</h5>
          </center>
          <p class="card-text">The process is simple and easy to post a job or a vacancy that is available,
            simply fill out the vacancy form with all the details you require specifying the desired skills,
            rate and number of hours expected and have automatically matched prospective members submit
            bids to your inbox.</p>
          <p>Compare bids received, reviews, and work experience history. Interview
            your favorites and hire the best fit.<br>&nbsp</p>
          <a href="{% url 'Public:PostVacancy' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>

        </div>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <a href="{% url 'Public:SearchCandidates' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/card_pic.jpg' %}" alt="Trust Passport"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">SEARCH FOR YOUR DESIRED CANDIDATES</h5>
          </center>
          <p class="card-text">If you are looking for that perfect fit, that
            candidte that has a particular skill set with proven hours,
            you can do a search using WexLog's search facility.</p>
          <p>Compare the range of skills and qualified validations that are
            completed to shortlist a selected few potential candidates that
            you can contact directly for a more in depth research with the
            internal messaging system..<br>&nbsp</p>
          <a href="{% url 'Public:SearchCandidates' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
        </div>
      </div>
      </div>

      </div>
      <p>&nbsp</p>

    </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="280px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Suitable for independent contractors, consultants, <br>freeancers and permanent staff</h2>
    <p class="card-text">Match the skills you need for any position within minutes <br>
      from our listing of talented professionals</p>
    <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">Subscribe Now</a></p>

    </center>
  </div>
</div>

<section id="short term and permanent staff" class="">
  <div class=" jumbotron-fluid">
    <div class="container">
      <p>&nbsp</p>
      <p>&nbsp</p>
      <div class="title">
        <center>
          <h1 class="display-4">Short Term and Permanent Staff</h1>
        <p>&nbsp</p>
        </center>
    <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-3" style="width: 18rem;">
        <a href="{% url 'Public:ShortTerm' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/card_pic3.jpg' %}" alt="Capture"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">CONSULTANTS, CONTRACTORS & FREELANCERS</h5>
          </center>
          <p class="card-text">Capture your education & training as well as work experience and get it validated by
            your colleagues, superiors, lecturers, class mates, collaborators and clients to develop a qualified listing
            of time spent working for a company, hours spent on project and
            hours spent developing skills.<br>&nbsp</p>
          <a href="{% url 'Public:ShortTerm' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>

        </div>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <a href="{% url 'Public:Permanent' %}">
        <img class="card-img-top" src="{% static 'images/landing_page/card_pic4.jpg' %}" alt="Trust Passport"></a>
        <div class="card-body">
          <center>
          <h5 class="card-title">PERMANENT POSITIONS</h5>
          </center>
          <p class="card-text">By requesting validation from clients you can create an online
            repository of not only the client referral comments, but colleagues, associates
            and superiors from the day when the project was finished allowing you to
            have a trustworthy online living CV for references, skills and education.
            <br>&nbsp</p>
          <a href="{% url 'Public:Permanent' %}" class="btn btn-outline-primary btn-block">Read More ..</a>
          <a href="{% url 'Payments:SubscriptionSelect' %}" class="btn btn-outline-success btn-block">Get Started Now</a>
        </div>
      </div>
      </div>

      </div>
      <p>&nbsp</p>

    </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="280px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>We have a long list of satisfied members, <br>be they skills providers or skills seekers</h2>
    <p class="card-text">WexLog is used and trusted by professionals of all types</p>
    <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">Subscribe Now</a></p>

    </center>
  </div>
</div>

<section id="references" class="">
  <div class="container pt-3">
    <div class="title">
      <center>
        <p>&nbsp</p>
      <h1 class="display-4">References</h1>
      <p>&nbsp</p>
      </center>

      <blockquote class="blockquote">
      </blockquote>

      <div class="row">

        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Engineers</h5>
                <p class="card-text">James used WexLog for a month and found the perfect job.<br>&nbsp</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEngineer">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalEngineer" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalEngineerLongTitle">Engineer Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        "WexLog.io has been the single most helpful tool
                          in recording my skill base and securing freelance work that I
                          have used, it is easy to capture and available positions that
                          match my qualifications are automatically listed for me to
                          select.  No more hard work!"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Freelancers</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalFreelancers">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalFreelancers" tabindex="-1" role="dialog" aria-labelledby="exampleModalFreelancresTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Freelancers Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        "WexLog.io has been the single most helpful tool
                          in recording my skills base and securing freelance work that I
                          have used, it is easy to capture and available positions that
                          match my qualifications are automatically listed for me to
                          select.  No more hard work!"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pilots</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button trigger modal -->
                <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalPilot">
                  View Reference
                </button>
                </center>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalPilot" tabindex="-1" role="dialog" aria-labelledby="exampleModalPilotTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Pilot Reference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{% static 'images/landing_page/Architect.mp4' %}" allowfullscreen></iframe>
                          </div>
                        "Place the pilots reference or youtube video here"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/landing_page/face5.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nurses</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Button trigger modal -->
                  <center>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalNurse">
                    View Reference
                  </button>
                  </center>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalNurse" tabindex="-1" role="dialog" aria-labelledby="exampleModalNurseTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Nurse Reference</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          "Place the nurse's reference or youtube video here"
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <p>&nbsp</p>



        <p>&nbsp</p>
      </div>
      </div>
      <p>&nbsp</p>
    </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Benefits for both companies and individuals</h2>
    <p class="card-text">Build a qualified database of the skills that you
      have at your disposal and the makeup <br>
      of your company from the skills that you or your employees list in WexLog</p>
    <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">Get Started Now</a></p>

    <center>
  </div>
</div>

<section id="benefits" class="">
  <div class="jumbotron-fluid">
    <div class="container pt-3">

    <div class="title">
      <center>
        <p>&nbsp</p>
      <h3 class="display-4">Benefits</h3>
      <p>&nbsp</p>
      </center>

      <center>
      <h3>Company Benefits</h3>
          <details>
            <summary class="blockquote">List Your Company Assets</summary>
            <p class="lead">Find the companies and resources that fit your
              requirements.</p>
            <p class="lead">The needs of companies change rapidly in the modern world.
              They become more specialized and more complex. The search to
              find people to meet those needs is often difficult, and it is
              made more complex by the need to determine whether the claims
              made by those people are justified.</p>
            <p class="lead">WexLog solves those problems by offering a single source to
              find those people, each with a verified work history. If you
              don’t immediately find the articular skills-set you are
              seeking, WexLog makes it easy to post your requirement in a
              place where qualified candidates will find it, and then
              respond to you.</p>
          </details>
          <details>
            <summary class="blockquote">Find Resources</summary>
            <p class="lead">Find the companies and resources that fit your
              requirements.</p>
            <p class="lead">The needs of companies change rapidly in the modern world.
              They become more specialized and more complex. The search to
              find people to meet those needs is often difficult, and it is
              made more complex by the need to determine whether the claims
              made by those people are justified.</p>
            <p class="lead">WexLog solves those problems by offering a single source to
              find those people, each with a verified work history. If you
              don’t immediately find the articular skills-set you are
              seeking, WexLog makes it easy to post your requirement in a
              place where qualified candidates will find it, and then
              respond to you.</p>
          </details>
          <details>
            <summary class="blockquote">International Portfolio of skills</summary>
            <p class="lead">WexLog’s international listing of skills is
              widely recognized and trusted. It embraces an extensive
              portfolio of skills and industries. This is ensured by a
              contemporaneous recording of work performance and project
              history, and the real-time evaluation of performance by a
              responsible third-party supervisor or a qualified colleague
              makes WexLog a simple to use, reliable and trustworthy
              resource for marketing your skills or seeking qualified
              employees, contractors or skills suppliers</p>
          </details>
          <details>
            <summary class="blockquote">Productised Resources</summary>
            <p class="lead">A company often does not need a full-time resource,
              but nonetheless needs the skill for a period or regular periods.
              This is an increasing feature of the modern world, but, unfortunately,
              it is often disproportionately difficult and expensive to find the
              one person who will satisfy your needs. No longer! Wexlog allows
              you to search an extensive list of qualified and verified candidates,
              and to choose your ideal one. You can choose the skill, the education,
              the experience and the level of advancement you want.</p>
          </details>
          <details>
            <summary class="blockquote">Confirmed Experience</summary>
            <p class="lead">Have you had the experience of finding a
              candidate who appears, on the surface, to offer the
              experience you need, only to find that the experience claimed
              is largely in his or her mind?</p>
            <p class="lead">The problem is exacerbated by the fact that the institutional
              memory of a particular employee or contractor is generally limited
              or even non-existent, and some companies even have a policy of not
              giving testimonials to departing employees or contractors that set
              out more than simply the fact and dates of their employment.</p>
            <p class="lead">WexLog prevents that, by giving members the ability to log their
              experience, together with evaluations by named and responsible
              supervisors or colleagues while they are still frsh in their minds,
              and to make that available to you at the click of your mouse. You
              avoid the delay and expense of confirming the claimed experience,
              and you are able to track the development and performance over
              years!</p>
          </details>
          <details>
            <summary class="blockquote">Trust Passport</summary>
            <p class="lead">Create your trust passport of qualified references.<br>
              WexLog enables employers and contractees to record the details of the
              requirements and their performance in it at the time it takes place. It
              solves the problem of needing to track down the responsible manager in
              respect of work that was performed months or even years before, a problem
              that has become more significant in recent years, with an increase in the
              rate of change of management at all levels of organizations, which often
              makes it impossible to obtain a subsequent certification of more than the
              simple fact of that employment. WexLog ensures that the recording of the job
              and performance in it is made at the time it happens!</p>
          </details>
          <p>&nbsp</p>
          <h3>Personal Benefits</h3>
          <details>
            <summary class="blockquote">Advertise Experience</summary>
            <p class="lead">WexLog offers members the opportunity to place their work
              activities, skills and qualifications, on a searchable database all in a place
              trusted by recruiters and those looking for difficult to find skills and
              attributes. Best of all, the fact that the claims made by members are audited
              and certified by a third party, giving the searchers the assurance that what
              they find is what they will get, without the tedious process of checking, of
              verifying claims of performance made years ago.<br>
              How often have you been forced to explain to an enquirer that the work was done
              by a manager who is now retired, or has moved to another company or another
              country? WexLog makes that a thing of the past! How often have you seen an
              ideal job advertised, with the closing date for application ten days ago? That
              is no longer a problem with a WexLog membership!</p>
          </details>
          <details>
            <summary class="blockquote">Enable freelancers and consultants
              to advertise <br>their experience and their offering</summary>
            <p class="lead">Often, the hardest, most expensive and most
              time-consuming part of the Freelancer and Consultant’s lives is
              the process of finding the work! WexLog allows you to place a
              standing advertisement of what you can offer, making it available
              to a targeted search by a qualified employer, and the fact that
              WexLog allows you to accumulate the work you have done and the
              confirmation of its quality ensures that the potential employers
              who find you already know that your work is of the required
              quality. Best of all, when you have done work for a company in
              the past, WexLog ensures that you remain front-of-mind, even
              after a period of years.</p>
          </details>
          <details>
            <summary class="blockquote">Productise Experience</summary>
            <p class="lead">How do you bring to potential users the skills
              and experience you have? How do you display your innovative
              capabilities, your attention to detail, your high level of
              productivity to potential clients and employers? How do you
              put yourself in the world market?</p>
            <p class="lead">WexLog enables you to put on record your unique set of
              skills, education, experience and capabilities, the qualities
              that make you stand out in a crowd, to offer them to the
              world, whether across the city or across the world. It gives
              you freedom of choice!</p>
          </details>
          <details>
            <summary class="blockquote">View Skills Internationally</summary>
            <p class="lead">View skills available and required internationally. Skills
              and experience are increasingly becoming internationally relevant, but
              the process of finding them has not become easier. Now, WexLog offers
              members the opportunity to set out their skills and experience to the
              world, while allowing those looking for those skills and experience to
              search for them internationally, simply by the click of a mouse.</p>
          </details>
          <details>
            <summary class="blockquote">Search & Apply</summary>
            <p class="lead">WexLog members are able to conduct a simple
              search for positions or contracts that match what they are
              seeking and are able to offer. When the choice has been
              made, the application process is almost as simple as
              clicking your mouse.</p>
          </details>
          <details>
            <summary class="blockquote">WYSIWYG</summary>
            <p class="lead">The process of entering experience, education
              and skills into WexLog as they are gained, ensures that the
              recruiter knows precisely what he or she is getting. There
              is no need to undergo the tedious process of checking the
              detail of references and claims provided by the other side.
              What you see is what you get! That is why WexLog is known as
              a trusted source for recruitment of staff, contractors and
              consultants, each one with a documented and verified history.</p>
          </details>
          <p>&nbsp</p>
    </center>

      </div>
    </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="260px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>No commissions or add on fees,<br>
      your membership fee is all you pay!
      <br>&nbsp</h2>
      <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">Subscribe Now</a></p>
    </center>
  </div>
</div>

<section id="quote" class="">
  <div class="container pt-3">
    <div class="title">
      <center>
        <p>&nbsp</p>
      <h3 class="display-4">Quote</h3>
      <p>&nbsp</p>

      <blockquote class="blockquote">
        <p class="lead">“Rather than use traditional contracting agencies, many companies
          will switch to using a dynamic, technology-based solution to find the right
          workers. They will simply put out a request for X number of Y type of workers,
          along with plenty of data about what an ideal candidate would look like”</p>
        <footer class="blockquote-footer"> (Miessler, 2018) <cite title="Source Title">
          <a href="https://danielmiessler.com/blog/the-future-of-work-is-everyone-running-the-work-app/" target="_blank">
            The Future of Work is Everyone Running the “Work” App</a></cite></footer>
      </blockquote>
      <p>&nbsp</p>
      <p>&nbsp</p>
      </center>
    </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Trusted Since 2019</h2>

      <table class="">
        <tbody>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <tr>
            <td class="display-4" align="center">2,099</td>
            <td class="display-4" align="center">5,649</td>
            <td class="display-4" align="center">1,024</td>
            <td class="display-4" align="center">1,086</td>
          </tr>
          <tr>
            <td align="center">SKILLS</td>
            <td align="center">MEMBERS</td>
            <td align="center">ENTERPRISES</td>
            <td align="center">VACANCIES</td>
          </tr>
        </tbody>
      </table>
    <center>
  </div>
</div>

<section id="more about us" class="">
  <div class="jumbotron-fluid">
    <div class="title">
      <center>
        <p>&nbsp</p>
      <h3 class="display-4">More About Us</h3>
      <p class="lead">Let James explain a little bit about how the WexLog site works.</p>

      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{% static 'images/landing_page/Architect.mp4' %}" allowfullscreen></iframe>
        </div>

        </center>

</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Subscribe Now!
      <br>&nbsp</h2>
      <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">&nbsp&nbsp&nbsp&nbsp Subscribe &nbsp&nbsp&nbsp&nbsp</a></p>
    </center>
  </div>
</div>

<section id="search" class="">
  <center
  <p>&nbsp</p>
  <h1 class="display-4">Search Our Skills</h1>
  <p>&nbsp</p>

  <div class="form-group mx-sm-3 mb-2">
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Search for Skills Available</a>
    &nbsp
    <a class="btn btn-primary btn-lg" href="#" role="button">&nbsp&nbsp&nbspSearch for Vacancies&nbsp&nbsp&nbsp</a></p>

    </div>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>

  </center>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Benefit from experience across different industries</h2>
    <p class="card-text">With experience that goes above and beyond we are able to deliver a user
      experience across the world<br>
      for your company from the skills that you or your employees list in WexLog</p>
    <center>
  </div>
</div>

<section id="subscription" class="">
  <div class="container pt-3">
    <div class="container pt-3">
  <div class="jumbotron-fluid">

    <div class="title">
      {% include "subscription_payments/subscription.html" %}
      
      <center>
        <p>&nbsp</p>
      </center>

    </div>

  </div>
  </div>
  </div>
</section>

<div class="card bg-dark text-white">
  <img class="" src="{% static 'images/landing_page/bar.jpg' %}" height="240px" alt="colour bar">
  <div class="card-img-overlay">
    <center>
    <p>&nbsp</p>
    <h2>Get Started Now!
      <br>&nbsp</h2>
      <p><a class="btn btn-success btn-lg" href="{% url 'Payments:SubscriptionSelect' %}" role="button">&nbsp&nbsp&nbsp&nbsp Subscribe &nbsp&nbsp&nbsp&nbsp</a></p>
    </center>
  </div>
</div>

<section id="bottom menu" class="">
  <div class="container">
  <div class="row">
    <p>
      <table class="table table-sm">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">

        <tbody>
          <tr>
            <th scope="col" align="center"></th>
            <th scope="col" align="center">About</th>
            <th scope="col" align="center">Terms</th>
            <th scope="col" align="center">Support</th>
          </tr>
          <tr>
            <td align="left">
              <ul class="list-unstyled">
                <li>DevOpTec (Pty.) Ltd T/A WeXlog</li>
                <li>32 Viewland Crescent</li>
                <li>Thornlands, Queensland</li>
                <li>Australia, 4164</li>
                <li>&nbsp</li>
                <li>ABN: 4164</li>
                <li>Telephone: +61 000 0000</li>
                <li>Email: info@wexlog.io</li>
              </ul>
            </td>
            <td align="left">
              <ul class="list-unstyled">
                <li><a href="{% url 'Public:AboutUs' %}">About us</a></li>
                <li><a href="{% url 'Public:DataProtection' %}">Data Privacy Officer</a></li>
              </ul>
            </td>
            <td align="left">
              <ul class="list-unstyled">
                <li><a href="{% url 'Public:Privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'Public:UserAgreement' %}">User Agreement</a></li>
                <li><a href="{% url 'Public:Cookies' %}">Cookie Policy</a></li>
                <li><a href="{% url 'Public:RightToSayNo' %}">Right to Say No to Sale of Personal Information</a></li>
              </ul>
            </td>
            <td align="left">
              <ul class="list-unstyled">
                <li><a href="{% url 'Public:ContactUs' %}">Contact us</a></li>
                <li><a href="{% url 'Public:Suggestions' %}">Site Suggestions</a></li>
                <li><a href="{% url 'Public:HelpSupport' %}">Help & Support</a></li>
                <li>&nbsp</li>
                <li>&nbsp</li>
                <li><a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/twittera.png' %}" height="30" width="30" alt="Twitter"></a> &nbsp
                  <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/facebooka.png' %}" height="30" width="30" alt="Facebook"></a> &nbsp
                  <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/linkedinb.png' %}" height="30" width="30" alt="LinkedIn"></a> &nbsp
                  <a href="{% url 'Public:AboutUs' %}"><img src="{% static 'images/social-media/youtube.png' %}" height="30" width="30" alt="Youtube"></a></li>

              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </p
    </div>

  </div>
</section>

<section id="copyright" class="">
  <div class="container">
  <div>
    <p><small>Copyright © 2019 DevOpTec Pty Limited (ACN 142 189 759)</small></p>
  </div>
  </div>
</section>

      </div>
    </div>
  </div>

{% endblock content %}
