{% extends "base_public.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container">
  <p>&nbsp</p>
  <p>&nbsp</p>
  <h1 class="display-4">Permanent Positions</h1>
  <p class="lead">Finding the perfit fit position is easy with WexLog.</p>
  <hr class="my-4">
  <p>Whether you are seriously looking for a new position, or just
    considering it as a possibility, or wanting to take that next step in
    your career and not finding it in your present employer, WexLog allows
    you to make a facts-based assessment of the market, without high cost
    and without disclosing your attentions to the world until you are ready.
    WexLog brings together in an easily-searchable database a broad range
    of potential employers, whether they are presently looking for someone
    like you or have not yet reached that stage. When you have decided which
    potential employers are right for you, you can make the approach through
    WexLog, to reach the part of the organisation that is most receptive to
    your offer, without having to climb the organisational ladder, with all
    its uncertainties. WexLog gives you the information you need to make a
    targeted, rational approach in a private discussion, and without the
    formalistic delays often associated with such actions. Even better,
    your Trust Passport on WexLog, a contemporaneous recording of your work
    and experience, verified by your employer, your supervisor or a
    colleague, provides excellent evidence of your work history, avoiding
    the need for voluminous correspondence with such people who can attest
    to your skills, something that you may wish to avoid at a sensitive time.</p>
  <p>The search for a permanent employee poses risks: finding the right person
    can also entail telling your competitors what you are looking for, perhaps
    tipping them off before you are ready to tell the world of your needs.
    WexLog allows you insight into what is available, the availability of
    skills that can help you to achieve your staffing objectives. You can
    make a targeted approach to he people you want, knowing in advance what
    you will be getting. WexLog takes the guesswork and hope out of
    recruitment, providing verified facts on which to base a sound
    decision. Best of all, WexLog permits you to act quickly and effectively,
    at the lowest possible cost.</p>
</div>

{% endblock content %}
