{% extends "base_public.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <p>&nbsp</p>
  <p>&nbsp</p>
  <h1 class="display-4">Post a Vacancy</h1>
  <p class="lead">Post a vacancy and have the bids come to you.</p>
  <hr class="my-4">
  <p>Finding the right consultant, contractor or
    freelancer can be a nightmare, requiring extensive investigation
    and checking. When the job is completed, you sit back and relax,
    to prepare for the next round, often needing to undergo the whole
    process again, because the best of those available are committed
    on other projects, or you have lost track of them and have to start
    the process from the beginning again after a year or three. WexLog
    avoids that nightmare.</p>
  <p>With WexLog you can post your short term positions for
    consultants, contractors and freelancers as well as for permanent staff
    positions and have the members that are available place their bids on the
    vacancies posted. All you need to do is companre the bids received and
    evaluate which one suits your budget, your skill set requirements and
    cultural fit with the motivation that is provided on every bid.</p>
  <p>WexLog sets out for you a good selection of
    the people with the education, skills and experience you need, each
    one with a verified CV and a present and future availability, all up
    to the minute, so that you can make a good, informed choice of
    candidates to shortlist or even simply approach.</p>
</div>

{% endblock content %}
