{% extends "base_home.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}

<div class="">
  <h1 class="display-4">Right to Say No to Sale of Personal Information</h1>
  <p class="lead">Californian Law requires that we provide you with access to a feature
    that allows you the right to say 'no' to the sale of personal information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the \
    larger container.</p>
</div>

{% endblock content %}
