{% extends "base_public.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container">
  <p>&nbsp</p>
  <p>&nbsp</p>
  <h1 class="display-4">Search for your Desired Candidates</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
    calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>The search for a permanent employee poses
    risks: finding the right person can also entail telling your
    competitors what you are looking for, perhaps tipping them off
    before you are ready to tell the world of your needs. WexLog
    allows you insight into what is available, the availability of
    skills that can help you to achieve your staffing objectives.
    You can make a targeted approach to the people you want, knowing
    in advance what you will be getting. WexLog takes the guesswork
    and hope out of recruitment, providing verified facts on which to
    base a sound decision. Best of all, WexLog permits you to act
    quickly and effectively, at the lowest possible cost.</p>
</div>

{% endblock content %}
