<!--DEV-L(POL)DI001#39R00_00~MyWeXlog Cookie Policy-->
<h2>Cookie Policy</h2>
<p>Effective on 25 May 2020</p>
<br>

<p>This document provides information on how MyWeXlog uses cookies.</p>

<br>
<h3>The Purpose of Cookies</h3>
<p>MyWeXlog uses cookies to ensure that your use of our site offers the best experience possible. When you become a User of MyWeXlog’s services you consent to the use of cookies and other devices for the purposes described below.</p>
<p>A cookie is a file placed on your communication device that permits our service to function In an optimal way, by allowing us to identify your device and maintain the security of our dealings with you.</p>
<p>They also enable us to understand your requirements in dealing with us, and to improve our offerings to you. We place cookies on any browser interacting with us, or with our affiliated sites.</p>
<p>Our persistent cookies allow us to recognise you when you access our sites, reducing the need for you to sign in to each site or service, and our session cookies remain stored in your browser only for the duration of your visit to a site or service.</p>
<p>The cookies enable us to recognise you when you visit, to remember your preferences and to personalise your visit. They also permit us to bring customised advertising and connections.</p>
<p>The types of cookies we use include the following</p>
<table class="table table-sm">
  <col width="30%">
  <col width="65%">
  <thead>
    <th class="align-middle">Category</th>
    <th class="align-middle">Description</th>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">User identification</td>
      <td class="align-middle">Helps us to identify you and your desires</td>
    </tr>
    <tr>
      <td class="align-middle">Security</td>
      <td class="align-middle">Identify your device and so enhance our security measures</td>
    </tr>
    <tr>
      <td class="align-middle">Preferences and Services</td>
      <td class="align-middle">Identify your settings and preferences, as well as the services you’ve signed up for. They include language preferences, form-filling assistance, and enhanced content in line with your browsing patterns. Cookies may be used to identify your actions on advertisers’ sites, and so enable us to make advertising available in line with your desires.</td>
    </tr>
    <tr>
      <td>Performance analysis and research</td>
      <td>Understanding your responses is important in enabling us to improve how our sites and services meet your needs across a wide range of activities.</td>
    </tr>
  </tbody>
</table>

<br>
<h3>Do Not Track (DNT)</h3>
<p>DNT is designed to maximize your ability to control what information we and others collect in
relation to your activities on the websites we and our affiliates use. As no worldwide standard is yet in place, the extent of our ability to respond to DNT is presently limited.</p>
<br>
<h3>Use of Cookies for Advertising</h3>
<p>Cookies and similar data collection methods permit us to collect information on your devices, so allowing us and our affiliates to use our enhanced understanding of your needs and desires to direct our offerings to you. They may provide some data collected by us to be viewed by third parties, and they may permit third party browsers to view, edit and set cookies, as they might if you browsed their site directly. Certain identifying items of data may be associated by us with your account, and be available to third parties, and we also aggregate data from third parties and data from your profile and your MyWeXlog activity. We may continue to log your activity in connection with your account for up to thirty days after you log out, in order to generate data for analysis for our services. We may share this data with third parties.</p>
<p>This information may be used to:</p>
<ol>
  <li>Provide advertising that is based on your interests, and so be more relevant to you</li>
  <li>Generate analytical data on advertising responses to advertisers and website hosts</li>
  <li>Generate aggregate reports of responses to advertising</li>
  <li>Protect users and partners against the risk of fraud and similar activity</li>
  <li>Improve our products and offerings to you by better understanding your needs and desires</li>
</ol>
<br>
<h3>Third Party Cookies</h3>
<p>It is possible that third parties may place cookies on your device through our sites and services. The sites of third parties visited through our sites and services may be used to determine their own cookie policies.</p>
<br>
<h3>Cookie Control</h3>
<p>Most browsers permit you to control cookies through the ‘Settings’ functions, but you should note that, by limiting the use of cookies, it is likely that you will degrade your experience in using a site, and may make certain functionalities unavailable to you.</p>
<br>
<h3>Opting out of Cookies</h3>
<p>You may opt out of our use of cookies by selecting the ‘Cookies’ function in your ‘Settings’ control, or by controlling the use of cookies through your browser. If these controls are not set, MyWeXlog will assume that you do not object to the use of cookies by us or our affiliates.</p>

<br>
<h3>What types of cookies does MyWeXlog use?</h3>
<p>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it’s easier to return to MyWeXlog or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by MyWeXlog when you return to one of our sites or a partner site that uses our services. Session cookies only last for as long as the session (usually the current visit to a website or a browser session).</p>

<br>
<h3>What are cookies used for?</h3>
<p>Cookies can be used to recognize you when you visit MyWeXlog, remember your preferences, and give you a personalized experience that’s in line with your settings.</p>
<p>Cookies also make your interactions with MyWeXlog faster and more secure.</p>
<p>Additionally, cookies allow us to bring you advertising both on and off the MyWeXlog sites, and bring customized features to you through MyWeXlog plugins such as the MyWeXlog Invite.</p>

<table class="table table-sm">
  <col width="30%">
  <col width="65%">
  <thead>
    <th class="align-middle">Categories of Use</th>
    <th class="align-middle">Description</th>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">Authentication</td>
      <td class="align-middle">If you’re signed in to MyWeXlog, cookies help us show you the right information and personalize your experience.</td>
    </tr>
    <tr>
      <td class="align-middle">Security</td>
      <td class="align-middle">We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our User Agreement.</td>
    </tr>
    <tr>
      <td class="align-middle">Preferences, features and services</td>
      <td class="align-middle">Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on MyWeXlog more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Policy.</td>
    </tr>
    <tr>
      <td class="align-middle">Advertising</td>
      <td class="align-middle">We may use cookies to show you relevant advertising both on and off the MyWeXlog site. We may also use a cookie to learn whether someone who saw an ad later visited and took an action (e.g. downloaded a white paper or made a purchase) on the advertiser’s site. Similarly, our partners may use a cookie to determine whether we’ve shown an ad and how it performed, or provide us with information about how you interact with ads. We may also work with a partner to show you an ad on or off MyWeXlog, such as after you’ve visited a partner’s site or application.</td>
    </tr>
    <tr>
      <td class="align-middle">Performance, Analytics and Research</td>
      <td class="align-middle">Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access MyWeXlog from other websites, applications, or devices such as your work computer or your mobile device.</td>
    </tr>
  </tbody>
</table>


<br>
<h3>How are cookies used for advertising purposes?</h3>
<p>Cookies and other ad technology help us deliver relevant ads to you more effectively. They help us provide audit, research, and report information to advertisers, to help them and us understand and improve our service, and know when you have seen content. Because your web browser may request advertisements and beacons directly from third party ad network servers, these networks can view, edit, or set third party cookies, just as if you had requested a web page from their site. Ads served by MyWeXlog may also set third party cookies.</p>
<p>If you are logged in on MyWeXlog.com, or another Service that references this Cookie Policy or browsing a third party partner site of MyWeXlog and one of our cookies on your device identifies you, your usage (such as your browsing behavior) and log data (such as your IP address), will be associated by us with your account as noted in our Privacy Policy. We also use data from third  parties and data from your profile and MyWeXlog activity.</p>
<p>If you are a MyWeXlog member but logged out of your account on a browser, MyWeXlog may still continue to log your interaction with our services on that browser for up to 30 days in order to generate usage analytics for our services, which analytics we may share in aggregate form with our advertising customers.</p>
<p>Unless you clear these cookies from your browser, we may use this information to:</p>
<ul>
  <li>provide more relevant, interest-based advertising</li>
  <li>provide aggregate reports of ads activity to advertisers and websites hosting the ads</li>
  <li>help website and app owners understand how visitors engage with their sites or apps</li>
  <li>detect and defend against fraud and other risks to protect users and partners</li>
  <li>improve our products</li>
</ul>
<p>For further information regarding our use of cookies and similar technologies for advertising purposes, and the controls available to Members and Visitors, please see our <a href="{% url 'Users:LoginPrivacyPolicy' %}">Privacy Policy</a>.</p>

<br>
<h3>What to do if you don’t want cookies to be set or want them to be removed?</h3>
<p>If you do not want to receive cookies, you can change your browser settings on your computer or other device you’re using to access our services. If you use MyWeXlog without changing your browser settings, we’ll assume that you’re willing to receive all cookies on the MyWeXlog website. Most browsers also provide functionality that lets you review and erase cookies, including MyWeXlog cookies.</p>
<p>Please note that the MyWeXlog site will not work properly without cookies.</p>
<p>To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a href="https://en.wikipedia.org/wiki/HTTP_cookie">wikipedia.org</a>, <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>, or <a href="http://www.aboutcookies.org/">www.aboutcookies.org</a>.</p>

<br>
<h3>Other helpful resources</h3>
<p>To learn more about advertisers’ use of cookies the following links may be helpful:</p>
<ul>
  <li><a href="http://www.youronlinechoices.eu/">European Interactive Digital Advertising Alliance (EU)</a></li>
  <li><a href="http://www.iab.net/">Internet Advertising Bureau (US)</a></li>
  <li><a href="http://www.iabeurope.eu/">Internet Advertising Bureau (EU)</a></li>
</ul>
<p>Browser manufacturers provide help pages relating to cookie management in their products. Please see below for more information.</p>
<ul>
  <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a></li>
  <li><a href="https://support.microsoft.com/en-us/kb/260971">Internet Explorer</a></li>
  <li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">Mozilla Firefox</a></li>
  <li><a href="https://support.apple.com/kb/PH5042?locale=en_US">Safari (Desktop)</a></li>
  <li><a href="https://support.apple.com/en-us/HT201265">Safari (Mobile)</a></li>
  <li><a href="http://support.google.com/ics/nexus/bin/answer.py?hl=en&answer=2425067">Android Browser</a></li>
  <li><a href="http://www.opera.com/help">Opera</a></li>
  <li><a href="http://www.opera.com/help/mobile/android#privacy">Opera Mobile</a></li>
</ul>
<p>For other browsers, please consult the documentation that your browser manufacturer provides.</p>
