{% extends "base_home.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<p>&nbsp</p>
<p>&nbsp</p>

<div class="card border-0 col-sm-6 mx-auto">

  <div class="card-body">
    <h2 class="card-title text-center">Customise Your Settings!</h2>



            <p>Please adjust your settings as per your requirements.<br>&nbsp</p>


                <form class="" action="" method="POST" id="CustomUserSettingsForm">

                  {% csrf_token %}
                  {{ form|crispy }}


                  <div class="text-center">
                    <p><a class="btn btn-primary" href="{% url 'Invitation:Profile2PDF' %}">Download Data</a></p>



                    <!-- Button trigger modal -->
                    <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModelCenter">
                      Permanently my Account <br> Right to be Forgotten
                    </button></p>

                    <br>

                    <p><button type="submit" class="btn btn-primary py-3 px-5" name="button">Update Settings</button></p>
                  </div>

                </form>



                <!-- Modal -->
                <div class="modal fade" id="DeleteModelCenter" tabindex="-1" role="dialog" aria-labelledby="DeleteModelCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="DeleteModelLongTitle">WARNING!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>By choosing to delete your account you will not have access to your data.</p>
                        <p>To download your data click 'Download Data'.</p>
                        <p>Do you wish to delete your profile?</p>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-secondary" href="{% url 'Invitation:Profile2PDF' %}" target="_blank">Download Data</a>
                        <form  action="{% url 'Users:DeleteUser' %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Proceed</button>
                        </form>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>


    	</div>
    </div>


{% endblock content %}
