{% extends "wexlog_home_3/base_wexlog_home_3.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section id="header-block" class="">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
    </div>
  </div>
</section>

<section id="find-the-right-person" class="">
  <div class="jumbotron-fluid">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="card-clear">
                <div class="card-body">
                  <div class="title3">
                    <h5>RIGHT TO SAY NO TO THE SALE OF PERSONAL INFORMATION</h5>
                    <p class="card-text">Please check the box if you would like to restrict the user settings and enforce your right to say no to the sale of your personaL information.</p>
                    <p>&nbsp</p>
                  </div>

                  <div class="card border-0 col-sm-5 mx-auto">
                    <div class="card-body">
                  <div class="row">
                    <form class="" action="" method="POST" id="ContactUsForm">

                      {% csrf_token %}
                      {{ form|crispy }}

                    <p><button type="submit" class="btn btn-outline-primary btn-block" name="button">Update Settings</button></p>

                    </form>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
              <div class="card border-0 bg-transparent">
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0 bg-transparent">
            <div class="card border-0 bg-transparent">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card border-0 bg-transparent">
                    <a href="https://mywexlog.com/" class="btn btn-outline-primary btn-block">Back to Home Page ..</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp</p>
      <p>&nbsp</p>
    </div>
  </div>
</section>

<section id="questions">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <p>&nbsp</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
