
<h2>User Agreement</h2>
<p>Effective on 25 May 2020</p>
<br>

<p>MyWeXlog is there to enable the Members to record their career and education history, with audited testimonials, to make their services known to potential employers, and to find opportunities and work, and to make decisions in a network of trusted relationships.</p>
<br>
<h3>Affordable Experience Tracking with Quality Vacancies</h3>
<p>MyWeXlog's mission is to create a portal that is aimed at allowing people to capture their experience and have it ratified or signed off by their clients / superiors or peers whilst providing a portal for vacancies.</p>
<p>MyWeXlog is designed to allow people who have been working for several years and have a large amount of experience that may not be able to be authorised as they no longer work with those clients or at the company any longer. The portal allows people to capture this time, however this is displayed as such.</p>
<p>The captured time will then be saved against their profile, available for people to search for that experience.</p>
<p>Once captured, clients requiring skills or services should perform a search and find people with the required experience. The results would be displayed in terms of distance from the prospective client, experience and ratings.</p>
<br>
<h3>Contract</h3>
<p>Use of any of the services offered by the Company, including without limitation to the generality hereof any of the websites, shall be construed to be acceptance of the terms of this agreement, and shall include also acceptance of any of our policies, which, among other elements, include our Cookie Policy and our Privacy Policy. These policies set out how the Company makes payment, collects, uses, shares, deals with and stores the personal data of the user.</p>
<p>Clicking on any link that provides access to the website or any function or service offered or operated by the Company constitutes acceptance of legally binding terms of agreement by the person and the company or other juristic body accessing such website, function or service, Such legally binding agreement shall extend to any function or service accessed through or by means of any of our websites, functions or services, in addition to any additional terms or agreements specifically imposed by such website, function or service.</p>
<p>This agreement covers Members and Visitors, (collectively ‘Users’) except insofar as each of these are stated herein to be separately covered. A Member is a person, whether natural or juristic, which has been registered as a member. A Visitor is a person, whether natural or juristic, who uses the websites, functions or services offered by the Company without having been registered as a Member, whether with the permission of the Company or otherwise.</p>
<p>We are not obligated to publish any information or content on our Service and can remove it at our sole discretion, with or without notice.</p>
<p>In terms of the internationally accepted principle of "Know your client" MyWeXlog reserves the right to suspend the account until such time as the user can be verified whether through an identification number or passport number which shall be filled in on your profile page. We also require a valid tax reference number and will deduct amounts required by law for income tax purposes.</p>
<p>In order to meet our legal requirements we also require an Internal Revenue Services Tax number to make any taxation notification and payment requirements in your country of residence.</p>
<br>
<h3>Definitions</h3>
<p>In this Agreement, unless the context requires differently, the following terms shall have these meanings:</p>

<p><strong>Company</strong> - The Company is DevOpTec (Pty) Ltd T/A MyWeXlog, registered under the laws of the territories of Queensland, Australia with Australian Company Number (ACN) 640 120 565 and registered address at 32 Viewland Crescent, Thornlands, Queensland, Australia.</p>
<p><strong>Member</strong> - A Member is a person, whether natural or juristic, who is registered by MyWeXlog as a Member.</p>
<p><strong>Visitor</strong> - A Visitor is a person, whether natural or juristic, who is permitted by MyWeXlog to view portions of the website, including services offered by it, without being registered as a Member.</p>
<p><strong>User</strong> - A User is a Member or a Visitor.</p>
<p><strong>Website</strong> - The Website is the collective of the websites published by the Company or its subsidiaries for the use of Users, including all elements of such websites.</p>
<p><strong>Agreement</strong> - All Members and Visitors who provide, use and/or share any personal information or data with the Company agree that any activity concerning such information or data shall be authorized and subject to all the terms of this agreement.</p>
<p><strong>Gender</strong> - The use of the male gender shall be deemed to incorporate other genders.</p>
<p><strong>Information</strong> - ‘Information’ shall include all personal information and data provided by the User to the Company or collected by the Company from others referred by the User to the Company.</p>

<br>
<h3>Members and Visitors</h3>
<p>When you register and join the MyWeXlog Service or become a registered user on its websites, you become a Member. If you have chosen not to register for our Services, you may access certain features as a “Visitor.”</p>
<br>
<h3>Change of Terms of Agreement</h3>
<p>The company may amend or modify the terms of this agreement by giving notice on the website, with the changes or amendments coming into effect fourteen days after the date of such notice. If the Member or Visitor does not wish to accept and be bound by such changes or modifications, he may terminate this agreement with the effects as set out in this Agreement. Failure to terminate this Agreement shall be construed as acceptance of such changes or amendments as binding on the Member or Visitor.</p>
<br>
<h3>Obligations of Users</h3>
<h3>Eligibility for Use</h3>
<p>A Member or Visitor must be eighteen years of age or older at the time of becoming a Member or User, or older if the law requires.</p>
<p>Registration of a Member or Visitor shall be valid:</p>
<ul>
  <li>Only if the Member or Visitor is eighteen years or older at the time of registration;</li>
  <li>Only if registration is made in the actual name of such natural person;</li>
  <li>Only if all details provided or confirmed by the Member or Visitor is accurate and correct;</li>
  <li>If only one such registration pertains at the time or subsequently;</li>
  <li>Only if the Member or Visitor has not been barred by the Company from use of the website, functions or services.</li>
</ul>
<p>Any benefits accruing to any person as Member or Visitor shall be forfeited to the Company if these conditions have been breached.</p>
<br>
<h3>Your Account</h3>
<p>The Member or Visitor is obliged to retain their password securely, and hereby undertakes and accepts that any wrongful use of the benefits of this agreement caused by any use of the password which is not the result of a willful or negligent act by the Company shall be binding on them and at their sole risk, until such use is reported to the Company.</p>
<p>The account of a Member or Visitor is for the sole use of the Member or Visitor and may not be transferred by any means, whether permanently or temporarily, to any other person. The only exception to this rule is bequeathment should the member die and the MyWeXlog account form part of their estate.</p>
<br>
<h3>Payment</h3>
<p>Payment for services or benefits must be made in advance or at the latest against the provision by the Company of such services or benefits. The Member or Visitor agrees to the Company retaining information regarding the billing and collection of payment for such services or benefits. The Member or Visitor agrees and undertakes to make such payments on demand by the Company. Failure to make such payments shall entitle the Company to withhold such services or benefits and/or to terminate the Membership or Visiting right, with the loss of any accrued rights.</p>
<p>If there is a problem charging your selected payment method, we may charge any other valid payment method associated with your account. Click <a href="https://mywexlog.com/public/pricing/">here</a> to manage your payment options.</p>
<p>The User acknowledges and accepts that:</p>
<ol>
  <li>The amount of any required payment will include any applicable fees, taxes, foreign exchange amounts, and levies, and that such prices may vary between times and places. The Company is entitled to change the amount charged for Membership or for any Service by giving notice of such change.</li>
  <li>The Company shall be entitled to store the User’s credit card or bank account details and to charge against such credit card or bank any amount that may become payable, even after the credit card or bank card has expired, unless fresh details are supplied to the Company.</li>
  <li>The amount of any subscription or repeating charge may be recovered from the User at the start of each calendar period.</li>
  <li>The Company will not be liable for refund in respect of the provision of any service or function or the making available of any service or function.</li>
  <li>A subscription will endure for a period of one unit (month/6 month/year) after the calendar month in which it commences, and will be renewed automatically on the commencement of the month in which the anniversary falls, unless the User cancels such subscription before the commencement of such renewal.</li>
  <li>Any applicable fees, taxes and levies will be calculated on the basis of the most recent information provided by the User and in the possession of the Company at the date on which the liability for the payment arises.</li>
  <li>The Company will issue invoices on request through the User’s account.</li>
  <li>Any cancellations will only be effected at the end of the then current period.</li>
</ol>
<br>
<h3>Notices and Messages</h3>
<p>Notifications and messages to the User will be made to the User’s Account and, at the Company’s option, to the registration email address provided by the User. The User is entitled to control and limit the messages sent to them by the Company.</p>
<p>Please review your settings to control and limit messages you receive from us.</p>
<br>
<h3>Sharing</h3>
<p>The User acknowledges that information and data provided to the Company by the User or obtained by the Company with the consent of the User will be shared with other persons. The consent of the User to the sharing such information or data shall be presumed, unless:</p>
<p>The User specifically limits the sharing or any particular information or data or class of information or data.</p>
<p>The User withdraws their consent to the sharing of particular information or data before it is shared.</p>
<p>We share links to other sites, these sites operate under their own rules and terms and we cannot be held liable for any actions concerning those sites.</p>
<p>By publishing your public profile link you accept that you are making public the information contained within your public profile. This information will be identified by the alias that you have selected.</p>
<p>The Company is not obliged to undertake any sharing or publication of information or data provided by the User or collected by the Company at the instigation of the User at its sole discretion.</p>
<br>
<h3>Rights and Limits</h3>
<p>The User retains ownership of all rights in and to the information and data provided to the Company, but grants to the Company a non-exclusive right for the use of such information and data, including the right to use, copy, modify, distribute and publish such information or data. Such right shall embrace the entire world, and shall be capable of being sub-licensed to others, subject to the limitations placed on such use by this agreement or in terms of it, without any further consent, permission, notification, acknowledgement or payment.</p>
<p>The User shall be entitled to receive notification of the Information intended to be published by the Company, and their consent to such publication shall be presumed if they fail to notify the Company within five calendar days of the date of such notice that it shall not be published. Information that is supplied by the User pertaining to them shall not require such notification of intention to publish. The User has the right to withdraw consent to publication of any individual item of information, and such information shall be withdrawn from publication within ten working days of such withdrawal.</p>
<p>The rights in terms of this clause shall end if the User deletes such information or data before it is used in terms hereof; provided that such deletion may not be of effect if the information or data has been used or copied by others. The User acknowledges that such deletion may be of effect in the removal of the information or data from applications and backups deriving from the original records of such information or data.</p>
<p>The Company has the right to edit, modify, translate or change the format of the information without substantially changing the meaning of it. In the interests of ensuring accurate data recording the Company reserves the right to audit the information recorded by the User.</p>
<p>You and the Company agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the Privacy Policy and your choices (including settings).</p>
<p>Any personal details included in the information or data shall be subject to the terms of our Privacy Policy.</p>
<p>The Company may access, store, process and use any information that you provided in accordance with the terms of the Privacy Policy.</p>
<p>The User warrants that the information and data provided by him/her/it is accurate, correct, not misleading, available without limitation for use in terms of this agreement, and does not violate the law or any rights of others over it</p>
<br>
<h3>Your License to MyWeXlog</h3>
<p>The User retains ownership of the information provided to the Company, and is entitled to limit the use of the information within the confines of the publication of such information. The User hereby grants to the Company a worldwide right to use, copy, modify, distribute, publish and process the information. The Company shall be entitled to sublicense such licence to others without any additional consent, notice or compensation to the User, subject to the following:</p>
<ol>
  <li>The User may terminate such licence by deleting the information provided by them or by closing their account. Such deletion shall not be effective in withdrawing publication or disclosure which has already been made at that time, and shall become effective after a reasonable time required for the withdrawal to be notified and actioned by affiliates and associates of the Company.</li>
  <li>The User may elect not to participate in advertising activity or to have their information used in such advertising activity. Such election may be exercised at the time of application to become a User or subsequently. The User acknowledges that they are aware that the default, which may be changed by them here, is to allow such participation.</li>
  <li>The User acknowledges that the Company has the right to edit, amend and make format changes to the Information; provided that the edit, amendment or format changes shall not alter the substantial meaning of the Information.</li>
  <li>The User hereby grants the Company the right to access, store, process and use any information they provide in accordance with the terms of the Privacy Policy.</li>
  <li>The User undertakes that any Information provided is within the rights of the User to share and publish, that it does not breach any intellectual property right, and that it will be accurate and truthful. The Company shall have the right to remove any Information that, in its sole discretion is considered to be in breach of this term. Such removal may be made in respect of the entire world or any particular countries.</li>
</ol>
<br>
<h3>Service Availability</h3>
<p>The Company may change, amend, suspend or terminate any Service offered by it and/or modify the price of such services in the future by giving notice of such change, amendment, suspension termination or modification.</p>
<p>The Company shall not be liable for damages or a reduction in fees in the event that the service is not available for use at a particular time or for a period.</p>
<p>The Company shall not be obliged to store, keep, or provide copies of any information or data apart from the Company shall provide a copy (in digital text format) of all personal information of a User stored on our databases on request by that User.</p>
<br>
<h3>Other Content, Sites and Apps</h3>
<p>The User acknowledges that the use of the services and the content posted by the User or others on the services shall be entirely at the risk of the User, without any warranty of the completeness or accuracy thereof being given by the Company. The Company shall not be responsible for the activity of third parties’ use of the services or the information or data provided by the User or others. The Company is not obliged to review or confirm the accuracy or honesty of information in data made available to it by any person, and will not be responsible for content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. The person providing such information or data shall be responsible for such information or data and hereby indemnifies the Company for any damages in reputation, loss or other it may suffer in respect thereof or arising therefrom.</p>
<p>The User is responsible for deciding if you want to access or use third-party apps or sites that link from our Services. If you allow a third-party app or site to authenticate you or connect with your MyWeXlog account, that app or site can access information on MyWeXlog related to you and your connections. Third-party apps and sites have their own legal terms and privacy policies, and you may be giving others permission to use your information in ways we would not. Except to the limited extent it may be required by applicable law, MyWeXlog is not responsible for these other sites and apps – use these at your own risk. Please see the  <a href="{% url 'Users:LoginPrivacyPolicy' %}">Privacy Policy</a>.</p>
<br>
<h3>Limits</h3>
<p>The Company shall offer the facility to Users to connect with other Users, but shall not be responsible for the content of such connections or the results that may derive from it. The Company shall have the right to modify the terms and mode of such connection, including also the rights to impose a charge therefor and to terminate it generally or in respect of a group of Users or any individual Users.</p>
<br>
<h3>Intellectual Property Rights</h3>
<p>The Company reserves all rights to the intellectual property embodied or applied in the Services. Using the Services does not give you a User ownership in our Services or the information or data made available through our Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners.</p>
<p>The User understands and accepts that any adjustments or amendments made by the Company resulting from any suggestions, complaints, feedback or other made that result in the use of by the Company shall become the property of the Company without any compensation.</p>
<br>
<h3>Automated Processing</h3>
<p>The Company may use data and information about Users to make relevant suggestions to Users and others. Such information and data, including inter alia the information and data that the Users provide, that we the Company has about Users to make recommendations for connections, content and features that may be useful to Users.</p>
<br>
<h3>Disclaimer and Limit of Liability</h3>
<h3>No Warranty</h3>
<p>To the extent allowed under law, the Company and its affiliates (and those that the Company works with to provide the services)</p>
<ol>
  <li>disclaim all implied warranties and representations (e.g. warranties of merchantability, fitness for a particular purpose, accuracy of data, and noninfringement);</li>
  <li>do not guarantee that the services will function without interruption or errors, and</li>
  <li>provide the service (including content and information) on an “as is” and “as available” basis.</li>
</ol>
<p>Some laws do not allow certain disclaimers, so some or all of these disclaimers may not apply to a User.</p>
<br>
<h3>Exclusion of Liability</h3>
<p>To the extent permitted under law (and unless the Company has entered into a separate written agreement that overrides this contract), the Company and its affiliates (and those that the Company works with to provide the services) shall not be liable to Users or others for any indirect, incidental, special, consequential or punitive damages, or any loss of data, opportunities, reputation, profits or revenues, related to the services (e.g. offensive or defamatory statements, down time or loss, use of, or changes to, your information or content).</p>
<p>In no event shall the liability of the Company and its affiliates (and those that the Company works with to provide the services) exceed, in the aggregate for all claims, an amount that is the lesser of</p>
<ol>
  <li>five times the most recent monthly or yearly fee that the User paid for a premium service, if any, or</li>
  <li>US $1000.</li>
</ol>
<p>This limitation of liability is part of the basis of the bargain between the User and the Company and shall apply to all claims of liability (e.g. class action, warranty, tort, negligence, contract, law) and even if the Company or its affiliates has been told of the possibility of any such damage, and even if these remedies fail their essential purpose.</p>
<p>Some laws do not allow the limitation or exclusion of liability, so these limits may not apply in a particular case.</p>
<br>




<p><strong>What are the juristic areas of the site and the data hosting?</strong></p>




<br>
<h3>Termination</h3>
<p>The Company and the User shall be entitled to terminate this agreement by notice to each other. The right of the User to access the service shall terminate on the date of such termination, but the following rights shall remain in effect:</p>
<ul>
  <li>The right in favour of the Company to use and disclose any feedback;</li>
  <li>Users’ rights to further share content and information shared by them through the Service to the extent copied or shared prior to termination;</li>
  <li>Any amounts owed by either party prior to termination remain owed after termination</li>
</ul></p>
<p>A user may close their account through the link provided in “<a href="{% url 'Users:CustomUserSettings' %}">Settings</a>”.</p>
<p>The user may contact the data protection officer <a href="https://mywexlog.com/public/data-protection-officer/">here</a>.</p>
<br>
<h3>Governing Law and Dispute Resolution</h3>
<p>In the event of a legal dispute, the parties hereto agree to resolve it in the applicable Courts using the laws of Queensland, Commonwealth of Australia.</p>
<br>
<h3>General Terms</h3>
<p>In the event that any of the terms or this agreement are found by a Court with jurisdiction to be invalid, the Parties agree that the Court should modify the terms to make that part enforceable while still achieving its intent. If such modification is not possible, the Court shall remove the part of the agreement that cannot be enforced and enforce the balance of this Agreement.</p>
<p>To the extent allowed by law, the English language version of this Agreement shall be binding. All legal actions shall be in the English language. Any other language versions of this Agreement are for convenience only. This Agreement (including all additional terms that may be imposed by the Company when in respect of a feature of the Services) is the only agreement between the Parties regarding the Services and supersedes all prior agreements for the Services.</p>
<p>Failure by the Company to enforce a term of this Agreement does not constitute a waiver of its right to enforce this Agreement.</p>
<p>A User may not assign or transfer this Agreement (or their membership or right to use of Services) without the consent of the Company. The Company may assign this Agreement or any rights hereunder to its affiliates or a party that buys it without the consent of the User. No third-party is a beneficiary to this Agreement.</p>
<p>The only means of giving a notice to the Company is by means of the address 32 Viewland Crescent, Thornlands, Queensland, Australia.</p>
<br>
<h3>Agreements by the User</h3>
<p>The User agrees that he will not:</p>
<ol>
  <li>Create a false identity on MyWeXlog, misrepresent their identity, create a Member profile for anyone other than themself or an identity for a person who does not exist at present, or use or attempt to use another’s account;</li>
  <li>Develop, support or use software, devices, scripts, robots, or any other means or processes (including crawlers, browser plugins and add-ons, or any other technology) to scrape the Services or otherwise copy profiles and other data from the Services;</li>
  <li>Override any security feature or bypass or circumvent any access controls or use limits of the Service (such as caps on keyword searches or profile views);</li>
  <li>Copy, use, disclose or distribute any information obtained from the Services, whether directly or through third parties (such as search engines), without the consent of the Company;</li>
  <li>Disclose information that they do not have the consent to disclose;</li>
  <li>Violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets, or other proprietary rights;</li>
  <li>Violate the intellectual property or other rights of the Company, including, without limitation,
    <ol>
      <li>copying or distributing any videos or other materials or</li>
      <li>copying or distributing the Company’s technology, unless it is released under open source licenses;</li>
      <li>using the word “MyWeXlog” or its logos in any business name, email, or URL except as provided in the Brand Guidelines;</li>
    </ol></li>
    <li>Post anything that contains software viruses, worms, or any other harmful code;</li>
    <li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology that is not open source;</li>
    <li>Imply or state that you are affiliated with or endorsed by the Company without our express consent;</li>
    <li>Rent, lease, loan, trade, sell, re-sell or otherwise monetize the Services or related data or access to the same, without the Company’s consent;</li>
    <li>Deep-link to the Company or any of its Services for any purpose other than to promote their profile or a Group on our Services, without the Company’s consent;</li>
    <li>Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages;</li>
    <li>Monitor the Services’ availability, performance or functionality for any competitive purpose;</li>
    <li>Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of any Services offered by the Company;</li>
    <li>Overlay or otherwise modify the Services or their appearance in any way;</li>
    <li>Interfere with the operation of, or place an unreasonable load on, the Services by means of spam, denial of service attack, viruses, gaming algorithms);</li>
    <li>Violate any policies published by the Company or any additional terms concerning a specific Service that are provided.</li>
</ol></p>
<p>The User acknowledges and undertakes that:</p>
<ol>
  <li>MyWeXlog is an organization designed to provide benefits to Users at a professional level, and understands that the information provided by them and posted on the Website shall not be harmful, misleading, incorrect, vexatious or damaging to any other User.</li>
  <li>The Information and the use of it shall comply with the laws and regulations applicable to it;</li>
  <li>They will use the Services offered by the Company in an honest and professional manner.</li>
  <li>They will not game the system or upload exorbitant dates and times on information.</li>
  <li>They understand that MyWeXlog is a system for storing and distributing certain information provided by the User, and does not undertake to provide or mediate employment in any way.</li>
</ol>
<br>
<h3>Complaints Regarding Content</h3>
<p>The User shall be entitled to complain about any information which is inaccurate, misleading or in breach of any term of this agreement, which shall apply to all Users. Any complaint should be made with complete information on the ‘<a href="{% url 'Feedback:FeedBack' %}">Feedback</a>’ section of the website. The Company undertakes to investigate every complaint and take any action it considers justified or necessary expeditiously.</p>
<br>
<h3>Contact between the Company and the User</h3>
<p>The Company shall make contact and give notices with Users generally in the ‘Notices’ section of the website. Contact with a specific User will be made via the internal messaging system or alternatively by primary email address provided by the User. Users may make contact via the website, by means of providing information in the relevant sections of the website or by means of email to the address of the Company provided in the website.</p>
<br>
<br>
