{% extends "base_home.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
<div class="card">
  <h5 class="card-header">{% trans "Compose Message" %}</h5>
  <div class="container">
    <p><a href="{% url 'messages_compose' %}" class="badge badge-pill badge-primary">New Message</a><a href="{% url 'messages_inbox' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
<dl class="message-headers">
<form action="" method="post">
{% csrf_token %}
<div class="form-row">
  <div class="form-group col-md-6 mb-3">
  {{ form.recipient|as_crispy_field }}
  </div>
  </div>
      {{ form.subject|as_crispy_field }}
      {{ form.body|as_crispy_field }}
<input type="submit" class="btn btn-primary" value="{% trans "Send" %} &raquo;"/>
</form>
</div>
</div>
</div>
{% endblock %}
