{% extends "base_home.html" %}
{% load i18n %}
{% load humanize %}


{% block content %}
<div class="card">
  <h5 class="card-header">{% trans "Deleted Messages" %}</h5>
{% if message_list %}
<div class="container">
  {% if request.user.is_authenticated %}
  <p><a href="{% url 'messages_inbox' %}" class="badge badge-pill badge-primary">Inbox</a>
  <a href="{% url 'messages_outbox' %}" class="badge badge-pill badge-primary">Outbox</a>
  <a href="{% url 'messages_trash' %}" class="badge badge-pill badge-primary">Deleted</a></p>
  <p><a href="{% url 'messages_compose' %}" class="badge badge-pill badge-primary">New Message</a><a href="{% url 'messages_inbox' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
  {% endif %}
<table class="messages">
    <thead>
      <col width="20%">
      <col width="30%">
      <col width="15%">
      <col width="15%">
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr>
        <td>{{ message.sender }}</td>
        <td>
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_undelete' message.id %}" class="badge badge-pill badge-primary">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
{% if request.user.is_authenticated %}
<p><a href="{% url 'messages_inbox' %}" class="badge badge-pill badge-primary">Inbox</a>
<a href="{% url 'messages_outbox' %}" class="badge badge-pill badge-primary">Outbox</a>
<a href="{% url 'messages_trash' %}" class="badge badge-pill badge-primary">Deleted</a></p>
<p><a href="{% url 'messages_compose' %}" class="badge badge-pill badge-primary">New Message</a><a href="{% url 'messages_inbox' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
{% endif %}
<p>{% trans "No messages." %}</p>
{% endif %}
<br />
<p>{% blocktrans with deleted_max_age=max_age %} Deleted Messages are removed from the trash after {{deleted_max_age}} days, don't rely on this feature for long-time storage.{% endblocktrans %}</p>
{% endblock %}
