{% extends "base_home.html" %}

{% block title %}{{block.super}}-Branches{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
  <h4 class="">Branches for {{ detail.ename }}
    <span><p class="float-right">
    <a href="{% url 'Enterprise:HelpEnterpriseBranchList' %}" target="_blank" class="align-middle" style="font-size: 16px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="fa fa-question-circle"></i></a>
  </p></span></h4>
  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Enterprise:AddBranch' detail.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Add Branch</a><a href="{% url 'Enterprise:EnterpriseHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
    {% endif %}
    <div class="container">
      <div class="row my-auto">
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Branch Name</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Type</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong>Size</strong>
        </div>
        <div class="col-3 col-no-pad h-100 text-center my-auto">
          <strong>Rating</strong>
        </div>
        <div class="col-2 col-no-pad h-100 text-center my-auto">
          <strong>Number of votes</strong>
        </div>
        <div class="col-1 col-no-pad h-100 text-center my-auto">
          <strong></strong>
        </div>
      </div>
    </div>
    {% for b in pageitems %}
    <div class="row">
      <div class="card mt-1 card-hover" style="width: 100%;">
        <div class="card-body small-pad">
          <div class="row my-auto">
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              {{ b.name }}
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              {{ b.type }}
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {{ b.get_size_display }}
            </div>
            {% if request.user.subscription >= 2 %}
              <div class="col-3 col-no-pad h-100 text-center my-auto">
              {% if request.user.subscription >= 1 %}
                {% if b.rate_count > 4 %}
                  {{ b.average }}
                  <a href="{% url 'Enterprise:EmpRatingDetail' b.slug %}" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Ratings Breakdown"><i class="fa fa-pie-chart" aria-hidden="true"></i></a>
                {% else %}
                  A minimum of 5 votes<br>is required for a rating.
                {% endif %}
              {% else %}
                Paid Subscription Required.
              {% endif %}
              </div>
              <div class="col-2 col-no-pad h-100 text-center my-auto">
                {{ b.rate_count }}
              </div>
            {% else %}
              <div class="col-3 col-no-pad h-100 text-center my-auto">
                <a href="{% url 'Payments:ActiveSubscription' %}" class="badge badge-info text-wrap" style="width: 10rem;">
                  Active<br>Subscription<br>required
                </a>
              </div>
              <div class="col-2 col-no-pad h-100 text-center my-auto">
                <a href="{% url 'Payments:ActiveSubscription' %}" class="badge badge-info text-wrap" style="width: 10rem;">
                  Active<br>Subscription<br>required
                </a>
              </div>
            {% endif %}
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              {% if request.user.is_authenticated %}
                <a href="{% url 'Enterprise:BranchDetail' b.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary float-right" style="width: 5rem;">Detail</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No branches listed - Please add one.</p>
    {% endfor %}

    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock content %}
