{% extends "base_home.html" %}

{% block title %}{{block.super}}-Branches{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
  <h4 class="">Branches for {{ detail.ename }}
    <span><p class="float-right">
    <a href="{% url 'Enterprise:HelpEnterpriseBranchList' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>
  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p><a href="{% url 'Enterprise:AddBranch' detail.slug %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Add Branch</a><a href="{% url 'Enterprise:EnterpriseHome' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary float-right">Back</a></p>
    {% endif %}
    <table class="table table-hover table-sm">
      <col width="30%">
      <col width="15%">
      <col width="15%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <thead>
        <tr>
          <th class="align-middle text-center">Branch Name</th>
          <th class="align-middle text-center">Type</th>
          <th class="align-middle text-center">Size</th>
          <th class="align-middle text-center">Rating</th>
          <th class="align-middle text-center">Number of votes</th>
          <th class="align-middle text-center"></th>
        </tr>
      </thead>
      {% for b in pageitems %}
      <tbody>
        <tr>
          <td class="align-middle text-center">{{ b.name }}</td>
          <td class="align-middle text-center">{{ b.type }}</td>
          <td class="align-middle text-center">{{ b.get_size_display }}</td>
          {% if request.user.subscription >= 2 %}
            <td class="align-middle text-center">
            {% if request.user.subscription >= 1 %}
              {% if b.rate_count > 4 %}
                {{ b.average }}
                <a href="{% url 'Enterprise:EmpRatingDetail' b.slug %}" style="font-size:20px;color:black" target="_blank" data-toggle="tooltip" title="Ratings Breakdown"><i class="fa fa-pie-chart" aria-hidden="true"></i></a>
              {% else %}
                A minimum of 5 votes<br>is required for a rating.
              {% endif %}
            {% else %}
              Paid Subscription Required.
            {% endif %}
            </td>
            <td class="align-middle text-center">{{ b.rate_count }}</td>
          {% else %}
            <td>
              <span class="badge badge-info text-wrap" style="width: 12rem;">
                Active Subscription required
              </span>
            </td>
            <td>
              <span class="badge badge-info text-wrap" style="width: 12rem;">
                Active Subscription required
              </span>
            </td>
          {% endif %}
          <td class="align-middle text-center">
            {% if request.user.is_authenticated %}
              <a href="{% url 'Enterprise:BranchDetail' b.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary float-right" style="width: 5rem;">Detail</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
      <tr>
        <td colspan="6">No branches listed - Please add one.</td>
      </tr>
      </tbody>

      {% endfor %}
    </table>
    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock content %}
