{% extends "base_home.html" %}

{% block title %}{{block.super}}-Enterprise{% endblock title %}

{% block content %}

<div class="card border-0">
  <div class="card-body">
  <h4 class="">Welcome to the Enterprises home page!
    <span><p class="float-right">
    <a href="{% url 'Enterprise:HelpEnterpriseHome' %}" target="_blank" class="align-middle" style="font-size: 27px" data-toggle="tooltip" title="Click here for help on this page!">
    <i class="icon icon-question-circle"></i></a>
  </p></span></h4>
  <div class="card-body">
    <p>There are currently {{ ecount.sum_e }} Enterprises and {{ bcount.sum_b }} Branches listed in MyWeXlog!</p>
    {% if user.is_authenticated %}
    <p><a href="{% url 'Enterprise:FullBranchAdd' %}?next={{ request.path|urlencode }}" class="badge badge-pill badge-primary">Add New Enterprise</a></p>
    {% endif %}
    <table class="table table-hover table-sm">
      <col width="30%">
      <col width="30%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <thead>
        <tr>
          <th class="align-middle text-center">Name</th>
          <th class="align-middle text-center">Website</th>
          <th class="align-middle text-center">Rating</th>
          <th class="align-middle text-center">Vote Count</th>
          <th class="align-middle text-center"></th>
        </tr>
      </thead>
      {% for c in pageitems %}
      <tbody>
        <tr onclick="window.location='{% url 'Enterprise:BranchList' c.slug %}?next={{ request.path|urlencode }}'">
          <td class="align-middle text-left">{{ c.name }}</td>
          <td class="align-middle text-left"><a href="{{ c.website }}" target="_blank">{{ c.website }}</a></td>
          {% if request.user.subscription >= 2 %}
            <td class="align-middle text-center">
              {% if c.rate_count > 4 %}
                {{ c.avg_rate }}
              {% else %}
                Ratings are calculated<br>from 5 or more votes.
              {% endif %}
            </td>
            <td class="align-middle text-center">
              {{ c.rate_count }}
            </td>
          {% else %}
            <td class="align-middle text-center">
              <span class="badge badge-info text-wrap" style="width: 8rem;">
                Active Subscription<br>required
              </span>
            </td>
            <td class="align-middle text-center">
              <span class="badge badge-info text-wrap" style="width: 8rem;">
                Active Subscription<br>required
              </span>
            </td>
          {% endif %}
          <td class="align-middle text-center"><a href="{% url 'Enterprise:BranchList' c.slug %}?next={{ request.path|urlencode }}" class="badge badge-secondary" style="width: 6rem;">List<br>Branches</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <p>&nbsp</p>

    <nav aria-label="Page navigation">
        {% if pageitems.has_other_pages %}
          <ul class="pagination">
            {% if pageitems.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                  <span class="sr-only disabled">Previous</span>
                </a></li>
            {% else %}
              <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
            {% endif %}

            {% if pageitems.number|add:'-4' > 1 %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in pageitems.paginator.page_range %}
              {% if pageitems.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
              <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if pageitems.has_next %}
              <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock content %}
