{% extends "base_home.html" %}

{% block content %}
  <div class="content-section">
  <div class="card">
  <h5 class="card-header">Enterprises List</h5>

  <div class="card-body">
      <ul>
        {% for item in list %}
            <li>{{ item.ename }} - {{ item.website }}
              <p>{{ item.description }}

            </li>
        {% empty %}
            <li>No enterprises yet.</li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
{% endblock content %}
