{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}

{% block title %}My {{block.super}} Profile{% endblock title %}


{% block content %}
<div class="container">
<h3>Add a Company / Enterprise</h3>

<form method="post" novalidate>
  {% csrf_token %}
  <div style="background-color:red; color:white;">
    <p>

      {{ form.non_field_errors }}
    </p>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.ename|as_crispy_field }}
      {{ form.website|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.description|as_crispy_field }}
    </div>
  </div>
  <div class="">
    <p><button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
</div>
{% endblock content %}
