{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Enterprises Home Page - Help</h3>
    <p>&nbsp</p>
    <p>This page displayes a list of the enterprises or companies that are captured in the WeXlog system.</p>
    <p>The enterprises are listed in alphabetical order detailing the Company Name and the
      Enterprise Wexsite Address.</p>
    <p>The <a href="#" class="badge badge-pill badge-primary">List Branches</a> button will open
      the a listing of the branches that have been recorded in WeXlog as representative of that company.</p>
    <p>You have the option to:</p>
      <ul>
        <li><a href="#" class="badge badge-pill badge-primary">Add New Enterprise</a> -  Button will require you to capture the Company with full details of the branch to which your area of capture belongs to, the Branch or Division Name, the Branch Type, Physical Address and Industry. When capturing the Enterprise you should capture the branch name as Head Office, city or region branch name such as Dullington Branch Office.</li>
      </ul>

</div>
{% endblock content %}
