{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Add a New Enterprise Details Page - Help</h3>
    <p>&nbsp</p>
    <p>This page displayes the fields that are required to capture a new Enterprise.</p>
    <p>The fields required are:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <thead>
        <tr>
          <td>Enterprise Name</td>
          <td>Enter the full name of the main company, if you are working for a
            branch the details of branch offices will be captured at a later point.</td>
        </tr>
        <tr>
          <td>Website</td>
          <td>Enter the companies website address.</td>
        </tr>
        <tr>
          <td>Enterprise Description</td>
          <td>Enter a description of the main company.</td>
        </tr>
      </table>
    <br>
    <p>**In the event that one of the dropdown lists is not populated please refreash the page.</p>

</div>
{% endblock content %}
