{% extends 'base_homelite.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block title %}{{block.super}} Help{% endblock title %}

{% block Style %}

{% endblock Style %}
{% block content %}
<div class="container">
  <h3>Add a New Enterprise Branch Details Page - Help</h3>
    <p>&nbsp</p>
    <p>This page displays the fields that are required to capture a new Enterprise Branch.</p>
    <p>The fields required are:</p>
    <table class="table table-sm">
    <col width="10%">
    <col width="70%">
    <thead>
        <tr>
          <td>Company</td>
          <td>This will be selected from the dropdown list and should be the main company
            that oversees the branch.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Company</a>
            link will request you to add brief details of the main company being the Enterprise name,
            the website address and a description of the company.</td>
        </tr>
        <tr>
          <td>Branch or Division Name</td>
          <td>This should be descriptive of the branch so it is easily identifiable by
            people that are in collaboration companies as well.</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>This will be selected from the dropdown list and should be descriptive of the branch type
            be it a Head Office, Branch Office or Satellite Office.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a new Branch Type</a>
            link will request you to add a branch type.</td>
        </tr>
        <tr>
          <td>Physical Address</td>
          <td>This will allow you to capture the address of the offices allowing for an Office
            Block address and street address.</td>
        </tr>
        <tr>
          <td>Industry</td>
          <td>This will be selected from the dropdown list and should be the main industry in which
            the company that is controlling the project operates.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a new Industry</a>
            link will request you to add an Industry Type.</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>This will be selected from the pre-populated dropdown list of all countries.</td>
        </tr>
        <tr>
          <td>Region</td>
          <td>This will be selected from the dropdown list and should list all regions in the
            selected country.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Region</a>
            link will request you to add an new Region requiring the Country and Region / State / etc.</td>
        </tr>
        <tr>
          <td>City</td>
          <td>This will be selected from the dropdown list and should list all cities in the selected
            Region.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a City</a>
            link will request you to add a new City requiring the Region and City, Town or Place.</td>
        </tr>
        <tr>
          <td>Suburb</td>
          <td>This will be selected from the dropdown list and should list all suburbs in the selected
            City.<br>
            The <a href="#"><img src="{% static 'images/icon-addlink.svg' %}"> Add a Suburb</a>
            link will request you to add a new City requiring the Region and City, Town or Place.</td>
        </tr>
        <tr>
          <td>Post Code</td>
          <td>This will allow you to capture the Physical Address Postal Code and is a required field.</td>
        </tr>
      </table>
    <br>
    <p>**In the event that one of the dropdown lists is not populated please refresh the page.</p>
    <p>A * next to the field name indicates that the field is a required field.</p>

</div>
{% endblock content %}
