{% extends "base_home.html" %}

{% block title %}{{block.super}}-Enterprise{% endblock title %}

{% block content %}

<div class="card">
  <h5 class="card-header">
Welcome to the Enterprises home page!</h5>

<div class="card-body">
<p>
  <ul>
    <li>Add a new enterprise: <a href="{% url 'Enterprise:EnterpriseCreatePopup' %}">Enterprise</a></li>
    <li>View all the enterprises: <a href="{% url 'Enterprise:EnterpriseList' %}">View Enterprise List</a></li>
  </ul>
</p>

<p>
  <ul>
    <li>Add a new Enterprise Branch: <a href="{% url 'Enterprise:BranchAdd' %}">Branch</a></li>
    <li>Add a new Industry: <a href="">Industry</a></li>
    <li>Add a new Region: <a href="">Region</a></li>
    <li>Add a new City: <a href="">City</a></li>
    <li>Add a new Industry: <a href="">Industry</a></li>
  </ul>
</p>
</div>
<div class="container">
<ul>
  <li>Search all enterprises: <a href="{% url 'Enterprise:enterprise-search' %}">Search</a></li>
  <li>Search all enterprise branches: <a href="{% url 'Enterprise:branch-search' %}">Search</a></li>
</ul>
</div>

{% endblock content %}
