{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}My {{block.super}} Enterprise Trust Passport{% endblock title %}

{% block content %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
  <div class="card">
<div class="container">
<h3>Enterprise Trust Passport Details</h3>
<form method="post" id="EnterpriseTrustForm" autocomplete="on">
<!--   <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
  {% csrf_token %}

  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.score_by|as_crispy_field }}
      {{ form.enterprise|as_crispy_field }}
      {{ form.payment_text|as_crispy_field }}
      {{ form.payment_score|as_crispy_field }}
      {{ form.cooperation_text|as_crispy_field }}
      {{ form.cooperation_score|as_crispy_field }}
      {{ form.treatment_text|as_crispy_field }}
      {{ form.treatment_score|as_crispy_field }}
      {{ form.information_text|as_crispy_field }}
      {{ form.information_score|as_crispy_field }}
      {{ form.engagement_text|as_crispy_field }}
      {{ form.engagement_score|as_crispy_field }}
      {{ form.accuracy_text|as_crispy_field }}
      {{ form.accuracy_score|as_crispy_field }}

    <p><button type="submit" name="Done" class="btn btn-primary">Save</button> </p>
  </div>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
{% endblock content %}
{% block subScript %}
<script type="text/javascript">
<!-- code for popups -->
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock subScript %}
