{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">

      <link href="{% static 'css/wexlog_css.css' %}" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{% static 'css/wexlog_navbar_css.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
        <!-- Select2 Stylsheet -->
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>


      <title>{% block title %}MyWeXlog Dashboard{% endblock title %}</title>

      </style>
  {% block Style %}

  {% endblock Style %}
  </head>
  <body class="bg-light">

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
          <a href="https://mywexlog.dev/public/index/" class="nav-link">
            <span class="link-text logo-text">MyWeXlog</span>
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="angle-double-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
            >
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'Profile:ProfileHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-address-card"></i>
            </div>
            <span class="link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Talent:Home' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-address-book"></i>
            </div>
            <span class="link-text">Experience</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'MarketPlace:Entrance' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-archive"></i>
            </div>
            <span class="link-text">Vacancies</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Flatten:ListTags' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-certificate"></i>
            </div>
            <span class="link-text">Skill Tags</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'BookList:BookListHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-book"></i>
            </div>
            <span class="link-text">Books</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Enterprise:EnterpriseHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-building"></i>
            </div>
            <span class="link-text">Enterprises</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Project:ProjectHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-black-tie"></i>
            </div>
            <span class="link-text">Projects</span>
          </a>
        </li>

        {% if request.user.subscription > 2 %}
          <li class="nav-item">
            <a href="{% url 'Management:ManagementDashboard' %}" class="nav-link">
              <div class="fa-primary">
                <i style="font-size: 27px" class="fa fa-bug"></i>
              </div>
              <span class="link-text">Management</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item" id="themeButton">
          <a href="{% url 'Users:CustomUserSettings' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-settings"></i>
            </div>
            <span class="link-text">Settings</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-bookmark"></i>
            </div>
            <span class="link-text">Register</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-bars"></i>
            </div>
            <span class="link-text">Sign-In</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class=""></i>
            </div>
            <span class="link-text"></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  <main>
    <div class="container pt-3">
      <p>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">
              Dark Mode
            </label>
        </div>
      </p>
      <br>
    {% block content %}

    {% endblock content %}
    </div>
  </div>
  </main>

  {% if request.user.is_authenticated %}
  <nav class="sticky-top navbar-light bg-light top-right-navbar" style="height: 5rem;">
    <div class="">

      <a class="navbar-brand" href="{% url 'Feedback:FeedBack' %}?next={{ request.path|urlencode }}"><i class="fa fa-bullhorn" aria-hidden="true" style="font-size:30px;color:black" data-toggle="tooltip" title="We love to hear your feedback!"></i></a>

      <div class="btn-group">
      <a class="navbar-brand" href="{% url 'Feedback:NoticesList' %}?next={{ request.path|urlencode }}"><i class="fa fa-bell" aria-hidden="true" style="font-size:30px;" data-toggle="tooltip" title="Please click here to view MyWeXlog Notices!"></i></a>

      <a class="navbar-brand" href="{% url 'Users:UserAgreement' %}">User Agreement</a>
      <a class="navbar-brand" href="{% url 'Users:PrivacyPolicy' %}">Privacy Policy</a>

      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'images/user-unisex-512.png' %}" height="45" width="45" class="avatar">
      </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item"  href="{% url 'Profile:ProfileView' %}">View Profile</a>
          <a class="dropdown-item"  href="{% url 'Invitation:FlatInvite' %}" target="_blank">Invite Someone</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  href="{% url 'Profile:IntroIntroduction' %}">Introduction Walkthrough</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  href="{% url 'account_email' %}">Manage email</a>
          <a class="dropdown-item"  href="{% url 'account_change_password' %}">Change Password</a>
          <a class="dropdown-item"  href="{% url 'Users:CustomUserSettings' %}">Settings</a>
          <a class="dropdown-item" href="{% url 'Invitation:Profile2PDF' %}" target="_blank" >Profile to PDF</a>
          <a class="dropdown-item" href="{% url 'Public:ContactUs' %}">Contact Us</a>
          <div class="dropdown-divider">
          </div>
          <a class="dropdown-item"  href="{% url 'account_logout' %}">Logout</a>
        </div>
      </div>

    </div>
  </nav>

  <nav class="sticky-bottom bottom-right-navbar" style="height: 5rem;">
    <div class="">
      <img src="{% static 'images/mywexlog-logo.png' %}" class="avatar" style="height: 10rem;opacity:0.2;">
    </div>
  </nav>
  {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Chart.js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- Local JS -->
      <script src="{% static 'js/tooltip.js' %}"></script>
      <script src="{% static 'js/copy_text.js' %}"></script>
      <script src="{% static 'js/dark-mode-switch.min.js' %}"></script>

      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    {% block Script %}
    {% endblock Script %}
  </body>
</html>
