{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="{% static 'css/wexlog_css.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>{% block title %}MyWeXlog{% endblock title %}</title>
    {% block Style %}
    {% endblock Style %}
  </head>
  <body>

    {% block content %}
    {% endblock content %}

    <br>
    <br>
    <table class="table table-sm">
      <col width="20%">
      <col width="60%">
      <col width="20%">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><center>Contact Details</center></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td align="center"><a href="https://twitter.com/WeXlog_io">Twitter</a>
              <a href="https://web.facebook.com/WeXlog-110146303820922">Facebook</a>
              <a href="https://www.linkedin.com/company/mywexlog-com">LinkedIn</a>
              <a href="https://www.youtube.com/channel/UCqT7Jr6aKefHsqPlWmpPqhA/channels">YouTube</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="center"><strong>MyWeXlog</strong><br>
              <small>DevOpTec (Pty.) Ltd T/A<br>
              <div class="center">
              32 Viewland Crescent, Thornlands, Queensland, 4164, Australia<br>
              Telephone: +61 000 0000<br>
              Email: info@mywexlog.com<br>
              Web: www.mywexlog.com</div></small></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td align="center">
              <small>

              <a href="https://mywexlog.com/user/settings/">Manage your account</a> |
              <a href="https://mywexlog.com//user/privacy-policy/">Privacy Policy</a> |
              <a href="https://mywexlog.com/user/user-agreement/">User Agreement</a><br>
              @copyright 2020 DevOpTec (Pty.) Ltd. All rights reserved</small></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td align="center"><small><div class="center"><p>
              This email was sent to {{ user.email }}.<br>
              You are receiving this email as you are registered to receive notifications,
              updates, news and/or promotional updates.</p>
              <p>* Please do not reply to this email. You may log into
              your account and contact Customer Care for any queries.<br>
              *To change your preference or unsubscribe please <a href="https://mywexlog.com/user/settings/">click here</a>.</div></small></p></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
