{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if request.get_host == 'https://mywexlog.dev' %}
        <meta name="robots" content="noindex" />
      {% endif %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

      <!-- Select2 Stylsheet -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

      <link href="{% static 'css/wexlog_css.css' %}" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{% static 'css/wexlog_navbar_css.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
      {% if theme == 1 %}
        <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}" type="text/css">
      {% endif %}

        <!-- Select2 Stylsheet -->
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>


      <title>{% block title %}MyWeXlog{% endblock title %}</title>

      </style>
  {% block Style %}

  {% endblock Style %}
  </head>
  <body class="bg-light">

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
          <a href="https://mywexlog.com/" class="nav-link">
            <span class="link-text logo-text">MyWeXlog</span>
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="angle-double-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
            >
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'Profile:ProfileHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-address-card"></i>
            </div>
            <span class="link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Talent:Home' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-address-book"></i>
            </div>
            <span class="link-text">Experience</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'MarketPlace:Entrance' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-archive"></i>
            </div>
            <span class="link-text">Marketplace</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Flatten:ListTags' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-certificate"></i>
            </div>
            <span class="link-text">Skill Tags</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'BookList:BookListHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-book"></i>
            </div>
            <span class="link-text">Books</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Enterprise:EnterpriseHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-building"></i>
            </div>
            <span class="link-text">Enterprises</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Project:ProjectHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-black-tie"></i>
            </div>
            <span class="link-text">Projects</span>
          </a>
        </li>

        {% if request.user.subscription > 2 %}
          <li class="nav-item">
            <a href="{% url 'Management:ManagementDashboard' %}" class="nav-link">
              <div class="fa-primary">
                <i style="font-size: 27px" class="fa fa-bug"></i>
              </div>
              <span class="link-text">Management</span>
            </a>
          </li>
        {% endif %}


        {% if request.user.subscription > 2 %}
          <li class="nav-item">
            <a href="{% url 'Corporate:CorpSelect' %}" class="nav-link">
              <div class="fa-primary">
                <i style="font-size: 27px" class="fa fa-globe"></i>
              </div>
              <span class="link-text">Corporate Beta</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item" id="settingsButton">
          <a href="{% url 'Users:CustomUserSettings' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-cog"></i>
            </div>
            <span class="link-text">Settings</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-bookmark"></i>
            </div>
            <span class="link-text">Sign-up</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="fa fa-bars"></i>
            </div>
            <span class="link-text">Sign-In</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class=""></i>
            </div>
            <span class="link-text"></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  <main>
    <div class="container pt-3">
      <p>&nbsp</p><br>
    {% block content %}

    {% endblock content %}
    </div>
  </div>
  </main>

  {% if request.user.is_authenticated %}
  <nav class="navbar-light bg-light top-right-navbar">
    <a class="navbar-brand" href="#"><span><img align="center" class="icon" height="45" src="{% static 'images/email/mywexlog-logo.png' %}" style="border:0;padding:0px 35px 5px 0px;" width="null"/></span></a>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav-top mr-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link-top" href="{% url 'Feedback:FeedBack' %}?next={{ request.path|urlencode }}"><i class="fa fa-bullhorn" aria-hidden="true" style="font-size:30px;" data-toggle="tooltip" title="We love to hear your feedback!"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-top" href="{% url 'Feedback:NoticesList' %}?next={{ request.path|urlencode }}"><i class="fa fa-bell" aria-hidden="true" style="font-size:30px;" data-toggle="tooltip" title="Please click here to view MyWeXlog Notices!"></i></a>

          {% if notification > 0 %}
            <span class="icon-notification">
                {{ notification }}
            </span>
          {% endif %}

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-top dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-superpowers" aria-hidden="true" style="font-size:30px;" data-toggle="tooltip" title="Please click here to confirm view MyWeXlog notifications!"></i>
            {% if total_notification_count > 0 %}
              <span class="icon-notification icon-notification-dropdown">
                  {{ total_notification_count }}
              </span>
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:auto;">
            {% if verifications > 0 %}
            <a class="dropdown-item" href="{% url 'Profile:Confirm' %}?next={{ request.path|urlencode }}">
                <i class="fa fa-connectdevelop" aria-hidden="true" style="font-size:30px;"></i>
                {% if verifications > 0 %}
                <span class="icon-notification icon-notification-experience">{{ verifications }}</span>
                {% endif %}
                Experience Verifications
            </a>
            {% endif %}
            {% if interviews_emp_count > 0 or interviews_tlt_count > 0 %}
            <div class="dropdown-divider"></div>
            {% endif %}
            {% if interviews_emp_count > 0 %}
            <a class="dropdown-item" href="{% url 'Profile:ProfileHome' %}#EmployerInterview">
                <i class="fa fa-calendar-o" aria-hidden="true" style="font-size:30px;padding-right:12px;"></i>
                {% if interviews_emp_count > 0 %}
                <span class="icon-notification icon-notification-interviews">{{ interviews_emp_count }}</span>
                {% endif %}
                Employer Interviews
            </a>
            {% endif %}
            {% if interviews_tlt_count > 0 %}
            <a class="dropdown-item" href="{% url 'Profile:ProfileHome' %}#TalentInterview">
                <i class="fa fa-calendar-o" aria-hidden="true" style="font-size:30px;padding-right:12px;"></i>
                {% if interviews_tlt_count > 0 %}
                <span class="icon-notification icon-notification-interviews">{{ interviews_tlt_count }}</span>
                {% endif %}
                Talent Interviews
            </a>
            {% endif %}
            {% if assigned_tlt_count > 0 or assigned_emp_count > 0 %}
            <div class="dropdown-divider"></div>
            {% endif %}
            {% if assigned_emp_count > 0 %}
            <a class="dropdown-item" href="{% url 'Profile:ProfileHome' %}#EmployerAssignment">
                <i class="fa fa-handshake-o" aria-hidden="true" style="font-size:30px;"></i>
                {% if assigned_emp_count > 0 %}
                <span class="icon-notification icon-notification-assignments">{{ assigned_emp_count }}</span>
                {% endif %}
                Employer Assignments
            </a>
            {% endif %}
            {% if assigned_tlt_count > 0 %}
            <a class="dropdown-item" href="{% url 'Profile:ProfileHome' %}#TalentAssignment">
                <i class="fa fa-handshake-o" aria-hidden="true" style="font-size:30px;"></i>
                {% if assigned_tlt_count > 0 %}
                <span class="icon-notification icon-notification-assignments">{{ assigned_tlt_count }}</span>
                {% endif %}
                Talent Assignments
            </a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item  nav-link-top">
          <a class="nav-link nav-link-top" href="{% url 'Users:UserAgreement' %}">User&nbspAgreement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-top" href="{% url 'Users:PrivacyPolicy' %}">Privacy&nbspPolicy</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'images/user-unisex-512.png' %}" height="45" width="45" class="avatar">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="{% url 'Profile:ProfileView' %}">Edit Profile</a>
            <a class="dropdown-item"  href="{% url 'Invitation:FlatInvite' %}" target="_blank">Invite Someone</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="{% url 'Profile:IntroIntroduction' %}">Introduction Walkthrough</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="{% url 'account_email' %}">Manage email</a>
            <a class="dropdown-item"  href="{% url 'account_change_password' %}">Change Password</a>
            <a class="dropdown-item"  href="{% url 'Users:CustomUserSettings' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'Invitation:Profile2PDF' %}" target="_blank" >Profile to PDF</a>
            <a class="dropdown-item" href="{% url 'Public:ContactUs' %}">Contact Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="{% url 'account_logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <nav class="sticky-bottom bottom-right-navbar" style="height: 5rem;">
    <div class="">
      <img src="{% static 'images/mywexlog-logo.png' %}" class="avatar" style="height: 10rem;opacity:0.2;">
    </div>
  </nav>
  {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    </script>
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- Select2 JS-->
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- csrf token -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- Local JS -->
      <script src="{% static 'js/tooltip.js' %}"></script>
      <script src="{% static 'js/wexlog-js.js' %}"></script>
      <script src="{% static 'js/copy_text.js' %}"></script>

    {% block Script %}
    {% endblock Script %}
  </body>
</html>
