{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{% static 'css/wexlog_css.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/7e5855a9eb.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bookstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">

      <link rel="stylesheet" href="{% static 'css/wexlog_navbar_css.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">

      <title>{% block title %}WeXlog Dashboard{% endblock title %}</title>
  {% block Style %}
  {% endblock Style %}
  </head>
  <body>

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
          <a href="https://devoptec.com/public/index/" class="nav-link">
            <span class="link-text logo-text">WeXlog</span>
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="angle-double-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
            >
              <g class="fa-group">
                <path
                  fill="currentColor"
                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                  class="fa-secondary"
                ></path>
                <path
                  fill="currentColor"
                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                  class="fa-primary"
                ></path>
              </g>
            </svg>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'Profile:ProfileHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-address-card"></i>
            </div>
            <span class="link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Talent:Home' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-address-book"></i>
            </div>
            <span class="link-text">Experience</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'MarketPlace:Entrance' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-archive"></i>
            </div>
            <span class="link-text">Vacancies</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Flatten:ListTags' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-certificate"></i>
            </div>
            <span class="link-text">Skill Tags</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'BookList:BookListHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-book"></i>
            </div>
            <span class="link-text">Books</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Enterprise:EnterpriseHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-building"></i>
            </div>
            <span class="link-text">Enterprises</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Project:ProjectHome' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-black-tie"></i>
            </div>
            <span class="link-text">Projects</span>
          </a>
        </li>

        <li class="nav-item" id="themeButton">
          <a href="{% url 'Users:CustomUserSettings' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-settings"></i>
            </div>
            <span class="link-text">Settings
          </a>
          <div class="btn-group">
          <button type="button" class="btn btn-link link-text dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  href="{% url 'Profile:ProfileView' request.user.alias %}">View Profile</a>
              <a class="dropdown-item"  href="{% url 'Invitation:FlatInvite' %}">Invite Someone</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="{% url 'account_email' %}">Manage email</a>
              <a class="dropdown-item"  href="{% url 'account_change_password' %}">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="{% url 'account_logout' %}">Logout</a>
            </div>
          </div>
          </span>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-bookmark"></i>
            </div>
            <span class="link-text">Register</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-bars"></i>
            </div>
            <span class="link-text">Sign-In</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Users:CustomUserSettings' %}" class="nav-link">
            <div class="fa-primary">
              <i style="font-size: 27px" class="icon icon-settings"></i>
            </div>
            <span class="link-text">Settings</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>



<!--

    <div class="">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="https://devoptec.com/public/index/">WeXlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  {% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Profile:ProfileHome' %}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Talent:Home' %}">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MarketPlace:Entrance' %}">Vacancies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Flatten:ListTags' %}">Skill Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'BookList:BookListHome' %}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Enterprise:EnterpriseHome' %}">Enterprises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Project:ProjectHome' %}">Projects</a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/user-unisex-512.png' %}" height="45" width="45" class="avatar">
    </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item"  href="{% url 'Profile:ProfileView' request.user.alias %}">View Profile</a>

        <a class="dropdown-item"  href="{% url 'Invitation:FlatInvite' %}">Invite Someone</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  href="{% url 'account_email' %}">Manage email</a>
        <a class="dropdown-item"  href="{% url 'account_change_password' %}">Change Password</a>
        <a class="dropdown-item"  href="{% url 'Users:CustomUserSettings' %}">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  href="{% url 'account_logout' %}">Logout</a>
      </div>
    </div>
    {% else %}
    <div class="navbar-nav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_signup' %}">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_login' %}">Sign-in<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      </div>
    {% endif %}
    </div>
    </nav>
</div>
{% if messages %}
<div class="container">
  <div class="row-sm-12">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}" role="alert" {% endif %}>{% if "html_safe" in messages.tags %}{{ message|safe }} {% else %}{{message}}{% endif %}</li>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endfor %}
    </ul>
  {% endif %}
  </div>
</div>
--><main>
    <div class="container pt-3">
      <p>&nbsp</p>
      <br>
    {% block content %}
    {% endblock content %}
    </div>
  </main>


  <nav class="bottom-navbar sticky-bottom navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="https://devoptec.com/public/user-agreement/">User Agreement</a>
      <a class="navbar-brand" href="https://devoptec.com/public/privacy/">Privacy Policy</a>
      <a class="navbar-brand" href="https://devoptec.com/public/contact/">Contact Us</a>
    </div>
  </nav>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block Script %}
    {% endblock Script %}
  </body>
</html>
