{% load static %}

<script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
<script src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/themes/silver/theme.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/image/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/link/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/lists/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/autolink/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/advlist/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/icons/default/icons.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/charmap/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/print/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/preview/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/anchor/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/searchreplace/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/fullscreen/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/visualblocks/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/code/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/insertdatetime/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/media/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/table/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/paste/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/help/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/spellchecker/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/plugins/wordcount/plugin.min.js' %}"></script>
<script src="{% static 'tinymce/skins/ui/oxide/skin.min.css' %}"></script>
<script src="{% static 'tinymce/skins/ui/oxide/content.min.css' %}"></script>
<script src="{% static 'tinymce/skins/content/default/content.min.css' %}"></script>
