{% extends "base_email.html" %}
{% load pinax_referrals_tags %}
{% url 'Talent:Home' as myurl %}
{% load humanize %}
{% load static %}

{% block heading %}Invitation to Join{% endblock heading %}

{% block content %}

      <p>Hi {{ form.instance.name }},</p>
      <p>{{ form.instance.invited_by.first_name }} {{ form.instance.invited_by.last_name }} has indicated that they know you and have sent you this invitation to MyWeXlog.</p>
      {% if form.instance.message %}
      <p><strong>Message from {{ form.instance.invited_by.first_name }}:</strong></p>
      <p>{{ form.instance.message }}</p>
      <br>
      {% endif %}
      <p>Please click on this link or copy and paste it into your browser address bar:</p>

      <p><a href="{{ referral_code.url }}">{{ referral_code.url }}</a></p>
      <p>to see what MyWeXlog is all about.</p>

      <p>MyWeXlog is a combination of a CV and a timesheet, making it a live experience log on which you can capture your experience and associate skills with that experience. Then, depending on your subscription, you can either search for companies looking for your skills or find people that have skills you require.</p>
      <p>All skills are confirmed by other people, selected by you.</p>
      <p>MyWeXlog can also be used to record and review your skills and identify gaps in your skillset.</p>

      <p>At MyWeXlog we want to advance humanity through the measurement of skills and knowledge and its effective application to the challenges that plague us.</p>

      <p>We at MyWeXlog look forward to assisting you in meeting your career goals.</p>
      <br>
      <p>Alternativly please click here to register:</p>
      <p><a href="{{ referral_code.url }}" class="btn btn-primary">Click to Register</a></p>
      <br>

      <p>Kind Regards</p>
      <p>The MyWexLog Team</p>
      <p>(for and on behalf of {{ form.instance.invited_by.first_name }} {{ form.instance.invited_by.last_name }})</p>

      <br>

  {% endblock content %}
