{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{block.super}}-Invite{% endblock title %}

{% block content %}

<h3>Invite Talent</h3>
<form class="" action="" method="POST">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary" name="Invite" value="Close this window" onclick="windowClose();">Invite</button>
</form>
{% endblock content %}
{% block Script %}
<script language="javascript" type="text/javascript">
  function windowClose() {
  window.open('','_parent','');
  window.close();
  }
</script>
{% endblock Script %}
