{% extends 'base_home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{block.super}}-Invite{% endblock title %}

{% block Style %}
{{ form.media.css }}
<style type="text/css">
  select {
    width: 100px;
  }
  </style>
{% endblock Style %}

{% block content %}
<div class="card">
  <div class="card-body">
<h3>Invite Talent</h3>
<form class="" action="" method="POST">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% csrf_token %}
  {{ form.name|as_crispy_field }}
  {{ form.surname|as_crispy_field }}
  {{ form.companybranch|as_crispy_field }}
  <a href="{% url 'Enterprise:BranchAddPop' %}" id='add_companybranch' onclick='return showAddPopup(this);'><img src = "{% static '/images/icon-addlink.svg' %}">Add a Company Branch</a>
  {{ form.email|as_crispy_field }}
  <a href="{% url 'Talent:Home' %}" class="btn btn-danger">Cancel</a>
  <button type="submit" class="btn btn-primary" name="Invite">Invite</button>
</form>
</div>
</div>
<!--
<button type="submit" class="btn btn-primary" name="Invite" value="Close this window" onclick="windowClose();">Invite</button>
-->
{% endblock content %}
{% block Script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ form.media.js }}
<script language="javascript" type="text/javascript">
function windowClose() {
window.open('','_parent','');
window.close();
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock Script %}
