{% extends 'base_home.html' %}

{% block title %}My {{block.super}} Friend Invites{% endblock title %}

{% block content %}

<div class="card card-shadow">
  <div class="card-body">
    
        <h3 class="card-title">Invitations Already Sent</h3>
        <p>Below is a list of people that you have sent invites to join MyWeXlog that have not yet accepted the invitation. Perhaps you would like to contact them directly to ask them to register.</p>
        <br>
        <div class="container">
          <div class="row my-auto">
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <strong>Date Invited</strong>
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              <strong>Name</strong>
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              <strong>Company</strong>
            </div>
            <div class="col-2 col-no-pad h-100 text-center my-auto">
              <strong>Relationship</strong>
            </div>
            <div class="col-3 col-no-pad h-100 text-center my-auto">
              <strong>email</strong>
            </div>
            <div class="col-1 col-no-pad h-100 text-center my-auto">
              <strong></strong>
            </div>
          </div>
        </div>
        {% for i in pageitems %}
        <div class="row">
          <div class="card mt-1 card-hover" style="width: 100%;">
            <div class="card-body small-pad">
              <div class="row my-auto">
                <div class="col-1 col-no-pad h-100 text-center my-auto">
                  {{ i.date_invited|date:"j M Y" }}
                </div>
                <div class="col-2 col-no-pad h-100 text-center my-auto">
                  {{ i.name }} {{ i.surname }}
                </div>
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {{ i.companybranch }}
                </div>
                <div class="col-2 col-no-pad h-100 text-center my-auto">
                  {{ i.get_relationship_display }}
                </div>
                <div class="col-3 col-no-pad h-100 text-center my-auto">
                  {{ i.email }}
                </div>
                <div class="col-1 col-no-pad h-100 text-center my-auto">
                  <a href="mailto:{{ i.email }}" class="badge badge-primary" style="width:5rem;">Send<br>E-Mail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>You do not have any sent invitations that have not been accepted at the moment
        </p>
        {% endfor %}

      <p>&nbsp</p>

      <nav aria-label="Page navigation">
          {% if pageitems.has_other_pages %}
            <ul class="pagination">
              {% if pageitems.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pageitems.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    <span class="sr-only disabled">Previous</span>
                  </a></li>
              {% else %}
                <li class="page-link disabled" tabindex="-1"><span>Previous</span></li>
              {% endif %}

              {% if pageitems.number|add:'-4' > 1 %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in pageitems.paginator.page_range %}
                {% if pageitems.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > pageitems.number|add:'-5' and i < pageitems.number|add:'5' %}
                  <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pageitems.paginator.num_pages > pageitems.number|add:'4' %}
                <li class="page-link"><a href="?page={{ pageitems.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if pageitems.has_next %}
                <li class="page-link"><a href="?page={{ pageitems.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-link disabled"><span>Next</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </nav>
  </div>
</div>
{% endblock content %}
