{% extends "base_email.html" %}
{% load pinax_referrals_tags %}
{% url 'Talent:Home' as myurl %}
{% load humanize %}
{% load static %}

{% block heading %}Request to Validate Experience{% endblock heading %}

{% block content %}

      <p>Hi {{ form.instance.name }},</p>
      <p>{{ form.instance.invited_by }} has indicated that you worked together while you were working at <strong>{{ form.instance.companybranch }}</strong>. {{ form.instance.invited_by }} kindly asks if you could confirm the work experience they have captured.</p>
      {% if form.instance.message %}
      <p><strong>Message from {{ form.instance.invited_by.first_name }}:</strong></p>
      <p>{{ form.instance.message }}</p>
      <br>
      {% endif %}
      <p>Please click on this link or copy and paste it into your browser address bar:</p>
      <p><a href="{{ temp.url }}">{{ temp.url }}</a></p>
      <p>to confirm their experience.</p>

      <p>MyWeXlog is a live experience log on which you can capture your experience and associate skills with that experience. Then, depending on your subscription, we display companies with open vacancies  requiring your skills or find people that have skills you require.</p>
      <p>All skills are confirmed by other people, as {{ form.instance.invited_by }} is asking you to do for them right now.</p>
      <br>
      <p>Alternativly please click here to register:</p>
      <p><a href="{{ temp.url }}" class="btn btn-primary">Click to Confirm</a></p>
      <br>

      <p>Kind Regards</p>
      <p>The MyWexLog Team</p>
      <p>(for and on behalf of {{ form.instance.invited_by }})</p>

      <p>&nbsp</p>

  {% endblock content %}
