{% extends "base_email.html" %}
{% url 'Talent:Home' as myurl %}
{% load humanize %}
{% load static %}

{% block heading %}Request to Validate{% endblock heading %}

{% block content %}

      <p>Hi {{ recipient.first_name }},</p>
      <p>{{ sender.first_name }} has sent you a validation/s request that still requires action from your part to validate. Would it please be possible to log-in to MyWeXlog and validate your outstanding requests.</p>
      <br>
      <p><strong>{{ form.instance.subject }},</strong></p>
      <p>{{ form.instance.message }}</p>
      <br>

      <p>MyWeXlog is a live experience log on which you can capture your experience and associate skills with that experience. Then, depending on your subscription, you can either search for companies looking for your skills or find people that have skills you require.</p>
      <p>All skills are confirmed by other people, as {{ sender.first_name }} is asking you to do for them right now.</p>
      <br>

      <p>Kind Regards</p>
      <p>The MyWeXlog Team</p>
      <p>(for and on behalf of {{ sender.first_name  }} {{ sender.last_name  }})</p>

      <p>&nbsp</p>

  {% endblock content %}
