{% extends "base_home.html" %}
{% load scheduletags i18n %}

{% block content %}
{% include "schedule/calendar_base.html" %}
{% include "schedule/_dialogs.html" %}

<div class="row row-centered">
  <div class="row d-inline-flex justify-content-center" id="date" style="visibility:hidden;">
    {% prevnext "week_calendar" calendar period "\W\e\ek W, M Y" %}
  </div>
  <div class="" id="today" style="visibility:hidden;">
    <a class="btn btn-outline-secondary" href="{% url "week_calendar" calendar.slug %}">
      {% trans "Today" %}
    </a>
  </div>
</div>

<div class="row row-centered">
  {% for day in period.get_days %}
    <div class="col-md-2">
      <div class="row row-centered">
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d"}}
        </a>
      </div>
      {% if forloop.first %}
          {% daily_table day %}
      {% else %}
          {% daily_table day %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
