{% extends "base_home.html" %}
{% load scheduletags i18n %}
{% block content %}
{% include "schedule/calendar_base.html" %}
<div class="tablewrapper">
  <div class="row d-inline-flex justify-content-center" id="date" style="visibility:hidden;">
  {% prevnext "tri_month_calendar" calendar period "F Y"%}
  </div>
  <div class="" id="today" style="visibility:hidden;">
    <a class="btn btn-outline-secondary" href="{% url "tri_month_calendar" calendar.slug %}">
      {% trans "Today" %}
    </a>
  </div>
<table align="center">
	<tr>
		<td valign="top">{% month_table calendar period "small" -1 %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" +1 %}</td>
	</tr>
</table>
</div>
{% endblock %}
