{% extends "base_home.html" %}
{% load scheduletags i18n %}

{% block content %}
{% include "schedule/calendar_base.html" %}

<div class="row row-centered">
  <div class="row d-inline-flex justify-content-center" id="date" style="visibility:hidden;">
    {% prevnext "day_calendar" calendar period "l, F d, Y" %}
  </div>
  <div class="" id="today" style="visibility:hidden;">
    <a class="btn btn-outline-secondary" href="{% url "day_calendar" calendar.slug %}">
      {% trans "Today" %}
    </a>
  </div>
</div>
<div class="row row-centered">
  <div>
    {% daily_table period %}
  </div>
</div>
{% endblock %}
