{% extends "base_home.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card card-shadow col-sm-6 mx-auto">
  <div class="card-body">
<h3>{% trans "Create or change event. All fields are required." %}</h3><br><br>
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.start|as_crispy_field }}
    {{ form.end|as_crispy_field }}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.companybranch|as_crispy_field }}
    {{ form.project_data|as_crispy_field }}
    <div class="form-group col-md-4 mb-0">
      <p>
        <a href="{% url 'Project:ProjectPersonalAddPop' %}" id='add_project' onclick='return showAddPopup(this);'>
        <img src = "{% static 'images/icon-addlink.svg' %}">
          Add Project
        </a>
      </p>
    </div>
    {{ form.task|as_crispy_field }}
    {{ form.skills|as_crispy_field }}
    {{ form.rule|as_crispy_field }}
    {{ form.end_recurring_period|as_crispy_field }}
    {{ form.color_event|as_crispy_field }}
  </table>
  <br>
  <input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
  <input class="btn btn-primary" type="submit" name="cancel" value="Cancel">
</form>
</div>
</div>
<!-- code for popups -->
<script type="text/javascript">
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

window.onerror = function (msg) {
  $("body").attr("JSError", msg);
}
</script>
{% endblock %}
