{% extends "base_home.html" %}
{% load i18n scheduletags %}

{% block content %}
{% include "schedule/calendar_base.html" %}
<div class="row row-centered">

  <div class="" id="today" style="visibility:hidden;">
    <a class="btn btn-outline-secondary" href="#">
      {% trans "Today" %}
    </a>
  </div>
</div>
<br><br>
<div class="card card-shadow col-sm-6 mx-auto">
  <div class="card-body">

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </a>
  &nbsp;
  {% endif %}
  <a href="{{occurrence.get_edit_url}}">
   {% trans "Edit" %} <span class="glyphicon glyphicon-pencil"></span>
  </a>
  &nbsp;
  <a href="{{occurrence.get_cancel_url}}">
   {% trans "Delete" %} <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>
<h2 align="center">{{occurrence.title}}</h2>
<table align="center" class="table table-hover">
<tr>
<td>{% trans "Starts" %}</td>
<td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Ends" %}</td>
<td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Reoccurs" %}</td>
{% if occurrence.event.rule %}
<td>{{ occurrence.event.rule.name }} {% trans "until" %} {% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
<td>{% trans "Never. This is a 'one time only' event." %}</td>
{% endif %}
</tr></table>
{% if occurrence.description %}
<h3>{% trans "Description" %}</h3>
<p>{{occurrence.description}}</p>
{% endif %}
{% if occurrence.companybranch %}
<h3>{% trans "Company Branch" %}</h3>
<p>{{occurrence.companybranch}}</p>
{% if occurrence.project %}
<h3>{% trans "Project" %}</h3>
<p>{{occurrence.project}}</p>
{% endif %}
{% if occurrence.task %}
<h3>{% trans "Task" %}</h3>
<p>{{occurrence.task}}</p>
{% endif %}
{% if occurrence.skills.all %}
<h3>{% trans "Skills" %}</h3>

{% endif %}
{% endif %}
</div>
</div>

{% endblock %}
